body {
    /* background: -webkit-linear-gradient(left, #0072ff, #00c6ff); */
    background: #89c8bd !important;
}

.calculator-form {
    background: #fff;
    margin-top: 3%;
}

.calculator-form .contact-image img {
    padding: 2em;
}

.calculator-form form {
    padding: 2%;
}

.calculator-form h3 {
    margin-bottom: 2%;
    margin-top: -5%;
    text-align: center;
    color: #0062cc;
}

.calculator-form .btnContact {
    margin-top: 1.25em;
    width: 100%;
    border: none;
    border-radius: 0.3rem !important;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    padding: 14px;
    font-size: 15px;
    height: auto;
}

.calculator-form .btnContact:hover {
    background: #dc2535 !important;
    color: #fff !important;
    box-shadow: 2px 2px 4px #e4606d !important;
}

.calculator-form .pl-0 {
    padding-left: 0px;
}

.calculator-form .pr-0 {
    padding-right: 0px;
}