@media only screen and (max-width: 1230px){
	/*header*/
	.site{padding: 96px 0 0;}
	.navigation-wrapper > ul > li{margin-right: 25px;}
	/*footer*/
	footer{position: relative;}
	/*product listing*/
	.filter-area {max-width: 20%;}
	.product-area {max-width: 80%;padding-left: 20px;}
	.category-box .checkbox-grp{margin-bottom: 10px;}
	/*product detail*/
	.product-slider {max-width: 60%;}
	.product-main-info{max-width: 40%;margin-left: 0;padding-left: 30px;}
	.product-slider .slider-for, .product-slider .slider-for amp-img {height: 494px !important;}
	.product-price-info{padding: 20px 0;max-width: 80%;}
	.product-price-info .price{margin: 5px 0 20px;}
	.items-included-listing > li{margin-bottom: 20px;}
	.items-included{max-width: 60%;}
	.recommend-products{max-width: 40%;padding-left: 30px;}
	.related-product .container {padding: 0 40px;}
	.testimonial-content-wrapper .testimonial-content{padding: 20px 40px 20px 30px;}
	.product-btns .addtocart{width: 50%;}
	.product-btns .addtowishlist{width: calc(50% - 15px);}
	.product-duration .duration-dropdown{max-width: 90%;}
	.items-info-listing li h4{max-width: 120px;}
	.items-info-listing li p{max-width: calc(100% - 120px);}
	.testimonial-slider .slick-arrow.prev-arrow {left: 80px;}
	.testimonial-slider .slick-arrow.next-arrow {right: 80px;}
	/*home page*/
	.home-banner-wrapper .banner-text {max-width: 406px;}
	.banner-tags-wrapper{display: none;}
	.main-features-listing li{max-width: calc(16.66% - 13px);margin-right: 15px;}
	.main-features-listing .features-box{padding: 35px 5px;}
	.main-features-listing .features-box .icn{width: 40px;height: 40px;}
	.banner-tags-listing{max-width: 85%;}
	.home-banner-wrapper{padding: 50px 15px 10px;}
	.home-banner-wrapper .banner-text h1{font-size: 28px;line-height: 41px;}
	.scrollable-items{max-width: 12%;}
	.rental-box-area {max-width: 55%;margin-left: 0;margin-right: 0;padding: 0 20px;}
	.rental-box-listing li{width: 33.33%;padding: 14px 15px;}
	.rental-heading {max-width: 33%;}
}
@media only screen and (max-width: 1024px){
	/*h2{font-size: 20px;}*/
	/*header*/
	.city-lisitng li{flex: 0 0 25%;}
	/*product listing (Combo)*/
	.combo .product-description h3{max-width: 100%;margin-bottom: 5px;}
	.combo .product-description .price{max-width: 100%;justify-content: flex-start;}
	.combo .included-items-listing li{width: 57px;height: 38px;}
	/*product detail*/
	.product-slider {max-width: 50%;}
	.product-main-info{max-width: 50%;margin-left: 0;padding-left: 30px;}
	.product-price-info{max-width: 100%;}
	.items-included{max-width: 100%;}
	.recommend-products{max-width: 100%;padding-left: 0;margin-top: 50px;}
	.recommend-products-listing > li{max-width: 25%;}
	.product-detail-heading{margin-bottom: 15px;}
	.product-detail-heading br{display: none;}
	.product-slider{max-width: 100%;}
	.product-main-info {padding-left: 0;padding-top: 30px;max-width: 100%;}
	.product-slider .slider-for, .product-slider .slider-for amp-img {height: 494px !important;}
	/*home page*/
	.rental-palns-section {padding: 60px 0;}
	.scrollable-items{order: 2;max-width: 100%;margin: 30px 0;}
	.rental-items-listing ul {flex-wrap: nowrap;overflow-y: auto;}
	.rental-items-listing li{width: 120px;flex: 0 0 120px;margin-right: 10px;/*margin-bottom: 0;*/}
	.rental-items-listing {max-height: inherit !important;max-width: 100%;overflow-x: auto;}
	.rental-box-area{order: 3;max-width: 100%;padding: 0;display: block;}
	.rental-heading {max-width: 100%;order: 1;}
	.rental-box-listing{width: auto;}
	.home-testimonial h2{max-width: 100%;text-align: center;}
	.home-testimonial .home-testimonial-slider{max-width: 100%;padding-left: 0;}
	.home-testimonial-slider .slick-arrow.prev-arrow{left: 0;}
	.home-testimonial-slider .slick-arrow.next-arrow{right: 0;}
	.home-testimonial .testimonial-content-wrapper .testimonial-content{padding: 20px 20px;}
	.testimonial-section {padding: 40px 0 50px;}
	.service-tab .tab-links-part{padding-left: 0;}
}
@media only screen and (max-width: 992px){
	/*product listing*/
	.filter-box h2{padding: 0 10px;}
	.filter-area {max-width: 30%;}
	.product-area {max-width: 70%;padding-left: 20px;}
	.product-listing > li{max-width: 50%;}
}
@media only screen and (max-width: 767px){
	.site{padding: 104px 0 37px;}
	h2{font-size: 18px;}
	.d-none-xs{display: none !important;}
	.d-flex-xs{display: flex !important;}
	.d-block-xs{display: block !important;}
	/*header*/
	header{background-color: #ef534e;}
	.logo-part .container {padding: 0;}
	.mobile-navigation, .mobile-logo-part, .menu-mobile, .mobile-filterbar, .mobile-category{display: flex;}
	.navigation-part, .logo-part{display: none;}
	.header-icons-listing > li{margin-right: 20px;}
	.header-icons-listing > li > a .icn {width: 14px;height: 14px;}
	.location-part h2{font-size: 16px;margin-top: 15px;}
	.location-part h2 .icn-map{width: 12px;height: 16px;}
	.city-lisitng li {flex: 0 0 50%;}
	.city-lisitng .city-box .icn{width: 55px;height: 55px;}
	.location-part .close .icn-close-dark{width: 12px;height: 12px;}
	.location-part .close{top: 0;}
	.location-part{padding: 20px 0 40px;}
	/*footer*/
	footer {background-color: #ef534e;padding: 8px 10px;position: fixed;bottom: 0;z-index: 111;}
	.mobile-footer{display: flex;}
	.footer-main, .footer-copyright{display: none;}
	.footer-main {padding: 20px 0;}
	.footer-widget{flex: 0 0 100%;margin-bottom: 30px;}
	.footer-widget:last-child {margin-bottom: 0;}
	.footer-copyright-wrapper{padding: 10px 0 20px;}
	/*product listing*/
	.breadcrumbs {margin: 14px 0 8px;}
	.innerpage-heading, .product-topbar {display: none;}
	.filter-box {margin-bottom: 20px;}
	.innerpage-heading-wrapper::after{width: 100%;transform: skewX(0deg);}
	.sort-by {max-width: 100%;margin-bottom: 15px;}
	.tags-listing {max-width: 100%;justify-content: flex-start;}
	.filter-area {max-width: 100%;display: none;}
	.product-area {max-width: 100%;padding-left: 0;}
	.product-listing > li{max-width: 50%;padding: 5px 6px;}
	.product-description h3{/*font-size: 11px;*/margin-bottom: 5px;}
	.product-listing {margin-left: -6px;margin-right: -6px;margin-top: -5px;margin-bottom: -5px;width: auto;}
	.product-listing-main {padding: 10px 0 20px;}
	.product-description {padding: 10px 10px 15px;}
	.product-description .price{/*font-size: 10px;*/}
	.product-description .items-count{display: none;}
	.starts-from {display: none;}
	.new-label{padding: 2px 4px 2px 4px;min-width: 38px;top: 10px;}
	.new-label::after{border-right: 7px solid #ccc;border-top: 7px solid transparent;border-bottom: 7px solid transparent;}
	.wishlist{top: 7px;right: 7px;}
	.wishlist .icn.icn-wishlist-fill-gray {width: 13px;height: 10px;}
	/*product listing (Combo)*/
	.product-listing.combo {margin-top: -10px;margin-bottom: -10px;margin-left: 0;margin-right: 0;}
	.product-listing.combo > li {max-width: 100%;padding: 10px 0;}
	.product-listing.combo .product-description {padding: 10px 10px 5px;}
	.combo .included-items-listing li{margin-right: 7px;margin-bottom: 7px;}
	.combo .starts-from {display: block;width: 100%;}
	.combo .product-description .price strong{margin-left: 0;}
	.combo .product-description h3{max-width: calc(100% - 100px);margin-bottom: 0;}
	.combo .product-description .price {max-width: 100px;justify-content: flex-end;text-align: right;}
	.combo .product-description-wrapper{padding-bottom: 10px;margin-bottom: 10px;}
	.combo .included-items-block h4{font-size: 10px;}
	.combo .included-items-listing {margin-top: 4px;}
	.combo .included-items-listing li {width: 48px;height: 37px;}
	/*product detail page*/
	body.product-detail .site, body.home .site {padding-top: 48px;}
	.product-slider .slider-for, .product-slider .slider-for amp-img {height: 216px !important;}
	.product-slider .slider-for{margin-left: 0;max-width: 100%;}
	.product-main-info h1{font-size: 16px;margin-bottom: -15px;}
	.product-price {max-width: 50%;position: relative;padding-bottom: 14px;}
	.refundable-price {max-width: 50%;padding-left: 20px;border-left: 1px solid #e0e0e0;text-align: left;justify-content: flex-start;}
	.product-price-info .price {margin: 2px 0 0;font-size: 16px;}
	.product-price-info .refundable-price label{justify-content: flex-start;}
	.product-price-info label small{font-size: 10px;margin-left: 0;width: 100%;position: absolute;bottom: 0;}
	.product-price-info .refundable-deposit{margin-top: 2px;font-size: 16px;text-align: left;}
	.product-price-info{padding: 30px 0;border-bottom: 0;align-items: flex-start;}
	.coupon-box{padding: 14px 6px 20px;}
	.coupon-box p{font-size: 10px;}
	.coupon-box p span{margin-right: 2px;}
	.coupon-box p strong{margin-left: 2px;}
	.recommend-products{margin-top: 0;}
	.product-detail-heading{text-align: center;font-size: 14px;}
	.recommend-products-listing {margin-left: -6px;margin-right: -6px;margin-top: -6px;margin-bottom: -6px;}
	.recommend-products-listing > li{max-width: 50%;padding: 6px 6px;}
	.product-items-wrapper {padding: 30px 0 40px;}
	.related-product .container{padding: 0 15px;}
	.related-product-slider .slide{padding: 50px 6px;}
	.related-product-slider .slick-dots {position: absolute;bottom: 10px;left: 0;right: 0;margin: auto;}
	.related-product-slider .slick-arrow{width: 30px;height: 30px;border: 1px solid #ef534e;line-height: 28px;top: inherit;bottom: -2px;}
	.related-product-slider .slick-arrow.prev-arrow {left: 20px;}
	.related-product-slider .slick-arrow.next-arrow{right: 20px;}
	.related-product-slider .slick-arrow i{background-size: 14px;background-repeat: no-repeat;background-position: center;}
	.testimonial-section {padding: 0 0 30px;}
	.testimonial-slider .slick-arrow.prev-arrow {left: 15px;}
	.testimonial-slider .slick-arrow.next-arrow {right: 15px;}
	.testimonial-content-wrapper figure amp-img {width: 100% !important;border-top-right-radius: 14px;border-bottom-left-radius: 0;height: 150px !important;}
	.testimonial-content-wrapper figure amp-img img {width: 100%;height: 100%;object-fit: cover;}
	.testimonial-slider .slide{padding: 60px 0 40px;}
	.testimonial-content-wrapper .testimonial-content {padding: 20px 15px 20px;}
	.testimonial-content-wrapper{box-shadow: 0 0 20px 0 rgba(78, 91, 95, 0.2);}
	.testimonial-content-wrapper .testimonial-content .testimonial-name{order: 1;justify-content: center;color: #9d9d9d;font-size: 10px;font-weight: 600;margin-top: 0;margin-bottom: 10px;}
	.testimonial-content-wrapper .testimonial-content .testimonial-name strong{width: 100%;font-size: 12px;color: #000;text-align: center;margin-right: 0;}
	.testimonial-content-wrapper .testimonial-content p{order: 2;text-align: center;font-size: 9px;line-height: 17px;}
	.testimonial-section .view-all-link a{font-size: 11px;}
	.product-slider, .product-main-info, .items-included-box .items-info, .items-included-box figure, .testimonial-content-wrapper .testimonial-content, .testimonial-content-wrapper figure
	{max-width: 100%;}
	.product-main-info{padding-left: 0;padding-top: 30px;}
	/*home page*/
	.home-banner::after{display: none;}
	.home-banner, .banner-slider .slide {height: 238px;}
	.home-banner-wrapper {padding: 16px 0 10px;text-align: center;align-items: flex-start;align-content: flex-start;}
	.home-banner-wrapper .banner-text {max-width: 100%;justify-content: center;flex-direction: column;}
	.home-banner-wrapper .banner-text h1 {font-size: 22px;line-height: normal;max-width: 265px;margin: 0 auto 15px;}
	.home-banner-wrapper .banner-text .explore-btn {align-self: center;}
	/*.explore-btn{padding: 5px 10px;min-width: 115px;font-size: 12px;box-shadow: none;}*/
	.main-features {padding: 10px 0;}
	.main-features-listing{width: auto;margin-left: -5px;margin-right: -5px;}
	.main-features-listing li {max-width: 33.33%;margin-right: 0;padding: 10px 5px;}
	.main-features-listing .features-box{padding: 0;box-shadow: none !important;}
	.main-features-listing .features-box span{/*font-size: 10px;*/}
	.main-features-listing .features-box .icn{width: 35px;height: 35px;}
	.rental-palns-section {padding: 32px 0 46px;position: relative;}
	.rental-heading{text-align: center;justify-content: center;}
	.rental-heading p{max-width: 100%;}
	.rental-plans{justify-content: center;margin: 15px 0 0;}
	.rental-radio-grp{max-width: 48px;height: 43px;}
	.rental-radio-grp input[type="radio"] + label{font-size: 10px !important;padding: 5px 5px;}
	.rental-items-listing li{width: 68px;flex: 0 0 68px;height: 50px;}
	.rental-items-listing li img {object-fit: contain;width: 100%;height: 100%;padding: 5px;}
	.scrollable-items{padding: 6px 10px;}
	.rental-box-listing li{padding: 8px 8px;height: 118px;}
	.rental-box-listing {margin-left: -8px;margin-right: -8px;margin-top: -8px;margin-bottom: -8px;}
	.rental-box img {width: 100%;height: 100%;object-fit: contain;padding: 13px;}
	.rental-box{height: 100%;}
	.rental-heading .explore-btn {position: absolute;bottom: 0;}
	.service-tab .tab-links-part{max-width: 100%;justify-content: center;border-bottom: 1px solid #ebebeb;}
	.services-section {padding: 40px 0 20px;}
	.services-section ul.tabs{flex-wrap: nowrap;overflow-x: auto;display: inline-block;
    width: 100%; white-space: nowrap;text-align: center;}
	.services-section ul.tabs li{margin-bottom: 0;width: auto;white-space: nowrap;display: inline-block;}
	.services-section ul.tabs li span{border: 0;min-width: inherit;}
	.services-section ul.tabs li::before {content: '';position: absolute;bottom: 0;left: 0;right: 0;width: 77px;height: 3px;background-color: transparent;border-radius: 1px;margin: auto;}
	.services-section ul.tabs li.current::before {background-color: #ef534e;}
	.services-section ul.tabs li span{/*font-size: 10px;*/}
	.service-tab .tab-content-part {max-width: 100%;justify-content: center;padding: 30px 0 0;}
	.trending-products-tab .tab-links-part {justify-content: center;border-bottom: 1px solid #ebebeb;}
	.trending-products-section {padding: 20px 0 0;}
	.trending-product-slider .slick-dots{bottom: 60px;}
	.trending-products-section ul.trending{flex-wrap: nowrap;overflow-x: auto;justify-content: flex-start;width: auto;border:0;display: inline-block;width: 100%; white-space: nowrap;text-align: center;}
	.trending-products-section ul.trending li{margin-right: 20px;white-space: nowrap;/*font-size: 10px;*/}
	.service-tab {margin-top: 15px;}
	.trending-products-tab {margin-top: 20px;}
	.home-testimonial h2{/*font-size: 16px;*/margin-bottom: 5px;}
	.home-testimonial .home-testimonial-slider .slide.slick-current.slick-active{transform: scale(1.1);}
	.home-testimonial-slider .slide .testimonial-content-wrapper{border:0;}
	.home-testimonial .home-testimonial-slider .slide{padding: 30px 20px;margin-left: -20px;margin-right: -20px;}
	.home-testimonial-slider .slide.slick-current.slick-active .testimonial-content-wrapper{box-shadow: 0 10px 12px 0 rgba(78, 91, 95, 0.15);}
	.testimonial-section .container{padding: 0 15px;}
	.trending-product-slider .slick-arrow {width: 30px;height: 30px;border: 0;line-height: 28px;top: inherit;bottom: 50px;line-height: 37px;}
	.trending-product-slider .slick-arrow i{width: 7px;height: 16px;background-size: 7px;background-repeat: no-repeat;}
	.trending-product-slider .slick-arrow.prev-arrow {left: 20px;}
	.trending-product-slider .slick-arrow.next-arrow {right: 20px;}
	.trending-product-slider .slick-arrow.prev-arrow .icn-left-arrow-red {left: -1px;}
	.trending-product-slider .slick-arrow.next-arrow .icn-right-arrow-red{left: 1px;}
	.trending-products-section .tab-content{padding: 0;margin-bottom: -10px;}
	.trending-products-section .slide {padding: 15px 6px 100px;}
	.home-testimonial-slider .testimonial-content-wrapper .testimonial-content .testimonial-name strong{/*font-size: 11px;*/}
	.home-testimonial-slider .testimonial-content-wrapper .testimonial-content .testimonial-name{/*font-size: 10px;*/}
	
}