@media only screen and (max-width: 1230px) {

    /*header*/
    .site {
        padding: 96px 0 0;
    }

    .navigation-wrapper>ul>li {
        margin-right: 25px;
    }

    /*footer*/
    footer {
        position: relative;
    }

    /*product listing*/
    .filter-area {
        max-width: 20%;
    }

    .product-area {
        max-width: 80%;
        padding-left: 20px;
    }

    .category-box .checkbox-grp {
        margin-bottom: 10px;
    }

    /*product detail*/
    .product-slider {
        max-width: 60%;
    }

    .product-main-info {
        max-width: 40%;
        margin-left: 0;
        padding-left: 30px;
    }

    .product-slider .slider-for,
    .product-slider .slider-for amp-img {
        height: 494px !important;
    }

    .product-price-info {
        padding: 20px 0;
        max-width: 80%;
    }

    .product-price-info .price {
        margin: 5px 0 20px;
    }

    .items-included-listing>li {
        margin-bottom: 20px;
    }

    .items-included {
        max-width: 60%;
    }

    .recommend-products {
        max-width: 40%;
        padding-left: 30px;
    }

    .related-product .container {
        padding: 0 40px;
    }

    .testimonial-content-wrapper .testimonial-content {
        padding: 20px 40px 20px 30px;
    }

    .product-btns .addtocart {
        width: 50%;
    }

    .product-btns .addtowishlist {
        width: calc(50% - 15px);
    }

    .product-duration .duration-dropdown {
        max-width: 90%;
    }

    .items-info-listing li h4 {
        max-width: 120px;
    }

    .items-info-listing li p {
        max-width: calc(100% - 120px);
    }

    .testimonial-slider .slick-arrow.prev-arrow {
        left: 80px;
    }

    .testimonial-slider .slick-arrow.next-arrow {
        right: 80px;
    }

    /*home page*/
    .home-banner-wrapper .banner-text {
        max-width: 406px;
    }

    .banner-tags-wrapper {
        display: none;
    }

    .main-features-listing li {
        max-width: calc(16.66% - 13px);
        margin-right: 15px;
    }

    .main-features-listing .features-box {
        padding: 35px 5px;
    }

    .main-features-listing .features-box .icn {
        width: 40px;
        height: 40px;
    }

    .banner-tags-listing {
        max-width: 85%;
    }

    .home-banner-wrapper {
        padding: 50px 15px 10px;
    }

    .home-banner-wrapper .banner-text h1 {
        font-size: 28px;
        line-height: 41px;
    }

    .scrollable-items {
        max-width: 12%;
    }

    .rental-box-area {
        max-width: 55%;
        margin-left: 0;
        margin-right: 0;
        padding: 0 20px;
    }

    .rental-box-listing li {
        width: 33.33%;
        padding: 14px 15px;
    }

    .rental-heading {
        max-width: 33%;
    }

    /*documentation*/
    .my-account-wrapper::before,
    .account-sidebar::before {
        display: none;
    }

    .account-sidebar-wrapper {
        padding: 30px 20px;
    }

    .account-sidebar {
        left: 0 !important;
    }

    .my-account-section .container {
        padding-left: 0;
        padding-right: 0;
    }

    .account-content-area {
        padding: 30px 30px;
    }

    .account-accordion .accordion-tab .accordion-title {
        font-size: 16px;
    }

    .account-sidebar h2 {
        font-size: 16px;
    }

    /*Fixed Rental plans page*/
    .rental-plans-listing li {
        max-width: 25%;
    }

    /*Choose Product page*/
    .rental-plan-items-area {
        padding-right: 0;
    }

    /*Verify Product page*/
    .verify-product-info-block,
    .verify-product-tenture,
    .added-product-block,
    .free-service-section .product-info,
    .free-service-listing {
        max-width: 100%;
    }

    /*Cart page*/
    .fixed-rental-plans-steps-listing {
        max-width: calc(100% - 360px);
    }

    /*Payment page*/
    .order-summary-column {
        max-width: calc(33.33% - 20px);
        margin-right: 30px;
    }

    .order-summary-column:last-child {
        margin-right: 0;
    }

    .order-summary-column-3 .address-listing li {
        max-width: 100% !important;
        margin-right: 0 !important;
    }

    .help-box {
        left: 0;
        max-width: 100%;
        padding: 20px 15px;
    }

    /*signin page*/
    .signin-form-wrapper {
        max-width: calc(70% + 200px);
    }

    /*corporate orders*/
    .corporate-needs-listing li {
        max-width: 33.33%;
    }

    .corportate-needs-wrapper figure {
        height: auto;
    }

    .custom-made-products {
        padding: 10px 20px;
    }

    .custom-made-products figure {
        max-width: 150px;
        height: auto;
    }

    .custom-made-products-wrapper {
        max-width: calc(100% - 150px);
        padding-left: 20px;
    }

    .custom-made-products-wrapper .call {
        font-size: 18px;
    }

    .completed-projects-listing li {
        max-width: 25%;
    }

    .corporate-orders-main {
        padding: 30px 0 60px;
    }

    .completed-projects figure {
        width: 100%;
        height: auto;
    }

    .customer-payments-main-wrapper {
        justify-content: center;
    }

    .payment-box {
        margin-right: 0;
    }

    .customer-payment-form-wrapper {
        max-width: calc(100% - 300px);
        padding-left: 50px;
    }

    .account-content-area h2 {
        font-size: 16px;
    }

    .coins-benefits-box {
        max-width: calc(50% - 10px);
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 35px 20px;
    }

    .coins-benefits-box:nth-child(2n) {
        margin-right: 0;
    }

    .referral-code-process-block>p {
        margin: 0 0 20px;
        font-size: 12px;
    }

    .referral-code-process-listing li {
        max-width: 50%;
    }

    .referral-terms-banner-wrapper .referral-code-wrapper {
        max-width: 50%;
    }
}

@media only screen and (max-width: 1024px) {

    /*h2{
        font-size: 20px;
    }
    */
    /*header*/
    .city-lisitng li {
        flex: 0 0 25%;
    }

    /*product listing (Combo)*/
    .combo .product-description h3 {
        max-width: 100%;
        margin-bottom: 5px;
    }

    .combo .product-description .price {
        max-width: 100%;
        justify-content: flex-start;
    }

    .combo .included-items-listing li {
        width: 57px;
        height: 38px;
    }

    /*product detail*/
    .product-slider {
        max-width: 50%;
    }

    .product-main-info {
        max-width: 50%;
        margin-left: 0;
        padding-left: 30px;
    }

    .product-price-info {
        max-width: 100%;
    }

    .items-included {
        max-width: 100%;
    }

    .recommend-products {
        max-width: 100%;
        padding-left: 0;
        margin-top: 50px;
    }

    .recommend-products-listing>li {
        max-width: 25%;
    }

    .product-detail-heading {
        margin-bottom: 15px;
    }

    .product-detail-heading br {
        display: none;
    }

    .product-slider {
        max-width: 100%;
    }

    .product-main-info {
        padding-left: 0;
        padding-top: 30px;
        max-width: 100%;
    }

    .product-slider .slider-for,
    .product-slider .slider-for amp-img {
        height: 494px !important;
    }

    /*home page*/
    .rental-palns-section {
        padding: 60px 0;
    }

    .scrollable-items {
        order: 2;
        max-width: 100%;
        margin: 30px 0;
    }

    .rental-items-listing ul {
        flex-wrap: nowrap;
        overflow-y: auto;
    }

    .rental-items-listing li {
        width: 120px;
        flex: 0 0 120px;
        margin-right: 10px;
        /*margin-bottom: 0;
        */
    }

    .rental-items-listing {
        max-height: inherit !important;
        max-width: 100%;
        overflow-x: auto;
    }

    .rental-box-area {
        order: 3;
        max-width: 100%;
        padding: 0;
        display: block;
    }

    .rental-heading {
        max-width: 100%;
        order: 1;
    }

    .rental-box-listing {
        width: auto;
    }

    .home-testimonial h2 {
        max-width: 100%;
        text-align: center;
    }

    .home-testimonial .home-testimonial-slider {
        max-width: 100%;
        padding-left: 0;
    }

    .home-testimonial-slider .slick-arrow.prev-arrow {
        left: 0;
    }

    .home-testimonial-slider .slick-arrow.next-arrow {
        right: 0;
    }

    .home-testimonial .testimonial-content-wrapper .testimonial-content {
        padding: 20px 20px;
    }

    .testimonial-section {
        padding: 40px 0 50px;
    }

    .service-tab .tab-links-part {
        padding-left: 0;
    }

    /*Fixed Rental plans page*/
    .rental-plans-listing li {
        max-width: 33.33%;
    }

    .rental-plans-box .plan-heading h3 {
        font-size: 20px;
    }

    .fixed-rental-plans-heading-block h2 span {
        font-size: 20px;
    }

    .fixed-rental-plans-heading-block h2,
    .rental-plans-block h2 {
        font-size: 18px;
    }

    /*Choose Product page*/
    .rental-plan-items-area {
        max-width: 100%;
        margin-bottom: 50px;
    }

    .product-options-wrapper {
        max-width: 100%;
    }

    .product-option-listing {
        overflow-x: auto;
        flex-wrap: nowrap;
    }

    .product-option-listing li {
        margin-bottom: 0;
        max-width: 203px;
        margin-right: 15px;
        white-space: normal;
        flex: 0 0 203px;
    }

    .rental-plan-items-wrapper {
        margin-top: 0;
    }

    .steps-navigation {
        padding-left: 0;
        justify-content: center;
    }

    /*Verify Product page*/
    .added-product-block .product-option-listing {
        overflow-x: auto;
        flex-wrap: wrap;
    }

    .added-product-block .product-option-listing li {
        white-space: inherit;
        margin-right: 0;
        max-width: 33.33%;
        flex: 0 0 33.33%;
    }

    .free-service-listing li {
        margin-right: 25px;
        padding-right: 25px;
        flex: 1;
        justify-content: center;
    }

    .free-service-listing li span {
        text-align: center;
        justify-content: center;
    }

    /* Benefits Section Home Page */

    .benefits-section {
        padding-top: 40px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-right: 0px;
        margin-left: 0px;
        background-color: #6063660d;
   }

   .benefits-listing {
    max-width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
}

    .benefits-listing li .icn {
        width: 25px;
        height: 25px;
        margin-bottom: 5px;
    }

    .benefits-listing li span {
        font-size: 12px;
    }

    .benefits-listing li {
        flex: 0 0 calc(33.33% - 5px);
        margin-right: 5px;
        padding-right: 5px;
        margin-bottom: 30px;
        margin-left: 0px;
        padding-left: 0px;
    }

      .benefits-listing li::after {
        height: 100%;
    }


    /* Benifits Section Home Page */

    /*Offers page*/
    .offers-listing li {
        max-width: calc(25% - 12px);
        margin-right: 15px;
    }

    .offers-listing .offer-box {
        padding: 20px 15px;
    }

    .offers-listing .info-listing span {
        margin-bottom: 8px;
    }

    .offers-listing .info-listing {
        margin-top: 20px;
    }

    .offers-listing .offer-box h2 {
        font-size: 18px;
        line-height: 20px;
    }

    .tnc-block {
        padding: 20px 20px;
    }

    /*Thank you*/
    .thankyou-wrapper h1 {
        font-size: 36px;
    }

    .thankyou-wrapper h2 {
        font-size: 16px;
    }

    /*Cart page*/
    .fixed-rental-plans-steps-listing {
        max-width: 100%;
    }

    .order-summary-block {
        max-width: 100%;
        padding-right: 0;
    }

    .cart-sidebar {
        max-width: 100%;
        margin-top: 40px;
    }

    /*address page*/
    .address-listing {
        margin: 30px 0 40px;
    }

    .address-selection-block {
        max-width: 100%;
    }

    .add-address-block {
        max-width: 100%;
        padding-left: 0;
        padding-top: 40px;
    }

    .address-listing li {
        max-width: calc(50% - 10px);
        margin-right: 20px;
        height: 100%;
    }

    .address-listing li:nth-child(2n) {
        margin-right: 0;
    }

    /*Payment page*/
    .order-summary-column {
        max-width: calc(33.33% - 10px);
        margin-right: 15px;
    }

    .order-summary-column-2 .cart-sidebar-block {
        padding: 20px 15px;
    }

    .cart-main-section .order-summary-column-2 .cart-sidebar-block .product-desc-listing {
        margin-top: 0;
    }

    .order-summary-column-2 .cf-balance-block {
        padding: 20px 15px;
    }

    .order-summary-column-2 .coins-redeemed input {
        margin-left: 5px;
        max-width: 70px;
    }

    .order-summary-column-2 .coins-redeemed label {
        max-width: calc(100% - 75px);
    }

    /*mini cart*/
    /*.minicart-section{
        max-width: 82vw;
        z-index: 9999999999;
    }
    */
    .minicart-main {
        padding-bottom: 140px;
    }

    .minicart-section-wrapper {
        padding: 15px 10px 20px;
    }

    .minicart-section-wrapper .close {
        width: 20px;
        height: 20px;
        top: 12px;
        right: 12px;
    }

    .minicart-section-wrapper .close .icn {
        width: 7px;
        height: 7px;
    }

    .cart-main-section .minicart-main h2 {
        font-size: 14px;
    }

    .minicart-main .border-left::after {
        width: 32px;
    }

    .order-summary-scroll {
        padding-top: 10px;
        margin-top: 20px;
        height: calc(100vh - 220px);
    }

    .minicart-section .order-summary-box .product-img {
        max-width: 80px;
    }

    .minicart-section .order-summary-box .product-desc {
        max-width: calc(100% - 80px);
        padding: 0 0 0 10px;
    }

    .cart-main-section .order-summary-scroll .product-desc-listing li h4,
    .cart-main-section .order-summary-scroll .product-desc-listing li span {
        font-size: 10px;
    }

    .order-summary-box .product-desc .delete .icn {
        width: 9px;
        height: 9px;
    }

    .cart-main-section .checkout-wrapper .product-desc-listing {
        margin: 5px 0 25px;
    }

    .submit-btn .explore-btn {
        /*padding: 5px 10px;
        */
        min-width: 156px;
        font-size: 12px;
    }

    .cart-main-section .checkout-wrapper .product-desc-listing li h4,
    .cart-main-section .checkout-wrapper .product-desc-listing li span {
        font-size: 10px;
    }

    /*signin page*/
    .signin-slider-wrapper {
        display: none;
    }

    .signin-form-wrapper {
        max-width: 100%;
        padding: 0;
        background-color: #fff;
        justify-content: center;
    }

    .signin-form-wrapper::before {
        display: none;
    }

    .signin-tab-inner-wrapper {
        padding: 50px 20px;
    }

    .signin-tab-wrapper {
        height: auto;
    }

    .signin-logo-part,
    .signin-tab-wrapper ul.tabs,
    .social-icons-listing,
    .signin-form-block .submit-btn {
        justify-content: center;
    }

    .signin-form .or,
    .signin-form-block .otp-message {
        text-align: center;
    }

    /*corporate orders*/
    .corporate-needs-left {
        max-width: 100%;
        margin-right: 0;
    }

    .enquire-block {
        max-width: 100%;
        margin: 30px 0 0;
    }

    .completed-projects-listing li {
        max-width: 33.33%;
    }

    .table-wrapper table tr th,
    .table-wrapper table tr td span {
        padding: 10px 10px;
    }

    .coin-balance-wrapper {
        max-width: 100%;
    }

    .coins-benefits-wrapper {
        max-width: 100%;
        padding-left: 0;
        padding-top: 30px;
    }

    .coin-balance-wrapper .coin-balance .balace-amt {
        font-size: 18px;
    }

    .coin-balance-wrapper .coin-balance .balace-amt .icn {
        width: 18px;
        height: 18px;
        margin-right: 8px;
    }

    .coin-balance-wrapper .coin-balance {
        margin: 20px 0 0;
    }

    .transations-wrapper {
        margin: 20px 0 0;
    }

    .referral-code-share .social-icons-listing {
        justify-content: flex-start;
    }

    .referral-code-wrapper {
        align-items: flex-start;
        margin: 0 0 40px;
    }

    .referral-code-wrapper .referral-code-info .big-text {
        font-size: 20px;
        line-height: 25px;
    }

    .referral-code-process-listing {
        margin: -10px -10px;
    }

    .referral-code-process-listing li {
        padding: 10px;
    }

    .referral-code-process span {
        font-size: 20px;
    }

    .referral-code-wrapper .get-coins .icn {
        width: 20px;
        height: 20px;
    }

    .referral-code-wrapper .get-coins {
        font-size: 18px;
    }

    .shipping-address-wrapper .address-listing li {
        max-width: 100%;
        margin-right: 0;
        height: auto;
    }

    .faq-main .tab-links-part {
        max-width: 100%;
        margin-bottom: 30px;
}

    .credit-form.kyc-document input[type="file"]+.input-file span {
        font-size: 0;
    }

    .credit-form.kyc-document input[type="file"]+.input-file span a {
        font-size: 10px;
    }

    .contact-us-info .queries-block {
        padding-right: 20px;
    }

    .contact-us-info .contact-block {
        padding-left: 20px;
    }

    .contact-us-main h2 {
        font-size: 18px;
    }

    .contact-us-main h3 {
        font-size: 14px;
    }

    .contact-listing li {
        margin-bottom: 20px;
    }

    .offices-listing li {
        max-width: 50%;
    }

    .offices-listing li:nth-child(3n) .offices-box {
        border-right-color: rgba(0, 0, 0, 0.23);
    }

    .offices-listing li:nth-child(2n) .offices-box {
        border-right-color: transparent;
    }

    .about-us-page {
        padding: 0;
    }

    .about-banner-wrapper h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .about-banner-wrapper {
        max-width: 50%;
    }

    .about-banner {
        min-height: 350px;
        padding: 30px 0 20px;
    }

    .team-listing li {
        margin-right: 30px;
        max-width: 100px;
    }

    .team-listing li figure {
        height: 100px;
    }

    .team-listing li span {
        font-size: 14px;
    }

    .cf-life-section .about-us-info {
        padding: 0 15px;
    }

    .cf-life-wrapper .image-group figure {
        height: 130px;
    }

    .coupon-code-section {
        padding: 30px 0;
    }

    .career-banner-wrapper h1 {
        font-size: 25px;
        line-height: 30px;
    }

    .career-banner {
        min-height: 350px;
    }

    .career-banner-wrapper .explore-btn {
        min-width: 135px;
        padding: 10px 10px;
    }

    .career-page .subtitle {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .career-page h2 {
        font-size: 16px;
    }

    .career-page .cf-life-image-wrapper {
        height: 450px;
    }

    .location-listing {
        margin: -12px -15px;
    }

    .location-listing li {
        max-width: 33.33%;
        padding: 12px 15px;
    }

    .location-listing li span {
        font-size: 14px;
    }

    .grid-sizer,
    .grid-item {
        width: 33.33%;
    }

    .feedback-text {
        padding: 15px 15px 30px;
    }

    .referral-terms-banner-wrapper .referral-code-wrapper {
        padding-left: 20px;
    }

    .referral-terms-banner .referral-code-wrapper h1 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .referral-code-process-section .referral-code-process-listing {
        justify-content: center;
    }

    .referral-code-process-section .referral-code-process-listing li {
        max-width: 33.33%;
    }
}

@media only screen and (max-width: 992px) {

    /*product listing*/
    .filter-box h2 {
        padding: 0 10px;
    }

    .filter-area {
        max-width: 30%;
    }

    .product-area {
        max-width: 70%;
        padding-left: 20px;
    }

    .product-listing>li {
        max-width: 50%;
    }
}

@media only screen and (max-width: 767px) {
    .site {
        padding: 48px 0 37px;
    }

    .product-listing .site {
        padding: 104px 0 37px;
    }
    
    .product-detail .site {
        padding: 104px 0 85px;
    }

    h2 {
        font-size: 18px;
    }

    .d-none-xs {
        display: none !important;
    }

    .d-flex-xs {
        display: flex !important;
    }

    .d-block-xs {
        display: block !important;
    }

    /*header*/
    header {
        background-color: #ef534e;
    }

    .logo-part .container {
        padding: 0;
    }

    .mobile-navigation,
    .mobile-logo-part,
    .menu-mobile,
    .mobile-filterbar,
    .mobile-category {
        display: flex;
    }

    .navigation-part,
    .logo-part {
        display: none;
    }

    .header-icons-listing>li {
        margin-right: 20px;
    }

    .header-icons-listing>li>a .icn {
        width: 14px;
        height: 14px;
    }

    .location-part h2 {
        font-size: 16px;
        margin-top: 15px;
    }

    .location-part h2 .icn-map {
        width: 12px;
        height: 16px;
    }

    .city-lisitng li {
        flex: 0 0 50%;
    }

    .city-lisitng .city-box .icn {
        width: 55px;
        height: 55px;
    }

    .location-part .close .icn-close-dark {
        width: 12px;
        height: 12px;
    }

    .location-part .close {
        top: 0;
    }

    .location-part {
        padding: 20px 0 40px;
    }

    .logo-part-wrapper .logo {
        position: static;
        margin: inherit;
        justify-content: flex-start;
        z-index: inherit;
    }

    .logo-part-wrapper {
        min-height: inherit;
    }

    /*footer*/
    footer {
        position: static;
    }

    .footer-widget h4 {
        background-image: url(../images/icn-plus.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 5px) center;
        background-size: 12px;
        margin-bottom: 0;
        cursor: pointer;
    }

    .footer-widget h4.open {
        background-image: url(../images/icn-minus.svg);
        background-size: 10px 3px;
    }

    .footer-main .footer-links-wrapper {
        display: none;
        margin-top: 20px;
    }

    .mobile-footer {
        display: flex;
    }

    .mobile-footer {
        background-color: #ef534e;
        padding: 8px 10px;
        position: fixed;
        bottom: 0;
        z-index: 111;
    }

    /*.footer-main, .footer-copyright{display: none;}*/
    .footer-main {
        padding: 20px 0;
    }

    .footer-widget {
        flex: 0 0 100%;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }

    .footer-widget:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }

    .footer-copyright-wrapper {
        padding: 10px 0 20px;
    }

    .footer-expand {
        padding: 5px 15px;
        position: absolute;
        bottom: 38px;
    }

    .product-detail .footer-expand {
        bottom: 58px;
    }

    .footer-expand .icn-arrow-bottom {
        margin-left: 0;
    }

    .footer-main,
    .footer-copyright {
        display: none;
    }

    /*product listing*/
    .breadcrumbs {
        margin: 14px 0 8px;
    }

    .innerpage-heading,
    .product-topbar {
        display: none;
    }

    .filter-box {
        margin-bottom: 20px;
    }

    .innerpage-heading-wrapper::after {
        width: 100%;
        transform: skewX(0deg);
    }

    .innerpage-heading .container {
        padding: 0;
    }

    .sort-by {
        max-width: 100%;
        margin-bottom: 15px;
    }

    .tags-listing {
        max-width: 100%;
        justify-content: flex-start;
    }

    .filter-area {
        max-width: 100%;
        display: none;
    }

    .product-area {
        max-width: 100%;
        padding-left: 0;
    }

    .product-listing>li {
        max-width: 50%;
        padding: 5px 6px;
    }

    .product-description h3 {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .product-listing {
        margin-left: -6px;
        margin-right: -6px;
        margin-top: -5px;
        margin-bottom: -5px;
        width: auto;
    }

    .product-listing-main {
        padding: 10px 0 20px;
    }

    .product-description {
        padding: 10px 10px 15px;
    }

    .product-description .price {
        font-size: 12px;
    }

    .product-description .items-count {
        display: none;
    }

    .starts-from {
        display: none;
    }

    .new-label {
        padding: 2px 4px 2px 4px;
        min-width: 38px;
        top: 10px;
    }

    .new-label::after {
        border-right: 7px solid #ccc;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
    }

    .wishlist {
        top: 7px;
        right: 7px;
    }

    .wishlist .icn.icn-wishlist-fill-gray {
        width: 13px;
        height: 10px;
    }

    /*product listing (Combo)*/
    .product-listing.combo {
        margin-top: -10px;
        margin-bottom: -10px;
        margin-left: 0;
        margin-right: 0;
    }

    .product-listing.combo>li {
        max-width: 100%;
        padding: 10px 0;
    }

    .product-listing.combo .product-description {
        padding: 10px 10px 5px;
    }

    .combo .included-items-listing li {
        margin-right: 7px;
        margin-bottom: 7px;
    }

    .combo .starts-from {
        display: block;
        width: 100%;
    }

    .combo .product-description .price strong {
        margin-left: 0;
    }

    .combo .product-description h3 {
        max-width: calc(100% - 100px);
        margin-bottom: 0;
    }

    .combo .product-description .price {
        max-width: 100px;
        justify-content: flex-end;
        text-align: right;
    }

    .combo .product-description-wrapper {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .combo .included-items-block h4 {
        font-size: 10px;
    }

    .combo .included-items-listing {
        margin-top: 4px;
    }

    .combo .included-items-listing li {
        width: 48px;
        height: 37px;
    }

    .explore-btn {
        padding: 5px 10px;
        font-size: 12px;
    }

    /*product detail page*/
    .product-slider .slider-for,
    .product-slider .slider-for amp-img {
        height: 216px !important;
    }

    .product-slider .slider-for {
        margin-left: 0;
        max-width: 100%;
    }

    .product-main-info h1 {
        font-size: 16px;
        margin-bottom: -15px;
    }

    .product-price {
        max-width: 50%;
        position: relative;
        padding-bottom: 14px;
    }

    .refundable-price {
        max-width: 50%;
        padding-left: 20px;
        border-left: 1px solid #e0e0e0;
        text-align: left;
        justify-content: flex-start;
    }

    .product-price-info .price {
        margin: 2px 0 0;
        font-size: 16px;
    }

    .product-price-info .refundable-price label {
        justify-content: flex-start;
    }

    .product-price-info label small {
        font-size: 10px;
        margin-left: 0;
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .product-price-info .refundable-deposit {
        margin-top: 2px;
        font-size: 16px;
        text-align: left;
    }

    .product-price-info {
        padding: 30px 0;
        border-bottom: 0;
        align-items: flex-start;
    }

    .coupon-box {
        padding: 14px 6px 20px;
    }

    .coupon-box p {
        font-size: 10px;
    }

    .coupon-box p span {
        margin-right: 2px;
    }

    .coupon-box p strong {
        margin-left: 2px;
    }

    .recommend-products {
        margin-top: 0;
    }

    .product-detail-heading {
        text-align: center;
        font-size: 14px !important;
    }

    .recommend-products-listing {
        margin-left: -6px;
        margin-right: -6px;
        margin-top: -6px;
        margin-bottom: -6px;
    }

    .recommend-products-listing>li {
        max-width: 50%;
        padding: 6px 6px;
    }

    .product-items-wrapper {
        padding: 30px 0 40px;
    }

    .related-product {
        margin: 0 0 20px;
    }

    .related-product .container {
        padding: 0 15px;
    }

    .related-product-slider .slide {
        padding: 50px 6px;
    }

    .related-product-slider .slick-dots {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .related-product-slider .slick-arrow {
        width: 30px;
        height: 30px;
        border: 1px solid #ef534e;
        line-height: 28px;
        top: inherit;
        bottom: -2px;
    }

    .related-product-slider .slick-arrow.prev-arrow {
        left: 20px;
    }

    .related-product-slider .slick-arrow.next-arrow {
        right: 20px;
    }

    .related-product-slider .slick-arrow i {
        background-size: 14px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .testimonial-section {
        padding: 0 0 30px;
    }

    .testimonial-slider .slick-arrow.prev-arrow {
        left: 15px;
    }

    .testimonial-slider .slick-arrow.next-arrow {
        right: 15px;
    }

    .testimonial-content-wrapper figure amp-img {
        width: 100% !important;
        border-top-right-radius: 14px;
        border-bottom-left-radius: 0;
        height: 150px !important;
    }

    .testimonial-content-wrapper figure amp-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .testimonial-slider .slide {
        padding: 60px 0 40px;
    }

    .testimonial-content-wrapper .testimonial-content {
        padding: 20px 15px 20px;
    }

    .testimonial-content-wrapper {
        box-shadow: 0 0 20px 0 rgba(78, 91, 95, 0.2);
    }

    .testimonial-content-wrapper .testimonial-content .testimonial-name {
        order: 1;
        justify-content: center;
        color: #9d9d9d;
        font-size: 10px;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .testimonial-content-wrapper .testimonial-content .testimonial-name strong {
        width: 100%;
        font-size: 12px;
        color: #000;
        text-align: center;
        margin-right: 0;
    }

    .testimonial-content-wrapper .testimonial-content p {
        order: 2;
        text-align: center;
        font-size: 9px;
        line-height: 17px;
    }

    .testimonial-section .view-all-link a {
        font-size: 11px;
    }

    .product-slider,
    .product-main-info,
    .items-included-box .items-info,
    .items-included-box figure,
    .testimonial-content-wrapper .testimonial-content,
    .testimonial-content-wrapper figure {
        max-width: 100%;
    }

    .product-main-info {
        padding-left: 0;
        padding-top: 30px;
    }

    /*home page*/
    .home-banner::after {
        display: none;
    }

    .home-banner,
    .banner-slider .slide {
        height: 238px;
    }

    .home-banner-wrapper {
        padding: 16px 0 10px;
        text-align: center;
        align-items: flex-start;
        align-content: flex-start;
    }

    .home-banner-wrapper .banner-text {
        max-width: 100%;
        justify-content: center;
        flex-direction: column;
    }

    .home-banner-wrapper .banner-text h1 {
        font-size: 22px;
        line-height: normal;
        max-width: 265px;
        margin: 0 auto 15px;
    }

    .home-banner-wrapper .banner-text .explore-btn {
        align-self: center;
    }

    /*.explore-btn{
        padding: 5px 10px;
        min-width: 115px;
        font-size: 12px;
        box-shadow: none;
    }
    */
    .main-features {
        padding: 10px 0;
    }

    .main-features-listing {
        width: auto;
        margin-left: -5px;
        margin-right: -5px;
    }

    .main-features-listing li {
        max-width: 33.33%;
        margin-right: 0;
        padding: 10px 5px;
    }

    .main-features-listing .features-box {
        padding: 0;
        box-shadow: none !important;
    }

    .main-features-listing .features-box span {
        /*font-size: 10px;
        */
    }

    .main-features-listing .features-box .icn {
        width: 35px;
        height: 35px;
    }

    .rental-palns-section {
        padding: 32px 0 46px;
        position: relative;
    }

    .rental-heading {
        text-align: center;
        justify-content: center;
    }

    .rental-heading p {
        max-width: 100%;
    }

    .rental-plans {
        justify-content: center;
        margin: 15px 0 0;
    }

    .rental-radio-grp {
        max-width: 48px;
        height: 43px;
    }

    .rental-radio-grp input[type="radio"]+label {
        font-size: 10px !important;
        padding: 5px 5px;
    }

    .rental-items-listing li {
        width: 68px;
        flex: 0 0 68px;
        height: 50px;
    }

    .rental-items-listing li img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        padding: 5px;
    }

    .scrollable-items {
        padding: 6px 10px;
    }

    .rental-box-listing li {
        padding: 8px 8px;
        height: 118px;
    }

    .rental-box-listing {
        margin-left: -8px;
        margin-right: -8px;
        margin-top: -8px;
        margin-bottom: -8px;
    }

    .rental-box img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding: 13px;
    }

    .rental-box {
        height: 100%;
    }

    .rental-heading .explore-btn {
        position: absolute;
        bottom: 0;
    }

    .service-tab .tab-links-part {
        max-width: 100%;
        justify-content: center;
        border-bottom: 1px solid #ebebeb;
    }

    .services-section {
        padding: 40px 0 20px;
    }

    .services-section ul.tabs {
        flex-wrap: nowrap;
        overflow-x: auto;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        text-align: center;
    }

    .services-section ul.tabs li {
        margin-bottom: 0;
        width: auto;
        white-space: nowrap;
        display: inline-block;
    }

    .services-section ul.tabs li span {
        border: 0;
        min-width: inherit;
    }

    .services-section ul.tabs li::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 77px;
        height: 3px;
        background-color: transparent;
        border-radius: 1px;
        margin: auto;
    }

    .services-section ul.tabs li.current::before {
        background-color: #ef534e;
    }

    .services-section ul.tabs li span {
        /*font-size: 10px;
        */
    }

    .service-tab .tab-content-part {
        max-width: 100%;
        justify-content: center;
        padding: 30px 0 0;
    }

    .trending-products-tab .tab-links-part {
        justify-content: center;
        border-bottom: 1px solid #ebebeb;
    }

    .trending-products-section {
        padding: 20px 0 0;
    }

    .trending-product-slider .slick-dots {
        bottom: 60px;
    }

    .trending-products-section ul.trending {
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: flex-start;
        width: auto;
        border: 0;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        text-align: center;
    }

    .trending-products-section ul.trending li {
        margin-right: 20px;
        white-space: nowrap;
        /*font-size: 10px;
        */
    }

    .service-tab {
        margin-top: 15px;
    }

    .trending-products-tab {
        margin-top: 20px;
    }

    .home-testimonial h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .home-testimonial .home-testimonial-slider .slide.slick-current.slick-active {
        transform: scale(1.1);
    }

    .home-testimonial-slider .slide .testimonial-content-wrapper {
        border: 0;
    }

    .home-testimonial .home-testimonial-slider .slide {
        padding: 30px 20px;
        margin-left: -20px;
        margin-right: -20px;
    }

    .home-testimonial-slider .slide.slick-current.slick-active .testimonial-content-wrapper {
        box-shadow: 0 10px 12px 0 rgba(78, 91, 95, 0.15);
    }

    .testimonial-section .container {
        padding: 0 15px;
    }

    .trending-product-slider .slick-arrow {
        width: 30px;
        height: 30px;
        border: 0;
        line-height: 28px;
        top: inherit;
        bottom: 50px;
        line-height: 37px;
    }

    .trending-product-slider .slick-arrow i {
        width: 7px;
        height: 16px;
        background-size: 7px;
        background-repeat: no-repeat;
    }

    .trending-product-slider .slick-arrow.prev-arrow {
        left: 20px;
    }

    .trending-product-slider .slick-arrow.next-arrow {
        right: 20px;
    }

    .trending-product-slider .slick-arrow.prev-arrow .icn-left-arrow-red {
        left: -1px;
    }

    .trending-product-slider .slick-arrow.next-arrow .icn-right-arrow-red {
        left: 1px;
    }

    .trending-products-section .tab-content {
        padding: 0;
        margin-bottom: -10px;
    }

    .trending-products-section .slide {
        padding: 15px 6px 100px;
    }

    .home-testimonial-slider .testimonial-content-wrapper .testimonial-content .testimonial-name strong {
        /*font-size: 11px;
        */
    }

    .home-testimonial-slider .testimonial-content-wrapper .testimonial-content .testimonial-name {
        /*font-size: 10px;
        */
    }

    /*documentation*/
    .account-sidebar {
        display: none;
    }

    .account-content-area {
        padding: 20px 15px;
        max-width: 100%;
        margin-left: 0;
    }

    .credit-form {
        padding: 0 15px 20px;
    }

    .account-accordion .accordion-content {
        padding: 0 5px;
    }

    .credit-form .FlowupLabels .fl_wrap {
        width: 100%;
        margin-right: 0;
    }

    .account-accordion .accordion-tab .accordion-title {
        font-size: 14px;
        height: 45px;
        background-position: calc(100% - 20px) center;
        background-size: 15px;
        padding: 10px 20px;
    }

    /*Search Result page*/
    .search-result-main {
        padding: 20px 0 30px;
    }

    .search-result-main .filter-area {
        display: flex;
        order: 2;
        margin-top: 30px;
    }

    .advertise-block {
        margin-top: 0;
    }

    .search-result-main .product-area {
        order: 1;
    }

    /*Fixed Rental plans page*/
    .fixed-rental-plans-section {
        padding: 30px 0 30px;
    }

    .rental-plans-listing {
        margin: -5px -5px;
    }

    .rental-plans-listing li {
        max-width: 50%;
        padding: 5px 5px;
    }

    .rental-plans-block {
        padding: 30px 15px;
    }

    .rental-plans-block h2 {
        margin-bottom: 30px;
    }

    .rental-plans-box .plan-details {
        padding: 15px 10px;
    }

    .rental-plans-box .plan-heading {
        padding: 20px 10px;
        min-height: 95px;
    }

    .rental-plans-box .plan-heading h3 {
        font-size: 16px;
    }

    .rental-plans-box .plan-heading .price {
        font-size: 14px;
    }

    .plan-details .explore-btn {
        min-width: 110px;
        padding: 5px 10px;
        margin-top: 15px;
        font-size: 12px;
    }

    .rental-plans-box .plan-heading .icn {
        display: none;
    }

    .range-slider-wrapper .range-slider {
        width: 100%;
        margin-left: 0;
        margin-top: -15px;
    }

    .fixed-rental-plans-heading-block h1 {
        font-size: 16px;
    }

    .rental-plans-block h2 {
        font-size: 16px;
    }

    .fixed-rental-plans-heading-block h1 span {
        font-size: 12px;
    }

    .plan-details span {
        font-size: 12px;
    }

    .plan-details span+span {
        margin-top: 2px;
    }

    /*Choose Product page*/
    .product-modal .items-info {
        padding: 20px 15px 30px;
    }

    .mfp-container {
        padding: 0 20px;
    }

    .product-popup-slider .slick-arrow {
        width: 30px;
        height: 30px;
        border: 0;
        line-height: 28px;
        line-height: 37px;
    }

    .product-popup-slider .slick-arrow i {
        width: 7px;
        height: 16px;
        background-size: 7px;
        background-repeat: no-repeat;
    }

    .product-popup-slider .slick-arrow.prev-arrow .icn-left-arrow-red {
        left: -1px;
    }

    .product-popup-slider .slick-arrow.next-arrow .icn-right-arrow-red {
        left: 1px;
    }

    .product-modal .mfp-close {
        width: 30px;
        height: 30px;
        top: -12px;
        right: -12px;
        background-size: 10px 10px;
    }

    .product-modal .items-info h3 {
        font-size: 14px;
        padding-bottom: 5px;
    }

    .rental-plan-items-listing li {
        max-width: 70px;
        padding: 6px 3px;
    }

    .rental-plan-items-listing {
        margin: -6px -3px;
    }

    .rental-plan-items-listing .rental-plan-items-box {
        height: 54px;
        border-radius: 3px;
    }

    .product-img-added .close {
        display: none;
    }

    .product-img-added img {
        border-radius: 3px;
    }

    .rental-plan-items-block h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .rental-plan-items-block h3 span {
        font-size: 12px;
    }

    .rental-plan-items-box .icn {
        width: 15px;
        height: 15px;
        margin-bottom: 5px;
    }

    .rental-plan-items-box span {
        font-size: 8px;
    }

    .steps-navigation .explore-btn {
        min-width: inherit;
        width: 50%;
        margin-right: 0;
        border-radius: 0;
    }

    .product-modal .items-info-listing li h4,
    .product-modal .items-info-listing li p {
        font-size: 12px;
    }

    .product-option-listing li {
        max-width: 142px;
    }

    .product-modal .explore-btn {
        min-width: 156px;
        font-size: 12px;
        padding: 5px 10px;
    }

    .product-modal .items-info {
        padding: 20px 15px 25px;
    }

    .product-option-block h2 {
        font-size: 16px;
        margin-bottom: 15px;
    }

    /*Verify Product page*/
    .verify-product-info-listing li h4 {
        font-size: 12px;
        max-width: 150px;
    }

    .verify-product-info-listing li p {
        max-width: calc(100% - 150px);
        font-size: 12px;
    }

    .verify-product-tenture p {
        margin-bottom: -15px;
    }

    .added-product-block .product-option-listing li {
        max-width: 50%;
        flex: 0 0 50%;
        padding: 6px 6px;
    }

    .added-product-block .product-option-listing {
        margin: -6px -6px;
    }

    .product-option-listing .product-description {
        padding: 10px 10px 15px;
    }

    .product-option-listing .product-description h3 {
        font-size: 12px;
    }

    .free-service-listing li .icn {
        width: 25px;
        height: 25px;
        margin-bottom: 5px;
    }

    .free-service-listing li span {
        font-size: 12px;
    }

    .free-service-listing li {
        flex: 0 0 calc(33.33% - 5px);
        margin-right: 5px;
        padding-right: 5px;
        margin-bottom: 30px;
    }

    .free-service-listing li span small {
        font-size: 10px;
    }

    .free-service-listing li::after {
        height: 100%;
    }

    .free-service-section .product-info {
        margin-top: 0;
        background-color: transparent;
        padding: 0;
    }

    .free-service-section .product-info li p {
        font-size: 10px;
    }

    /*Offers page*/
    .gradient-banner {
        padding: 24px 0 0;
        min-height: 310px;
    }

    .gradient-banner h1 {
        order: 1;
        font-size: 25px;
    }

    .gradient-banner h1 span {
        font-size: 16px;
    }

    .gradient-banner .breadcrumbs {
        order: 2;
        margin: 5px 0 0;
    }

    .gradient-banner .breadcrumbs-listing {
        justify-content: center;
    }

    .offers-listing li {
        max-width: calc(50% - 5px);
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .offers-listing li:nth-child(2n) {
        margin-right: 0;
    }

    .offers-section {
        margin-top: -210px;
    }

    .offers-listing .offer-box {
        padding: 20px 8px;
    }

    .offers-listing .offer-box h2 {
        font-size: 16px;
        line-height: 24px;
    }

    .offers-listing .offer-box label {
        font-size: 10px;
    }

    .offers-listing .coupon-code {
        font-size: 12px;
        padding: 4px 10px;
    }

    .offers-listing .info-listing span {
        font-size: 10px;
        line-height: 16px;
    }

    .discount-info {
        margin: 0;
    }

    /*.discount-info-wrapper p{
        text-align: left;
    }
    */
    .tnc-block {
        padding: 20px 0;
    }

    .tnc-block h4,
    .tnc-listing li {
        font-size: 10px;
    }

    .tnc-listing li {
        margin-bottom: 5px;
    }

    /*Thank you*/
    .thankyou-section .container {
        max-width: 250px;
    }

    .thankyou-wrapper h1 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 0;
    }

    .thankyou-wrapper h2 {
        font-size: 12px;
        line-height: 20px;
    }

    .thankyou-wrapper span {
        line-height: 17px;
        font-size: 12px;
    }

    .fixed-rental-plans-steps-listing span {
        font-size: 12px;
    }

    /*cart page*/
    .cart-main-section h2 {
        font-size: 16px;
        padding-bottom: 5px;
    }

    .order-summary-box .product-desc {
        max-width: 100%;
        padding: 10px 15px 20px;
    }

    .order-summary-box .product-img {
        max-width: 100%;
    }

    .order-summary-box .product-desc h3 {
        font-size: 14px;
    }

    .cart-main-section .product-desc-listing li h4,
    .cart-main-section .product-desc-listing li span {
        font-size: 12px;
    }

    .order-summary-box .product-img amp-img {
        height: 210px !important;
    }

    .order-summary-listing>li {
        margin-bottom: 20px;
    }

    .order-summary-box .product-desc .close {
        width: 20px;
        height: 20px;
    }

    .order-summary-box .product-desc .close .icn {
        width: 7px;
        height: 7px;
    }

    .order-summary-listing {
        margin: 25px 0 20px;
    }

    .order-summary-block .proceed-btn {
        justify-content: center;
    }

    .cart-sidebar-block {
        padding: 20px 15px;
    }

    .coupon-block,
    .product-info-block {
        margin-bottom: 20px;
    }

    .product-info-block .product-info li p {
        font-size: 10px;
        line-height: 14px;
    }

    .product-info-block .product-info li .icn {
        margin-top: -2px;
    }

    /*address page*/
    .address-listing li {
        max-width: 100%;
        margin-right: 0;
        height: auto;
    }

    .address-selection-block .steps-navigation .explore-btn {
        min-width: inherit;
        width: calc(50% - 10px);
    }

    /*Payment page*/
    .order-summary-column {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 30px;
    }

    .order-summary-column:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }

    .order-summary-column-1 .order-summary-box .product-img amp-img {
        height: auto !important;
    }

    .payment-method-wrapper .payment-options-wrapper .payment-radio {
        max-width: 100%;
        margin: 5px 0;
    }

    .payment-method-wrapper .payment-radio.radio-grp input[type="radio"]+label {
        font-size: 14px;
    }

    .payment-method-wrapper .payment-radio.radio-grp input[type="radio"]+label::before {
        top: 2px;
    }

    .payment-method-wrapper .payment-radio.radio-grp input[type="radio"]+label::after {
        top: 5px;
    }

    .payment-form .submit-btn {
        justify-content: center;
    }

    .order-summary-column-3 .address-listing {
        margin: 30px 0 20px;
    }

    .order-summary-column-3 .address-box h3 {
        font-size: 16px;
    }

    /*mini cart*/
    .minicart-section {
        max-width: 82vw;
        z-index: 9999999999;
    }

    /*signin page*/
    .signin-tab-inner-wrapper {
        padding: 30px 15px;
    }

    .signin-logo-part img {
        width: 140px;
    }

    .signin-tab-wrapper .tab-links-part {
        margin: 20px 0 0;
        justify-content: center;
    }

    .social-icons-listing li {
        width: 26px;
        height: 26px;
    }

    .social-icons-listing li a {
        padding: 6px;
    }

    .signin-form .or {
        margin: 30px 0 50px;
    }

    .signin-tab-wrapper ul.tabs li {
        font-size: 12px;
    }

    .signin-form-block .submit-btn .explore-btn {
        min-width: 115px;
        padding: 5px 10px;
        font-size: 12px;
    }

    /*corporate orders*/
    .corportate-heading-wrapper h1 {
        font-size: 16px;
        color: #000;
        margin-bottom: 15px;
    }

    .corportate-heading-wrapper p {
        font-size: 12px;
        line-height: 18px;
    }

    .corporate-orders-main h2 {
        font-size: 14px;
    }

    .corporate-needs-listing {
        margin: -4px -4px;
    }

    .corporate-needs-listing li {
        padding: 4px;
    }

    .corportate-needs-wrapper figure {
        height: 96px;
        margin-bottom: 5px;
    }

    .corportate-needs-wrapper p {
        display: none;
    }

    .corportate-needs-wrapper h3 {
        font-size: 12px;
    }

    .corporate-needs-block-wrapper {
        position: relative;
        padding-bottom: 180px;
    }

    .custom-made-products {
        padding: 10px 20px 10px 20px;
        overflow: hidden;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
    }

    .custom-made-products figure {
        margin-left: -80px;
        max-width: 150px;
    }

    .custom-made-products-wrapper {
        max-width: calc(100% - 70px);
        padding-left: 0;
    }

    .custom-made-products-wrapper h3 {
        font-size: 14px;
    }

    .custom-made-products-wrapper p {
        font-size: 12px;
        line-height: 18px;
    }

    .custom-made-products-wrapper .call {
        font-size: 16px;
    }

    .custom-made-products-wrapper .call .icn {
        width: 15px;
        height: 15px;
    }

    .completed-projects-listing li {
        max-width: 50%;
        padding: 15px 6px;
    }

    .completed-projects-listing {
        margin: -15px -6px;
    }

    .completed-projects h4 {
        font-size: 12px;
    }

    .corporate-orders-main {
        padding: 30px 0 30px;
    }

    .corporate-needs-block {
        margin: 0 0 40px;
    }

    .completed-projects-wrapper h2 {
        margin-bottom: 12px;
        text-align: left;
    }

    .corporate-orders-form.credit-form {
        padding: 15px 15px 20px;
        margin: 15px 0 0;
    }

    .corporate-orders-form.credit-form .submit-btn {
        margin-top: 25px;
    }

    .corportate-heading {
        margin: 0 0 30px;
    }

    .wishlist-main .product-area .move-cart {
        padding: 4px 10px;
    }

    .wishlist-main .product-area .close {
        width: 21px;
        height: 21px;
        top: 5px;
        right: 5px;
    }

    .wishlist-main .product-area .close .icn {
        width: 7px;
        height: 7px;
    }

    .customer-payments-page {
        padding: 0;
    }

    .customer-payments-page .innerpage-heading-wrapper {
        padding: 10px 0;
    }

    .customer-payments-page .innerpage-heading {
        display: flex;
    }

    .customer-payments-page .breadcrumbs-listing {
        margin-top: 1px;
    }

    .customer-payments-page .breadcrumbs-listing>li>a {
        font-size: 10px;
    }

    .innerpage-heading h1 {
        font-size: 14px;
    }

    .customer-payments-main {
        padding: 20px 0;
    }

    .payment-box .payment-amount {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        max-width: 50%;
        border-right: 1px dashed #d6d6d6;
        padding-right: 15px;
    }

    .payment-box .payment-info {
        padding: 0 0 0 15px;
        max-width: 50%;
    }

    .payment-box {
        max-width: 100%;
    }

    .payment-box .payment-amount label {
        color: #000;
        font-size: 11px;
    }

    .payment-box .payment-amount .price {
        font-size: 14px;
        margin: 0;
        width: auto;
        display: inline-block;
        vertical-align: middle;
    }

    .payment-box .payment-amount .explore-btn {
        min-width: 111px;
        padding: 5px 10px;
        margin-top: 20px;
        border-radius: 3px;
    }

    .payment-box .payment-info p {
        font-size: 11px;
        line-height: 18px;
        color: #6a6a6a;
        text-align: left;
    }

    .customer-payment-form-wrapper {
        max-width: 100%;
        padding-left: 0;
        margin-top: 30px;
    }

    .customer-payment-form.credit-form .radio-grp {
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px;
    }

    .customer-payment-form.credit-form .radio-grp:last-child {
        margin-bottom: 0;
    }

    .customer-payment-form.credit-form .radio-grp input[type="radio"]+label {
        font-size: 12px;
    }

    .customer-payment-form.credit-form .radio-grp input[type="radio"]+label::before {
        width: 13px;
        height: 13px;
    }

    .customer-payment-form.credit-form .radio-grp input[type="radio"]+label::after {
        width: 7px;
        height: 7px;
        left: 3px;
        top: 5px;
    }

    .customer-payment-form.credit-form .fl_wrap.form-grp-inner {
        width: 100%;
        margin-right: 0;
    }

    .customer-payment-form.credit-form .fl_wrap {
        margin-top: 0 !important;
    }

    .customer-payment-form.credit-form .credit-form .submit-btn {
        margin-top: 20px;
    }

    .my-orders-listing>li {
        margin-bottom: 20px;
    }

    .my-orders-box {
        padding: 20px 15px 30px;
    }

    .my-orders-box .order-details-wrapper {
        justify-content: center;
    }

    .my-orders-box .product-desc-listing {
        max-width: calc(100% - 140px);
        padding-right: 10px;
        margin-bottom: 0;
    }

    .my-orders-box .my-order-actions {
        max-width: 140px;
    }

    .my-orders-box .my-order-actions a {
        padding: 6px 5px;
    }

    .my-orders-box .product-desc-listing li {
        margin-bottom: 10px;
    }

    .my-orders-box .fixed-rental-plans-steps-listing li span {
        width: 50px;
        font-size: 10px;
        line-height: 14px;
    }

    .my-orders-box .product-desc-listing h4 {
        max-width: 100%;
        padding-right: 0;
    }

    .my-orders-box .product-desc-listing span {
        max-width: 100%;
    }

    .my-orders-box .order-status-wrapper h3 {
        font-size: 12px;
        margin-bottom: 14px;
    }

    .range-slider .irs--round .irs-grid-text {
        font-size: 11px;
    }

    .profile-setting-form.credit-form .FlowupLabels .fl_wrap {
        width: 100%;
        margin-right: 0;
    }

    .credit-form .submit-btn .explore-btn.proceed {
        padding: 10px 10px;
    }

    .pay-block {
        justify-content: flex-start;
        margin: 20px 0;
        text-align: center;
    }

    .pay-block span {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .pay-block .explore-btn {
        min-width: 80px;
    }

    .table-wrapper table tr th {
        font-size: 12px;
    }

    .table-wrapper table tr td {
        font-size: 10px;
    }

    .coin-balance-wrapper h3 {
        font-size: 12px;
    }

    .coin-balance-wrapper .coin-balance {
        margin: 5px 0 0;
    }

    .coin-balance-wrapper .coin-balance .balace-amt {
        margin-right: 15px;
    }

    .coin-balance-wrapper .coin-balance .explore-btn {
        min-width: 80px;
        padding: 5px 10px;
        font-size: 10px;
        border-radius: 3px;
    }

    .coin-balance-wrapper .credit-form {
        padding: 10px 10px;
        max-width: 180px;
        margin: 15px 0 20px;
    }

    .coin-balance-wrapper .coins-info {
        max-width: 100%;
    }

    .coins-benefits-box h4 {
        font-size: 12px;
        margin: 10px 0 2px;
    }

    .coins-benefits-box {
        max-width: calc(50% - 5px);
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 15px 12px;
    }

    .coins-benefits-box p {
        font-size: 10px;
    }

    .coins-benefits-box .icn {
        width: 35px;
        height: 35px;
    }

    .transations-wrapper h3 {
        font-size: 12px;
    }

    .pay-block span {
        font-size: 12px;
    }

    .pay-block span strong {
        font-size: 14px;
    }

    .transations-wrapper>h3 {
        margin-bottom: 15px;
    }

    .coin-balance-wrapper .credit-form .FlowupLabels .fl_input {
        font-size: 12px;
    }

    .referral-code-wrapper .referral-code-info .big-text {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .referral-code-wrapper .referral-code-info p {
        font-size: 12px;
    }

    .referral-code .coupon-code {
        max-width: 130px;
        text-align: left;
        justify-content: flex-start;
        font-size: 12px;
    }

    .referral-code {
        align-items: center;
        margin: 30px 0 30px;
    }

    .referral-code label {
        width: auto;
        margin-bottom: 0;
        margin-right: 13px;
    }

    .referral-code-share {
        align-items: center;
    }

    .referral-code-share label {
        padding-right: 28px;
        max-width: 120px;
        width: 100%;
        margin-bottom: 0;
    }

    .referral-code-share .social-icons-listing {
        max-width: calc(100% - 120px);
    }

    .referral-code-share .social-icons-listing li {
        margin-right: 14px;
    }

    .referral-code-wrapper {
        margin: 0 0 28px;
    }

    .referral-code-process figure img {
        height: 65px;
    }

    .referral-code-process span {
        font-size: 18px;
    }

    .referral-code-process-listing {
        margin: -18px -15px;
    }

    .referral-code-process-listing li {
        padding: 18px 15px;
    }

    .referral-code-process-block {
        margin: 0 0 40px;
    }

    .referral-code-faq.account-accordion .accordion-tab .accordion-title {
        font-size: 12px;
        padding: 5px 10px;
        font-weight: 700;
        background-position: calc(100% - 10px) center;
        background-size: 10px 10px;
    }

    .referral-code-faq.account-accordion .accordion-content .accordion-body {
        padding: 10px 10px;
    }

    .referral-code-faq.account-accordion .accordion-content p {
        font-size: 12px;
        line-height: 16px;
    }

    .referral-code-wrapper .referral-code-vector {
        display: none;
    }

    .referral-code-wrapper .referral-code-info {
        max-width: 100%;
    }

    .manage-orders-wrapper {
        padding: 30px 20px 20px;
    }

    .manage-order-modal.product-modal .mfp-close {
        width: 24px;
        height: 24px;
        background-size: 9px 9px;
        top: 8px;
        right: 8px;
    }

    .credit-form.manage-order-form .FlowupLabels .fl_wrap.service-request-wrapper {
        margin-bottom: 30px;
    }

    .credit-form.manage-order-form .FlowupLabels .fl_wrap.service-request-wrapper label {
        color: #9a9a9a;
    }

    .credit-form.manage-order-form .service-type-listing li span {
        font-size: 12px;
        background-size: 13px 11px;
    }

    .credit-form.manage-order-form .submit-btn .explore-btn {
        min-width: 112px;
    }

    .credit-form.manage-order-form .service-type-listing {
        padding: 7px 15px;
    }

    .faq-main {
        padding: 0 0 30px;
    }

    .faq-main .container {
        padding: 0;
    }

    .faq-main .tab-links-part {
        margin-bottom: 15px;
    }

    .faq-main ul.tabs li {
        margin-right: 5px;
        padding: 0 10px;
    }

    .faq-main ul.tabs li span {
        font-size: 12px;
        color: #7c7878;
        padding: 8px 0;
    }

    .faq-main ul.tabs li.current span {
        color: #ef534e;
    }

    .faq-main .referral-code-faq.account-accordion .accordion-tab .accordion-title {
        padding: 10px 10px;
    }

    .faq-main .tab-content-part {
        padding: 0 15px;
    }

    .faq-main .referral-code-faq.account-accordion .accordion-content {
        margin-top: 10px;
        padding: 0;
    }

    .contact-us-main {
        padding: 15px 0;
        justify-content: center;
        text-align: center;
    }

    .contact-us-info .queries-block {
        max-width: 100%;
        border-right: 0;
        padding-right: 0;
        border-bottom: 1px solid #c4c4c4;
        justify-content: center;
        padding-bottom: 30px;
    }

    .contact-us-main h2 {
        font-size: 14px;
    }

    .contact-us-main h2+span {
        font-size: 12px;
    }

    .contact-us-main h3 {
        font-size: 12px;
    }

    .contact-us-main h3+p {
        font-size: 12px;
    }

    .queries-listing li {
        margin-bottom: 15px;
    }

    .queries-listing {
        margin: 15px 0 15px;
    }

    .contact-us-info .contact-block {
        max-width: 100%;
        padding-left: 0;
        padding-top: 25px;
    }

    .contact-us-info .contact-block span {
        max-width: 100%;
    }

    .contact-listing {
        margin: 30px 0 0;
    }

    .contact-listing li {
        max-width: 50%;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
    }

    .contact-listing li:first-child {
        max-width: 100%;
    }

    .contact-listing li .contact-listing-wrapper {
        max-width: 100%;
        padding-left: 0;
    }

    .contact-listing li .icn {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .contact-us-main h3+p small {
        display: inline-block;
        width: 100%;
    }

    .offices-main {
        padding: 12px 0 0;
    }

    .contact-us-info {
        padding-bottom: 0;
    }

    .offices-listing {
        margin: 20px 0 0;
    }

    .offices-listing li {
        max-width: 100%;
        margin-bottom: 18px;
        padding-bottom: 18px;
    }

    .offices-listing li .offices-box {
        border-right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .offices-listing li .offices-box address {
        font-size: 12px;
        line-height: 20px;
    }

    .contact-us-main .offices-main h2+span {
        font-size: 12px;
    }

    .offices-listing li .offices-box h3 {
        margin-bottom: 3px;
    }

    .offices-listing li:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .contact-us-info .queries-block .explore-btn {
        min-width: 115px;
    }

    .privacy-main-wrapper p {
        font-size: 12px;
        margin-bottom: 10px;
        line-height: 20px;
    }

    .privacy-main-wrapper h3 {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .privacy-main {
        padding: 20px 0;
    }

    .about-team-section {
        padding: 20px 0;
    }

    .about-banner {
        min-height: 210px;
        padding: 20px 0 10px;
    }

    .about-banner-wrapper h1 {
        font-size: 18px;
        line-height: 20px;
        padding: 5px 10px;
        margin-bottom: 0;
    }

    .about-banner .container {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
    }

    .about-banner-wrapper {
        max-width: 182px;
    }

    .about-banner-wrapper .breadcrumbs-listing {
        justify-content: center;
    }

    .about-team-block {
        margin: 40px 0 0;
    }

    .about-us-page h2 {
        font-size: 14px;
        padding-bottom: 5px;
    }

    .about-us-page h2+span {
        margin-top: 10px;
    }

    .team-listing li {
        max-width: 84px;
        justify-content: center;
        margin-right: 18px;
    }

    .team-listing li figure {
        height: 60px;
        width: 60px;
    }

    .team-listing li span {
        font-size: 12px;
        margin-top: 10px;
    }

    .team-listing {
        margin: 22px 0 0;
    }

    .cf-life-section {
        padding: 20px 0;
    }

    .cf-life-image-wrapper {
        margin: 20px 0 0;
    }

    .cf-life-wrapper .image-group figure {
        height: 120px;
    }

    .cf-life-wrapper {
        max-width: 100%;
    }

    .cf-life-section .about-us-info {
        margin: 10px 0 0;
    }

    .investors-section {
        padding: 20px 0;
    }

    .media-section {
        padding: 20px 0 0;
    }

    .media-logo-listing li {
        max-width: 33.33%;
        padding: 20px 10px;
    }

    .accolades-section {
        padding: 20px 0 30px;
    }

    .about-us-info p {
        font-size: 12px;
    }

    .coupon-code-listing li {
        max-width: 50%;
        padding: 20px 5px;
    }

    .coupon-code-listing li figure {
        padding: 11px 20px;
    }

    .coupon-code-section {
        padding: 10px 0;
    }

    .career-banner {
        min-height: 210px;
        padding: 15px 0;
    }

    .career-banner-wrapper {
        padding-left: 0;
        justify-content: center;
        text-align: center;
    }

    .career-banner .container {
        align-items: flex-end;
        align-content: flex-end;
    }

    .career-banner-wrapper h1 {
        margin-bottom: 5px;
    }

    .career-banner-wrapper .explore-btn {
        min-width: 115px;
        padding: 8px 10px;
        font-size: 12px;
    }

    .career-page h2 {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .career-page .subtitle {
        font-size: 14px;
    }

    .our-believe-section {
        padding: 30px 0;
    }

    .career-page .believe-info p {
        font-size: 12px;
        line-height: 18px;
    }

    .career-page .cf-life-image-wrapper {
        height: auto;
    }

    .cf-life-image-wrapper .cf-life-col {
        max-width: 100% !important;
        height: auto;
    }

    .cf-life-image-wrapper .cf-life-col-wrapper {
        flex: inherit !important;
    }

    .cf-life-image-wrapper .cf-life-col .cf-life-col-inner {
        height: auto !important;
    }

    .cf-life-image-wrapper .cf-life-col .cf-life-col-inner .cf-life-col-inner-wrapper {
        max-width: 100% !important;
    }

    .cf-life-image-wrapper .cf-life-col figure {
        height: 200px;
    }

    .career-page .cf-life-image-wrapper {
        height: auto;
        align-content: flex-start;
        align-items: flex-start;
    }

    .cf-life-image-wrapper .cf-life-col2 .cf-life-col-inner .cf-life-col-inner-wrapper:nth-child(1) {
        flex-direction: row;
    }

    .cf-life-image-wrapper .cf-life-col2 .cf-life-col-inner .cf-life-col-inner-wrapper:nth-child(1) .cf-life-col-wrapper {
        max-width: 50%;
    }

    .cf-life-image-wrapper .cf-life-col2 .cf-life-col-inner .cf-life-col-inner-wrapper:nth-child(1) .cf-life-col-wrapper figure {
        height: 140px;
    }

    .our-location-section {
        padding: 10px 0 20px;
    }

    .location-listing {
        margin: -9px -10px;
    }

    .location-listing li {
        padding: 9px 10px;
    }

    .location-listing li span {
        padding: 4px 5px;
        font-size: 12px;
    }

    .referral-code-faq.vacancies-section {
        padding: 30px 0;
    }

    .referral-code-faq.vacancies-section .openings-listing {
        padding-left: 10px;
    }

    .referral-code-faq.vacancies-section .accordion-tab .accordion-content .accordion-body {
        padding: 5px 10px 15px;
    }

    .openings-listing li .job-description {
        padding-left: 12px;
    }

    .vacancies-wrapper .accordion {
        margin: 0 0 15px;
    }

    /*.product-options-wrapper .order-summary-box .product-img {max-width: 100px;}
	.product-options-wrapper .order-summary-box{align-content: flex-start;align-items: flex-start;}
	.product-options-wrapper .order-summary-box .product-desc{max-width: calc(100% - 100px);}
	.product-options-wrapper .product-img .slick-arrow{width: 20px;height: 20px;line-height: 20px;top: inherit;bottom: 20px;}
	.product-options-wrapper .product-img .slick-arrow i{background-size: 5px;height: 10px;width: 5px;}
	.product-options-wrapper .product-img .slick-arrow.next-arrow .icn-right-arrow-red{left: 0;}
	.product-options-wrapper .content{padding: 30px 15px;}*/
    .grid-sizer,
    .grid-item {
        width: 50%;
    }

    .feedback-text {
        padding: 10px 10px 20px;
    }

    .grid {
        margin: -10px -6px;
    }

    .grid-item {
        padding: 10px 6px;
    }

    .feedback-box:hover {
        border-radius: 6px;
    }

    .feedback-box figure img {
        border-radius: 6px;
    }

    .feedback-text p {
        font-size: 12px;
        line-height: 18px;
    }

    .feedback-text h3 {
        font-size: 12px;
    }

    .feedback-text h3 span {
        font-size: 10px;
    }

    .border-center::after {
        width: 20px;
    }

    .customer-feedback-heading .innerpage-heading-wrapper {
        padding: 10px 0;
        box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.11);
    }

    .customer-feedback-section {
        padding: 25px 0 20px;
    }

    .referral-terms-banner-wrapper .referral-code-wrapper {
        max-width: 100%;
        padding-left: 0;
    }

    .referral-terms-banner-wrapper figure {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .referral-terms-banner {
        padding: 20px 0;
    }

    .referral-terms-banner .referral-code-wrapper h1 {
        font-size: 16px;
        line-height: 22px;
        max-width: 62%;
    }

    .referral-terms-banner .referral-code-wrapper .get-coins {
        font-size: 16px;
    }

    .referral-terms-banner .referral-code-wrapper .explore-btn {
        min-width: 111px;
    }

    .referral-code-process-section .referral-code-process-listing li {
        max-width: 50%;
    }

    .referral-code-faq-section .referral-code-faq,
    .referral-code-process-section .referral-code-process-block {
        text-align: left;
        justify-content: flex-start;
    }

    .referral-code-process-section {
        padding: 30px 0;
    }

    .referral-terms-page h2::after {
        left: 0;
        right: inherit;
    }

    .referral-terms-page h2 {
        font-size: 16px;
        padding-bottom: 8px;
    }

    .referral-code-faq-section {
        padding: 20px 0;
    }
}