/*fonts*/
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat-Light.ttf') format('truetype'),
        url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
        url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.eot');
    src: url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
        url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'),
        url('../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.eot');
    src: url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat-Thin.woff') format('woff'),
        url('../fonts/Montserrat-Thin.ttf') format('truetype'),
        url('../fonts/Montserrat-Thin.svg#Montserrat-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.eot');
    src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
        url('../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.eot');
    src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat-Black.woff') format('woff'),
        url('../fonts/Montserrat-Black.ttf') format('truetype'),
        url('../fonts/Montserrat-Black.svg#Montserrat-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Alt Rg';
    src: url('../fonts/ProximaNovaA-Bold.eot');
    src: url('../fonts/ProximaNovaA-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNovaA-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNovaA-Bold.woff') format('woff'),
        url('../fonts/ProximaNovaA-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNovaA-Bold.svg#ProximaNovaA-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('../fonts/ProximaNova-Black.eot');
    src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Black.woff2') format('woff2'),
        url('../fonts/ProximaNova-Black.woff') format('woff'),
        url('../fonts/ProximaNova-Black.ttf') format('truetype'),
        url('../fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('../fonts/ProximaNovaT-Thin.eot');
    src: url('../fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNovaT-Thin.woff2') format('woff2'),
        url('../fonts/ProximaNovaT-Thin.woff') format('woff'),
        url('../fonts/ProximaNovaT-Thin.ttf') format('truetype'),
        url('../fonts/ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Alt Th';
    src: url('../fonts/ProximaNovaA-Thin.eot');
    src: url('../fonts/ProximaNovaA-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNovaA-Thin.woff2') format('woff2'),
        url('../fonts/ProximaNovaA-Thin.woff') format('woff'),
        url('../fonts/ProximaNovaA-Thin.ttf') format('truetype'),
        url('../fonts/ProximaNovaA-Thin.svg#ProximaNovaA-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('../fonts/ProximaNova-Extrabld.eot');
    src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Extrabld.woff2') format('woff2'),
        url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
        url('../fonts/ProximaNova-Extrabld.ttf') format('truetype'),
        url('../fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Alt Lt';
    src: url('../fonts/ProximaNovaA-Light.eot');
    src: url('../fonts/ProximaNovaA-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNovaA-Light.woff2') format('woff2'),
        url('../fonts/ProximaNovaA-Light.woff') format('woff'),
        url('../fonts/ProximaNovaA-Light.ttf') format('truetype'),
        url('../fonts/ProximaNovaA-Light.svg#ProximaNovaA-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirLTStd-Roman.woff') format('woff'), url('../fonts/AvenirLTStd-Roman.ttf')  format('truetype'), url('../fonts/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url('../fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirLTStd-Medium.woff') format('woff'), url('../fonts/AvenirLTStd-Medium.ttf')  format('truetype'), url('../fonts/AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Book';
  src: url('../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirLTStd-Book.woff') format('woff'), url('../fonts/AvenirLTStd-Book.ttf')  format('truetype'), url('../fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.eot');
    src: url('../fonts/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nunito-Bold.woff2') format('woff2'),
        url('../fonts/Nunito-Bold.woff') format('woff'),
        url('../fonts/Nunito-Bold.ttf') format('truetype'),
        url('../fonts/Nunito-Bold.svg#Nunito-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-ExtraLight.eot');
    src: url('../fonts/Nunito-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nunito-ExtraLight.woff2') format('woff2'),
        url('../fonts/Nunito-ExtraLight.woff') format('woff'),
        url('../fonts/Nunito-ExtraLight.ttf') format('truetype'),
        url('../fonts/Nunito-ExtraLight.svg#Nunito-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Light.eot');
    src: url('../fonts/Nunito-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nunito-Light.woff2') format('woff2'),
        url('../fonts/Nunito-Light.woff') format('woff'),
        url('../fonts/Nunito-Light.ttf') format('truetype'),
        url('../fonts/Nunito-Light.svg#Nunito-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-SemiBold.eot');
    src: url('../fonts/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nunito-SemiBold.woff2') format('woff2'),
        url('../fonts/Nunito-SemiBold.woff') format('woff'),
        url('../fonts/Nunito-SemiBold.ttf') format('truetype'),
        url('../fonts/Nunito-SemiBold.svg#Nunito-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-ExtraBold.eot');
    src: url('../fonts/Nunito-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nunito-ExtraBold.woff2') format('woff2'),
        url('../fonts/Nunito-ExtraBold.woff') format('woff'),
        url('../fonts/Nunito-ExtraBold.ttf') format('truetype'),
        url('../fonts/Nunito-ExtraBold.svg#Nunito-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Black.eot');
    src: url('../fonts/Nunito-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nunito-Black.woff2') format('woff2'),
        url('../fonts/Nunito-Black.woff') format('woff'),
        url('../fonts/Nunito-Black.ttf') format('truetype'),
        url('../fonts/Nunito-Black.svg#Nunito-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.eot');
    src: url('../fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nunito-Regular.woff2') format('woff2'),
        url('../fonts/Nunito-Regular.woff') format('woff'),
        url('../fonts/Nunito-Regular.ttf') format('truetype'),
        url('../fonts/Nunito-Regular.svg#Nunito-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/*End of fonts*/
/*reset css*/
*, *::before, *::after{margin:0;padding: 0;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;outline: none;}
html {text-size-adjust: none;-ms-text-size-adjust: none;-webkit-text-size-adjust: none;-o-text-size-adjust: none;}
body {/*font-family: 'Montserrat';font-family: 'Proxima Nova Rg';font-family: 'AvenirLTStd-Roman';*/font-family: 'Nunito';font-size:16px;color:#525f62;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: normal;}
a,h1,h2,h3,h4,h5,h6,p,div,img {text-decoration:none; padding:0px; margin:0px;}
img {border:none; outline:none;max-width: 100%;display: inline-block;vertical-align: middle;}
ul {list-style-type: none;margin-bottom: 0px;}
a{color: #000;}
a:hover, a:focus {text-decoration: none;}
input,textarea,select,input[type="text"], input[type="email"], input[type="button"], input[type="submit"] {-webkit-appearance: none;-moz-appearance: none;border-radius: 0px;-ms-appearance: none;-o-appearance: none;appearance: none;}
textarea{resize: none;}

::-moz-selection {color: #fff;background: #ef534e;}
::selection {color: #fff;background: #ef534e;}
/*End of reset css*/

/*common css*/
body, html {height: 100%;}
body.overlay::before {content: '';position: fixed;top: 0;right: 0;bottom: 0;left: 0;background-color: rgba(29,29,29,0.62);z-index: 99;}
html.i-amphtml-singledoc>body.scroll-hide, body.scroll-hide {overflow: hidden !important;}
.site {display: flex;width: 100%;flex-wrap: wrap;padding: 96px 0 387px;min-height: 100%;align-items: flex-start;align-content: flex-start;position: relative;}
header, .navigation-part, .navigation-wrapper > ul > li > a, .breadcrumbs-listing > li > a, .navigation-wrapper > ul > li > a::after, .footer-links a, .radio-grp input[type="radio"] + label::before, .radio-grp input[type="radio"] + label::after, .accordion-tab .accordion-title .icn-arrow-bottom, .checkbox-grp input[type="checkbox"] + label::before, .checkbox-grp input[type="checkbox"] + label::after, .items-count, .location-part .close, .city-lisitng .city-box, .city-lisitng .city-box .city-name, body.overlay::before, .mobile-navigation, .duration-dropdown input[type="radio"] + label::before, .duration-dropdown input[type="radio"] + label::after, .product-slider .slider-nav .slide amp-img, .testimonial-slider .slide, .product-slider .slider-nav .slide, .main-features-listing .features-box, .main-features-listing .features-box span, .services-section ul.tabs li, .services-section ul.tabs li span, .home-testimonial .home-testimonial-slider .slide, header .search-bar, .product-single, .items-included-box
{transition:all 0.4s ease-in-out;-webkit-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;}

.container{max-width: 1256px;width: 100%;margin: 0 auto;padding: 0 15px;}

.position-relative{position: relative;}
.w-100{width: 100%;}
.w-auto{width: auto;}
.h-100{height: 100%;}

.d-flex{display: flex;}
.d-none{display: none !important;}
.flex-full{display: flex;width: 100%;flex-wrap: wrap;}

.flex-row {-ms-flex-direction: row; flex-direction: row; }
.flex-row-reverse {-ms-flex-direction: row-reverse; flex-direction: row-reverse; }

.flex-column {-ms-flex-direction: column; flex-direction: column; }
.flex-column-reverse {-ms-flex-direction: column-reverse; flex-direction: column-reverse; }

.flex-nowrap {-ms-flex-wrap: nowrap; flex-wrap: nowrap; }
.flex-wrap {-ms-flex-wrap: wrap; flex-wrap: wrap; }
.flex-wrap-reverse {-ms-flex-wrap: wrap-reverse; flex-wrap: wrap-reverse; }

.flex-fill {-ms-flex: 1 1 auto; flex: 1 1 auto; }
.flex-grow-0 {-ms-flex-positive: 0; flex-grow: 0; }
.flex-grow-1 {-ms-flex-positive: 1; flex-grow: 1; }
.justify-content-start {-ms-flex-pack: start; justify-content: flex-start; }
.justify-content-end {-ms-flex-pack: end; justify-content: flex-end; }
.justify-content-center {-ms-flex-pack: center; justify-content: center; }
.justify-content-between {-ms-flex-pack: justify; justify-content: space-between; }
.justify-content-around {-ms-flex-pack: distribute; justify-content: space-around; }

.align-items-start {-ms-flex-align: start; align-items: flex-start; }
.align-items-end {-ms-flex-align: end; align-items: flex-end; }
.align-items-center {-ms-flex-align: center; align-items: center; }
.align-items-baseline {-ms-flex-align: baseline; align-items: baseline; }
.align-items-stretch {-ms-flex-align: stretch; align-items: stretch; }

.align-content-start {-ms-flex-line-pack: start; align-content: flex-start; }
.align-content-end {-ms-flex-line-pack: end; align-content: flex-end; }
.align-content-center {-ms-flex-line-pack: center; align-content: center; }
.align-content-between {-ms-flex-line-pack: justify; align-content: space-between; }
.align-content-around {-ms-flex-line-pack: distribute; align-content: space-around; }
.align-content-stretch {-ms-flex-line-pack: stretch; align-content: stretch; }

.text-uppercase{text-transform: uppercase;}
.text-lowercase{text-transform: lowercase;}
.text-capitalize{text-transform: capitalize;}

.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}

.icn{background-repeat: no-repeat;background-size: contain;background-position: center;background-color: #c7c7c7;}
.bg-img{background-repeat: no-repeat;background-size: cover;background-position: center;background-color: #c7c7c7;}
.icn-arrow-bottom {width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #010101; display: inline-flex; margin-left: 7px; }
.icn-arrow-left {width: 0; height: 0; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-right: 5px solid #2d6d9a; display: inline-flex; margin-left: 7px; }
.icn-arrow-right {width: 0; height: 0; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid #2d6d9a; display: inline-flex; margin-left: 7px; }
.icn-map{background-image: url(../images/icn-map.svg);background-color: transparent;}
.icn-wishlist{background-image: url(../images/icn-wishlist.svg);background-color: transparent;}
.icn-search{background-image: url(../images/icn-search.svg);background-color: transparent;}
.icn-cart{background-image: url(../images/icn-cart.svg);background-color: transparent;}
.icn-cart-white{background-image: url(../images/icn-cart-white.svg);background-color: transparent;}
.icn-profile{background-image: url(../images/icn-profile.svg);background-color: transparent;}
.icn-profile-white{background-image: url(../images/icn-profile-white.svg);background-color: transparent;}
.icn-arrow-up-gray{background-image: url(../images/icn-arrow-up-gray.svg);background-color: transparent;}
.icn-close-blue{background-image: url(../images/icn-close-blue.svg);background-color: transparent;}
.icn-wishlist-fill-gray{background-image: url(../images/icn-wishlist-fill-gray.svg);background-color: transparent;}
.icn-close-dark{background-image: url(../images/icn-close-dark.svg);background-color: transparent;}
.icn-close-black{background-image: url(../images/icn-close-black.svg);background-color: transparent;}
.icn-phone-white{background-image: url(../images/icn-phone-white.svg);background-color: transparent;}
.icn-email-white{background-image: url(../images/icn-email-white.svg);background-color: transparent;}
.icn-left-arrow-big-red{background-image: url(../images/icn-left-arrow-big-red.svg);}
.icn-right-arrow-big-red{background-image: url(../images/icn-right-arrow-big-red.svg);}
.icn-left-arrow-red{background-image: url(../images/icn-left-arrow-red.svg);}
.icn-right-arrow-red{background-image: url(../images/icn-right-arrow-red.svg);}


/*End of common css*/

/*typography*/
h2{font-size: 30px;color: #000;font-weight: 600;}
h3{font-size: 16px;color: #000;font-weight: 500;}
h4{font-size: 14px;color: #36454f;font-weight: 500;}
b, strong{font-weight: 700;}
/*End of typography*/

/*header*/
header {position: fixed;top: 0;background-color: #fff;z-index: 9999;}
.logo-part{padding: 10px 0 11px;}
.header-location .location {font-size: 12px;color: #212121;cursor: pointer;font-weight: 600;}
.header-location .icn-map{width: 14px;height: 18px;margin-right: 5px;}
.header-location .arrow-bottom {width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #010101; display: inline-flex; margin-left: 7px; }
.header-icons {position: relative;}
.header-icons-listing > li {display: inline-flex; width: auto; flex-wrap: wrap; align-items: center;margin-right: 30px;}
.header-icons-listing > li:last-child{margin-right: 0;}
.header-icons-listing > li > a {display: inline-flex; width: auto; flex-wrap: wrap; align-items: center; }
.header-icons-listing > li > a .icn {width: 20px; height: 20px; }
.header-icons-listing > li > a .icn.icn-search {width: 16px;height: 16px;}
header .search-bar {position: absolute;right: 150px;top: -10px;opacity: 0;visibility: hidden;}
header .search-bar input{border: 1px solid #ef534e;width: 300px;height: 37px;padding: 10px 15px;color: #36454f;font-weight: 500;border-radius: 8px;}
header .search-bar.show{opacity: 1;visibility: visible;}
header .search-bar .icn {width: 12px;height: 12px;display: inline-block;position: absolute;top: 12px;right: 10px;cursor: pointer;}

.navigation-part {padding: 4px 0;box-shadow: 0 2px 19px 0 rgba(220, 220, 220, 0.6);}
.navigation-wrapper {padding-right: 55px;}
.navigation-wrapper > ul > li {display: inline-flex; width: auto; margin-right: 45px; position: relative; align-items: center; }
.navigation-wrapper > ul > li:last-child{margin-right: 0;}
.navigation-wrapper > ul > li:nth-child(3)::after {content: ''; width: 1px; height: 16px; background-color: #979797; opacity: 0.28; margin-left: 45px; }
.navigation-wrapper > ul > li > a {font-size: 13px; font-weight: 500; color: #000; padding: 5px 0; line-height: 17px; position: relative;}
.navigation-wrapper > ul > li > a:hover{color: #ef534e;}

header.sticky {box-shadow: 0 0 8px rgba(0,0,0,0.2);}
header.sticky .navigation-part {box-shadow: none;}

/*location part*/
.location-part {position: fixed;top: 0;z-index: 9999;background-color: #fff;padding: 30px 0 53px;display: none;max-height: 100%;overflow-y: auto;}
.location-part .close {display: inline-flex; width: auto; align-items: center; position: absolute; right: 0; top: 5px; cursor: pointer;}
.location-part .close:hover{opacity: 0.7;}
.location-part .close .icn-close-dark {width: 15px; height: 15px; }
.location-part h2 {color: #2d6d9a; font-size: 24px; display: inline-flex; align-items: center;margin-bottom: 18px;}
.location-part h2 .icn-map {width: 15px; height: 20px; margin-right: 10px; }
.city-lisitng {margin-left: -5px;margin-right: -5px;margin-top: -10px;margin-bottom: -10px width: auto;}
.city-lisitng li {display: inline-flex; flex-wrap: wrap; flex: 0 0 12.5%; padding: 10px 5px;}
.city-lisitng .city-box {background-color: #fff;box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.05);border-radius: 8px;justify-content: center;text-align: center;padding: 19px 10px;}
.city-lisitng .city-box.selected{box-shadow: 0 26px 33px 0 rgba(78, 91, 95, 0.3);}
.city-lisitng .city-box.selected .city-name{color: #ef534e;font-weight: 700;}
.city-lisitng .city-box .city-name {width: 100%;font-size: 14px;color: #000;}
.city-lisitng .city-box .icn {width: 70px;height: 70px;margin-bottom: 15px;}
/*End of location part*/

/*mobile navigation*/
.mobile-navigation, .mobile-logo-part{display: none;}
/*logo part*/
.mobile-logo-part {padding: 12px 10px 13px;}
.mobile-logo-part .header-location {margin-right: 15px;}
.mobile-logo-part .header-location .icn.icn-map {display: none;}
.mobile-logo-part .header-location .location{color: #fff;font-size: 12px;}
.mobile-logo-part .header-location .arrow-bottom{border-top-color: #fff;margin-top: 1px;}
.menu-mobile {width: 14px;height: 23px;position: relative;display: none;cursor: pointer;margin-right: 15px;}
.menu-mobile span {position: absolute;height:1px;background-color: #fff;top:11px;right: 0;left: 0;}
.menu-mobile span:before {position: absolute;content: "";height: 1px;top:-4px;right: 0;left: 0;background-color: #fff;}
.menu-mobile span:after {position: absolute;content: "";height: 1px;top:4px;right: 0;left: 0;background-color: #fff;}
.menu-mobile span:before, .menu-mobile span:after {transition-property: top,transform;-webkit-transition-property:top,-webkit-transform;}
.menu-mobile span:before, .menu-mobile span:after {transition-duration: 0.3s,0.3s;transition-delay: 0.3s, 0s;-webkit-transition-duration: 0.3s,0.3s;-webkit-transition-delay: 0.3s, 0s;}
.header-menu li.open > .caret::before{transform: rotate(225deg);top: 13px;right: 13px;}
.mobile-page-heading h2 {font-size: 14px;font-weight: 400;color: #fff;max-width: 220px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}

.mobile-navigation {position: fixed;top: 0;left: -100%;right: 0;bottom: 0;z-index: 9999;overflow-y: auto;}
.mobile-navigation-wrapper {background-color: rgba(255,255,255,0.9);z-index: -1;padding: 70px 15px 20px;min-height: 100vh;align-items: flex-start;align-content: flex-start;}
/*.mobile-navigation::before {content: '';position: absolute;top: 0;right: 0;bottom: 0;left: 0;background-color: rgba(255,255,255,0.9);z-index: -1;}*/
.mobile-navigation-part > li {display: flex;width: 100%;flex-wrap: wrap;align-items: center;margin-bottom: 17px;position: relative;}
.mobile-navigation-part > li:last-child{margin-bottom: 0;}
.mobile-navigation-part > li .icn {width: 18px;height: 18px;margin-right: 15px;}
.mobile-navigation-part > li > a {font-size: 14px;font-weight: 500;color: #36454f;}
.mobile-navigation-part > li .icn-arrow-bottom {position: absolute;right: 5px;top: 6px;}
.mobile-navigation-part {position: relative;}
.mobile-navigation-part::after {content: '';width: 173px;height: 1px;background-color: rgba(0,0,0,0.1);bottom: 0;left: 0;margin: 15px 0 15px;}
.mobile-navigation-part:last-child::after{display: none;}
.mobile-navigation .close {display: inline-flex;width: auto;position: absolute;top: 20px;right: 20px;}
.mobile-navigation .close .icn-close-black {width: 10px;height: 10px;}
.mobile-navigation.active{left: 0;}
.sub-menu {padding-left: 33px;margin: 25px 0 10px;display: none;}
.sub-menu li {display: inline-flex;width: 100%;flex-wrap: wrap;margin-bottom: 15px;}
.sub-menu li:last-child{margin-bottom: 0;}
.sub-menu li a {font-size: 14px;color: #36454f;}

/*End of mobile navigation*/

/*End of header*/

/*mobile filterbar*/
.mobile-filterbar{display: none;position: fixed;bottom: 0;z-index: 99;}
.mobile-filterbar-wrapper {background-color: #fff;box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.12);position: relative;}
.mobile-filterbar-wrapper::after {content: ''; width: 1px; position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto; background-color: #ef534e; }
.mobile-filterbar-wrapper span {width: 50%; text-align: center; padding: 8px 10px; font-size: 12px; font-weight: 500; color: #000; }
/*End of mobile filterbar*/
.mobile-filterbox {position: fixed;top: 0;right: 0;bottom: 0;left: 0;background-color: #fff;z-index: 9999;display: none;}
.mobile-filterbox-wrapper {padding: 28px 20px;overflow-y: auto;}
.mobile-filterbox .close {display: inline-flex; width: auto; align-items: center; position: absolute; right: 20px; top: 42px; cursor: pointer; }
.mobile-filterbox .close .icn-close-dark {width: 12px; height: 12px; }
.mobile-filterbox ul.tabs{margin: 0px;padding: 0px;list-style: none;margin-left: -12px;margin-right: -12px;}
.mobile-filterbox ul.tabs li{color: #000;display: inline-block;cursor: pointer;font-size: 16px;font-weight: 400;position: relative;padding: 9px 12px;}
.mobile-filterbox ul.tabs li::before {content: ''; position: absolute; bottom: 0; left: 0; right: 0; width: 43px; height: 3px; background-color: transparent; border-radius: 1px; margin: auto; }
.mobile-filterbox ul.tabs li.current::before{background-color: #ef534e;}
.mobile-filterbox ul.tabs li::after {content: ''; position: absolute; right: 0; width: 1px; height: 14px; background-color: #e0e0e0; border-radius: 1px; margin: auto; top: 0; bottom: 0; }
.mobile-filterbox ul.tabs li:last-child::after{display: none;}
.mobile-filterbox ul.tabs li.current{color: #ef534e;font-weight: 600;}
.mobile-filterbox .tab-content{display: none;margin-top: 20px;}
.mobile-filterbox .tab-content.current {display: flex;width: 100%;flex-wrap: wrap;}
.mobile-filterbox .category-box {border: 0;padding: 0;margin-top: 20px;padding-left: 9px;padding-bottom: 30px;}
.mobile-filterbox .reset-btn {width: 100%; position: fixed; bottom: 0; left: 0; right: 0; margin: auto; background-color: #fff; text-align: center; border-top: 1px solid #cfcfcf; font-size: 12px; font-weight: 500; color: #000; padding: 7px 10px; }
.sort-listing li {display: inline-flex;width: 100%;flex-wrap: wrap;}
.sort-listing li a {width: 100%;border-bottom: 1px solid #ccc;padding: 10px 0;font-size: 14px;font-weight: 500;}

/*mobile category*/
.mobile-category {position: fixed;z-index: 99;top: 50px;display: none;background-color: #fff;}
.mobile-category-slider {display: inline-block;width: 100%;box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.11);padding: 3px 16px;background-color: #fff;}
.mobile-category-slider .slide.slick-slide{border-right: 1px solid transparent}
.mobile-category-slider .slide.slick-slide.slick-active {border-right-color: #e1e1e1;}
.mobile-category-slider .slide.slick-slide.slick-active + .slick-active + .slick-active {border-right-color: transparent;}
.mobile-category-content .icn {width: 30px;height: 30px;margin-bottom: 5px;}
.mobile-category-content span {width: 100%;font-size: 10px;text-align: center;font-weight: 600;color: #36454f;}
.mobile-category-slider .slick-arrow {position: absolute;top: 50%;transform: translateY(-50%);}
.mobile-category-slider .slick-arrow.prev-arrow {left: 6px;}
.mobile-category-slider .slick-arrow.next-arrow {right: 6px;}
.mobile-category-slider .slick-arrow.slick-disabled{display: none !important;}
.mobile-category-slider .icn-arrow-left, .mobile-category-slider .icn-arrow-right {margin-left: 0;}
/*End of mobile category*/

/*footer*/
footer {background-color: #f8f8f8;position: absolute;bottom: 0;}
.footer-main {padding: 45px 0 30px;}
.footer-widget {flex: 0 0 170px;align-items: flex-start;align-content: flex-start;}
.footer-widget h4 {width: 100%;margin-bottom: 20px;}
.footer-links > li{width: 100%;margin-bottom: 14px;display: inline-flex;flex-wrap: wrap;}
.footer-links > li:last-child{margin-bottom: 0;}
.footer-links a {font-size: 12px;color: #36454f;}
.footer-links a:hover{color: #ef534e;}
.social-links {margin-top: 24px;}
.social-links > li {display: inline-flex;width: 25px;height: 25px;flex-wrap: wrap;align-items: center;margin-right: 6px;}
.social-links > li:last-child{margin-right: 0;}
.social-links > li > a {width: 100%;height: 100%;border: 1px solid #5c5c5c;border-radius: 50%;display: inline-flex;align-items: center;}
.footer-contact .icn {width: 17px;height: 17px;margin-right: 8px;}
.footer-copyright-wrapper {border-top: 1px solid rgba(0,0,0,0.08);padding: 13px 0 40px;}
.footer-copyright-wrapper span {font-size: 10px;color: #36454f;font-weight: 400;}
.mobile-footer{display: none;}
.mobile-footer .footer-links {justify-content: center;align-items: center;}
.mobile-footer .footer-links > li{margin-bottom: 0;width: auto;margin-right: 18px;padding-right:18px;position: relative;align-items: center;padding-top: 2px;padding-bottom: 3px;}
.mobile-footer .footer-links > li::after{content: '';width: 1px;height: 18px;background-color: rgba(255,255,255,0.21);position: absolute;right: 0;top: 0;}
.mobile-footer .footer-links > li:last-child{margin-right: 0;padding-right: 0;}
.mobile-footer .footer-links > li:last-child::after{display: none;}
.mobile-footer .footer-links a {font-size: 12px;color: #fff;font-weight: 500;margin-top: 1px;}
.mobile-footer .footer-contact .icn.icn.icn-phone-white {width: 11px;height: 12px;}
.mobile-footer .footer-contact .icn.icn-email-white {width: 14px;height: 16px;}
.mobile-footer .footer-contact .icn{margin-right: 5px;}
/*End of footer*/

/*----------------------------
9 Product Listing page
----------------------------*/

/*breadcrubs*/
.breadcrumbs {margin: 20px 0 10px;}
.breadcrumbs-listing > li {margin-right: 15px;position: relative;display: inline-flex;align-items: center;}
.breadcrumbs-listing > li::after {content: ''; width: 0; height: 0; border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-left: 4px solid rgba(0,0,0,0.22); position: absolute; right: -10px; }
.breadcrumbs-listing > li:last-child{margin-right: 0;}
.breadcrumbs-listing > li:last-child::after{display: none;}
.breadcrumbs-listing > li > a {font-size: 11px;font-weight: 600;}
.breadcrumbs-listing > li > a:hover{opacity: 0.7;}
.breadcrumbs-listing > li.root-link > a {color: #36454f;}
.breadcrumbs-listing > li.child-link > a {color: #000000;}
.breadcrumbs-listing > li.current-link > a {color: #ef534e;pointer-events: none;}
/*End of breadcrubs*/

/*inner page banner*/
.innerpage-description {max-width: 626px;}
.innerpage-heading h1 {font-size: 16px;font-weight: 500;color: #2d6d9a;display: flex;flex-wrap: wrap;align-items: center;text-transform: capitalize;}
.innerpage-heading h1 .icn-arrow-up-gray {width: 12px;height: 12px;margin-left: 8px;cursor: pointer;}
.innerpage-text {width: 100%;font-size: 12px;line-height: 18px;color: #36454f;margin-top: 8px;padding: 0 22px;display: none;}
.innerpage-heading-wrapper {padding: 20px 0;z-index: 1;}
.innerpage-heading-wrapper::after {content: ''; display: inline-flex; width: 645px;max-width:100%; height: auto; background-color: rgba(255,255,255,0.9); position: absolute; top: 0; bottom: 0; transform: skewX(25deg); z-index: -1; }
/* End of inner page banner*/

/*product listing main*/
.product-listing-main {padding: 24px 0 50px;}
/*product filter*/
.filter-area {max-width: 203px;}
.filter-box {margin-bottom: 40px;}
.filter-box:last-child{margin-bottom: 0;}
.filter-box h2 {font-size: 14px;padding: 0 20px;margin-bottom: 9px;position: relative;width: 100%;}
.category-box {border: 1px solid #eaeaea;padding: 20px 12px 20px 20px;}
.category-box .accordion-title {color: #36454f;}
.category-box .radio-grp {margin-bottom: 7px;width: 100%;}
.radio-grp input[type="radio"]{position: absolute;left: -9999px;}
.radio-grp input[type="radio"] + label {position: relative;font-size: 12px;font-weight: 400;display: inline-block;padding-left: 26px;text-transform: capitalize;color: #36454f;cursor: pointer;}
.radio-grp input[type="radio"] + label::before {content: ''; width: 14px; height: 14px; position: absolute; display: inline-block; border: 2px solid #eeedef; border-radius: 50%; left: 0; top: 2px; }
.radio-grp input[type="radio"] + label:after{content: ''; width: 8px; height: 8px; position: absolute; display: inline-block; background-color: #ef534e; border-radius: 50%; left: 3px; top: 5px; opacity: 0; }
.radio-grp input[type="radio"]:checked + label::before{border-color: #ef534e;}
.radio-grp input[type="radio"]:checked + label::after{opacity: 1;}
/*accordion*/
.accordion {display: inline-block;width: 100%;text-align: left;}
.accordion-tab {display: flex;width: 100%;flex-wrap: wrap; margin-bottom: 0; background: none no-repeat scroll right center; overflow: hidden;position: relative;margin-bottom: 25px;}
.accordion-tab:last-child{margin-bottom: 0;}
.accordion-tab.active::after{opacity: 1;transform: rotate(0);}
.accordion-tab.active::before{opacity: 0;}
.accordion-content {display: none;margin-top: 13px;}
.accordion-tab .accordion-title{cursor: pointer;padding-right: 20px;position: relative;width: 100%;text-transform: capitalize;font-size: 13px;}
.accordion-tab .accordion-title .icn-arrow-bottom{position: absolute;right: 0;top: 7px;margin-left: 0;background-color: transparent;}
.accordion-tab.active .accordion-title .icn-arrow-bottom {transform: rotate(-180deg);border-top-color: #767676;}
/*End of accordion*/
.filter-block h2 {padding-right: 42px;}
.filter-block .reset-small {font-size: 12px;color: #36454f;font-weight: 400;position: absolute;top: 3px;right: 5px;}
.category-box .checkbox-grp{width: 100%;margin-bottom: 7px;}
.category-box .checkbox-grp:last-child{margin-bottom: 0;}
.checkbox-grp input[type="checkbox"]{position: absolute;left: -9999px;}
.checkbox-grp input[type="checkbox"] + label {position: relative;font-size: 12px;font-weight: 400;display: inline-block;padding-left: 30px;text-transform: capitalize;color: #36454f;cursor: pointer;}
.checkbox-grp input[type="checkbox"] + label::before {content: ''; width: 17px; height: 17px; position: absolute; display: inline-block; border: 2px solid #eeedef; border-radius: 2px; left: 0; top: 0; }
.checkbox-grp input[type="checkbox"] + label::after {content: ''; width: 7px; height: 12px; position: absolute; display: inline-block; left: 5px; top: 1px; border-top: 2px solid #fff; border-left: 2px solid #fff; transform: rotate(221deg); opacity: 0; }
.checkbox-grp input[type="checkbox"]:checked + label::before {background-color: #ef534e;border-color: transparent;}
.checkbox-grp input[type="checkbox"]:checked + label::after{opacity: 1;}
/*End of product filter*/

/*product area*/
.product-area {max-width: calc(100% - 203px);padding-left: 41px;display: block;}
.product-topbar {border-bottom: 1px solid #ebebeb;padding-bottom: 20px;margin-bottom: 25px;}
.sort-by {max-width: 210px;}
.sort-by label {font-size: 12px;color: #36454f;margin-right: 4px;}
.sort-by > span {font-size: 12px;color: #36454f;font-weight: 700;cursor: pointer;}
.sort-by > span .icn-arrow-bottom {margin-left: 44px;position: relative;top: -3px;border-top-color: #767676;background-color: transparent;}
.tags-listing {max-width: calc(100% - 210px);}
.tags-listing li {display: inline-flex;width: auto;margin-right: 10px;}
.tags-listing li:last-child{margin-right: 0;}
.tags-listing li .tag {border: 1px solid #2d6d9a;border-radius: 15px;font-size: 11px;text-transform: capitalize;color: #2d6d9a;padding: 4px 10px 4px 13px;position: relative;}
.tags-listing li .tag a {display: inline-flex;width: auto;padding-left: 10px;align-items: center;}
.tags-listing li .tag a .icn.icn-close-blue {width: 9px;height: 9px;}
/*End of product area*/

.product-listing {margin-left: -15px;margin-right: -15px;margin-top: -20px;margin-bottom: -20px;width: auto;}
.product-listing > li {display: flex;width: 100%;flex-wrap: wrap;padding: 20px 15px;max-width: 33.33%;}
.product-single {box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.1);border-radius: 8px;}
.product-single:hover{box-shadow: 0 18px 12px 0 rgba(78, 91, 95, 0.10);}
.product-image {width: 100%;}
.product-image amp-img {width: 100%;position: relative;}
.product-image amp-img img {width: 100%;height: 100%;object-fit: cover;border-top-left-radius: 8px;border-top-right-radius: 8px;}
.new-label {position: absolute;top: 20px;left: 0;background-color: #83b31d;font-size: 10px;font-weight: 600;color: #fff;padding: 5px 6px 5px 6px;line-height: 10px;min-width: 50px;z-index: 1;}
.new-label::after {content: ""; position: absolute; right: 0; bottom: 0; width: 0; height: 0; border-right: 10px solid #ccc; border-top: 10px solid transparent; border-bottom: 10px solid transparent; }
.wishlist {position: absolute;top: 15px;right: 15px;display: inline-flex;z-index: 1;}
.wishlist .icn.icn-wishlist-fill-gray {width: 19px;height: 15px;}
.product-description {padding: 15px 15px 40px;}
.product-description h3 {color: #000;margin-bottom: 10px;width: 100%;font-size: 16px;font-weight: 600;}
.product-description h3 a{color: inherit;}
.product-description .price {width: 100%;color: #000;font-weight: 400;font-size: 14px;position: relative;}
.product-description .price strong{font-weight: 800;}
.product-description .price .rupees-symbol{font-weight: 400;}
.items-count {font-size: 14px;font-weight: 400;cursor: pointer;color: #000;opacity: 1;visibility: visible;}
.items-count:hover{opacity: 0.7;}
.product-description .items-count {position: absolute;right: 0;top: 2px;}
.more-items-expand {padding: 12px 20px;background-color: #f9f9f9;position: absolute;top: calc(100% - 15px);z-index: 2;display: none;}
.items-lisitng{margin-top: 10px;}
.items-lisitng li {display: inline-flex;width: 44px;height: 44px;align-items: center;justify-content: center;margin-right: 10px;margin-bottom: 10px;}
.items-lisitng li:last-child{margin-right: 0;}
.items-lisitng li a{width: 100%;height: 100%;}
.items-lisitng li a img{border-radius: 50%;width: 100%;height: 100%;object-fit: cover;}
/*End of product listing main*/

/*product listing (Combo)*/
.product-listing.combo > li{max-width: 50%;}
.product-listing.combo .product-single{box-shadow: none;align-items: flex-start;align-content: flex-start;border: 1px solid #dedede;}
.product-listing.combo .product-description {padding: 15px 15px 10px;}
.combo .product-description-wrapper {position: relative;padding-bottom: 15px;margin-bottom: 15px;    align-items: flex-start;}
.combo .product-description-wrapper::after {content: '';width: 53%;height: 1px;background-color: #d9d9d9;position: absolute;bottom: 0;left: 0;}
.combo .product-description h3 {max-width: 50%;margin-bottom: 0;min-height: 32px;}
.combo .product-description .price {max-width: 50%;display: flex;justify-content: flex-end;flex-wrap: wrap;margin-top: 2px;}
.combo .product-description .price strong {margin: 0 5px;}
.combo .included-items-block h4 {width: 100%;color: #000;font-size: 12px;}
.combo .included-items-listing {margin-top: 10px;}
.combo .included-items-listing li {display: flex;width: 78px;height: 59px;align-items: center;margin-right: 10px;margin-bottom: 10px;}
.combo .included-items-listing li:last-child{margin-right: 0;}
.combo .included-items-listing li a {display: flex;width: 100%;height: 100%;}
.combo .included-items-listing li a amp-img {width: 100% !important;height: 100% !important;border-radius: 6px;}
/*End of product listing (Combo)*/

/*----------------------------
Product Detail page
----------------------------*/
.product-slider {max-width: 800px;}
.product-slider .slider-for {margin-bottom: 16px;}
.product-slider .slider-for, .product-slider .slider-for amp-img {height: 495px !important;width: 100% !important;}
.product-slider .slider-for amp-img img{object-fit: cover;}
.product-slider .slider-nav .slide {margin-right: 20px;cursor: pointer;width: 100%;}
.product-slider .slider-nav{max-width: 125px;order: 1;}
.product-slider .slider-for {max-width: calc(100% - 145px);order: 2;margin-left: 20px;}
.product-slider .slider-nav .slide amp-img{transform: scaleX(1);}
.product-slider .slider-nav .slide.slick-current.slick-active amp-img{transform: scaleX(1);}
.product-slider .slider-nav .slide.slick-slide amp-img {border: 1px solid transparent;border-right-width: 2px;}
.product-slider .slider-nav .slide.slick-slide.slick-active.slick-current amp-img {border-color: #ef534e;}
.slick-dots {text-align: center;}
.slick-dots li {display: inline-block;width: 8px;height: 8px;margin-right: 12px;}
.slick-dots li:last-child{margin-right: 0;}
.slick-dots li button {display: inline-block;width: 100%;height: 100%;font-size: 0;border: 0;background-color: #f4f4f4;border-radius: 50%;}
.slick-dots li.slick-active button {background-color: #ef534e;}
.product-main-info {max-width: calc(100% - 834px);margin-left: 34px;}
.product-main-info h1 {font-size: 20px;font-weight: 600;width: 100%;color: #2d6d9a;position: relative;display: flex;justify-content: center;align-items: center;margin-bottom: 24px;}
.product-main-info h1 > a {display: inline-flex;margin-left: 20px;}
.product-main-info h1 > a .icn-share {width: 20px;height: 20px;}
.range-slider .irs--round .irs-handle{border-color: #ef534e;}
.range-slider .irs--round .irs-bar, .range-slider .irs--round .irs-from, .range-slider .irs--round .irs-to, .range-slider .irs--round .irs-single{background-color: #ef534e;}
.range-slider .irs--round .irs-from::before, .range-slider .irs--round .irs-to::before, .range-slider .irs--round .irs-single::before{border-top-color: #ef534e;}
.range-slider .irs--round .irs-grid-text{color: #000;}
.range-slider .irs--round .irs-handle{top: 29px;width: 16px;height: 16px;border-width: 2px;}
.range-slider .irs-min, .range-slider .irs-single {display: none;}
.product-duration > label {width: 100%;font-size: 12px;color: #000;margin-bottom: 6px;}
.product-duration .duration-box {width: 160px; border: 1px solid #d0d0d0; border-radius: 8px; font-size: 12px; color: #000; text-align: left; padding: 9px 10px; line-height: 15px; position: relative;cursor: pointer;}
.product-duration .duration-box .icn-arrow-bottom {position: absolute;right: 15px;top: 14px;}
.product-duration .duration-dropdown {max-width: 333px;background-color: #fff;box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.23);padding: 23px 30px 27px;display: none;position: absolute;top: 56px;z-index: 1;}
.duration-dropdown > li {display: flex;width: 100%;flex-wrap: wrap;justify-content: flex-start;text-align: left;margin-bottom: 12px;}
.duration-dropdown > li:first-child {margin-bottom: 18px;}
.duration-dropdown > li:last-child {margin-bottom: 0;}
.duration-dropdown > li span {width: 50%;display: flex;font-size: 12px;font-weight: 500;color: #000;align-items: center;}
.duration-dropdown > li span + span{justify-content: flex-end;}
.duration-dropdown > li span small {font-weight: 400;font-size: 12px;margin-left: 5px;}
.duration-dropdown > li span.dropdown-heading{color: #2d6d9a;}
.duration-dropdown input[type="radio"]{position: absolute;left: -9999px;}
.duration-dropdown input[type="radio"] + label {display: flex;width: 100%;flex-wrap: wrap;justify-content: flex-start;text-align: left;position: relative;padding-left: 27px;cursor: pointer;}
.duration-dropdown input[type="radio"] + label::before {content: ''; width: 16px; height: 16px; position: absolute; display: inline-block; border: 2px solid #bababa; border-radius: 50%; left: 0; top: 0px; }
.duration-dropdown input[type="radio"] + label:after{content: ''; width: 8px; height: 8px; position: absolute; display: inline-block; background-color: #ef534e; border-radius: 50%; left: 4px; top: 4px; opacity: 0; }
.duration-dropdown input[type="radio"]:checked + label::before{border-color: #ef534e;}
.duration-dropdown input[type="radio"]:checked + label::after{opacity: 1;}
.product-price-info {padding: 20px 0;max-width: 329px;margin: 0 auto;border-bottom: 1px solid #e9e9e9;}
.product-price {max-width: 50%;position: relative;padding-bottom: 14px;}
.refundable-price {max-width: 50%;padding-left: 20px;border-left: 1px solid #e0e0e0;text-align: left;justify-content: flex-start;height: 100%;align-items: flex-start;align-content: flex-start;}
.product-price-info label {width: 100%;display: flex;align-items: center;flex-wrap: wrap;justify-content: center;font-size: 12px;color: #000;}
.product-price-info label small {font-size: 11px;color: #000;margin-left: 5px;}
.product-price-info label small{margin-left: 0;width: 100%;position: absolute;bottom: 0;}
.product-price-info .price {font-size: 18px;color: #2d6d9a;font-weight: 600;margin: 5px 0 0;}
.product-price-info .refundable-deposit {font-size: 16px;color: #000;font-weight: 400;margin-top: 7px;width: 100%;text-align: center;}
.product-actions .free-delivery {font-size: 11px;color: #36454f;font-weight: 400;margin-top: 12px;}
.product-btns{margin: 17px 0 30px;}
.product-btns .product-btn{font-size: 12px; font-weight: 500; border-radius: 8px; line-height: 15px; padding: 9px 15px;     height: 100%;display: flex;align-items: center;justify-content: center;}
.product-btns .addtocart {width: 210px; background-color: #ef534e; box-shadow: 8px 6px 10px 0 rgba(209, 209, 226, 0.36); color: #fff; }
.product-btns .addtowishlist {margin-left: 10px; width: 170px; border: 1px solid #ef534e; color: #000; }
.coupon-box {border: 1px dashed #2d6d9a;box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.1);padding: 14px 15px 20px;}
.coupon-box p {font-size: 11px;display: flex;flex-wrap: wrap;width: 100%;justify-content: center;align-items: center;font-weight: 400;color: #36454f;margin-bottom: 7px;}
.coupon-box p:last-child{margin-bottom: 0;margin-top: 6px;}
.coupon-box p span {font-weight: 600;margin-right: 5px;}
.coupon-box p strong{font-weight: 600;margin-left: 5px;color: #ef534e;}
.coupon-box .icn.icn-percentage {width: 12px;height: 12px;margin-right: 5px;}
.coupon-box a {color: #2d6d9a;font-weight: 500;text-decoration: underline;font-size: 11px;}
.product-info {margin-top: 21px;}
.product-info li {display: flex;width: 100%;flex-wrap: wrap;margin-bottom: 7px;}
.product-info li:last-child{margin-bottom: 0;}
.product-info li .icn {width: 16px;height: 16px;}
.product-info li p {display: flex;width: 100%;max-width: calc(100% - 16px);padding-left: 12px;font-size: 11px;color: #36454f;}
/*items included*/
.product-items-wrapper {padding: 36px 0 60px;}
.product-detail-heading {font-size: 16px;font-weight: 600;color: #000;width: 100%;margin-bottom: 10px;}
.items-included {max-width: 800px;}
.items-included-listing > li {display: flex;width: 100%;flex-wrap: wrap;margin-bottom: 40px;}
.items-included-listing > li:last-child{margin-bottom: 0;}
.items-included-box {box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.1);border-radius: 4px;}
.items-included-box:hover{box-shadow: 0 18px 12px 0 rgba(78, 91, 95, 0.10);}
.items-included-box figure {max-width: 302px;}
.items-included-box figure amp-img{border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.items-included-box .items-info {max-width: calc(100% - 302px);padding: 23px 30px;}
.items-info h3 {width: 100%; position: relative; color: #2d6d9a; font-size: 14px; font-weight: 600; padding-bottom: 10px; margin-bottom: 23px;}
.items-info h3::after {content: ''; width: 32px; height: 1px; background-color: #2d6d9a; position: absolute; left: 0; bottom: 0; }
.items-info-listing li {display: flex;width: 100%;flex-wrap: wrap;margin-bottom: 12px;}
.items-info-listing li:last-child{margin-bottom: 0;}
.items-info-listing li h4 {width: 100%;max-width: 180px;position: relative;display: flex;flex-wrap: wrap;font-size: 12px;font-weight: 600;color: #000;}
.items-info-listing li h4::after {content: ':';position: absolute;right: 2px;font-weight: 400;}
.items-info-listing li h4 .icn {width: 15px;height: 15px;margin-top: 1px;margin-right: 14px;}
.items-info-listing li p {width: 100%;max-width: calc(100% - 180px);font-size: 12px;font-weight: 400;color: #000;padding-left: 10px;}
.recommend-products {max-width: calc(100% - 800px);padding-left: 40px;position: sticky;top: 105px;}
.recommend-products amp-img {width: 100% !important;}
.recommend-products amp-img img {object-fit: cover;}
.recommend-products-listing {margin-left: -12px;margin-right: -12px;margin-top: -15px;margin-bottom: -15px;width: auto;}
.recommend-products-listing > li{display: flex;width: 100%;max-width: 50%;padding: 15px 12px;}
.recommend-products-box {background-color: #fff;box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.1);border-radius: 4px;}
.recommend-products-box.disable {opacity: 0.28;}
.recommend-products-box.disable a {pointer-events: none;}
.recommend-products-box figure amp-img {border-top-left-radius: 4px;border-top-right-radius: 4px;}
.recommend-product-info {padding: 11px 6px;}
.recommend-product-info h4 {color: #2d6d9a;font-weight: 400;width: 100%;margin-bottom: 8px;font-size: 12px;}
.recommend-product-info h4 a{color: inherit;}
.recommend-product-info span {font-size: 10px;font-weight: 600;color: #000;width: 100%;}
.recommend-product-info span small{font-weight: 400;}
/*product specs*/
.features-listing li {display: flex;width: 100%;flex-wrap: wrap;margin-bottom: 5px;}
.features-listing li:last-child{margin-bottom: 0;}
.features-listing li span {display: flex;width: 100%;flex-wrap: wrap;position: relative;font-size: 14px;color: #000;padding-left: 18px;}
.features-listing li span::before {content: '';width: 6px;height: 6px;background-color: #a6a6a6;border-radius: 50%;position: absolute;left: 0;top: 6px;}
/*product specs tab (for mobile)*/
.product-specs-tabs {margin: 30px 0 40px;}
.product-specs-tabs ul.tabs{margin: 0px;padding: 0px;list-style: none;display: flex;width: 100%;flex-wrap: wrap;border-bottom: 1px solid #e2e2e2;}
.product-specs-tabs ul.tabs li{color: #000;display: inline-block;cursor: pointer;font-size: 10px;font-weight: 400;position: relative;padding: 9px 0;width: 50%;text-align: center;}
.product-specs-tabs ul.tabs li::before {content: ''; position: absolute; bottom: 0; left: 0; right: 0; width: 43px; height: 3px; background-color: transparent; border-radius: 1px; margin: auto; }
.product-specs-tabs ul.tabs li.current::before{background-color: #ef534e;}
.product-specs-tabs ul.tabs li.current{color: #ef534e;font-weight: 600;}
.product-specs-tabs .tab-content{display: none;background-color: #f9f9f9;margin-top: 0;padding: 30px 20px;}
.product-specs-tabs .tab-content.current {display: flex;width: 100%;flex-wrap: wrap;}
.product-specs-tabs .items-info-listing li h4{max-width: 100px;font-size: 10px;}
.product-specs-tabs .items-info-listing li p{max-width: calc(100% - 100px);font-size: 10px;padding-left: 5px;}
.product-specs-tabs .items-info-listing li h4 .icn{width: 13px;height: 13px;margin-top: 0;margin-right: 8px;}
.product-specs-tabs .features-listing li span{font-size: 10px;padding-left: 15px;}
.product-specs-tabs .features-listing li span::before {top: 3px;}
/*items included (for mobile)*/
.items-included-slider-section {margin-bottom: 30px;}
.items-included-slider .items-included-box figure amp-img {border-bottom-left-radius: 0;border-top-right-radius: 4px;}
.items-included-slider .items-included-box amp-img {width: 100% !important;}
.items-included-box amp-img img {width: 100%;height: 100%;object-fit: cover;}
.items-included-slider .items-included-box .items-info{padding: 20px 15px;}
.items-included-slider .items-info-listing li h4{max-width: 115px;font-size: 10px;}
.items-included-slider .items-info-listing li p{max-width: calc(100% - 115px);padding-left: 5px;font-size: 10px;}
.items-included-slider .items-info-listing li h4 .icn{margin-top: 0;margin-right: 8px;}
.items-included-slider .slide{padding: 20px;}
.items-included-slider{margin: -20px;}
.items-included-slider .slick-dots {margin-top: -10px;}
/*related product*/
.related-product-slider .slide {padding: 50px 10px;}
.related-product-slider .slick-arrow {position: absolute;top: 127px;z-index: 1;width: 50px;height: 50px;border: 3px solid #ef534e;border-radius: 50%;background-color: rgba(255, 255, 255,0.64);text-align: center;line-height: 42px;cursor: pointer;}
.related-product-slider .slick-arrow i{width: 19px;height: 12px;display: inline-block;text-align: center;}
.related-product-slider .slick-arrow.prev-arrow{left: -15px;}
.related-product-slider .slick-arrow.next-arrow{right: -15px;}
.related-product-slider .slick-track {margin-top: -50px;margin-bottom: -50px;}
.related-product h2 {margin-bottom: 15px;}
/*testimonial*/
.testimonial-section {padding: 40px 0 100px;}
.testimonial-section h2 {width: 100%;text-align: center;display: flex;justify-content: center;position: relative;z-index: 1;font-size: 18px;margin-bottom: 0;}
.testimonial-slider {margin-top: -25px;}
.testimonial-slider .slick-arrow {position: absolute;top: 50%;transform: translateY(-50%);z-index: 1;width: 50px;height: 50px;border: 3px solid #ef534e;border-radius: 50%;background-color: rgba(255, 255, 255,0.64);text-align: center;line-height: 42px;cursor: pointer;}
.testimonial-slider .slick-arrow i{width: 19px;height: 12px;display: inline-block;text-align: center;}
.testimonial-slider .slick-arrow.prev-arrow{left: 315px;}
.testimonial-slider .slick-arrow.next-arrow{right: 315px;}
.testimonial-content-wrapper {background-color: #fff;box-shadow: 0 0 41px 0 rgba(78, 91, 95, 0.48);border-radius: 14px;}
.testimonial-slider .slide {padding: 60px 8px;transform: scale(0.9);}
.testimonial-slider .slide.slick-slide.slick-center {transform: scale(1);}
.testimonial-content-wrapper figure {max-width: 228px;}
.testimonial-content-wrapper figure amp-img {border-top-left-radius: 14px;border-bottom-left-radius: 14px;}
.testimonial-content-wrapper .testimonial-content {max-width: calc(100% - 228px);padding: 20px 60px 20px 30px;}
.testimonial-content-wrapper .testimonial-content p {font-size: 14px;line-height: 26px;color: #2b2b2b;}
.testimonial-content-wrapper .testimonial-content .testimonial-name {font-size: 10px;color: #000;margin-top: 12px;}
.testimonial-content-wrapper .testimonial-content .testimonial-name strong {font-weight: 600;margin-right: 5px;}
.testimonial-section .view-all-link {margin-top: -43px;position: relative;z-index: 1;}
.testimonial-section .view-all-link a {font-size: 12px;color: #2d6d9a;text-decoration: underline;}
/*product action-bar (for mobile)*/
.product-action-bar{position: fixed;bottom: 0;left: 0;right: 0;z-index: 11;background-color: #fafafa;border-top: 1px solid rgba(151, 151, 151, 0.14);}
.monthly-rent-box {max-width: 29%;padding: 10px 10px;border-right: 1px solid rgba(151, 151, 151, 0.14);}
.refundable-deposit-box {max-width: 38%;padding: 10px 10px;}
.addtocart-box{max-width: 33%;padding: 10px 10px;background-color: #ef534e;}
.monthly-rent-box label, .refundable-deposit-box label {width: 100%;font-size: 10px;color: #6e6e6e;text-align: center;margin-bottom: 5px;}
.monthly-rent-box .price, .refundable-deposit-box .price {font-size: 11px;color: #2d6d9a;font-weight: 600;width: 100%;text-align: center;}
.refundable-deposit-box .price{color: #000;font-weight: 400;}
.addtocart-box .addtocart-btn {font-size: 12px;width: 100%;text-align: center;color: #fff;font-weight: 500;}

/*----------------------------
Home page
----------------------------*/
/*banner*/
.explore-btn {background-color: #ef534e; color: #fff; box-shadow: 8px 6px 10px 0 rgba(209, 209, 226, 0.36); border-radius: 8px; font-size: 14px; font-weight: 500; min-width: 140px; text-align: center; padding: 10px 10px; line-height: 15px; }
.home-banner {overflow: hidden;z-index: 2;}
.home-banner-wrapper {padding: 105px 15px 10px;position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: 2;}
.home-banner::after {content: '';width: calc(50% + 80px);position: absolute;top: 0;bottom: 0;left: 0;background-color: rgba(255,255,255,0.91);z-index: 1;transform: skewX(-20deg);margin-left: -80px;}
.home-banner-wrapper .banner-text{max-width: 475px;}
.home-banner-wrapper .banner-text h1 {width: 100%;color: #2d6d9a;font-size: 35px;font-weight: 300;margin-bottom: 36px;line-height: 54px;}
.home-banner-wrapper .banner-text h1 strong{font-weight: 600;}
.home-banner-wrapper .banner-text .explore-btn {}
.home-banner, .banner-slider .slide{height: 390px;}
.banner-tags-wrapper {margin-top: 67px;}
.banner-tags-listing {max-width: 943px;background-color: #fff;border-radius: 8px;padding: 6px 45px;}
.banner-tags-listing .banner-tags {display: flex;width: auto;flex-wrap: wrap;border-right: 1px solid #e1e1e1;padding-right: 30px;margin-right: 30px;}
.banner-tags-listing .banner-tags:last-child {border-right: 0;padding-right: 0;margin-right: 0;}
.banner-tags-listing .banner-tags span {font-size: 12px;color: #36454f;cursor: pointer;}
.banner-tags-listing .banner-tags.slick-slide.slick-current.slick-active span{color: #ef534e;font-weight: 600}
.banner-slider .slick-dots {position: absolute;bottom: 10px;left: 0;right: 0;z-index: 11;}
/*main features*/
.main-features{padding: 20px 0;}
.main-features-listing li {display: flex;width: 100%;flex-wrap: wrap;max-width: 180px;margin-right: 29px;}
.main-features-listing li:last-child {margin-right: 0;}
.main-features-listing .features-box{box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.05);padding: 46px 10px;border-radius: 8px;}
.main-features-listing .features-box:hover {box-shadow: 0 18px 12px 0 rgba(78, 91, 95, 0.10);}
.main-features-listing .features-box .icn {width: 50px;height: 50px;background-image: url(../images/icn-placeholder.png);background-color: transparent;}
.main-features-listing .features-box span {width: 100%;font-size: 14px;font-weight: 500;color: #000;margin-top: 15px;}
.main-features-listing .features-box:hover span{color: #ef534e;}
/*fixed rental plans*/
.rental-palns-section {padding: 130px 0;}
.scrollable-items {max-width: 150px;box-shadow: 0 4px 12px 0 rgba(78, 91, 95, 0.15);padding: 27px 10px;padding-right: 0;}
.rental-items-listing li {display: flex;width: 100%;height: 121px;margin-bottom: 10px;}
.rental-items-listing li:last-child {margin-bottom: 0;}
.rental-items-listing li .rental-items {width: 100%;height: 100%;background-color: #fafafc;background-size: inherit;cursor: pointer;}
.rental-items-listing .mCSB_inside > .mCSB_container {margin-right: 20px;}
.mCSB_scrollTools .mCSB_draggerRail{background-color: transparent !important;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: #ccc !important;opacity: 1 !important;width: 5px !important;}
.rental-box-area {max-width: 600px;margin-left: 60px;margin-right: 128px;}
.rental-box-listing{margin-left: -15px;margin-right: -15px;margin-top: -14px;margin-bottom: -14px;}
.rental-box-listing li{display: flex;flex-wrap: wrap;width: 200px;height: 232px;padding: 14px 15px;}
.rental-box{border: 1px dashed #b2b2b2;}
.rental-box.focused{border: 2px solid #6393b4;}
.rental-heading {max-width: 287px;}
.rental-heading h2 {margin-bottom: 10px;}
.rental-heading p {color: #36454f;font-size: 14px;line-height: 23px;max-width: 87%;}
.rental-plans {margin: 44px 0 30px;}
.rental-radio-grp {max-width: 75px;height: 68px;margin-right: 15px;}
.rental-radio-grp:last-child{margin-right: 0;}
.rental-radio-grp input[type="radio"] + label{position: relative;width: 100%;height: 100%;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;align-content: center;word-break: break-all;font-size: 12px;font-weight: 400;color: #36454f;border:1px dashed #9090aa;cursor: pointer;padding: 10px 10px;background-color: #fafafc;}
.rental-radio-grp input[type="radio"] + label strong{font-weight: 500;}
.rental-radio-grp input[type="radio"]:checked + label{border: 2px solid #2d6d9a;font-weight: 600;font-size: 14px;box-shadow: 0 11px 12px 0 rgba(78, 91, 95, 0.15);}
.rental-radio-grp input[type="radio"]:checked + label strong{font-weight: 600;}
/*services*/
.services-section{padding: 40px 0;}
.service-tab {margin-top: 85px;}
.service-tab .tab-links-part {max-width: 30%;padding-left: 60px;}
.service-tab .tab-content-part {max-width: 70%;}
.services-section ul.tabs{margin: 0px;padding: 0px;list-style: none;}
.services-section ul.tabs li{color: #000;cursor: pointer;font-size: 16px;font-weight: 400;position: relative;display: flex;width: 100%;flex-wrap: wrap;margin-bottom: 24px;}
.services-section ul.tabs li:last-child{margin-bottom: 0;}
.services-section ul.tabs li span {min-width: 170px;border: 1px solid transparent;border-radius: 14px;padding: 8px 17px;font-size: 16px;}
.services-section ul.tabs li.current{color: #ef534e;font-weight: 700;}
.services-section ul.tabs li.current span{border-color: #ef534e;}
.services-section .tab-content{display: none;}
.services-section .tab-content.current {display: flex;width: 100%;flex-wrap: wrap;}
/*trending products*/
.trending-products-section {padding: 120px 0 0;}
.trending-products-tab {margin-top: 70px;}
.trending-products-section .slide {padding: 50px 10px 100px;}
.trending-products-section ul.trending {margin: 0px;padding: 0px;list-style: none;display: flex;width: 100%;flex-wrap: wrap;border-bottom: 1px solid #ebebeb;}
.trending-products-section ul.trending li{color: #7c7878;display: inline-block;cursor: pointer;font-size: 16px;font-weight: 400;position: relative;padding: 0 0 10px;width: auto;text-align: center;margin-right: 120px;}
.trending-products-section ul.trending li:last-child{margin-right: 0;}
.trending-products-section ul.trending li::before {content: ''; position: absolute; bottom: 0; left: 0; right: 0; width: 77px; height: 3px; background-color: transparent; border-radius: 1px; margin: auto;}
.trending-products-section ul.trending li.current::before{background-color: #ef534e;}
.trending-products-section ul.trending li.current{color: #ef534e;font-weight: 700;}
.trending-products-section .tab-content{display: none;margin-top: 0;padding: 0 15px 30px;}
.trending-products-section .tab-content.current {display: flex;width: 100%;flex-wrap: wrap;}
.trending-product-slider .slick-dots {position: absolute;left: 0;right: 0;bottom: 20px;}
.trending-product-slider .slick-arrow {position: absolute;top: 118px;z-index: 1;width: 50px;height: 50px;border-radius: 50%;background-color: rgba(255, 255, 255,1.0);text-align: center;line-height: 56px;cursor: pointer;box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.15);}
.trending-product-slider .slick-arrow i{width: 10px;height: 19px;display: inline-block;text-align: center;}
.trending-product-slider .slick-arrow.prev-arrow{left: -15px;}
.trending-product-slider .slick-arrow.next-arrow{right: -15px;}
.trending-product-slider .slick-arrow.prev-arrow .icn-left-arrow-red{position: relative;left: -2px;}
.trending-product-slider .slick-arrow.next-arrow .icn-right-arrow-red{position: relative;left: 2px;}
/*home testimonial*/
.home-testimonial .home-testimonial-slider .slide{transform: scale(1);padding: 50px 0;padding: 100px 50px;margin-left: -50px;margin-right: -50px;}
.home-testimonial .home-testimonial-slider .slide.slick-current.slick-active{transform: scale(1.2);z-index: 1;position: relative;}
.home-testimonial .testimonial-content-wrapper .testimonial-content{max-width: 100%;padding: 40px 30px;}
.home-testimonial .home-testimonial-slider {margin-top: 0;max-width: calc(100% - 250px);padding-left: 70px;}
.home-testimonial h2{max-width: 250px;font-size: 30px;text-align: left;}
.home-testimonial-slider .slick-arrow {position: absolute;bottom: 175px;z-index: 1;width: 50px;height: 50px;border-radius: 50%;background-color:rgba(255, 255, 255,1.0);text-align: center;line-height: 56px;cursor: pointer;box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.15);}
.home-testimonial-slider .slick-arrow i{width: 10px;height: 19px;display: inline-block;text-align: center;}
.home-testimonial-slider .slick-arrow.prev-arrow{left: 315px;}
.home-testimonial-slider .slick-arrow.next-arrow {right: 245px;}
.home-testimonial-slider .slide .testimonial-content-wrapper{box-shadow: none;transition: 0.4s all ease-in-out;border: 1px solid #ccc;}
.home-testimonial-slider .slide.slick-current.slick-active .testimonial-content-wrapper{box-shadow: 0 0 41px 0 rgba(78, 91, 95, 0.48);}
.home-testimonial-slider .testimonial-content-wrapper figure {max-width: 100%;}
.home-testimonial-slider .testimonial-content-wrapper figure amp-img {width: 100% !important;border-top-left-radius: 14px;border-bottom-left-radius: 0;border-top-right-radius: 14px;}
.home-testimonial-slider .testimonial-content-wrapper .testimonial-content .testimonial-name {font-size: 14px;margin-top: 0;order: 1;color: #9d9d9d;font-weight: 500;margin-bottom: 15px;}
.home-testimonial-slider .testimonial-content-wrapper .testimonial-content .testimonial-name strong{width: 100%;text-align: center;color: #000;font-size: 14px;font-weight: 600;margin-right: 0;margin-bottom: 2px;}
.home-testimonial-slider .testimonial-content-wrapper .testimonial-content p {font-size: 12px;line-height: 22px;color: #000;order: 2;text-align: center;}
.home-offer {background-color: #fff;padding: 12px 20px;align-items: center;box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.14);background-image: url(../images/offer-banner-bg.png);}
.home-offer .home-offer-wrapper {max-width: calc(100% - 100px);}
.home-offer .know-more {max-width: 100px;justify-content: center;text-align: center;}
.home-offer .home-offer-wrapper small{font-size: 12px;margin-bottom: 5px;}
.home-offer .home-offer-wrapper h2 {font-size: 16px;color: #2d6d9a;display: flex;width: 100%;flex-wrap: wrap;}
.home-offer .know-more a {font-size: 12px;margin-bottom: 10px;font-weight: 600;color: #2d6d9a;}
.home-offer .know-more span {font-size: 10px;}
.home-offer .home-offer-wrapper h2 span{width: auto;margin-left: 5px;}