body
{
margin: 0px;
padding:0px;
font-family: 'Open Sans', sans-serif !important;
font-size: 13px !important;
color:#0e2550;
overflow:hidden !important;
}

a
{
	color:#6a7bba !important	;
}

.row
{
	margin:0px !important;
}

.desktopView
{
	padding:0px !important;
	background:#fff;
	/*
background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #f9f7ff 100%);
background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#f9f7ff 100%);
background: radial-gradient(ellipse at center, #ffffff 0%,#f9f7ff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f7ff',GradientType=1 );
*/
}
.desktopMenu
{
	background:#fff;
	padding:0px !important;
}

.badge-dark
{
	background:#3E4368 !important;
	border:1px #3E4368 solid !important;
	color:#fff !important;;
}

.badge-dark-logo
{
	background:#3E4368 !important;
	border:1px #3E4368 solid !important;
	color:#fff !important;;
	width:120px !important;
	padding:5px 10px !important;
	text-align: center !important;
	border-radius:20px !important;	
}

.desktopMenuTable
{
	width:100%;
}
.desktopMenuTable tr
{
	cursor: pointer;
}

.desktopMenuTable tr:hover td:nth-child(1)
{
	border-bottom:4px #374c9e solid;
	
}

.desktopMenuTable tr:hover td:nth-child(2)
{
border-bottom:4px #374c9e solid;
}


.desktopMenuTable td:nth-child(1)
{
	width:15%;
	text-align: left;
	padding:10px;
	background:transparent;
	color:#374c9e;
	font-size:13px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	vertical-align: top;
	border-bottom:4px #fff solid;
}


.desktopMenuTable td:nth-child(2)
{
	width:85%;
	text-align: left;
	padding:10px;
	background:transparent;
	color:#374c9e;
	font-size:12px;
	font-weight: 500;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif !important;
	border-bottom:4px #fff solid;
}

.menuCollapse
{
	list-style:none;
	padding:0px;
	margin-left: -10px;
	margin-top:10px;
}


.menuCollapse li
{
	padding:10px;
	text-align:left;
	font-weight: 500;
	font-size:11px !important;
	
}

.header
{
	width:100%;
	background: #fcf5f4;
}

.subtitle
{
	padding:12px 10px;
	font-size:14px;
	font-weight: 500;
	color:#374c9e;
	border-bottom:1px #eee solid;
	height:44px;


}

.title
{
	padding:20px 10px;
	font-size:20px;
	font-weight: 500;
	color:#374c9e;
	border-bottom:1px #eee solid;
	font-family: 'Josefin Sans', sans-serif !important;
}




/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
    border-radius:20px;
    border:0px #fcf5f4 solid;
}
 
/* Track */
::-webkit-scrollbar-track {
background:transparent;
      
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #fcf5f4;
    border-radius:20px;

}
::-webkit-scrollbar-thumb:window-inactive {
background:#fcf5f4;
}

.bg-success
{
	background-color:#00dadc !important;
}

textarea[name="req"]
{
	background:transparent url('../images/sun.png') scroll no-repeat 96% 15px;
}

input[name="req"]
{
	background:transparent url('../images/sun.png') scroll no-repeat 96% center;
}

select
{
	background:#fff url('../images/angle.png') scroll no-repeat 96% center !important;
}

.toast
{

position: fixed;
    top:-200px;
    right: 20px;
    text-align: left;
    background: #fff;
    border-top: 1px #eee solid;
    box-sizing: border-box;
    -webkit-box-shadow: 0 2px 5px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 5px -1px rgba(0,0,0,0.3);
    box-shadow: 0 2px 5px -1px rgba(0,0,0,0.3);
    height: auto;
    padding: 15px;
    z-index: 20000000 !important;
    color: #fff;
    width: 20%;
}




.loading
{
  background: rgba(255,255,255,0.5);
  position: fixed;
  top:0;
  left:0;
  height:2000px;
  width:100%;
  z-index: 200000;
  display: none;
}

.whiteCover
{
	background:#fff;
	
	background: #fff;

  -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    
}

.input
{
	background:#fff;
	border:1px #d1d8dd solid;
	color:#121149;
	padding:5px 10px;
	vertical-align: middle;;
	border-radius:3px;
	font-size:12px;	
	width: 100%;
	height:35px;
	-webkit-appearance:none;
	outline: none;

}

.inputChanged
{
	background:#fff;
	border:1px #dbffef solid;
	color:#121149;
	padding:5px 10px;
	vertical-align: middle;;
	border-radius:3px;
	font-size:12px;	
	width: 100%;
	height:35px;
	-webkit-appearance:none;
	outline: none;
}

.inputRed
{
	background:#fff;
	border:1px #ff6834 solid;
	color:#121149;
	padding:5px 10px;
	vertical-align: middle;;
	border-radius:3px;
	font-size:12px;	
	width: 100%;
	height:35px;
	-webkit-appearance:none;
	outline: none;
}

.dropdown-menu ul
{
	list-style: none;
	padding:0px;
	max-height: 200px;
	overflow-y: auto;;
	margin:0px;
}

.dropdown-menu ul li
{
	font-size:12px;
	padding:10px 20px;
	font-weight:400;
	color:#344360;

}

.btn
{
	font-size:12px !important;
}
.dropdown-filter-dropdown
{
	display: inline-block;
}

.dropdown-filter-content
{
	display: none;
	position:absolute;
	top:30px;
	left:10px;
	background: #fff;
	padding:20px;
	font-size:12px !important;
	font-weight:normal;
	width:200px;
	height:auto;
	max-height:350px;
	overflow-y: auto;
	line-height: 40px;
	  -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);

}
.dropdown-filter-menu-search
{
background:#fff;
	border:1px #d1d8dd solid !important;
	color:#121149 !important;
	padding:5px 10px !important;
	vertical-align: middle;;
	border-radius:3px !important;
	font-size:12px !important;	
	width: 100% !important;
	height:35px !important;
	-webkit-appearance:none;	
}

.dropdown-filter-sort
{
	cursor: pointer;
}
.glyphicon 
{
	display: inline-block;
	background:transparent url('../images/funnel.png') scroll no-repeat center center;
	background-size:cover;
	height:8px;
	width:8px;
	margin-left:10px;
	cursor: pointer;
}

.dataTable th
{
	position: relative;
	color:#0e2550;
	border-top:0px #fff solid;
	border-bottom:0px #fff solid;
}


.btn-primary
{
	background: #374c9f !important;;
	border-color:#374c9f !important;
	font-family: 'Josefin Sans', sans-serif !important;
	border-radius:0px !important;
	text-transform: uppercase !important;
}

.btn-light
{
	font-family: 'Josefin Sans', sans-serif !important;
	border-radius:0px !important;
	text-transform: uppercase !important;
}

.btn-danger
{
	color:#ea456c !important;
	border:1px #ea456c solid !important;
	background-color:#fff !important;
	border-radius:0px !important;

}

.dataTable .text-primary
{
	color:#374c9f !important;
cursor: pointer;
font-weight: 500;
}
.hideThis
{
display: table-cell;	
}

.col-sm-4 .hideThis
{
	display: none;
}

.nofilter .dropdown-filter-dropdown
{
	display: none !important;
}


.formBox .col-sm-6
{
	color:#aaa;
	font-size:12px;
	padding: 5px 10px !important;
	padding-top: 20px !important;
}


.formBox .col-sm-3
{
	color:#aaa;
	font-size:12px;
	padding: 5px 10px !important;
	padding-top: 20px !important;
}



.formBox .col-sm-8
{
	color:#aaa;
	font-size:12px;
	padding: 5px 10px !important;
	padding-top: 20px !important;
}



.formBox .col-sm-2
{
	color:#aaa;
	font-size:12px;
	padding: 5px 10px !important;
	padding-top: 20px !important;
}



.formBox .col-sm-4
{
	color:#aaa;
	font-size:12px;
	padding: 5px 10px !important;
	padding-top: 20px !important;
}



.formBox .col-sm-12
{
	color:#aaa;
	font-size:12px;
	padding: 5px 10px !important;
	padding-top: 20px !important;
}

.formBox
{
	border-bottom:1px #eee solid;
	text-transform: capitalize !important;
}


.formBox .col-sm-8 input
{
	margin-top: 8px;
	margin-bottom: 15px;
}

.formBox .col-sm-8 select
{
	margin-top: 8px;
	margin-bottom: 15px;
}



.formBox .col-sm-8 textarea
{
	margin-top: 8px;
	margin-bottom: 15px;
}


.formBox .col-sm-6 input
{
	margin-top: 8px;
	margin-bottom: 15px;
}

.formBox .col-sm-6 select
{
	margin-top: 8px;
	margin-bottom: 15px;
}



.formBox .col-sm-6 textarea
{
	margin-top: 8px;
	margin-bottom: 15px;
}



.formBox .col-sm-3 input
{
	margin-top: 8px;
	margin-bottom: 15px;
}

.formBox .col-sm-3 select
{
	margin-top: 8px;
	margin-bottom: 15px;
}



.formBox .col-sm-3 textarea
{
	margin-top: 8px;
	margin-bottom: 15px;
}





.formBox .col-sm-2 input
{
	margin-top: 8px;
	margin-bottom: 15px;
}

.formBox .col-sm-2 select
{
	margin-top: 8px;
	margin-bottom: 15px;
}



.formBox .col-sm-2 textarea
{
	margin-top: 8px;
	margin-bottom: 15px;
}




.formBox .col-sm-12 input
{
	margin-top: 8px;
	margin-bottom: 15px;
}

.formBox .col-sm-12 select
{
	margin-top: 8px;
	margin-bottom: 15px;
}



.formBox .col-sm-12 textarea
{
	margin-top: 8px;
	margin-bottom: 15px;
}


.formBox .col-sm-4 input
{
	margin-top: 8px;
	margin-bottom: 15px;
}

.formBox .col-sm-4 select
{
	margin-top: 8px;
	margin-bottom: 15px;
}



.formBox .col-sm-4 textarea
{
	margin-top: 8px;
	margin-bottom: 15px;
}

.formHeading
{
	width:200px !important;
	font-weight:500 !important;
	border-top-right-radius:20px !important;
	border-bottom-right-radius:20px !important;
	text-align:left !important;
}

#checkAvail
{
	position:absolute;
	top:19px;
	right:10px;
}


.attendance
{
	width: 100% !important;
}



.attendance th
{
	font-size:12px;
	color:#0e2550;
	text-transform: uppercase;
	background: #fff;
	font-weight: 500 !important;
	padding: 10px 10px !important;
	text-align: left;

}


.attendance td
{
	padding:10px !important;
	text-align: center;
	cursor: pointer;
	position: relative;
	font-size:14px;
}



.attendance td:nth-child(1)
{
	text-align: left;
}


.attendancefirstmonth td:nth-child(n-16)
{
	display: table-cell;
}
.attendancefirstmonth th:nth-child(n-17)
{
	display: table-cell;
}


.attendancefirstmonth td:nth-child(n+17)
{
	display: none;
}
.attendancefirstmonth th:nth-child(n+18)
{
	display: none;
}


.attendancesecondmonth td:nth-child(n-16)
{
	display: none;
}
.attendancesecondmonth th:nth-child(n-17)
{
	display: none;
}


.attendancesecondmonth td:nth-child(n+17)
{
	display: table-cell;
}
.attendancesecondmonth th:nth-child(n+18)
{
	display: table-cell;
}

.attendancesecondmonth th:nth-child(1)
{
	display: table-cell;
}

.attendancesecondmonth th:nth-child(17)
{
	display: table-cell;
}






.attendance .fa-check
{
	color:#00dadc;
}


.attendance .fa-warning
{
	color:#ff0088;
}


.attendance td i.fa-circle
{
	color:#e1e1f2 !important;
}


.attendance td i.fa-times
{
	color:#ff0088 !important;
}

.commentLine td
{
	padding:0px !important;
}

.commentLineBox
{
	background:#fff;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
	padding:10px;
	position: relative;
	margin:20px 10px;
	display: inline-block;
	border-radius:5px;
}

.commenLineArrow
{
	position: absolute;
	top:15px;
	left:-8px;
	height:16px;
	width:16px;
	color:#fff;
	z-index: 200;

}
.subheading
{
	font-size: 20px;
	font-weight: bold;
	padding:20px;
}


.innersubheading
{
	font-size: 14px;
	font-weight: bold;
	text-transform: capitalize;
	color:#444;
	border-bottom:1px #eee solid;
	padding:10px;border-bottom:1px #eee solid;font-weight:bold

}


.fa-space-shuttle
{
	transform: rotate(-30deg);
}


.datapic
{
-webkit-box-shadow: 0 2px 5px -1px rgba(0,0,0,0.3);
-moz-box-shadow: 0 2px 5px -1px rgba(0,0,0,0.3);
box-shadow: 0 2px 5px -1px rgba(0,0,0,0.3);
border:5px #fff solid;
border-radius:4px;
display: inline-block;
margin:10px;
position: relative;
}


.carousel-indicators
{
	top:20px !important;
}

.picsurf
{
	width:100%;
	position: absolute;
	height:240px;
	background:rgba(0,0,0,0.8);
	text-align:center;
	top:0px;
	left:0px;
	z-index:2000;
	display: none;
}

.layover
{
	background:rgba(255,255,255,0.9);
	width:100%;
	height:2000px;
	top:0px;
	left:0px;
	position: absolute;
}


select:disabled
{
	background: #eee !important;	
}

input:read-only,textarea:read-only
{
	background: #eee;
}


.userbubbleouter
{
  text-align: left;
  padding: 0px 0px 20px 0px;
}

.mybubbleouter
{
  text-align: right;
  padding: 0px 0px  20px 0px;
}

.userbubbletri 
{
width: 0;
height: 0;
border-style: solid;
border-width: 0 25px 15px 0;
border-color: transparent #f7deda transparent transparent;
  position: absolute;
    left: -15px;
    top: 0px;
    
    z-index: 20;
}

.userbubble i
{
  position: absolute;
    left: -6px;
    top: 2px;
    font-size: 20px;
    z-index: 20;
    color:#f7deda;
}

.userbubble
{
  background:#f7deda;
  padding:10px;
  text-align: left;
  max-width:80%;
  display: inline-block;
  position: relative;
}

.mybubbletri 
{

width: 0;
height: 0;
border-style: solid;
border-width: 15px 25px 0 0;
border-color: #F6F6F6 transparent transparent transparent;
  position: absolute;
    right: -15px;
    top: 0px;
    
    z-index: 20;
}



.mybubble i
{
  position: absolute;
    right: -6px;
    top: 2px;
    font-size: 20px;
    z-index: 20;
    color:#F6F6F6;
}

.mybubble
{
  background:#F6F6F6;
  padding:10px;
  text-align: left;
  max-width:80%;
  display: inline-block;
  position: relative;
}

.letterBox
{
  border-radius:50%;
  height:40px;
  width:40px;
  background:#999;
  text-align: center;
  padding-top: 10px;
  color:#fff;
  font-weight: bold;
  text-transform: uppercase;;
}

.chattime
{
  color:#999;font-size:11px;margin-top:5px;
}

.calStrip
{
  padding: 20px 0px 20px 0px;
  border-bottom:1px #eee solid;
  cursor: pointer !important;
}

.calStrip:hover
{
  background:#eef5f9;
}
.calCircleblue
{
color:#1976d2;
  float:left;
  padding:10px;
}

.li-selected
{
	background: #eee url('../images/checked.png') no-repeat scroll 96% center !important;

}


.modal-backdrop
{
	z-index: 200000 !important;
}


.dropdown-menu li
{
	cursor: pointer !important;
}

.report-group
{
	padding:0px;
	padding-left: 15px;
	list-style: none;
}

.report-group li.active
{
	background:#fff;
	font-weight: bold;
	color:#374c9e;
	font-family: 'Josefin Sans', sans-serif !important;
	font-size:13px;
	border:0px #f0d6d5 solid;
	padding:10px;
	border-bottom:1px #374c9e solid;
}

.report-group li
{
		color:#374c9e;
		padding:10px;
		border-bottom:1px #374c9e dotted;
}

