::-webkit-scrollbar {
 width: 10px;
 background:inherit;
}
::-webkit-scrollbar-thumb {
    background: #f5f5f5;
}
::-moz-scrollbar {
 width: 10px;
 background: #e7e7e7;
}
::-moz-scrollbar-thumb {
    background: #2D86A5;
}
* {
	margin: 0;
	padding: 0;
	border: none;
}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video, main {display: block}
mark, rp, rt, ruby, summary, time {display: inline}
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
	background: transparent;
	border: 0 none;
	font-weight: inherit;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: top;font-style:normal;
}
a {text-decoration: none;outline: none !important;font-style: normal;color: #a5c8c2;}
a:focus{text-decoration: none;}
a:hover{color: #a5c8c2;text-decoration: none;}
ul, ol {list-style: none;}
q {quotes: none;}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: none !important;-moz-appearance: none !important;-ms-appearance: none !important;-o-appearance: none !important;cursor: pointer;box-shadow: none !important;-webkit-box-shadow: none !important;-moz-box-shadow: none;-ms-box-shadow: none;-o-box-shadow: none;border-radius:0px !important;-webkit-border-radius:0px !important;
	-ms-border-radius:0px !important;-o-border-radius:0px !important;font-style:normal;
}
input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea, select {
	-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none;box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;-ms-box-shadow: none;-o-box-shadow: none;outline: none;border-radius:0px !important;-webkit-border-radius:0px !important;-ms-border-radius:0px;-moz-border-radius:0px !important;
}
table, table td {padding: 0;border: none;border-collapse: collapse;}
img {vertical-align: top;max-width: 100%;}
embed {vertical-align: top;}
input, textarea {font-family: inherit;}
input, button {	-webkit-appearance: none;outline: none;background: transparent;}
button::-moz-focus-inner {border:0;}
th {text-align: left;}
textarea {outline: none !important;}
.row .row {margin-right: -15px;margin-left: -15px;}
@font-face {
	font-family: 'MrsEavesXLSerifOT';
	src: url('../font/MrsEavesXLSerifOT Regular.eot');
	src: url('../font/MrsEavesXLSerifOT Regular.eot?#iefix') format('embedded-opentype'), url('../font/MrsEavesXLSerifOT Regular.woff2') format('woff2'), url('../font/MrsEavesXLSerifOT Regular.woff') format('woff'), url('../font/MrsEavesXLSerifOT Regular.svg#MrsEavesXLSerifOT Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'MrEavesXLModOT';
	src: url('../font/MrEavesXLModOT Bold.eot');
	src: url('../font/MrEavesXLModOT Bold.eot?#iefix') format('embedded-opentype'), url('../font/MrEavesXLModOT Bold.woff2') format('woff2'), url('../font/MrEavesXLModOT Bold.woff') format('woff'), url('../font/MrEavesXLModOT Bold.svg#MrEavesXLModOT Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'MrEavesXLModOT';
	src: url('../font/MrEavesXLModOT Regular.eot');
	src: url('../font/MrEavesXLModOT Regular.eot?#iefix') format('embedded-opentype'), url('../font/MrEavesXLModOT Regular.woff2') format('woff2'), url('../font/MrEavesXLModOT Regular.woff') format('woff'), url('../font/MrEavesXLModOT Regular.svg#MrEavesXLModOT Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

body {overflow-x: hidden;}
body {font-size: 15px;line-height: 24px;color: #141414;font-family: 'MrEavesXLModOT', serif;font-weight: 400;text-rendering: optimizelegibility;
	letter-spacing: 0px !important;font-style: normal;}
h1, h2, h3, h4, h5, h6 {/*font-family: 'MrsEavesXLSerifOT', serif;*/line-height: 1;color: #222222;margin: 0px;margin: 0px 0px 25px;font-weight: normal;text-rendering: optimizelegibility;letter-spacing: 0.8px;font-style: normal;}
ul, ol {margin: 0px;padding: 0px;}
ol li, ul li {list-style: none;}
ol li, p, ul li {line-height: 22px;font-size: 15px;}
ol li ol li, ol li ul li, ul li ol li, ul li ul li {font-size: 15px;}
p {margin-bottom: 15px;font-style: normal;}
#primary-menu:after {display: none;}
.nw_theme_color {color: #a4c8c2;}
hr.divider_grey {width: 100%;margin-top: 0px;border-color: #e0e0e0;}
.margin-bottom-15 {margin-bottom: 15px;}
.margin-bottom-20 {margin-bottom: 20px;}
.margin-left-15 {margin-left: 15px;}
.margin-top-15 {margin-top: 15px;}
.margin-top-10 {margin-top: 10px;}
.margin-top-20 {margin-top: 20px;}
.margin-top-25 {margin-top: 25px;}
.margin-top-30 {margin-top: 30px;}
.margin-bottom-10 {margin-bottom: 10px;}
.margin-bottom-20 {margin-bottom: 20px;}
.margin-bottom-25 {margin-bottom: 25px;}
.margin-bottom-30 {margin-bottom: 30px;}
.margin-bottom-50 {margin-bottom: 50px;}
strong {font-weight: 600;}
.btn-check {color: #141414;background-color: #a5c8c2;text-decoration: none;padding: 9px 30px;font-weight: normal;display: inline-block;font-size: 15px;text-transform: uppercase;text-decoration: none;border: 1px solid #a5c8c2;transition: 0.3s all ease;-webkit-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;-moz-transition: 0.3s all ease;-o-transition: 0.3s all ease;}
.btn-check:hover {border: 1px solid #a5c8c2;color: #141414;background-color: #a5c8c2;text-decoration: none;}
.boxed {margin: 0px;}
/*header */

.header_top_part {padding: 3px 0 5px;background-color: #a5c8c2;color: #fff;text-align: center;display: inline-block;width: 100%;vertical-align: top;}
.header_top_part span {display: inline-block;vertical-align: middle;margin-right: 10px;line-height: 14px;font-size: 15px;}
.header_top_part p {margin-bottom: 0px;}
#header {position: fixed;top: 0px;padding: 0px;margin: 0px;background: #fff;z-index: 10;width: 100%;left: 0px;line-height: 24px;transition: all 0.5s ease-in;-moz-transition: all 0.3s ease-in;-webkit-transition: all 0.5s ease-in;-ms-transition: all 0.5s ease-in;-o-transition: all 0.5s ease-in;border-bottom: 1px solid #fff;}
#header.stickyinner {-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.10);box-shadow: 0 3px 3px rgba(0, 0, 0, 0.10);}
.headertop {width: 100%;margin: 0px;display: inline-block;vertical-align: top;padding: 18px 0px;transition: all 0.5s ease-in;-moz-transition: all 0.5s ease-in;-webkit-transition: all 0.5s ease-in;-ms-transition: all 0.5s ease-in;-o-transition: all 0.5s ease-in;}
.stickyinner .headertop {padding: 10px 0px;}
#logo {width: 180px;float: left;margin: 0px;text-align: left;}
.logounstick {display: inline-block;}
.logostick {display: none;}
.navigation {float: left;margin-left: 25px;}
ul.headeropt {float: right;margin-top: 3px;}
ul.headeropt li {float: left;}
ul.headeropt a {color: #aaaaaa;display: inline-block;vertical-align: middle;font-size: 16px;line-height: 18px;margin: 0px 0px 0px 8px;}
.carticn {position: relative;}
.carticn span {border-radius: 50%;position: absolute;top: -5px;width: 20px;height: 20px;background: #e8e8e8;text-align: center;font-size: 12px;
	padding: 1px;right: -15px;color: #141414;}
.stickyinner ul.headeropt i {color: #aaaaaa;}
ul.headeropt i {font-size: 24px;color: #aaaaaa;display: inline-block;vertical-align: middle;}
ul.headeropt select {color: #fff !important;}
ul.headeropt select option {color: #333;}
.sticky ul.headeropt select {color: #aaaaaa !important;}
ul.headeropt .btn-group {margin-left: 8px;}
ul.headeropt .btn-group a {text-decoration: none;}
ul.headeropt .btn-group a span {display: inline-block;vertical-align: middle;}
.searchicn {margin-right: 8px;}
.searchicn i {font-size: 24px;line-height: 18px;margin-top: 1px;}
.stickyinner ul.headeropt .btn-group a {color: #aaaaaa;}
ul.headeropt .btn-group.open .dropdown-toggle {box-shadow: none;display: inline-block;vertical-align: middle;}
ul.headeropt .btn-group .dropdown-toggle i {margin-left: 5px;font-size: 18px;margin-top: 3px;}
ul.headeropt .btn-group .dropdown-menu {	padding: 0px;left: auto;right: -10px;box-shadow: none;border: none;border-radius: 0px;margin-top: 10px;width: 190px;}
ul.headeropt .btn-group .dropdown-menu li {width: 100%;}
ul.headeropt .btn-group .dropdown-menu:before {content: "";width: 0;height: 0;border-left: 9px solid transparent;border-right: 9px solid transparent;border-bottom: 9px solid #fff;margin-top: -9px;position: absolute;top: 0px;right: 10px;	z-index: 2}
.cityicon {margin-right: 10px;vertical-align: middle;display: inline-block;}
.stickyinner .btn-group .dropdown-menu, .stickyinner .btn-group .dropdown-menu {box-shadow: 0 1px 5px 0px rgba(211, 211, 211, 0.80)}
.stickyinner .btn-group .dropdown-menu:after {content: "";width: 0;height: 0;border-left: 11px solid transparent;border-right: 11px solid transparent;border-bottom: 10px solid #f0f0f0;margin-top: -11px;position: absolute;top: 0px;right: 8px;}
.btn-group .dropdown-menu a {display: block;padding: 15px 25px;border-bottom: 1px solid #ddd;font-size: 14px;color: #141414;margin: 0px;}
.logostick {display: inline-block;}
.logounstick {display: none;}
.innerlogostick {display: inline-block;}
.innerlogounstick {display: none;}
.stickyinner .innerlogostick {display: none;}
.stickyinner .innerlogounstick {display: inline-block;}
.show_on_mobile {display: none;}
/* navigation */
ul.main-menu {margin: 0px;padding: 0px;display:none;}
ul.main-menu li {position: relative;z-index: 4;padding:0px;}
.main-menu.menu>li:not(.menu-text)> a {margin: 5px 11px 0px;font-weight: 400;font-size: 15px;text-transform: uppercase;transition: all ease 0.3s;-webkit-transition: all ease 0.3s;-ms-transition: all ease 0.3s;-moz-transition: all ease 0.3s;-ms-transition: all ease 0.3s;padding: 0px;
	letter-spacing: 0px;color: #aaaaaa;line-height: 24px;letter-spacing: 0px;display: block;}
.main-menu.menu>li:not(.menu-text)>a:hover, .main-menu.menu>li:not(.menu-text)>a.active {text-decoration: none;color: #141414;}
.dropdown.menu .sub-menu{display:none;}
ul.main-menu li .sub-menu li a{color:#141414;}
ul.main-menu li.show_on_mobile{display:none;}
/* search popup model */
.relative {position: relative;}
.fade-scale {transform: scale(0);opacity: 0;transition: 0.3s all ease-in-out;}
.fade-scale.in {opacity: 1;transform: scale(1);transition: 0.3s all ease-in-out;}
.modal.searchmodel {width: 100%;height: 100%;background: #fff;padding: 0px !important;display: block !important;}
.searchmodel .modal-dialog {width: 100%;height: 100%;margin: 0px;}
.searchmodel .modal-content {width: 100%;height: 100%;margin: 0px;box-shadow: none;border: none;}
.searchmodel .modal-header {padding: 20px 0px 10px;margin-bottom: 50px;}
.searchmodel .form-control {padding: 5px 15px 5px 20px;border-radius: 0px;border: none;font-size: 15px;color: #141414;box-shadow: none;
	-webkit-box-shadow: none;height: 34px;font-style: normal;font-size: 15px;letter-spacing: 0px;text-transform: none;margin: 0px;}
.searchmodel .form-control:focus {box-shadow: none;}
.searchicnab {position: absolute;left: 0px;top: 50%;margin-top: -13px;font-size: 30px;}
.searchmodel .modal-content {border-radius: 0px;}
.searchmodel .modal-body {padding: 0px;}
.searchmodel form:not(.b_default_layout) [class*="col-"]:first-child, .searchmodel .searchmodel form:not(.b_default_layout) [class*="col-"]:first-child {padding-left: 15px;}
.sproductrow figure {float: left;width: 100%;}
.sproductrow figure img {display: inline-block;}
.sproductrow figure figcaption {display: inline-block;padding-left: 20px;color: #141414;font-weight: 400;font-style: normal;}
.sproductrow figure figcaption strong {font-weight: 600;}
.sproductrow figure figcaption span {display: block;margin-bottom: 5px;}
.searchmodel h6 {font-size: 18px;font-weight: 400;text-transform: none;}
.modal-backdrop, .modal-backdrop.in {background-color: #fff;opacity: 0;}
.btncross, .btncross:hover {right: 15px;position: absolute;color: #141414;opacity: 1;top: 10px}
.catagoryrow figure {float: left;text-align: center;}
.catagoryrow figure img {display: inline-block;}
.catagoryrow figure figcaption {display: block;color: #141414;font-weight: 400;margin-top: 15px;}
.catagorycol {display: inline-block;padding: 0px 85px 35px 15px;}
body.modal-open {padding-right: 0px !important;}
/* search popup model */

.back_to_top, .back_to_top:hover {background: #a5c8c2;color: #fff;right: 30px;width: 36px;height: 36px;bottom: 60px;position: fixed;display: none;padding: 0px;}
.back_to_top .material-icons {font-size: 30px;}
/* cart sidebar */
.cartcross {display: inline-block;background: #a5c8c2;width: 30px;height: 30px;text-align: center;padding: 5px;}
.cartcross i, .cartcross:hover i {font-size: 20px;color: #141414;}
.cartsidebar {position: fixed;top: 0px;right: -100%;height: 100%;background-color: #fff;width: 384px;transition: ease 0.6s all;
	-webkit-transition: ease 0.6s all;-moz-transition: ease 0.6s all;-ms-transition: ease 0.6s all;z-index: 10;}
.sideright {right: 0px;transition: ease 0.6s all;-webkit-transition: ease 0.6s all;-moz-transition: ease 0.6s all;-ms-transition: ease 0.6s all;
	-webkit-box-shadow: -15px 5px 18px -10px rgba(0,0,0,0.3);-moz-box-shadow: -15px 5px 18px -10px rgba(0,0,0,0.3);box-shadow: -15px 5px 18px -10px rgba(0,0,0,0.3);}
.cartsys {display: block;width: 100%;min-height: inherit;overflow: hidden;position: relative;height: auto;}
.titlecart {font-size: 16px;padding: 10px 0px;border-bottom: 1px solid #e8e8e8;font-weight: 700;margin: 0px 30px;}
.cartsys ul {margin: 0px 0px 80px;float: left;width: 100%;padding: 0 30px;max-height: calc(100vh - 160px);overflow: auto;}
.cartsys ul li {padding: 20px 0px;float: left;width: 100%;border-bottom: 1px solid #e8e8e8;}
.cartsys ul li:last-child {padding: 15px 0px;border-bottom: none;font-size: 13px;}
.cart-thumb {width: 100px;float: left;}
.cart-desc {float: right;width: 67%;padding-left: 15px;margin-top: -8px;}
.cart-desc small {display: block;line-height: 12px;font-size: 12px;}
.cart-desc span {display: block;padding: 5px 0px 7px;}
.cart-desc a {margin-right: 5px;display: inline-block;line-height: 16px;}
.cart-desc i {font-size: 16px;color: #141414;}
.btncartdiv {margin-top: 10px;width: 100%;padding: 20px 30px;position: absolute;bottom: 0px;background: #fff;top: inherit;left: 0;}
.btncartdiv a i {font-size: 16px;vertical-align: middle;color: #141414;}
.btncartdiv a span {display: inline-block;vertical-align: middle;margin: 0px 5px;}
.btncartdiv .btn-check {background: #e8e8e8;	border: 1px solid #e8e8e8;text-transform: none;font-size: 15px;}
.btncartdiv .btn-check:hover {background: #a5c8c2;border: 1px solid #a5c8c2}
.checkrot {-webkit-transform: scaleX(-1);transform: scaleX(-1);}
#footer:before {display: none;}

/* innder page header page */
.page_section_offset {padding: 70px 0px 0px;}
.innerbanner {width: 100%;display: inline-block;vertical-align: top;background: url(../img/innerbanner-header-top.jpg) no-repeat top center;
	background-size: cover;text-align: center;padding: 30px 0px 26px;position: relative;color: #fff;}
.innerbanner h1 {font-size: 27px;color: #fff;text-transform: uppercase;margin-bottom: 0px;}
.innerbanner h2 {font-size: 22px;color: #fff;text-transform: uppercase;font-weight: normal;margin: 15px 0px;font-family: 'MrEavesXLModOT', serif;}
.innerbanner:before {background: rgba(0,0,0,0.2);width: 100%;position: absolute;left: 0px;height: 100%;content: '';top: 0px;}
.breadcrumb {background: none;padding: 5px 0px 0px;	margin-bottom: 0px;}
.breadcrumb li a {color: #fff;font-weight: 400;font-size: 14px;}
.breadcrumb > .active {color: #fff;}
.graylightbg {background: #f5f5f5}

/* blog page */
h1.archive-title, h1.entry-title {font-style: normal;}
.bloglistleft {float: left;	width: 75%;}
.blogsidebar {float: right;	width: 25%;padding: 0px 15px;}
#content {margin: 30px 0px 0px;}
#grid-content {position: relative;max-width: 100%;width: 100%;}
#grid-content em .grid-item {width: 100%;}
.grid-item {width: 33.33%;padding: 0px 15px;display: inline-block;position: absolute;color: #aaaaaa;margin-bottom: 25px;}
.entry-meta i {font-size: 16px;	line-height: 16px;}
.i-comment-1 {line-height: 18px;float: left;}
.excerpt-text a {line-height: 18px;	float: left;}
.i-comment-1:before {font-family: 'Material Icons';content: 'chat';font-size: 15px;color: #a5c8c2;}
.grid-item p {text-align: left !important;color: #aaaaaa;}
h2.entry-title {font-size: 14px;margin: 15px 0px 10px;line-height: 20px;font-weight: bold;}
h2.entry-title a, h2.entry-title a:hover {color: #141414;text-decoration: none;}
.grid-item .entry-meta, .grid-item .post-date {font-style: normal;margin: 0px;padding: 0px;font-size: 15px;float: left;line-height: 16px;}
.grid-item .entry-meta .author {display: none;}
.grid-item .entry-meta span.updated, .detaildate {position: absolute;top: 15px;left: 30px;width: 50px;height: 50px;text-align: center;background: #a5c8c2;color: #141414;font-size: 15px;border-radius: 50%;padding: 8px;line-height: 16px;font-weight: normal;font-size: 16px;text-align: center;}
.detaildate{ left:15px; }
.grid-item .entry-meta span.updated strong, .detaildate strong {font-size: 18px;display: block;}
.grid-item .entry-meta span.updated small, .detaildate span {font-size: 16px;}
#sidebar-side.dark {padding: 0px;color: #141414;background-color: transparent;}
.excerpt-text a {color: #aaaaaa;}
.excerpt-text a:hover {color: #141414;text-decoration: none;}
.excerpt-text a.readlink {margin: -2px 0px 0px;	float: right;font-size: 13px;}
.excerpt-text a.readlink:hover {color: #a5c8c2;}
.readlink {float: right;}
#sidebar-side .widget {margin: 0px 0px 35px;}
.widget-title {padding: 0px 0px 15px;}
.widget-title h6 {color: #141414;padding-bottom: 10px;font-size: 17px;border-bottom: 1px solid #e8e8e8;letter-spacing: 0.8px;font-weight: 400;}
.widget-title h6:after {height: 1px;background-color: #a5c8c2 !important;width: 60px;bottom: -1px;}
.widget_categories ul li {border-bottom: 1px solid #e8e8e8;padding: 10px 0px;}
.widget ul li a {font-size: 15px;color: #141414 !important;}
.widget ul li a:hover {text-decoration: none;}
.widget_recent_entries ul li {padding-bottom: 10px;}
#single {padding: 0px;}
.blogsingle {margin: 30px 0px 50px;float: left;width: 100%;clear: left;}
.entry-wrapper {padding: 0px;}
.thumbfeturedetail {position: relative;width: 100%;	margin-bottom: 20px;}
.thumbfeturedetail img, .blogsingle p img, .alignnone, img.alignnone {width: 100%;}
.blogsingle p img.alignnone,
.blogsingle p img,
.alignnone, img.alignnone {margin: 0px;padding:0px;}
.blogsingle p span img,
.blogsingle p span .alignnone,
.blogsingle p span img.alignnone{margin:20px 0px;}
.blogsingle .entry-content{color:#aaa;}
.blogsingle .entry-content p {text-align: left !important;margin-bottom: 25px;color:#444;}
.blogsingle .entry-content p strong{color:#141414;}
.entry-content ol li img, .entry-content ul li img {margin: 23px 0px 20px;}
.blogsingle .entry-content b {font-weight: 600;}
.blogsingle .entry-content h2 {font-size: 18px;}
.blogsingle h1.entry-title {font-size: 24px;margin-bottom: 0px;font-weight:700;}
.blogsingle .entry-header {margin: 0px 0px 18px;}
.blogsingle header .divider-line {display: none;}
.wp-caption-text {margin: 0px 0px 20px;}
.blogsingle .author, .blogsingle .updated {display:none;}
.entry-meta a {float: left;line-height: 16px;margin-left: 5px;color: #aaa;font-size: 13px;}
.blogsingle .show-for-large .right {display: none;}
.entry-content a {color: #a5c8c2;font-weight: 600;background-color: transparent;}
.single-bottom {border-top: 1px solid #aaaaaa;	padding: 15px 0px;margin-top: 10px;display:inline-block;vertical-align:top;width:100%;}
.comments-tree {border: none;padding: 0px 0px 15px;}
#respond {padding: 30px 15px;margin: 0px 0px 30px;width:100%;float:left;border: none;background: #fff;box-shadow: 0px 0px 20px 0px rgba(226,226,226,0.6);-webkit-box-shadow: 0px 0px 20px 0px rgba(226,226,226,0.6);-ms-box-shadow: 0px 0px 20px 0px rgba(226,226,226,0.6);	-o-box-shadow: 0px 0px 20px 0px rgba(226,226,226,0.6);-moz-box-shadow: 0px 0px 20px 0px rgba(226,226,226,0.6);}
h3.comment-reply-title {padding: 0px 15px;margin-bottom: 0px;}
.blogsingle .entry-wrapper {overflow: auto !important;padding: 0px 15px;}
.comment-full {display: inline-block;width: 100%;vertical-align: top;color: #aaa;}
.comment-avatar, .comment-time, .comments-tree h3 {display: none;}
.comment-text {width: 100%;padding: 0px;float: left;border-bottom: 1px solid #f0f0f0;}
.comment-author {width: 100%;}
.comment .author-meta{margin-bottom:7px;}
a.comment-reply-link {float: right;color: #a5c8c2;width:auto;}
.comment .author-meta .comment-date {display: block;color: #aaa;}
.comment, .comment .author-meta .comment-date, .comment .author-meta .fn, .comment .author-meta .fn a, .comment-edit-link, .comment-reply-link, .widget ul li ul li, .widget ul li ul li ul li, .widget ul li ul li ul li ul li {font-size: 15px;}
.comment .author-meta .fn {color: #a5c8c2;font-size: 16px;font-weight: 700;font-family: 'MrEavesXLModOT';}
.comment .author-meta .comment-date a {color: #aaa;}
.commentlist{width:100%;display:inline-block;vertical-align:top;padding:0px;}
.commentlist .children {margin: 10px 0px 0px;}
.commentlist li {margin: 0px 0px 12px;display:inline-block;width:100%;}
.commentlist li ul li{margin-bottom:0px;}
.commentlist li:last-child .comment-text {border-bottom: none;}
.commentlist .children li:last-child .comment-text {border-bottom: 1px solid #f0f0f0;}
.comment-form p {padding: 0px 15px;margin-bottom:25px;}
input[type=text], input[type=url], input[type=email], textarea{border:none;letter-spacing:0px;border-bottom:1px solid #aaaaaa;border-radius:0px;
	padding:10px 0px;margin-bottom:0px;text-transform:none;}
input[type=text]:focus, input[type=url]:focus, input[type=email]:focus, textarea:focus{border-color:#aaaaaa !important;}
.comment-form-comment {width: 100%;}
textarea#comment {height: 100px;resize: none;}
.comment-form-author, .comment-form-email, .comment-form-url {float: left;width: 50%;}
.comment-form-url, .comment-notes{display:none;}
.comment-txt-in {float: left;width: 50%;}
#comments h3{font-size:17px;font-weight:600;margin-bottom:20px;}
p.form-submit{width:100%;display:inline-block;vertical-align:top;margin:10px 0px;}
#comments label{padding:0px;font-size:14px;color:#aaaaaa;}
	
/* footer section */
.post-nav {padding:20px 0px 70px;}
.post-previous.colorful{background-color:#a5c8c2;padding:10px 15px;}
.load-more{color:#141414 !important;font-style:normal;}
.load-more:hover{color:#141414 !important;text-decoration:none;}
#footer.footer {background: url(../img/footer-bg.jpg) no-repeat top center #f5f5f5;background-size: cover;width: 100%;padding: 30px 0px 10px;	font-size: 15px;}
.footer h5{font-size:16px;font-weight:400;line-height:24px;font-family: 'MrEavesXLModOT';text-transform:uppercase;margin-bottom:15px;}
.footer h6{font-size:16px;font-weight:400;line-height:24px;font-family: 'MrEavesXLModOT';text-transform:uppercase;}
.footerlink{float:left;width:14%;padding:15px 15px 0px;}
.footerlink li{margin-bottom:5px;}
.footer a{color:#141414;line-height:24px;font-size:15px;}
.footer a:hover{color:#a5c8c2;text-decoration:none;}
.footerlink a i{font-size: 14px;display: inline-block;vertical-align: middle;margin-right: 3px;font-weight: 400;width: 18px;margin-top: 1px;}
.footerlink a span {font-size: 16px;display: inline-block;vertical-align: middle;}
.footerlink.last{width:20%;}
.footerlogosec{width:28%;float:left;padding:16px 30px 0px 15px;margin-bottom:30px;}
.footerlogosec img{margin-bottom:15px;width:145px;}
ul.socialicon{text-align:left;display:inline-block;width:100%;}
ul.socialicon li{display:inline-block;margin:0px 5px 0px 0px;}
ul.socialicon li a{height:30px;width:30px;display:inline-block;text-align:center;background:url(../img/social-link-icn.svg) no-repeat 0px 0px;}
ul.socialicon li a.twitter{background-position:-33px 0px;}
ul.socialicon li a.google{background-position:-66px 0px;}
ul.socialicon li a.pintrest{background-position:-99px 0px;}
ul.socialicon li a.linkedin{background-position:-132px 0px;}




.quickcontactcol{padding:0px 15px;width:24%;float:left;}
ul.contactquick{width:100%;margin:3px 0px 10px;display:inline-block;width:100%;}
ul.contactquick li{margin-bottom:10px;}
ul.contactquick li a{font-size:15px;}
ul.contactquick li .material-icons{font-size:20px;color:#a5c8c2;padding-right:8px;border-right:1px solid #ddd}
ul.contactquick li span{padding-left:10px;}
.footerquickcontact{background:#fff;padding:15px 25px 30px;width:100%;box-shadow:0px 1px 3px rgba(0,0,0,0.10);}
.packageslink, .citylinks{text-align:left;}

.packageslink ul{padding:0px;margin:0px;}
.packageslink ul li{width:24%;float:left;background:url(../images/bullet.svg) no-repeat left center;padding-left:15px;text-align:left;margin-bottom:3px;}
.packageslink ul li a{display:block;color:#141414;font-weight:400;text-decoration:none;}
.packageslink ul li a:hover{color:#a5c8c2;}
.citylinks ul{padding:0px;margin:0px;}
.citylinks ul li{width:10%;float:left;background:url(../images/bullet.svg) no-repeat left center;padding-left:15px;text-align:left;margin-bottom:3px;}
.citylinks ul li a{display:inline-block;color:#141414;font-weight:400;text-decoration:none;}
.citylinks ul li a:hover{color:#a5c8c2;}
.readmorebtn{display:inline-block !important;vertical-align:top;font-size:15px;color:#a5c8c2;text-transform:uppercase;font-weight:normal;margin-top:20px;}
.readmorebtn i{margin-left:5px;font-size:19px;vertical-align:middle;}
.readmorebtn:hover{color:#a5c8c2 !important;text-decoration:none !important;}
.readmorebtn .icnup{margin-top:-2px;}
.cityicon{margin-right:10px;vertical-align:middle;display:inline-block;}
.copyright{width:100%;padding:15px 0px;display:inline-block;vertical-align:top;background:#fff;color:#898989;}
.cityright{text-align:right;}
.copyright p{margin-bottom:0px;}
.copyright .headertopcontact{text-align:center;float:left;padding:0px 15px;}
.copyright .headertopcontact a{color:#aaa;vertical-align:top;line-height:24px;border-color:#aaa;margin-left:-3px;}
.qulitysec{font-size:15px;}
/* footer section */

.rpwe-block ul {
	list-style: none !important;
	margin-left: 0 !important;
	padding-left: 0 !important;
}
.rpwe-block ul li {
	border-bottom: 1px solid #e8e8e8;
	padding: 19px 0px !important;
	list-style-type: none;
}
.rpwe-block ul li a {
	text-decoration: none;
	color: #141414;
	float: left;
}
.rpwe-block ul li a.rpwe-img{width:80px;height:80px;}
.rpwe-block h3 {
	background: none !important;
	clear: none;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 5px;
	float: right;
	width: 65%;
}
.rpwe-thumb {
	margin: 4px 10px 0px 0;
}
.rpwe-summary {
	font-size: 13px;
	color: #aaaaaa;
	font-style: normal;
}
.rpwe-time {
	color: #aaaaaa;
	font-size: 13px !important;
	font-style: normal;
	float: right;
	width: 65%;
}
.rpwe-comment {
	color: #bbb;
	font-size: 11px;
	padding-left: 5px;
}
.rpwe-alignleft {
	display: inline;
	float: left;
}
.rpwe-alignright {
	display: inline;
	float: right;
}
.rpwe-aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.rpwe-clearfix:before, .rpwe-clearfix:after {
	content: "";
	display: table !important;
}
.rpwe-clearfix:after {
	clear: both;
}
.rpwe-clearfix {
	zoom: 1;
}
.bloglistleft em {
	display: none;
}
.bloglistleft p em, .excerpt-text em {
	display: block;
}
.widget_text input[type=email] {
	border: none;
	letter-spacing: 0px;
	font-size: 14px;
	height: auto;
	border-bottom: 1px solid #e8e8e8;
	padding: 5px 0px;
	text-transform: none;
	font-style: normal;
	margin-bottom:20px;
}
.widget_text input[type=submit] {
	color: #141414;
	background-color: #a5c8c2;
	text-decoration: none;
	padding: 7px 16px;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #a5c8c2;
	transition: 0.3s all ease;
	-webkit-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
}
.form-submit input#submit {color: #141414;background-color: #a5c8c2;text-decoration: none;padding: 10px 30px;font-weight:normal;
	font-style: normal;display: inline-block;font-size: 15px;	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #a5c8c2;
	transition: 0.3s all ease;
	-webkit-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
}
.mobilemenu {display: none;}
.togglemenu {display: inline-block;margin: 3px 10px 0px 0px;}
.togglemenu i {color: #fff;font-size: 28px;}
.aligncenter{margin:0px 0px 20px;}
.headertopcontact a{font-size:14px;display:inline-block;vertical-align:middle;color:#fff;padding:0px 10px;line-height:16px;border-right:1px solid #fff;text-align:left;}
.headertopcontact a:last-child{border-right:none;padding-right:0px;}
.headertopcontact a i{font-size:14px;display:inline-block;vertical-align:middle;margin-right:3px;font-weight:400;width:18px;margin-top:1px;}
.headertopcontact a span{font-size:13px;display:inline-block;vertical-align:middle;}	
logged-in-as{display:none;}
#comments{padding:0px;border:none !important;}

/* login and registration popup model */
.common-popup {position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;z-index: 111111111;background: rgba(0,0,0,0.3);overflow: auto;height: 100%;display: none;padding: 0px !important;}
.common-content {text-align: center;height: 100%;}
.common-content::before {content: "";display: inline-block;height: 100%;vertical-align: middle;width: 0.1px;}
.common-content-box {max-width: 100%;display: inline-block;vertical-align: middle;background: #fff;text-align: left;position: relative;margin-left: -4px;width: 693px;height: 554px;}
.common-content-box .btncross {position: absolute;top: 0px;right: 0px;color: #47576c;font-size: 24px;cursor: pointer;height: 40px;width: 40px;display: inline-block;text-align: center;line-height: 40px;}
.common-content-box .btncross i {line-height: 40px;}
.common-popup aside {width: 330px;float: left;display: inline-block;min-height: 1px;height: 100%;position: relative;}
.common-popup aside.popup-right {padding: 20px 30px 30px;width: 363px;}
.login-block ul {display: inline-block;width: 100%;}
.login-block li {display: inline-block;float: left;padding-right: 20px;}
.login-block li:last-child {padding-right: 0px;}
.login-block li a {color: #aaaaaa;font-size: 22px;line-height: 32px;display: inline-block;padding:0px;cursor:pointer;}
.login-block li a:hover{background-color:transparent;}
.login-block li.active a {color: #141414;border-bottom: 2px solid #a5c8c2;background-color:transparent;}
/* google sign in */
/*.signup-input .g-signin2{height: 40px;}
.signup-input .g-signin2 .abcRioButton.abcRioButtonLightBlue{color: #000;box-shadow:none !important;height: 40px !important;width: 140px !important;}
.signup-input span.abcRioButtonContents::before{content:'Google';}*/
/* google sign in */

.login-block h6 {color: #48586c;font-size: 16px;font-weight: bold;margin-top: 18px;letter-spacing: 0.6px;margin-bottom: 17px;}
.social-link {display: inline-block;line-height: 40px;min-width: 93px;text-align: center;background: #0077b5 none repeat 0px 0px;color: #fff;font-size: 16px;font-weight: bold;margin-right:-3px;}
.social-link:hover, .social-link:focus{color:#fff;}
.social-link.facebook-link {margin-left: 12px;background: #3b5998 none repeat 0 0;}
.social-link.google-link {margin-left: 12px;background: #dc4b38 none repeat 0 0;display:none;}
.popsignin .g-signin2{margin-left: 12px;background: #dc4b38 none repeat 0 0;display:block;height: 40px;display:inline-block;width:100px;color:#fff;width:93px;text-align:center;}
.popsignin .g-signin2 .abcRioButton.abcRioButtonLightBlue{background-color: #dc4b38 !important;color: #fff;box-shadow:none !important;height: 40px !important;line-height: 40px;width: 100% !important;}
.popsignin span.abcRioButtonContents::before{content:'Google';color:#fff;}
.popsignin span{line-height: 40px !important;font-weight: 600;latter-spacint:0px !important;font-size: 16px;}
.popsignin .abcRioButtonIcon, .popsignin .abcRioButtonContents span{display: none;}
.signup-input .abcRioButtonIcon{display:none;}
.signup-input .abcRioButton:hover{box-shadow:none;background-color:transparent;}
.signup-input .abcRioButtonLightBlue{box-shadow:none;height:40px !important;}
.signup-input span.abcRioButtonContents span{display:none;}
.signup-input span.abcRioButtonContents::before{content:'Sign in with';display:block;line-height:20px;position:absolute;top:0px;font-weight:400;}
.signup-input span.abcRioButtonContents::after{content:'Google';display:block;line-height:20px;position:absolute;bottom:0px;color:#a5c8c2;font-size:16px;font-weight:700;}
.signup-section .social-link{min-width:141px;}
.signup-section .social-link.facebook-link{margin-left:20px;}
.signin-section .signup-input .abcRioButtonLightBlue{display:none;}
.line {display: inline-block;width: 100%;text-align: center;margin-top: 16px;position: relative;margin-bottom:-5px;}
.line:after {content: "";height: 1px;width: 100%;background: #e8e8e8 none repeat 0px 0px;position: absolute;top: 0px;left: 0px;bottom: 0px;right: 0px;margin: auto;}
.line span {text-transform: uppercase;font-weight: bold;color: #aaaaaa;font-size: 14px;width: 28px;text-align: center;background: #fff none repeat 0px 0px;position: relative;z-index: 1;display: inline-block;}
.line2{margin-top:25px;}
.input-box {display: inline-block;width: 100%;position:relative;text-align:center;}
.input-box label {color: #48586c;font-size: 14px;display: inline-block;width: 100%;margin-top: 14px;float: left;margin-bottom: -2px;text-align: left;margin-left:-1px;}
.input-box input {display: inline-block;width: 100%;line-height: 41px;border:none;border-bottom: 1px solid #aaaaaa;font-size: 14px;color: #141414;padding:0px;}
.input-box input:focus{background-color:transparent;border-bottom-color:#aaaaaa;}
.input-box input[type="submit"], .input-box button, .form_button {width: auto;line-height: 40px;border: none;min-width: 105px;
background: #a5c8c2;color: #141414;text-transform: uppercase;float: left;}
.signin-section .input-box.signup-input > .ordivider{display:none !important;}
.signin-section .form_button, .signin-section input[type="submit"]{float:none;}
.input-box input::-moz-placeholder{color:#a7aeb7;opacity:1}
.input-box input:-ms-input-placeholder{color:#a7aeb7;}
.input-box input::-webkit-input-placeholder{color:#a7aeb7;}
.input-box label.error{margin-top:2px;position:absolute;left:0px;top:-4px;}
.form-input form > span {color: #a7aeb7;font-size: 14px;float: left;line-height: 17px;margin-top: 6px;margin-bottom: 17px;}
.form-input form > span a {color: #a7aeb7;font-size: 14px;line-height: 17px;}
.input-box.signup-input > .ordivider {display: inline-block;text-transform: uppercase;line-height: 40px;color: #aaaaaa;font-size: 14px;font-weight: bold;width: 60px;text-align: center;float: left;}
.input-box.signup-input label {margin-top: 0px;width: auto;}
.input-box.signup-input label a {color: #a5c8c2;font-weight: bold;display: inline-block;width: 100%;font-size: 16px !important;float: left;margin-top: -6px;}
.form-input form .forgot-pass {color: #aaaaaa;font-size: 14px;float: left;line-height: 17px;margin-bottom: 16px;}
.g-signin2.form_button {text-transform:inherit;background:#fff;}
.g-signin2.form_button:hover{background:#fff;}
.signup-input .g-signin2.form_button span.abcRioButtonContents::before{content:'Sign up with';display:block;line-height:20px;position:absolute;top:0px;font-weight:400;}
.abcRioButtonContents{font-size:14px !important;font-family:inherit !important;color:#47576c;}
aside.popup-left {background: transparent url(../img/login-popup-image.jpg) no-repeat center center;}
aside.popup-left span {font-size: 20px;text-align: center;width: 100%;position: absolute;bottom: 28px;left: 0px;color: #47576c;}
aside.popup-left span a {font-size: 20px;color: #47576c;font-weight: bold;}

aside.popup-left.second-image span {display: none;}
#forgot-pass{height:100%;}
.success-block, .reset-block, .forgot-pass-block {height: 100%;display:none;}
.success-block::after, .reset-block::after, .forgot-pass-block::after {content: "";display: inline-block;height: 100%;vertical-align: middle;width: 0.1px;}
.forgot-pass-block .inner-block .material-icons{margin-bottom:50px;}
.forgot-pass-block .inner-block{margin-top:-20px;}
.inner-block {display: inline-block;width: 100%;vertical-align: middle;margin-right: -4px;}
.inner-block .material-icons {color: #a4c7c2;font-size: 90px;margin-bottom: 20px;}
.inner-block h4 {font-size: 24px;text-transform: uppercase;color: #a4c7c2;font-family: inherit;font-weight: bold;margin-top: -12px;margin-bottom: 22px;}
.inner-block p {color: #47576c;font-size: 14px;line-height: 16px;}

.forgot-pass-block .signup-input {margin-top: 20px;}
.forgot-pass-block h3 {float: left;margin: 0px;font-size: 22px;color: #141414;font-family: inherit;}
.forgot-pass-block h3 .material-icons {float: left;color: #47576c;margin-right: 15px;margin-top: -1px;}
.forgot-pass-block h3 a, .forgot-pass-block h3 a:hover{color: #141414;}
.popup-left span{display:none;}
.signin-section{margin-top:20px;}
/* login and registration popup model */

@media only screen and (max-width:767px) {
.hide_on_mobile {display: none;}
.show_on_mobile {display: block;}
ul.main-menu{display:block;}
}

@media only screen and (max-width:1170px) {
.headertop {padding: 10px 0px;}
.packageslink ul li {width: 33%;}
.page_section_offset {padding: 83px 0px 0px;}
.headertopcontact {padding: 10px 0px;}
.stickyinner .headertopcontact {padding: 4px 0px;}
.navigation {float: left;width: 100%;text-align: center;margin: 0px;}
ul.main_menu > li {display: inline-block;vertical-align: top;float: none;}
ul.main-menu.menu>li:not(.menu-text)> a {margin: 10px 20px 0px;}
.stickyinner ul.main-menu.menu>li:not(.menu-text)> a {margin: 10px 20px 0px;}
.footerlink, .footerlink.last {width: 23%;}
.quickcontactcol{width:29%;}
.footerlogosec {width: 100%;padding:0px 15px;margin-bottom:20px;text-align: center;}
.footerlogosec ul {text-align: center;}
.rpwe-thumb{margin-bottom:5px;}
.rpwe-block h3, .rpwe-time{width:100%;}
.rpwe-block ul li a.rpwe-img{display:none;}
.widget-title{padding-bottom:0px;}
.rpwe-block ul li{padding:15px 0px !important;}
#logo{margin-top:2px;}
}
@media only screen and (max-width:992px), only screen and (max-width:992px) and (orientation:portrait) {
.header_bottom_part.type_2 {padding-bottom: 2px;}
ul.main-menu > li {z-index: 4;}
ul.main-menu.menu>li:not(.menu-text)> a {margin: 10px 9px 0px;}
.stickyinner ul.main-menu.menu>li:not(.menu-text)> a {margin: 10px 9px 0px;}
.headertopcontact {padding: 12px 0px;}
.stickyinner .headertopcontact {padding: 10px 0px;}
#footer.footer{padding:30px 0px 0px;}
.footerlink.last, .footerlink {width: 32%;margin-bottom:30px;}
.quickcontactcol{width:36%;}
.footerlogosec {text-align: left;width: 67%}
.footerlogosec ul {text-align: left;width: 100%;}
.citylinks ul li {width: 16%;}
.packageslink ul li {width: 50%;}
.nav > li > a > img {width: 100px;}
.productdetailpack {padding-right: 0px;margin-top: 15px;}
.grid-item{width:50%}

}
 @media only screen and (max-width:767px) {
#header {background: #a5c8c2;border: none;}
#header.stickyinner {top: 0px;background-color: #fff;border:none;}
.stickyinner ul.headeropt i {color: #fff;}
header.stickyinner ul.headeropt i {color: #aaa;}
header.stickyinner .menuheader i {color: #fff;}
.togglemenu i {color: #fff;}
.captionheadertitle {top: 23%;}
.headertop, .stickyinner .headertop {border: none;padding: 10px 0px;border-bottom: none;}
ul.headeropt a, ul.headeropt i {color: #fff;}
.stickyinner ul.headeropt select {color: #aaaaaa !important;}
.stickyinner .togglemenu i {color: #a5c8c2}
.stickyinner #logo, .logo, .sticky .logo, .stickyinner .logo {width: auto;float: left;}
.searchicn {margin-right: 0px;}
.header_top_part {display: none;padding: 3px 0px 5px;}
.productcat {text-align: center;display: inline-block;vertical-align: top;float: none;margin-left: -3px;min-height: 1px;}
.show_on_mobile {display: inline-block;}
.mobilemenu {display: inline-block;float: left;}
.navigation {position: fixed;left: -100%;z-index: 10;top: 0;height: 100%;transition: all ease 0.3s;	display: block !important;width: 500px;
	transform: translateX(-100%);background: #fff;text-align: left;-webkit-transform: translateX(-100%);-ms-transform: translateX(-100%);-o-transform: translateX(-100%);-moz-transform: translateX(-100%);}
ul.main-menu > li > a {color: #141414;cursor: pointer;text-decoration: none;position:relative;}
ul.main-menu {background: #fff;max-height: calc(100vh - 50px);width: 100%;overflow: auto;margin-bottom: 40px;}
ul.main-menu > .current_click > a, .lbrown.state_2[class*="button_type"]:hover, .lbrown[class*="button_type"]:not(.state_2), .active_lbrown.active[data-open-dropdown] {background: #a5c8c2;color: #141414;}
ul.main-menu > li {padding: 0px 15px;width: 100%;text-align: left;letter-spacing:0px;}
.intro {left: 0px;transform: translateX(0%)}
.stickyinner ul.main-menu.menu>li:not(.menu-text)>a, ul.main-menu.menu>li:not(.menu-text)>a {border-top: 1px solid #e8e8e8;color: #141414;
	padding: 11px 0px 11px 27px;margin: 0px;display: inline-block;width: 100%;opacity:1;}
.main-menu.menu>li:not(.menu-text)>a:hover{text-decoration: none;color: #a5c8c2;}
ul.main-menu > .current > a, .main_menu > .current_click > a, .md_no-touch .main_menu > li:hover > a, ul.main-menu > li > a:hover {color: #a5c8c2;background-color: transparent;}
ul.main-menu > li > a.active {color: #a5c8c2;}
ul.main-menu > li.menu-item-has-children a:after{content:'';color:#141414;position:absolute;right:0px;background:url(../img/down_arrow.svg) right center no-repeat;height:10px;width:10px;top:18px;}
ul.main-menu > li.menu-item-has-children a.open:after{transform:rotate(180deg);}
ul.main-menu > li.menu-item-has-children ul li a:after{display:none;}
ul.main-menu >  li.packagesicn a::before{content:'';height:20px;width:20px;position:absolute;background:url(../img/packages-sm.svg) left  center no-repeat;background-size:100%;left:0px;}
ul.main-menu >  li.homefurnitureicn a::before{content:'';height:20px;width:20px;position:absolute;background:url(../img/home-furnish-sm.svg) left  center no-repeat;background-size:100%;left:0px;}
ul.main-menu >  li.officefurnitureicn a::before{content:'';height:20px;width:20px;position:absolute;background:url(../img/office-furnish-sm.svg) left  center no-repeat;background-size:100%;left:0px;}
ul.main-menu >  li.electronicsicn a::before{content:'';height:20px;width:20px;position:absolute;background:url(../img/electronics-sm.svg) left  center no-repeat;background-size:100%;left:0px;}
ul.main-menu >  li.fitnessicn a::before{content:'';height:20px;width:20px;position:absolute;background:url(../img/fitness-sm.svg) left  center no-repeat;background-size:100%;left:0px;}
ul.main-menu >  li.clearsaleicn a::before{content:'';height:20px;width:20px;position:absolute;background:url(../img/clearance-sale-sm.svg) left  center no-repeat;background-size:100%;left:0px;}
ul.main-menu >  li.helpicn a::before{content:'';height:20px;width:20px;position:absolute;background:url(../img/help-sm.svg) left  center no-repeat;background-size:100%;left:0px;}
ul.main-menu >  li.informationicn a::before{content:'';height:20px;width:20px;position:absolute;background:url(../img/information-sm.svg) left  center no-repeat;background-size:100%;left:0px;}
ul.main-menu >  li.policiesicn a::before{content:'';height:20px;width:20px;position:absolute;background:url(../img/policies-sm.svg) left  center no-repeat;background-size:100%;left:0px;}
ul.main-menu li.policiesicn .sub-menu li a::before,
ul.main-menu li.informationicn .sub-menu li a::before,
ul.main-menu li.helpicn .sub-menu li a::before{display:none;}

/* mobile menu dropdown */
ul.main-menu li.show_on_mobile{display:inline-block;}
ul.main-menu li.hide_on_mobile {display: none;}
ul.main-menu li.citydropdown{width:100%;display:none;}
.dropdown.menu .sub-menu {width: 100%;position: relative;left: 0px;box-shadow: none;border: none;padding: 0px 0px 0px 25px;margin: 0px;}
.dropdown.menu .sub-menu > li > a, .dropdown.menu .sub-menu > li > a:focus {text-transform: uppercase;padding: 11px 0px 13px;display: inline-block;width: 100%;background: none;text-decoration:none;letter-spacing:0px;opacity:1;font-size:15px;border-bottom:1px solid #e8e8e8;
	position:relative;}
.dropdown.menu .sub-menu li:last-child a{border-bottom:none;}
.dropdown.menu .sub-menu a i {height: 20px;width: 20px;display: inline-block;margin-right: 7px;}
.dropdown.menu .sub-menu > li:first-child a {padding-top: 0px;}
.dropdown.menu .sub-menu > li > a:hover {color: #aed0c9;}
.dropdown.menu .sub-menu > li.delhithumb a, .dropdown.menu .sub-menu > li.banglorethumb a, .dropdown.menu .sub-menu > li.punethumb a,
.dropdown.menu .sub-menu > li.mumbaithumb a, .dropdown.menu .sub-menu > li.cabinetthumb a, .dropdown.menu .sub-menu > li.sinkthumb a,
.dropdown.menu .sub-menu > li.chairthumb a, .dropdown.menu .sub-menu > li.sibedthumb a, .dropdown.menu .sub-menu > li.betablethumb a,
.dropdown.menu .sub-menu > li.dbedthumb a, .dropdown.menu .sub-menu > li.chdrawerthumb a{padding-left:27px;}
 /* package dropdown thumb */
.dropdown.menu .sub-menu > li.cabinetthumb a:before{content:'';height:20px;width:20px;position:absolute;background:url(../img/cabinet-sm.svg) left  center no-repeat;background-size:100%;left:0px;}
.dropdown.menu .sub-menu > li.sinkthumb a:before{content:'';height:25px;width:23px;position:absolute;background:url(../img/sink-sm.svg) left  center no-repeat;background-size:100%;left:0px;top:9px;}
.dropdown.menu .sub-menu > li.chairthumb a:before{content:'';height:20px;width:20px;position:absolute;background:url(../img/chair-sm.svg) left  center no-repeat;background-size:100%;left:0px;}
.dropdown.menu .sub-menu > li.sibedthumb a:before{content:'';height:20px;width:20px;position:absolute;background:url(../img/single-bed.svg) left  center no-repeat;background-size:100%;left:0px;}
.dropdown.menu .sub-menu > li.betablethumb a:before{content:'';height:20px;width:20px;position:absolute;background:url(../img/bedside-table-sm.svg) left  center no-repeat;background-size:100%;left:0px;	}
.dropdown.menu .sub-menu > li.dbedthumb a:before{content:'';height:20px;width:20px;position:absolute;background:url(../img/double-bed-sm.svg) left  center no-repeat;background-size:100%;left:0px;}
.dropdown.menu .sub-menu > li.chdrawerthumb a:before{content:'';height:20px;width:20px;position:absolute;background:url(../img/chest-of-drawer.svg) left  center no-repeat;background-size:100%;left:0px;}
/* package dropdown thumb */
	
.navigation .btn-group .dropdown-menu{width:100%;position:relative;left:0px;box-shadow:none;border:none;padding:0px 0px 0px 25px;margin:0px;}
.navigation .btn-group .dropdown-menu > li > a{text-transform:uppercase; padding:11px 0px 13px;display:inline-block;width:100%;border-bottom:1px solid #e8e8e8;background:none;color:#141414;text-decoration:none;letter-spacing:0px;}
.navigation .btn-group .dropdown-menu > li > a:focus{color:#aed0c9;background:none;}
.navigation .btn-group a i{height:20px;width:20px;display:inline-block;margin-right:7px;}
.navigation .btn-group .dropdown-menu > li:first-child a{padding-top:0px;}	
.navigation .btn-group .dropdown-menu > li > a:hover{color:#aed0c9;}
.navigation .btn-group li.dropdown.open a.dropdown-toggle{border-bottom:1px solid transparent;color:#141414;cursor:pointer;}	
.navigation .btn-group li.dropdown .dropdown-backdrop{z-index:-1;position:static;}
.navigation .btn-group{width:100%;position:relative;text-align:left;padding:0px;}
.navigation .btn-group.open .dropdown-toggle{box-shadow:none;}
.navigation .btn-group .dropdown-menu{position:relative;}
.navigation .btn-group a{color: #aaaaaa;padding: 11px 0px 11px 27px;margin: 0px;vertical-align:middle;text-transform:uppercase;color:#141414;display:block;}
.navigation .btn-group .dropdown-menu a{padding-left:0px;letter-spacing:0px;opacity:1;}
.navigation .btn-group i.citytoggle{height: 20px;width: 20px;display: inline-block;margin-right: 7px;vertical-align:middle;position:absolute;left:0px;top:11px;}
.navigation .btn-group .downarrow{float:right;margin-right:0px;margin-top:5px;background:url(../img/down_arrow.svg) right center no-repeat;
	height:10px;width:10px;}
.navigation .btn-group.open .downarrow{transform:rotate(-180deg);}
.sticky .navigation .btn-group .dropdown-menu, 
.stickyinner .navigation .btn-group .dropdown-menu{background:none;box-shadow:none;}
.sticky .navigation .btn-group .dropdown-menu::after, 
.stickyinner .navigation .btn-group .dropdown-menu::after{display:none;}
.btn-group .dropdown-menu li:last-child a{border:none;}
/* city dropdown thumb */
.cross-menu {display: block;}
ul.headeropt .btn-group .dropdown-menu:before {border-bottom-color: #aaa;border-width: 8px;}
.copyright {text-align: center;background: #a5c8c2;margin: 0px;padding: 10px 0px;}
.copyright .headertopcontact {display: inline-block;float: none;width: 100%;padding: 5px 0px 8px;}
.copyright .headertopcontact a:last-child {padding-right: 10px;}
.back_to_top, .back_to_top:hover {bottom: 60px;right: 15px;}
.page_section_offset {padding-top: 51px;}
.menuheader {background: #a5c8c2;padding: 10px 15px;float: left;width: 100%;}
.mobileoverlay {background: rgba(0,0,0,0.4);position: fixed;width: 100%;height: 100%;left: 0px;top: 0px;opacity: 0;visibility: hidden;transition: ease-in 0.4s all;}
.overvisible {opacity: 1;visibility: visible;cursor: pointer;}
.menuheader .header-right-top a {color: #fff;margin-left: 15px;}
.stickyinner .menuheader i {color: #fff;}
.copyright .headertopcontact {padding: 0px;}
.copyright .headertopcontact a {color: #fff;border-color: #fff;}
ul.headeropt {margin-right: 15px;}
/* blog css */
.bloglistleft {width: 100%;}
.blogsidebar {display: none;}
#footer.footer {padding: 0px;}
.header-right-top {float: right;margin-top: 4px;}
.header-right-top li {float: left;}
#primary-menu li a[href*=mailto]::before {display: none;}
#primary-menu li a[href*=mailto] {width: auto;padding: 0px;color: #fff;}
.grid-item {width: 50%;}
.blogsingle{margin:15px 0px 0px;}
.post-nav{padding:0px 0px 20px;}
.innerbanner {padding:18px 0px 15px;}
#content{margin:15px 0px 0px;}
.modal.loginmodel .modal-body{padding:20px 20px 35px;}
.cartcross{display:none;}
/* blog */
}
@media only screen and (max-width:640px) {
.productdetailrow .col-lg-8 {padding-right: 15px}
.productdetailrow .col-lg-4 {padding-left: 15px}
.comment-form-author, .comment-form-email, .comment-form-url{width:100%;	}
}
@media only screen and (max-width:599px) {
.navigation {width: 300px;}
.packageslink ul li {width: 50%;}
.citylinks ul li {width: 50%;}
.modal.searchmodel {padding: 0px !important;}
.catagorycol {width: 25%;padding: 0px 20px 20px 15px;margin-right: -3px;}
.searchicnab {left: 0px;margin-top: -11px;font-size: 24px;}
.searchmodel .form-control {padding-left: 10px;}
.btncross, .btncross:hover {right: 15px;}
.searchmodel .modal-header {padding: 10px 0px 0px;}
.searchmodel .modal-header {margin-bottom: 30px}
.innerbanner h1 {font-size: 24px;}
.nav > li > a > img {width: 60px;}
.innerbanner h2 {font-size: 17px;margin: 10px 0px 5px;}

/* blog */
.grid-item {width: 100%;}
.modal.loginmodel .modal-dialog{padding:0px 15px;}
.modal.loginmodel .nav-tabs > li > a{padding:10px;}
.modal.loginmodel .modal-body{padding:20px 20px 35px;}
.modal.loginmodel .form-group{margin-bottom:10px;}
.modal.loginmodel .form-control{padding:5px 0px;}
.social-login{text-align:center;}
.social-login a{width:36px;margin-right:10px;float:none;display:inline-block;height:35px;padding:8px;}
.social-login a .fa{margin-right:0px;font-size:16px;}
.social-login a.google, .social-login a.google:hover{margin-right:10px;}
.social-login a span{display:none;}
.modal.loginmodel .nav-tabs > li > a{font-size:18px;line-height:18px;}
.modal.loginmodel .btn-default{padding:10px;}
.divider_or{margin:10px 0px;}

}
@media only screen and (max-width:480px) {ul.headeropt a {margin-left: 10px;}
}
@media only screen and (max-width:479px) {
ul.headeropt i {font-size: 26px;line-height: 18px;}
ul.headeropt .btn-group {line-height: 0;}
.footerlink.last, .footerlink {width: 49%;float: none;display: inline-block;vertical-align: top;margin-bottom: 20px;}
.cross-menu {top: 75px;}
.menuheader .header-right-top i {font-size: 24px;line-height: 24px;}
.header_top_part span {font-size: 12px;margin-right: 5px}
.cartsidebar{width:300px;height:100%;overflow-y:auto;}
.cartsys ul{padding:0px 20px;}
.btncartdiv{padding:20px;}
.titlecart{margin:0px 20px;}
.btncartdiv .btn-check{padding:9px 15px;}
.cart-desc{width:61%;padding-left:10px;}
}
@media only screen and (max-width:415px) {
.titlecart{margin:0px 20px;}
.cartsys ul{padding:0px 20px;}
.btncartdiv{padding:20px;}
.cart-thumb{width:80px;}
.cart-desc{width:69%;}
.btncartdiv .btn-check{padding:9px 15px;}
}
@media only screen and (max-width:375px) {
.cartsidebar {width: 320px;	height: 100%;overflow-y: auto;}
.cart-desc{width:69%;padding-left:10px;}
.btncartdiv .btn-check{padding:9px 20px;}
.breadcrumb li a, .breadcrumb li {font-size: 13px;}
.header_top_part span {font-size: 12px;	margin-right: 5px}
.innerbanner h2 {font-size: 15px;}
}
@media only screen and (max-width:360px) {
ul.headeropt .btn-group .dropdown-toggle i {margin-top: 4px;}
}
@media only screen and (max-width:320px) {
.navigation {width:280px;}
.cartsidebar{width:280px;}
.cart-desc{width:65%;}
.btncartdiv .btn-check{padding:9px 10px;}
}
 @media only screen and (max-width:992px), only screen and (max-width:992px) and (orientation:portrait) {
#quick_view>.popup {
	width: 365px;
	max-height: 90vh;
	overflow: auto;
}
.init_popup>.popup {
	left: 5%;
	top: 5%;
	position: absolute;
}
.mobile_footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
}
}
