body {
    font-family: 'Lora', Georgia, serif;
}

/* Body Bg */

body {
    background: #f8f8f8;
}
#primary-menu:after {
    border-color: #F8F8F8 transparent transparent transparent;
}
#footer:before {
    border-color: transparent transparent #f8f8f8 transparent;
}

/* Header Color */

.text-logo a, .text-logo a:hover, #logo a, ul.main-menu li a:hover, ul.main-menu li.current_page_item>a, ul.main-menu li a, ul.secondary-menu li a, .sub-nav li a, #logo .tagline, #primary-menu li a:before, #footer-menu li a:before, .text-line, .text-line a {
    color: #403F3F;
}
.header-line:after, .header-line:before {
    border-color: #403F3F;
}
.header-line, .title-bar {
    background-color: #403F3F;
}

/* Custom Color 1 */

#logo .text-logo:before {
    color: #FFF388;
}
table#wp-calendar thead, table#wp-calendar td#today, .tabs dd.active a, input#submit, input#wp-submit, .wpcf7-submit, .postfix, .colorful, .menu-icon {
    background-color: #FFF388;
}
input[type='text']:focus,input[type='password']:focus,input[type='email']:focus,input[type='search']:focus,input[type='tel']:focus,input[type='url']:focus,textarea:focus, .widget .textwidget a {
    border-color: #FFF388;
}

/* Custom Color 2 */

.entry-content a {
    background-color: #FFF388;
}

/* Custom Color 3 */

.entry-content a {
    color: #403F3F;
}