/** MEDIA QUERIES **/

/* Medium and Large Screens */

@media only screen and (min-width: 48em) {

    /* Transitions */
    a, .social-item .icon a, input#submit, .wpcf7-submit, .postfix,  input[type="text"], input[type="password"], input[type="email"],input[type="search"],input[type="tel"],input[type="url"], input#wp-submit, textarea, .widget ul li a, .tagcloud a, .item-icon, .comment .fn, .half-grid .post:hover .media-holder, .excerpt-text, .menu-icon, .menu a:hover::before {
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    .main-menu ul.sub-menu {
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    .main-menu li:hover ul.sub-menu {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    ul.main-menu {
        margin-top: -0.25em;
        padding-left: 0.16em;
    }
    .main-menu ul {
        padding: 1.82em 1.82em;
    }
    .main-menu ul li {
        padding: 0.618em 0;
    }
    .main-menu.menu > li:not(.menu-text) > a {
        padding: 1.82em 2.618em 1.82em 0;
    }
    .main-menu .social-item {
        top: 0;
        position: relative;
    }
    .main-menu .social-item a {
        padding: 0;
    }
    .main-menu .social-item:first-of-type a {
        padding: 0;
    }
    .dropdown.menu .submenu {
        opacity: 0.8;
    }
    .dropdown.menu .submenu.first-sub {
        left: 0;
    }
    .boxed {
        margin: 0 4.236em;
    }
    img.alignright, .alignright {
        margin: 0.5em -2.618em 1em 2.618em;
    }
    img.alignleft, .alignleft {
        margin: 0.5em 2.618em 1em -2.618em;
    }
    .narrow .wide-img {
        width: 128%;
        margin: 0 -14%;
    }
    #header {
        padding: 4.236em 0 0 0;
    }
    .comment-form-author, .comment-form-email, .comment-form-url {
        width:30%;
        float: right;
        margin: 0;
    }
    .comment-form-comment {
        float: left;
        width:70%;
    }
    .comment-form-author, .comment-form-email, .comment-form-url {
        padding-left: 1.82em;
    }
    input#submit {
        clear: both;
    }
    textarea#comment {
        height: 15.78em;
    }
    .comment-reply-link, .comment-edit-link {
        width: auto;
        display: inline-block;
        text-align: center;
    }
    .comment-reply-link {
        margin: 0 0 0 3.706em;
    }
    .comment-edit-link {
        margin-left: 1.82em;
    }
    h1.entry-title {
        font-size: 2.945em;
    }
    h2.entry-title {
        font-size: 2.618em;
    }
    .subheader .entry-title {
        font-size: 1.618em;
    }
    .admin-bar .lg-outer .lg {
        margin-top: 32px;
    }
    button,.button {
        font-size: 1.125em;
    }
}

@media only screen and (min-width: 64.063em) {
    .right {
        float: right;
    }
    .left {
        float: left;
    }
    .narrow .wide-img {
        width: 118%;
        margin: 0 -9%;
    }
    #footer .text-line {
        font-size: 0.875em;
        display: block;
        text-align: right;
        line-height: 1;
    }
    #footer-menu {
        position: relative;
        top: -0.5em;
    }
    #menu-mobile {
        display: none;
    }
    h1.entry-title {
        font-size: 3.706em;
    }
    .large-title h1.entry-title {
        font-size: 4.236em;
    }
    .entry-content p {
        text-align: justify;
    }
    .keynote h2, .keynote p {
        font-size: 1.82em;
        line-height: 1.4;
    }
    .type-attachment .keynote p {
        font-size: 1.4em;
    }
    .author-review {
        width: 50%;
        margin: 0.5em 1.82em 1em 0;
    }
    .entry-content{
        padding: 0;
    }
    .page .page {
        margin: -0.164em 0 0 0;
    }
    .page .page .divider {
        margin-top: 2.25em;
    }
    #share .share-button {
        font-size: 1.618em;
    }
    #share span {
        font-size: 1.82em;
    }
    .half-grid .text-holder .inner {
        top: 0;
        left: 0;
        position: absolute;
        padding: 1.618em 0;
    }
    .half-grid .text-holder {
        width: 50%;
        position: absolute;
        padding: 0;
        top: 3.706em;
    }
    .half-grid .odd .text-holder .inner {
        padding: 0 2.945em 2.618em 2.945em;
    }
    .half-grid .even .text-holder .inner {
        padding: 0 2.945em 2.618em 2.945em;
    }
    .half-grid .excerpt-text {
        margin-top: 1.82em;
    }
    .half-grid .media-holder {
        width: 50%;
    }
    .half-grid .odd .media-holder {
        float: left;
    }
    .half-grid .even .media-holder {
        float: right;
    }
    .half-grid .even .text-holder .entry-title, .half-grid .even .text-holder .excerpt-text {
        text-align: right;
    }
    .half-grid .entry-title::after {
        height: 2px;
        position: static;
        display: block;
        margin-top: 0.695em;
        content: '';
        bottom: 0;
        width: 30%;
    }
    .half-grid .odd .entry-title::after {
        bottom: 0;
        left: 0;
    }
    .half-grid .even .entry-title::after {
        bottom: 0;
        right: 0;
        margin-left: 70%;
    }
    .half-grid .text-holder.has-mobile-caption, .half-grid .text-holder.has-mobile-caption .inner {
        position: absolute;
    }
    .half-grid .text-holder.has-mobile-caption:before {
        display: none;
    }
    .half-grid .excerpt-text {
        margin-top: 4.236em;
    }
}

@media only screen and (min-width: 80em) {
    .boxed {
        margin: 0 9.703em;
    }
    .narrow .wide-img {
        width: 144%;
        margin: 0 -22%;
    }
    .entry-wrapper {
        padding: 5.997em 0;
    }
    .half-grid .text-holder {
        top: 6.854em;
    }
    .post.has-post-thumbnail .small-block .entry-meta-holder {
        margin: 1.618em 0 0 9em;
    }
    .page .large-thumb-list-2-columns .post.has-post-thumbnail .small-block .entry-meta-holder {
         margin: 1.125em 0 0 5.375em;
    }
    .page .list-2-columns .post.has-post-thumbnail .small-block .entry-meta-holder {
        margin: 1.618em 0 0 11.125em;
    }
    .divider-medium {
        margin-bottom: 2.945em;
    }

}

@media only screen and (min-width: 90em) {
    .half-grid .odd .text-holder .inner {
        padding: 0 5.997em 4.236em 5.997em;
    }
    .half-grid .even .text-holder .inner {
        padding: 0 5.997em 4.236em 5.997em;
    }
    .narrow .wide-img {
        width: 138%;
        margin: 0 -19%;
    }
}

@media only screen and (min-width: 100em) {
    body {
        font-size: 125%;
    }
    .comment, .comment .author-meta .comment-date, .comment .author-meta .fn, .comment .author-meta .fn a, .comment-reply-link, .comment-edit-link, .widget ul li ul li, .widget ul li ul li ul li, .widget ul li ul li ul li ul li {
        font-size: 17px;
    }
    .dropdown.menu .submenu {
        min-width: 300px;
    }
}