@font-face {
  font-family: 'fontello';
  src: url('../../font/fontello.eot?88910784');
  src: url('../../font/fontello.eot?88910784#iefix') format('embedded-opentype'),
       url('../../font/fontello.woff?88910784') format('woff'),
       url('../../font/fontello.ttf?88910784') format('truetype'),
       url('../../font/fontello.svg?88910784#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?88910784#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
   font-size: 120%;
 
  /* Uncomment for 3D effect */
 /*  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-gplus:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-tumblr:before { content: '\e802'; } /* '' */
.icon-tumblr-1:before { content: '\e803'; } /* '' */
.icon-facebook-1:before { content: '\e804'; } /* '' */
.icon-pinterest-1:before { content: '\e805'; } /* '' */
.icon-googleplus:before { content: '\e806'; } /* '' */
.icon-indent-left:before { content: '\e807'; } /* '' */
.icon-briefcase:before { content: '\e808'; } /* '' */
.icon-laptop:before { content: '\e809'; } /* '' */
.icon-shuffle:before { content: '\e80a'; } /* '' */
.icon-wrench:before { content: '\e80b'; } /* '' */
.icon-wrench-circled:before { content: '\e80c'; } /* '' */
.icon-basket:before { content: '\e80d'; } /* '' */
.icon-basket-circled:before { content: '\e80e'; } /* '' */
.icon-rss:before { content: '\e80f'; } /* '' */
.icon-plane-outline:before { content: '\e810'; } /* '' */
.icon-user:before { content: '\e811'; } /* '' */
.icon-user-outline:before { content: '\e812'; } /* '' */
.icon-mail:before { content: '\e813'; } /* '' */
.icon-star:before { content: '\e814'; } /* '' */
.icon-comment-alt:before { content: '\e815'; } /* '' */
.icon-heart-empty-1:before { content: '\e816'; } /* '' */
.icon-heart-1:before { content: '\e817'; } /* '' */
.icon-link-1:before { content: '\e818'; } /* '' */
.icon-users:before { content: '\e819'; } /* '' */
.icon-forward:before { content: '\e81a'; } /* '' */
.icon-wifi-outline:before { content: '\e81b'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e81c'; } /* '' */
.icon-thumbs-down:before { content: '\e81d'; } /* '' */
.icon-chat-empty:before { content: '\e81e'; } /* '' */
.icon-comment-empty:before { content: '\e81f'; } /* '' */
.icon-chat:before { content: '\e820'; } /* '' */
.icon-pinterest:before { content: '\e821'; } /* '' */
.icon-comment:before { content: '\e822'; } /* '' */
.icon-upload-cloud:before { content: '\e823'; } /* '' */
.icon-facebook-rect:before { content: '\e824'; } /* '' */
.icon-tumblr-rect:before { content: '\e825'; } /* '' */
.icon-googleplus-rect:before { content: '\e826'; } /* '' */
.icon-laptop-1:before { content: '\e827'; } /* '' */
.icon-tumblr-squared:before { content: '\e828'; } /* '' */
.icon-twitter-squared:before { content: '\e829'; } /* '' */
.icon-pinterest-squared:before { content: '\e82a'; } /* '' */
.icon-pinterest-circled:before { content: '\e82b'; } /* '' */
.icon-gplus-squared:before { content: '\e82c'; } /* '' */
.icon-gplus-1:before { content: '\e82d'; } /* '' */
.icon-facebook-squared:before { content: '\e82e'; } /* '' */
.icon-facebook-2:before { content: '\e82f'; } /* '' */
.icon-search:before { content: '\e830'; } /* '' */
.icon-search-outline:before { content: '\e831'; } /* '' */
.icon-chat-alt:before { content: '\e832'; } /* '' */
.icon-heart-2:before { content: '\e833'; } /* '' */
.icon-heart-filled:before { content: '\e834'; } /* '' */
.icon-users-outline:before { content: '\e835'; } /* '' */
.icon-users-1:before { content: '\e836'; } /* '' */
.icon-picture-outline:before { content: '\e837'; } /* '' */
.icon-picture:before { content: '\e838'; } /* '' */
.icon-camera-outline:before { content: '\e839'; } /* '' */
.icon-camera:before { content: '\e83a'; } /* '' */
.icon-th-large-outline:before { content: '\e83b'; } /* '' */
.icon-th-large:before { content: '\e83c'; } /* '' */
.icon-ok-outline:before { content: '\e83d'; } /* '' */
.icon-ok:before { content: '\e83e'; } /* '' */
.icon-cancel-outline:before { content: '\e83f'; } /* '' */
.icon-cancel:before { content: '\e840'; } /* '' */
.icon-plus-outline:before { content: '\e841'; } /* '' */
.icon-plus:before { content: '\e842'; } /* '' */
.icon-info-outline:before { content: '\e843'; } /* '' */
.icon-info:before { content: '\e844'; } /* '' */
.icon-home-outline:before { content: '\e845'; } /* '' */
.icon-home:before { content: '\e846'; } /* '' */
.icon-link-outline:before { content: '\e847'; } /* '' */
.icon-attach-outline:before { content: '\e848'; } /* '' */
.icon-lock:before { content: '\e849'; } /* '' */
.icon-lock-filled:before { content: '\e84a'; } /* '' */
.icon-lock-open:before { content: '\e84b'; } /* '' */
.icon-thumbs-up:before { content: '\e84c'; } /* '' */
.icon-thumbs-down-1:before { content: '\e84d'; } /* '' */
.icon-download-outline:before { content: '\e84e'; } /* '' */
.icon-upload-outline:before { content: '\e84f'; } /* '' */
.icon-upload:before { content: '\e850'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e851'; } /* '' */
.icon-upload-cloud-1:before { content: '\e852'; } /* '' */
.icon-forward-outline:before { content: '\e853'; } /* '' */
.icon-export-outline:before { content: '\e854'; } /* '' */
.icon-pen:before { content: '\e855'; } /* '' */
.icon-pencil:before { content: '\e856'; } /* '' */
.icon-edit:before { content: '\e857'; } /* '' */
.icon-comment-1:before { content: '\e858'; } /* '' */
.icon-bell:before { content: '\e859'; } /* '' */
.icon-attention:before { content: '\e85a'; } /* '' */
.icon-vcard:before { content: '\e85b'; } /* '' */
.icon-location-outline:before { content: '\e85c'; } /* '' */
.icon-location:before { content: '\e85d'; } /* '' */
.icon-trash:before { content: '\e85e'; } /* '' */
.icon-rss-outline:before { content: '\e85f'; } /* '' */
.icon-rss-1:before { content: '\e860'; } /* '' */
.icon-wrench-outline:before { content: '\e861'; } /* '' */
.icon-cog-outline:before { content: '\e862'; } /* '' */
.icon-basket-1:before { content: '\e863'; } /* '' */
.icon-flash-outline:before { content: '\e864'; } /* '' */
.icon-key-outline:before { content: '\e865'; } /* '' */
.icon-clipboard:before { content: '\e866'; } /* '' */
.icon-gift:before { content: '\e867'; } /* '' */
.icon-shop:before { content: '\e868'; } /* '' */
.icon-briefcase-1:before { content: '\e869'; } /* '' */
.icon-check-outline:before { content: '\e86a'; } /* '' */
.icon-credit-card:before { content: '\e86b'; } /* '' */
.icon-chart-outline:before { content: '\e86c'; } /* '' */
.icon-infinity-outline:before { content: '\e86d'; } /* '' */
.icon-infinity:before { content: '\e86e'; } /* '' */
.icon-box:before { content: '\e86f'; } /* '' */
.icon-menu-outline:before { content: '\e870'; } /* '' */
.icon-attention-filled:before { content: '\e871'; } /* '' */
.icon-th-outline:before { content: '\e872'; } /* '' */
.icon-bookmark:before { content: '\e873'; } /* '' */
.icon-th-list-outline:before { content: '\e874'; } /* '' */
.icon-bell-1:before { content: '\e875'; } /* '' */
.icon-edit-1:before { content: '\e876'; } /* '' */
.icon-cw-outline:before { content: '\e877'; } /* '' */
.icon-scissors-outline:before { content: '\e878'; } /* '' */