@charset "UTF-8";

#new-sign .sns-frm .store .tooltip .ic-q,
#new-sign .sns-frm .check-email i,
.btn-sign-big .icon,
.btn-sign-liner .icon,
#new-sign .logo a,
.btn-sign-more .ic-next,
#new-sign input[type="checkbox"],
#new-sign .btn-back .ic-prev,
#new-sign .hr,
.popup.signin-overlay .sns-account .ic-we,
.popup.signin-overlay .sns-account .ic-re,
.popup.signin-overlay .sns-account .ic-bk,
.popup.signin-overlay .sns-account .ic-qz {
	background: url('../../images/site/common/new-sign.png') no-repeat;
	background-size:550px 400px;
}
@media screen and (-webkit-min-device-pixel-ratio:2){
	#new-sign .sns-frm .store .tooltip .ic-q,
	#new-sign .sns-frm .check-email i,
	.btn-sign-big .icon,
	.btn-sign-liner .icon,
	#new-sign .logo a,
	.btn-sign-more .ic-next,
	#new-sign input[type="checkbox"],
	#new-sign .btn-back .ic-prev,
	#new-sign .hr,
	.popup.signin-overlay .sns-account .ic-we,
	.popup.signin-overlay .sns-account .ic-re,
	.popup.signin-overlay .sns-account .ic-bk,
	.popup.signin-overlay .sns-account .ic-qz {
		background-image:url('../../images/site/common/new-sign2x.png');
		background-size:550px 400px;
	}
}
/* button Big */
.btn-sign-big {width:137px;height:137px;text-align:center;color:#eef0f3;background:#777b80;border-radius:5px;}
.btn-sign-big:hover {opacity:0.85;filter:alpha(opacity=85);}
.btn-sign-big .icon {display:block;width:62px;height:60px;margin:0 auto 14px;}
.btn-sign-big.weibo .icon {width:58px;background-position:0 8px;}
.btn-sign-big.weibo, .btn-sign-liner.weibo {background-color:#f53746;}
.btn-sign-big.renren .icon {width:85px;background-position:-100px 8px;}
.btn-sign-big.renren, .btn-sign-liner.renren {background-color:#1c6bac;}
.btn-sign-big.qzone .icon {background-position:-200px 0;}
.btn-sign-big.qzone, .btn-sign-liner.qzone {background-color:#f4b13c;}
.btn-sign-big.bk .icon {width:36px;background-position:-300px 11px;}
.btn-sign-big.bk, .btn-sign-liner.bk {background-color:#49739f;}
.btn-sign-big.google .icon {width:59px;background-position:10px -92px;}
.btn-sign-big.google, .btn-sign-liner.google {background-color:#dd4b39;}
.btn-sign-big.fb .icon {width:57px;background-position:-98px -87px;}
.btn-sign-big.fb, .btn-sign-liner.fb {background-color:#526996;}
.btn-sign-big.tw .icon {width:49px;background-position:-200px -86px;}
.btn-sign-big.tw, .btn-sign-liner.tw {background-color:#4bace2;}

/* button Liner */
.btn-sign-liner {height: 44px;min-width: 244px;padding: 0px 9px;font-size: 15px;font-weight: bold;color: #fff;background: #777b80;line-height: 26px;border-radius: 3px;text-align: left;}
.btn-sign-liner .icon {display:inline-block;width:32px;height:27px;margin:-2px 7px 0 0;vertical-align:middle;}
.btn-sign-liner.weibo .icon {background-position:-398px -49px;}
.btn-sign-liner.renren .icon {background-position: -347px -150px;}
.btn-sign-liner.qzone .icon {background-position: -399px -151px;}
.btn-sign-liner.bk .icon {background-position:-292px -147px;}
.btn-sign-liner.google .icon {background-position: -395px -100px;}
.btn-sign-liner.fb .icon {background-position:-500px -148px;}
.btn-sign-liner.fb:hover .icon {background-position:-300px -98px;}
.btn-sign-liner.tw .icon {background-position:-346px -97px;}
.btn-sign-liner:hover {opacity:0.85;filter:alpha(opacity=85);}

#new-sign {position: absolute;top: 0;left: 0;display: table;width: 100%;height:100%;max-height:800px;background: #34383d;z-index: 1111;font-size: 13px;text-align:center;}
#new-sign .section {display:table-cell;vertical-align:middle;padding:20px 0;}
#new-sign .logo {text-align:center;color:#c2c4c5;font-size:26px;font-weight:normal;padding-bottom:30px;margin:0;line-height:1em;border:0;}
#new-sign .logo a {display:block;margin:0 auto 25px;width:243px;height:49px;background-position:0 -200px;text-indent:-1000em;overflow:hidden;}
#new-sign .sns-collect {text-align:center;padding-bottom:35px;}
#new-sign .sns-collect button {margin:0 12px;}
#new-sign .sns-collect .btn-sign-more {margin-top:40px;}
#new-sign .stit {text-align: center;color: #c4c6c9;font-size: 14px;}
#new-sign a {color:#fff;}
#new-sign .regist-notify {clear:both;text-align:center;padding:30px 0 0;color:#c4c6c9;font-size:14px;line-height:32px;}
#new-sign .regist-notify a {margin-left:4px;font-weight:bold;}
#new-sign .btn-submit {line-height: 40px;background: #4f88c0;color: #fff;padding: 0 20px;font-weight: bold;font-size: 14px;border-radius: 2px;}
#new-sign .btn-submit:hover {background: #538cc4;}
#new-sign .btn-submit:active {background: #487fb5;}
#new-sign input[type="checkbox"] {-webkit-appearance: none;width: 16px;height: 16px;background-position: -500px -50px;vertical-align: middle;cursor: pointer;}
#new-sign input[type="checkbox"]:hover {opacity: 0.8;filter: alpha(opacity=80);}
#new-sign input[type="checkbox"]:checked {background-position: -450px -50px;}
#new-sign input[type="text"], #new-sign input[type="password"] {padding: 10px 13px;background: #52575f;line-height: 22px;height: 21px;border: 0;border-radius: 2px;font-size: 14px;-webkit-transition: 0.1s background;-moz-transition: 0.1s background;transition: 0.1s background;color: #fff;}
#new-sign input[type="text"]:focus, #new-sign input[type="password"]:focus {background:#fff;color:#474a4d;}
#new-sign input[type="text"]::-webkit-input-placeholder, #new-sign input[type="password"]::-webkit-input-placeholder {color:#959aa1;}
#new-sign input[type="text"]:-moz-placeholder, #new-sign input[type="password"]:-moz-placeholder {color:#959aa1;}
#new-sign input[type="text"]::-moz-placeholder, #new-sign input[type="password"]::-moz-placeholder {color:#959aa1;}
#new-sign input[type="text"]:-ms-input-placeholder, #new-sign input[type="password"]:-ms-input-placeholder {color:#959aa1;}
#new-sign .keep {float:left;line-height:40px;}
#new-sign .keep label {font-size:14px;color:#aeb2b7;cursor:pointer;}
#new-sign .keep input {margin:-2px 6px 0 0;}
#new-sign .find-pw {float: right;padding-right: 15px;line-height: 40px;color: #aeb2b7;text-decoration: underline;font-size: 14px;}
#new-sign .sns-list {padding-bottom:21px;}
#new-sign .sns-list li {padding-bottom:16px;text-align:center;}
#new-sign .btn-sign-more, #new-sign .btn-back {background:#2c3035;height:38px;padding:0 18px;font-size:14px;font-weight:bold;border-radius:3px;color:#fff;}
#new-sign .btn-sign-more .ic-next {display:inline-block;width:12px;height:12px;background-position:-450px 0;vertical-align:middle;margin:-2px 0 0 3px;}
#new-sign .btn-back .ic-prev {display:inline-block;width:12px;height:12px;background-position:-500px 0;vertical-align:middle;margin:-2px 3px 0 0 ;}
#new-sign .hr {width:462px;height:1px;margin:0 auto;clear:both;background-position:0 -280px;}
#new-sign .login fieldset {padding-top:10px;width:462px;margin:0 auto;}
#new-sign .login .frm {padding:20px 0 14px;}
#new-sign .login .btn-submit {float:right;}
#new-sign .login input[type="text"], #new-sign .login input[type="password"] {width:197px;}
#new-sign .login input[type="password"] {margin-left:12px;}
#new-sign .login .regist-notify {padding-top:10px;}
#new-sign .sns-more {text-align:center;}
#new-sign .sns-more .btn-back {margin-top:37px;}
#new-sign .email-address {text-align:center;padding:38px 0;font-size:16px;color:#c4c6c9;}
#new-sign .email-address a {font-weight:bold;}
#new-sign .fb-frame {width:462px;height:72px;overflow:hidden;margin:0 auto;padding-top:27px;}
#new-sign .sns-frm {position:relative;width:300px;margin:0 auto;}
#new-sign .sns-frm input[type="text"], #new-sign .sns-frm input[type="password"] {width:274px;margin:0 0 16px;}
#new-sign .sns-frm .url {margin-top:-16px;padding:8px 0 13px;color:#a7aaad;font-size:11px;line-height:14px;}
#new-sign .sns-frm .url b {color:#fff;}
#new-sign .sns-frm .btn-submit {text-align:center;width:100%;}
#new-sign .sns-frm .detail {font-size:13px;line-height:18px;color:#c4c6c9;padding-top:20px;}
#new-sign .sns-frm .detail a {font-weight:bold;}
#new-sign .sns-frm .publish-sns {border-top:1px solid #43474c;margin-top:15px;padding:25px 0 35px;color:#aeb2b7;font-size:14px;}
#new-sign .sns-frm .publish-sns label {cursor: pointer;display: block;}
#new-sign .sns-frm .publish-sns input {margin:-2px 10px 0 0;}
#new-sign .sns-frm .store {padding-bottom:28px;color:#aeb2b7;font-size:14px;}
#new-sign .sns-frm .store input {margin:-2px 10px 0 0;}
#new-sign .sns-frm .store .tooltip .ic-q {display:inline-block;width:15px;height:15px;vertical-align:middle;margin:-3px 0 0 4px;background-position:-400px 0;}
#new-sign .sns-frm .store .tooltip small strong {display:inline-block;font-weight:bold;padding-bottom:4px;color:#fff;}
#new-sign .sns-frm .store .tooltip small {font-size:13px;line-height:18px;color:#d9dbde;padding:17px 20px;width:175px;background:#161718;margin-left:-105px;cursor:default;}
#new-sign .sns-frm .store .tooltip small b {border-color:#161718 transparent transparent transparent;}
#new-sign .sns-frm .store label {cursor:pointer;display:block;}
#new-sign .sns-frm .store .tooltip:hover small {display:block;}
#new-sign .sns-frm .store .tooltip:hover .ic-q {background-position: -449px -149px;}#new-sign .sns-frm .check-email {display:none;position:absolute;left:312px;top:145px;color:#d4d9de;white-space:nowrap;}
#new-sign .sns-frm .check-email i {display:inline-block;vertical-align:middle;margin:-4px 4px 0 0;background-position:-500px -100px;width:10px;height:10px;}
#new-sign .forgot-pw fieldset {text-align:center;}
#new-sign .forgot-pw .stit {padding-bottom:32px;font-size:14px;}
#new-sign .forgot-pw input[type="text"] {width:274px;}
#new-sign .forgot-pw .btn-submit {margin-top:6px;width:300px;}
#new-sign .error {position: relative;background: #BE3B3B;border-radius: 3px;color: white;font-size: 12px;line-height: 22px;padding: 12px 0 12px 47px;text-shadow: 1px 1px 1px #A82626;margin-bottom: 13px;text-align: left;}
#new-sign .error .icon {position: absolute;top: 12px;left: 14px;display: block;width: 21px;height: 19px;background-position: -415px -88px;}
#new-sign .login .error {margin:20px 0 0 ;}
#new-sign .forgot-pw .error {width: 253px;margin: 0 auto 15px;}
#new-sign .forgot-pw .logo {padding-bottom: 58px;}
#new-sign .forgot-pw .logo a {margin-bottom:30px;}
#new-sign .forgot-pw .regist-notify {padding-top:58px;}
#new-sign .signup .regist-notify {padding-top:20px;}
#new-sign .fb_iframe_widget {display:block;min-height:1px;}


#container-wrapper.sign .icon i, #container-wrapper.sign .sns-minor .arrow, #container-wrapper.sign .frm input[type="checkbox"]:checked, #container-wrapper.sign .frm input[type="checkbox"].checked, #container-wrapper.sign .tooltip .ic-q
, .popup.sign .icon i, .popup.sign .sns-minor .arrow, .popup.sign .frm input[type="checkbox"]:checked, .popup.sign .frm input[type="checkbox"].checked, .popup.sign .tooltip .ic-q{background:url(../../images/site/sign-new.png) no-repeat;background-size:250px 120px;}
@media screen and (-webkit-min-device-pixel-ratio:2){
	#container-wrapper.sign .icon i, #container-wrapper.sign a.more .arrow, #container-wrapper.sign .frm input[type="checkbox"]:checked, #container-wrapper.sign .frm input[type="checkbox"].checked, #container-wrapper.sign .tooltip .ic-q
	, .popup.sign .icon i, .popup.sign a.more .arrow, .popup.sign .frm input[type="checkbox"]:checked, .popup.sign .frm input[type="checkbox"].checked, .popup.sign .tooltip .ic-q {background-image:url('../../images/site/common/sign-new2x.png');background-size:250px 120px;}
}
#header-new .sign-cmt {color:#c4c7cc;line-height:61px;padding:0;font-size:15px;}
#header-new .sign-cmt a {font-weight:bold;color:#fff;}
#container-wrapper.sign {position: absolute;left: 0;top: 0;width: 100%;height: 100%;text-align: center;display: table;vertical-align: middle;padding: 81px 0 40px;max-height: 680px;}
#container-wrapper.sign .container {width:424px;padding:0;display: table-cell;text-align: center;vertical-align: middle;}
#container-wrapper.sign .wrapper-content {padding:20px 45px 45px;width: 424px;margin: 0 auto;text-align:left;}
#container-wrapper.sign .footer {color:#a1a7ad;text-align:center;padding-top:25px;font-size:13px;}
#container-wrapper.sign .footer a {color:#62646a;text-decoration:underline;font-weight:bold;}
#container-wrapper.sign h2, 
.popup.sign h2 {font-size:24px;color:#32353c;padding-bottom:10px;text-align:center}
.popup.sign .heading2 {font-size:24px;color:#32353c;padding-bottom:10px;text-align:left, padding: 0 0 10px 0;line-height: 24px;}
#container-wrapper.sign h3.stit, 
.popup.sign h3.stit {color:#92959c;font-size:13px;padding-bottom:12px;font-weight:normal;text-align:center;}
#container-wrapper.sign .sns-login, 
.popup.sign .sns-login {position:relative;float:left;width:100%;border-bottom:1px solid #eceff2;margin-bottom:15px;z-index:2;}
#container-wrapper.sign .sns-major .btn-f, 
.popup.sign .sns-major .btn-f {background:#4c699e}
#container-wrapper.sign .sns-major .btn-t, 
.popup.sign .sns-major .btn-t {background:#1daee3}
#container-wrapper.sign .sns-major .btn-g, 
.popup.sign .sns-major .btn-g {background:#da573b}
#container-wrapper.sign .sns-major .btn-q, 
.popup.sign .sns-major .btn-q {background:#f4ae3b}
#container-wrapper.sign .sns-major .btn-w, 
.popup.sign .sns-major .btn-w {background:#e13b3c}
#container-wrapper.sign .sns-major .btn-b, 
.popup.sign .sns-major .btn-b,
#container-wrapper.sign .sns-major .btn-r, 
.popup.sign .sns-major .btn-r {background:#3065a1}
#container-wrapper.sign .sns-major .btn-g.red, 
.popup.sign .sns-major .btn-g.red {width:136px;text-shadow:0 1px 0 #fff;border:1px solid #d1d1d1;background: -webkit-linear-gradient(top, #fefefe, #f0f0f0);background: -ms-linear-gradient(top, #fefefe, #f0f0f0);background: -moz-linear-gradient(top, #fefefe, #f0f0f0);background: -o-linear-gradient(top, #fefefe, #f0f0f0);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f0f0f0');}
#container-wrapper.sign .sns-login .btn-g.red .icon, 
.popup.sign .sns-login .btn-g.red .icon {float: left;display: block;position: relative;left: 3px;}
#container-wrapper.sign .sns-login .btn-g.red b, 
.popup.sign .sns-login .btn-g.red b {display:inline;color:#da573b;}
#container-wrapper.sign .icon, 
.popup.sign .icon {height:44px;line-height:42px;}
#container-wrapper.sign .icon i, 
.popup.sign .icon i {display:inline-block;vertical-align:middle;}
#container-wrapper.sign .sns-major .ic-fb i, 
.popup.sign .sns-major .ic-fb i {background-position: 0 9px;width: 28px;height: 35px;position: relative;left: 1px;}
#container-wrapper.sign .sns-minor .ic-fb i, 
.popup.sign .sns-minor .ic-fb i {background-position: -34px -90px;width: 22px;height: 22px;position: relative;left: 1px;}
#container-wrapper.sign .sns-major .ic-tw i, 
.popup.sign .sns-major .ic-tw i {background-position: -35px 11px;width: 24px;height:35px;position: relative;top: -1px;}
#container-wrapper.sign .sns-minor .ic-tw i, 
.popup.sign .sns-minor .ic-tw i {background-position: 0 -90px;width: 24px;height: 21px;position: relative;top: -1px;}
#container-wrapper.sign .sns-major .ic-gg i, 
.popup.sign .sns-major .ic-gg i {background-position: -65px 9px;width: 24px;position: relative;height: 35px;left: 1px;}
#container-wrapper.sign .sns-major .btn-g.red .ic-gg i, 
.popup.sign .sns-major .btn-g.red .ic-gg i,
#container-wrapper.sign .sns-minor .ic-gg i, 
.popup.sign .sns-minor .ic-gg i {background-position:-65px -60px;position:static;width: 24px;height: 25px;}
#container-wrapper.sign .sns-minor .ic-bk i, 
.popup.sign .sns-minor .ic-bk i {background-position:-95px -60px;width:17px;height:20px;}
#container-wrapper.sign .sns-major .ic-bk i, 
.popup.sign .sns-major .ic-bk i {background-position:-95px -90px;width:17px;height:20px;}
#container-wrapper.sign .sns-minor .ic-qz i, 
.popup.sign .sns-minor .ic-qz i {background-position:-120px -60px;width:28px;height:26px;}
#container-wrapper.sign .sns-major .ic-qz i, 
.popup.sign .sns-major .ic-qz i {background-position:-120px -90px;width:28px;height:26px;}
#container-wrapper.sign .sns-minor .ic-re i, 
.popup.sign .sns-minor .ic-re i {background-position:-155px -60px;width:24px;height:24px;}
#container-wrapper.sign .sns-major .ic-re i, 
.popup.sign .sns-major .ic-re i {background-position:-155px -90px;width:24px;height:24px;}
#container-wrapper.sign .sns-minor .ic-we i, 
.popup.sign  .sns-minor .ic-we i {background-position:-184px -60px;width:29px;height:25px;}
#container-wrapper.sign .sns-major .ic-we i, 
.popup.sign  .sns-major .ic-we i {background-position:-184px -90px;width:29px;height:25px;}
#container-wrapper.sign .sns-login a.more, 
.popup.sign .sns-login a.more {position:relative;float:left;margin-left:8px;border-radius:3px;height:44px;width:44px;line-height:42px;background:#eceff2;color:#969ba1;font-size:20px;font-weight:bold;text-align:center;}
#container-wrapper.sign .sns-login a.more span/*, 
.popup.sign .sns-login a.more span*/ {position: relative;top: -5px;}
#container-wrapper.sign .sns-login a.more:hover, 
.popup.sign .sns-login a.more:hover {text-decoration:none;}
#container-wrapper.sign .sns-major, 
.popup.sign .sns-major {float:left;}
#container-wrapper.sign .sns-major li, 
.popup.sign .sns-major li {float:left;margin-left:8px;}
#container-wrapper.sign .sns-major button, 
.popup.sign .sns-major button {float: left;border-radius: 3px;height: 43px;width: 44px;line-height: 42px;font-size: 14px;padding: 0 8px;}
#container-wrapper.sign .sns-major button b, 
.popup.sign .sns-major button b {display: none;color: #fff;}
#container-wrapper.sign .signup.update .sns-major button b, 
.popup.sign .signup.update .sns-major button b {position:relative;top:-1px;}
#container-wrapper.sign .sns-major li:first-child, 
.popup.sign .sns-major li:first-child {margin-left:0;}
#container-wrapper.sign .sns-major li:first-child .icon, 
.popup.sign .sns-major li:first-child .icon {float:left;}
#container-wrapper.sign .sns-major li:first-child button, 
.popup.sign .sns-major li:first-child button {width:270px;}
#container-wrapper.sign .sns-major li:first-child button b, 
.popup.sign .sns-major li:first-child button b {display:inline;}
#container-wrapper.sign .sns-minor, 
.popup.sign .sns-minor {position:absolute;right:-60px;top:71px;}
#container-wrapper.sign .sns-minor .arrow, 
.popup.sign .sns-minor .arrow {position:relative;margin:0 auto;display:block;width:15px;height:8px;background-position:-220px -30px;z-index:2;}
#container-wrapper.sign .sns-minor ul, 
.popup.sign .sns-minor ul {padding:4px;width:155px;background: #fff;box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1), 0 1px 2px 0px rgba(0, 0, 0, .1);border-radius: 3px;position:relative;}
#container-wrapper.sign .sns-minor .icon, 
.popup.sign .sns-minor .icon {display:inline-block;width:46px;height:36px;line-height:34px;text-align:center;vertical-align:middle;}
#container-wrapper.sign .sns-minor button, 
.popup.sign .sns-minor button {width:100%;height:36px;line-height:34px;border-radius:3px;text-align:left;background:#fff;color:#606368;}
#container-wrapper.sign .sns-minor button:hover, 
.popup.sign .sns-minor button:hover {background:#f1f3f5;color:#606368;}
#container-wrapper.sign .sns-minor button b, 
.popup.sign .sns-minor button b {position:relative;top:2px;}
#container-wrapper.sign .frm, 
.popup.sign .frm {clear:both;}
/*#container-wrapper.sign .frm .stit, 
.popup.sign .frm .stit {padding-bottom:25px;}*/
#container-wrapper.sign .frm .label, 
.popup.sign .frm .label {display:block;padding:0 0 7px;color:#585b62;font-weight:bold;font-size:13px;}
#container-wrapper.sign .frm .error-label, 
.popup.sign .frm .error-label {display:none;margin-left:1em;color:red;font-weight:normal;}
#container-wrapper.sign .frm p, 
.popup.sign .frm p {padding:0 0 13px;}
#container-wrapper.sign .frm p.otherway, 
.popup.sign .frm p.otherway {padding:20px 0 0 0;}
#container-wrapper.sign .frm input[type="text"], #container-wrapper.sign .frm input[type="password"], 
.popup.sign .frm input[type="text"], .popup.sign .frm input[type="password"] {width: 410px;height: 20px;line-height: 19px;padding: 7px;margin: 0 0 2px;background: #ffffff;box-shadow: none;}
#container-wrapper.sign .frm input[type="checkbox"], 
.popup.sign .frm input[type="checkbox"] {-webkit-appearance: none;border: 1px solid #c4c8cc;width: 13px;height: 13px;vertical-align: middle;margin: -4px 5px 0 0;border-radius: 2px;}
#container-wrapper.sign .frm input[type="checkbox"]:checked, #container-wrapper.sign .frm input[type="checkbox"].checked, 
.popup.sign .frm input[type="checkbox"]:checked, .popup.sign .frm input[type="checkbox"].checked {background-position:1px -28px;}
#container-wrapper.sign .frm label.brand, 
.popup.sign .frm label.brand {cursor:pointer;}
#container-wrapper.sign .frm label.brand a:hover, 
.popup.sign .frm label.brand a:hover {text-decoration:none;}
#container-wrapper.sign .frm .btn-area, 
.popup.sign .frm .btn-area {padding:12px 0 0;}
#container-wrapper.sign .frm .btns-blue-embo, 
.popup.sign .frm .btns-blue-embo {font-size:14px;line-height:36px;height:38px;padding:0 20px;margin-right:12px;}
#container-wrapper.sign a, 
.popup.sign a {color:#4e769d;}
#container-wrapper.sign input[type="text"], #container-wrapper.sign input[type="password"], 
.popup.sign input[type="text"], .popup.sign input[type="password"] {margin: 0;padding: 5px 7px;line-height: 19px;border-color: #b0b5bd #c1c5cb #d2d6dc;border-radius: 3px;font-size: 14px;background: #fefefe;color: #393d4d;box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .075);}
#container-wrapper.sign input[type="text"]:focus, #container-wrapper.sign .frm input[type="password"]:focus, 
.popup.sign input[type="text"]:focus, .popup.sign .frm input[type="password"]:focus {border-color: rgba(132, 185, 211, 0.8) !important;box-shadow: 0 0 5px 1px rgba(156, 199, 219, 0.9);outline: 0;background: #FFFFFF;}
#container-wrapper.sign .otherway, 
.popup.sign .otherway {text-align:center;padding:0;color:#92959c;font-size:13px;}
#container-wrapper.sign .otherway a, 
.popup.sign .otherway a {font-weight:bold;color:#4a759f;}
#container-wrapper.sign .url, 
.popup.sign .url {color:#92959c;font-size:11px;display:block;}
#container-wrapper.sign .url b, 
.popup.sign .url b {color:#32353c;}
#container-wrapper.sign .tooltip .ic-q, 
.popup.sign .tooltip .ic-q {display:inline-block;width:14px;height:14px;background-position:-220px 0;vertical-align:middle;margin:-3px 0 0 3px;}
#container-wrapper.sign .tooltip:hover small {display:block;}
.popup.sign .tooltip:hover small {display:block;}
#container-wrapper.sign .tooltip small, 
.popup.sign .tooltip small {left:-93px;width:173px;font-size:13px;line-height:18px;color:#d9dbde;padding:17px 17px 15px;background:rgba(16, 16, 16, 0.9);}
#container-wrapper.sign .tooltip small strong, 
.popup.sign .tooltip small strong {display:inline-block;padding-bottom:4px;color:#fff;}
#container-wrapper.sign .tooltip small b, 
.popup.sign .tooltip small b {border-color:rgba(16, 16, 16, 0.9) transparent transparent;}
#container-wrapper.sign .signup .frm .btns-blue-embo, 
.popup.sign .signup .frm .btns-blue-embo {width:100%;}
#container-wrapper.sign .default, 
.popup.sign .default {position:relative;clear:both;}
#container-wrapper.sign .default .sns-minor, 
.popup.sign .default .sns-minor {top: auto;bottom: 17px;right: 22px;}
#container-wrapper.sign .default .sns-minor .arrow, 
.popup.sign .default .sns-minor .arrow {height:9px;background-position:-220px -60px;}
#container-wrapper.sign .update .sns-major button, 
.popup.sign .update .sns-major button {font-size: 15px;box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03), inset 0 1px 0 rgba(255, 255, 255, 0.05);text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);}
#container-wrapper.sign .update .sns-major li:first-child .btn-f, 
.popup.sign .update .sns-major li:first-child .btn-f {width: 157px;border: 1px solid #3d5685;background: -webkit-linear-gradient(top, #4b6ba6, #435e92);background: -ms-linear-gradient(top, #4b6ba6, #435e92);background: -moz-linear-gradient(top, #4b6ba6, #435e92);background: -o-linear-gradient(top, #4b6ba6, #435e92);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b6ba6', endColorstr='#435e92');}
#container-wrapper.sign .update .sns-major li .btn-t, 
.popup.sign .update .sns-major li .btn-t {border:1px solid #559cb6;background: -webkit-linear-gradient(top, #6ac3e3, #5ebade);background: -ms-linear-gradient(top, #6ac3e3, #5ebade);background: -moz-linear-gradient(top, #6ac3e3, #5ebade);background: -o-linear-gradient(top, #6ac3e3, #5ebade);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ac3e3', endColorstr='#5ebade');}
#container-wrapper.sign .update .sns-login a.more, 
.popup.sign .update .sns-login a.more {box-shadow: none;}
#container-wrapper.sign .update2 .sns-login, 
.popup.sign .update2 .sns-login {z-index:0;}
#container-wrapper.sign .update2 .sns-major li button, 
.popup.sign .update2 .sns-major li button {width:136px;font-size:15px;}
#container-wrapper.sign .update2 .sns-major li button .icon, 
.popup.sign .update2 .sns-major li button .icon {float:left;display:block;}
#container-wrapper.sign .update2 .sns-major li button b, 
.popup.sign .update2 .sns-major li button b {display:inline;}
#container-wrapper.sign .findpw p, 
.popup.sign .findpw p {color:#92959c;font-size:13px;line-height:20px;padding-bottom:20px;}
#container-wrapper.sign .btn-reset, 
.popup.sign .btn-reset {width:100%;}
#container-wrapper.sign .sns-minor, 
.popup.sign .sns-minor {top:61px;opacity:0;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
#container-wrapper.sign .sns-minor .trick, 
.popup.sign .sns-minor .trick {display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(255, 255, 255, 0);}
#container-wrapper.sign .sns-minor.toggle, 
.popup.sign .sns-minor.toggle {top:71px;opacity:1;}
#container-wrapper.sign .sns-minor.toggle .trick, 
.popup.sign .sns-minor.toggle .trick {display:block;}
#container-wrapper.sign .default .sns-minor, 
.popup.sign .default .sns-minor {top: auto;bottom: 27px;}
#container-wrapper.sign .default .sns-minor.toggle, 
.popup.sign .default .sns-minor.toggle {bottom:17px;}
#container-wrapper.sign .top.sns-minor, 
.popup.sign .top.sns-minor {right: 72px;top:30px;}
#container-wrapper.sign .top.sns-minor.toggle, 
.popup.sign .top.sns-minor.toggle {top:35px;}
#container-wrapper.sign .frm p.agree, 
.popup.sign .frm p.agree {padding:20px 0 0;color:#92959c;}
#container-wrapper.sign .snsform .frm .stit, 
.popup.sign .snsform .frm .stit {padding-bottom:15px;}
#container-wrapper.sign .sns-login .stit a.more, 
.popup.sign .sns-login .stit a.more {float:none;display:inline;background:none;color:#4a759f;font-size:12px;margin:0;}
#container-wrapper.sign .error, #container-wrapper.sign .frm .error, 
.popup.sign .error, .popup.sign .frm .error {position:relative;padding:20px 10px 20px 40px;;color:#ff0000;font-size:13px;background:#eef0f3;border-radius:2px;}
#container-wrapper.sign .error .icon, 
.popup.sign .error .icon {position:absolute;top:20px;left:10px;background:url(../../images/site/common/icon-error.png) no-repeat;display:inline-block;background-size:cover;width:20px;height:18px;vertical-align:middle;margin-right:10px;}
