.top-menu .viewer i,
.figure-item .function li.share .ic-share  {
	background: url(../../images/site/timeline.png) no-repeat;
	background-size:250px 100px;
}
.gift-banner .icon,
.gift-banner-new .icon,
#invitation-reminder .icon,
.welcome-message .icon,
.with-facebook .icon {
	background:url('../../images/site/bannerImg.png') no-repeat;
	background-size:700px 265px;
}
@media screen and (-webkit-min-device-pixel-ratio:2){
	.top-menu .viewer i,
	.figure-item .function li.share .ic-share  {
		background-image: url('../../images/site/timeline2x.png');
		background-size:250px 100px;
	}
	.gift-banner .icon,
	.gift-banner-new .icon,
	#invitation-reminder .icon,
	.welcome-message .icon,
	.with-facebook .icon {
		background:url('../../images/site/bannerImg2x.png') no-repeat;
		background-size:700px 265px;
	}
}
#infscr-loading {
	display: block;
	clear: both;
	top: 0;
	border: 0;
	/*padding-bottom: 20px;*/
}
#infscr-loading .loading {
	height:16px;
	background: url('../../images/site/spinner.gif') no-repeat;
	border:0;
}
/* new timeline */
.timeline {
	width:100%;
max-width:1280px;
	left:0;
}
.welcome {
	line-height: 35px;
	font-size: 18px;
	color: #6a6f7c;
/*	padding: 10px 0 0px;*/
        text-align:center;
margin-top: -50px;
margin-bottom: -30px;
}
.welcome h2{
	font-size: 26px;
	font-weight: bold;
	color: #373d48;
}
.top-menu {
	float: left;
	width: 100%;
max-width:1280px;
      /*  padding-top:25px;*/
	border-bottom: 1px solid #ccc;
		margin-bottom:18px;
	 background-color:#FFFFFF;
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F4F5F6, endColorstr=#EEEFF0);
 background-image:-moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
 background-image:-webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
 background-image:-ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
 background-image:linear-gradient(top, #ffffff 0%, #ffffff 100%);
 background-image:-o-linear-gradient(top, #ffffff 0%, #ffffff 100%);
 background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
 box-shadow: 0 1px 0 #F8F9F9 inset, 0 0 0 1px rgba(14, 16, 18, 0.1), 0 1px 2px 0 rgba(14, 16, 18, 0.1);
  -webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	/* padding: 10px 20px;
	 margin-left: 20px;*/
	 margin-top:-17px;
/*position: fixed !important;*/
z-index: 20;
margin-bottom: -30px;
}
.top-menu li {
	float:left;
}
.top-menu .sorting {
	float: left;
	/*padding: 3px 0 3px;*/
}

.top-menu .sorting li:first-child a {
    border-radius: 3px 0 0 3px;
}
.top-menu .sorting li:hover{
	border-radius: 3px 0 0 3px;

}
.top-menu .sorting li {
	padding-right: 17px;
	line-height:18px;
	vertical-align:baseline;
}
.classic .top-menu .sorting li {
	line-height:17px;
}
.top-menu .sorting a {
	font-size: 14px;
	color: #8a8f9c;
	text-decoration: none !important;
	background: url(../../images/site/menu_down_arrow.png) no-repeat 95% 21px;
	padding: 14px 24px;
	border-right: 1px solid #F1F2F3;
	display:inline-block;
}
.top-menu .sorting a:hover {
	background: url(../../images/site/menu_down_arrow.png) no-repeat 95% 21px #FAFAFB;
	border-radius: 3px 0 0 3px;
	border-right: 1px solid #D6D7DA;
}
.top-menu .sorting a.current {
	color: #383d48;
	font-weight: bold;
}
.top-menu .sorting a.active {
	color: #383d48;
	font-weight: bold;
}
.top-menu .viewer {
	float: right;
	padding:10px 15px ;
	display: block;
}
.top-menu .viewer a {
	position: relative;
	color: #fff;
	font-weight: bold;
	font-size: 11px;
	margin-left: 10px;
	line-height: 24px;
	z-index:1;
	overflow:hidden;
}
.top-menu .viewer a:hover {
	text-decoration:none;
	z-index:2;
	overflow:visible;
}
.top-menu .viewer i {
	display: inline-block;
	width: 17px;
	height: 12px;
	vertical-align: middle;
}
.top-menu .viewer span {
	position: absolute;
	bottom: 24px;
	left: 50%;
	background: #101010;
	padding: 0 8px;
	border-radius: 2px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	white-space: nowrap;
	opacity: 0;
	filter: alpha(opacity=0);
}
.top-menu .viewer span b {
	position:absolute;
	bottom:-13px;
	left:50%;
	margin-left:-7px;
	display:block;
	width:0;
	height:0;
	border:7px solid transparent;
	border-top-color:#101010;
	overflow:hidden;
	line-height:0;
}
.top-menu .viewer a:hover span {
	opacity: 1;
	filter: alpha(opacity=100);
}
.top-menu .viewer i.ic-view1 {
	background-position:-7px -43px;
}
.top-menu .viewer i.ic-view2 {
	background-position:-34px -43px;
}
.top-menu .viewer i.ic-view3 {
	background-position:-61px -43px;
}
.top-menu .viewer i.ic-view4 {
	background-position:-114px -43px;
}
.top-menu .viewer i.ic-slideshow {
	background-position:-88px -43px;
}
.top-menu .viewer a:hover i.ic-view1 {
	background-position:-7px -23px;
}
.top-menu .viewer a:hover i.ic-view2 {
	background-position:-34px -23px;
}
.top-menu .viewer a:hover i.ic-view3 {
	background-position:-61px -23px;
}
.top-menu .viewer a:hover i.ic-view4 {
	background-position:-114px -23px;
}
.top-menu .viewer a:hover i.ic-slideshow {
	background-position:-88px -23px;
}
.top-menu .viewer a.current i.ic-view1 {
	background-position:-7px -3px;
}
.top-menu .viewer a.current i.ic-view2 {
	background-position:-34px -3px;
}
.top-menu .viewer a.current i.ic-view3 {
	background-position:-61px -3px;
}
.top-menu .viewer a.current i.ic-view4 {
	background-position:-114px -3px;
}
.top-menu .viewer a.current i.ic-slideshow {
	background-position:-88px -3px;
}
.loading {
	display: block;
	clear: both;
	border-top: 1px solid #ebecef;
	color: #8d9094;
	line-height: 66px;
	text-align: center;
	font-size: 13px;
}
.loading.button {
	border: 0;
	color: #fff;
	line-height: 45px;
	font-size: 17px;
}
.loading b {
	padding-left:21px;
	background:url('../../images/site/spinner.gif') no-repeat 0 50%;
}
.page-home .wrapper-content{
	position:relative;
	padding:0;
	margin-top:20px;
	background:none;
	box-shadow:none;
	border-radius:0px;
}
.wrapper-content{
	position:relative;
	padding:0;
	/*margin-top:20px;
	background:none;
	box-shadow:none;
	border-radius:0px;*/
}
.timeline #footer {
	position:absolute;
	bottom:-76px;
	left:0;
	padding:29px 0;
	left:0;
	width:100%;
}
.timeline #footer .footer-nav {
	float:none;
	text-align:center;
	font-weight:bold;
	padding-left:18px;
	text-transform: uppercase;
}
.timeline #footer .footer-nav li {
	float:none;
	display:inline-block;
	font-size:11px;
	color:#8a9097;
	padding:0 18px 0 0;
	text-shadow:0 1px 0 rgba(255,255,255,0.75);
}
.timeline #footer .footer-nav li a {
	color:#5c7797;
	font-weight:bold;
}
.timeline #sidebar {
	display:none;
	float:right;
	width:296px;
	background: #fff;
	box-shadow: 0 0 3px 1px rgba(0,0,0,.05),0 1px 2px 0px rgba(0,0,0,.1);
	border-radius: 3px;
}
.timeline #sidebar dl {
	padding:21px 20px 19px;
	border-top:1px solid #ebecef;
	line-height:20px;
}
.timeline #sidebar dl:first-child {
	border-top:0;
}
.timeline #sidebar dt {
	font-size:11px;
	color:#8d9094;
	font-weight:bold;
	padding-bottom:9px;
}
.timeline #sidebar dd {
	clear:both;
}
.timeline #sidebar .follow-list li {
	position:relative;
	float:left;
	clear:both;
	width:100%;
	padding-bottom:16px;
}
.timeline #sidebar .follow-list li .follow-user-link {
	position:absolute;
	display:block;
	top:6px;
	right:0;
	border:1px solid #c1c1c1;
	border-radius:3px;
	color:#333333;
	font-weight:bold;
	padding:0 12px;
	line-height:26px;
	font-size:12px;
	background: -webkit-linear-gradient(top,#fdfdfd,#f1f1f2);
	background: -ms-linear-gradient(top, #fdfdfd,#f1f1f2);
	background: -moz-linear-gradient(top, #fdfdfd,#f1f1f2);
	background: -o-linear-gradient(top, #fdfdfd,#f1f1f2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd',endColorstr='#f1f1f2');
}
.timeline #sidebar .follow-list .vcard {
	float:left;
	font-size:13px;
	line-height:18px;
	color:#8e8f93;
}
.timeline #sidebar .follow-list .vcard b {
	float:left;
	padding-top:1px;
	width:120px;
	display:block;
	color:#373d48;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.timeline #sidebar .follow-list .vcard span {
	float:left;
	width:120px;
	display:block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.timeline #sidebar .follow-list .vcard .photo {
	float:left;
	border-radius:2px;
	width:40px;
	height:40px;
	margin-right:11px;
}
.timeline #sidebar .deal-list li {
	clear:both;
	padding-bottom:16px;
	float:left;
	font-size:13px;
	line-height:18px;
}
.timeline #sidebar .deal-list li a {
	color:#8e8f93;
}
.timeline #sidebar .deal-list li b {
	float:left;
	padding-top:1px;
	width:120px;
	display:block;
	color:#373d48;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.timeline #sidebar .deal-list li span {
	float:left;
	width:120px;
	display:block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.timeline #sidebar .deal-list li .photo {
	float:left;
	border-radius:2px;
	width:40px;
	height:40px;
	margin-right:11px;
}
.timeline #content {
	clear:both;
	padding:0;
	box-shadow:none;
	border-radius:3px;
        padding-top: 70px;
        padding-left:30px;
}
.stream {
	position:relative;
	padding:0px;
}
.stream.loading {
	background: url('../../images/site/loading-big.gif') no-repeat 50% 300px;
	min-height: 600px;
	border: 0;
	text-align:left;
}
.stream li {
	position:static;
	vertical-align:top;
	display: inline-block;
	min-height:0;
	overflow:hidden;
       /* width:310px;*/
}
.ipad .stream {font-size:0;}
.ipad .stream li {margin-left:2px;}
.pre {
	position:absolute;
	left:0;
	top:0;
	display:block;
	width: 100%;
	height: 100%;
	background: #E5E8E8;
	opacity:1;
	filter: alpha(opacity=100);
	transition:0.2s;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-o-transition:0.2s;
	-ms-transition:0.2s;
	z-index:3;
}
.pre.hide {
	z-index:1;
	opacity:0;
	filter: alpha(opacity=0);
}
.anim .stream li {
	transition:opacity .3s;
	-webkit-transition:opacity .3s;
	-moz-transition:opacity .3s;
	-ms-transition:opacity .3s;
	-webkit-transform:translateZ(0);
	-moz-transform:translateZ(0);
	-ms-transform:translateZ(0);
}
.pinMeta {
padding: 5px 5px 5px 5px;
color: #808080;
font-size: 12px;
line-height: 16px;
/*margin-top: 10px;*/
display: inline-block;
height: 82px;
}

.pinMeta p{
font-size: 12px;
line-height: 13px;
}
.pinMeta img{
float: left;
margin-right: 8px;
width: 30px;
height: 30px;
border-radius: 4px;
overflow: hidden;
}
.excerpt{
padding-left: 40px;
overflow: hidden;
float: left;
width: 235px;
margin-top: -15px;
height: 48px;
}
.figure-item {
	position:relative;
	z-index:2;
	font-size:13px;
	line-height:17px;
	margin:0 0 6px 6px;
	 background: none repeat scroll 0 0 #FFFFFF;
 /*   border-radius: 3px;*/
    box-shadow: 0 0 0 1px #D0D1D2 inset, 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.03);
}
.figure-item .figure-img {
	display:block;
	color:#373d48;
	font-weight:bold;
border-bottom: 1px solid #e0e0e0;
	/*border-radius: 3px 3px 0px 0px;*/
}
.figure-item .figure-img img {
	display:none;
}
.figure-item .figure-img .figure {
	position:relative;
	display:none;
	background-position:50% 50%;
	background-size:cover;
	background-repeat:no-repeat;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    
}
.figure-item .figure-img .figure .back {
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(24,27,32,0.8);
	transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
padding:0;
/*	border-radius: 3px 3px 0px 0px; */
}
.figure-item .figure-img:hover .figcaption,
.figure-item a:hover {
	text-decoration: none;
}
/*.figure-item .username {
	display: inline-block;
	vertical-align: baseline;
	width:70%;
}*/
/*.figure-item:hover .figure-img .figure .back {
	opacity:1;
	filter: alpha(opacity=100);
}*/
.figure-item .price {
	display:inline-block;
	font-weight:normal;
	color:#8a8f9c;
	vertical-align:baseline;
float: right;
/*margin-right: 30px;*/
line-height: 35px;
}

.figure-item em {
    display: inline-block;
    font-style: normal;
  /*  padding: 4px 0 0 15px;*/
    width: 92%;

}
.usersection .figure-item em {
	padding: 2px 5px 2px 3px;
}
.vertical .figure-item em {
    display: inline-block;
    font-style: normal;
    padding: 0;
    width: 100%;
}
.figure-item .price small {
	font-size:10px;
	display:none;
}
.figure-item .figure-img .figcaption {
display: block;
padding: 10px 0 10px 10px;
line-height: 21px;
text-align: left;
display: inline-block;
text-overflow: ellipsis;
overflow: hidden;
max-width: 75%;
font-size: 12px;
height: 35px;
text-transform: uppercase;
}
/*.figure-item .username,
.figure-item .username a {
	color:#8a8f9c;
	line-height:30px;
}
.figure-item .username i,
.figure-item .price i {
	font-style:normal;
	color:#8a8f9c}
.figure-item .username a {
position: relative;
top: -1px;
display: inline-block;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
max-width: 57%;
font-size: 15px;
vertical-align: top;;
}
.figure-item .username a:hover,
.figure-item .figure-img .figcaption:hover {
	text-decoration:underline;
}*/
.figure-item:hover .username a {
	color:#588cc7}
.figure-item:hover .figure-img .figcaption  {
	color: #1f518e;
}
.figure-item .vcard {
	display:none;
	top:0;
	left:-70px;
	width:56px;
	height:56px;
}
.figure-item .vcard img {
	width:56px;
	height:56px;
}
.figure-item .function li {
	display:none;
}
.figure-item .function button {
	background:none;
	border:none;
}
.figure-item .function li.share {
	position:absolute;
	top:15px;
	right:15px;
	display:block;
	opacity:0;
	filter: alpha(opacity=0);
	transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	background:none;
	border:none;
}
.normal .figure-item .function li.share {
	margin:0 !important;
}
.figure-item .function li.share .ic-share {
	text-indent:-1000em;
	background-position:-139px -2px;
	width:15px;
	height:13px;
	display:block;
}
.normal .figure-item:hover .function li.share {
	opacity:1;
	filter: alpha(opacity=100);
}
.button.fancy,
.button.fancyd {
	top:50%;
	left:50%;
	margin:-23px 0 0 -70px;
}
.home .normal .stream {
	padding-left:4px;
	text-align:center;
}
.home .normal .stream li {
	text-align:left;
}
.normal .button.fancy,
.normal .button.fancyd {
	margin:0;
}
.normal .stream li .figure.grid,
.vertical .stream li .figure.vertical,
.classic .stream li .figure.classic {
	display:block;
}
.normal .pre {
	top:-45px;
}
.normal .figure-item {
	width: 294px;

}
.normal .figure-item .figure-img .figure {
 /* border-radius: 3px 3px 0 0;*/
height: 294px;
margin-top: 1px;
margin-left: 1px;
width: 294px;

}
.normal .figure-item .button.fancy,
.normal .figure-item .button.fancyd {
	top: 220px;
	left: 50%;
	margin: -83px 0 0 -75px;
}
/*.vertical .stream li {
	position:absolute;
	float:left;
	width:230px;
	overflow:hidden;
}*/
.vertical .stream li .figure-item .figure-img img {
	display:block;
	width:100%;
}
.vertical .figure-item {
	width:210px;
	overflow:hidden;
	z-index:2;
	margin:0 0 20px 20px;
	   background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
} 
.vertical .figure-item:hover .figure-detail .username,
.vertical .figure-item:hover .figure-detail .price {
	opacity:1;
	filter: alpha(opacity=100);
}
.vertical .figure-item .figure-img {
	position:relative;
	z-index:1;
}
.vertical .figure-item .figure-img img {
	min-height:150px;
}
.vertical .figure-item .figure-img .figcaption {
	display:none;
}
.vertical .figure-item .username {
	display:block;
	max-width:100%;
	padding-bottom:10px;
	line-height:19px;
	color:#fff;
}
.vertical .figure-item .figure-detail .username {
	display: block;
	position: absolute;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	width: 100%;
	text-align: center;
	max-width: 100%;
	top: 74%;
}
.vertical .figure-item .username a {
	color:#fff;
	font-weight:bold;
}
.vertical .figure-item .price {
	position: absolute;
	top: 15px;
	left: 15px;
	color: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index:2;
}
.vertical .figure-item .price small {
	display:inline;
}
.vertical .figure-item .function li,
.vertical .figure-item .username i {
	display:none;
}
.vertical .figure-item .username em {
	position:relative;
	z-index:2;
}
.vertical .button.fancy,
.vertical .button.fancyd {
	z-index: 2;
	top: 50%;
	left:50%;
	margin:-23px 0 0 -75px;
}
.timeline.classic {
	width:695px;
}
.classic #content {
	/*padding:20px 10px;*/
}

.classic .stream {
    padding-left: 15px;
    padding-right: 0;
	background:none;
}
.classic .stream li {
	position:relative;
	overflow: visible;
	left:0 !important;
	top:0 !important;
	margin:0 10px;
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D5D6D7;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
	margin: 0 0 15px;
    overflow: visible;
    padding: 11px;
}

.classic .stream .mid.clear:after {
    bottom: auto;
    left: auto;
    right: -2px;
    top: -1px;
}
.classic .stream .mid:after {
    background: none repeat scroll 0 0 #D5D6D7;
    bottom: -1px;
    content: "";
    height: 1px;
    left: -2px;
    position: absolute;
    width: 10px;
    z-index: 2;
}
.classic .stream .mid.clear {
    border-left-color: #D5D6D7;
    border-radius: 3px 0 0 3px;
    border-right: 0 none;
    margin-right: -2px;
}
.classic .stream .mid {
    border-left-color: #EBEBEC;
    border-radius: 0 3px 3px 0;
    box-shadow: none;
    width: 309px;
}
.classic .sorting {
	/*padding: 6px 0 2px;*/
}
.classic .sorting li a {
	font-size:13px;
}
.classic .top-menu {
    background-color: #F4F5F6;
    background-image: -moz-linear-gradient(center top , #F4F5F6 0%, #EEEFF0 100%);
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 1px 0 #F8F9F9 inset, 0 0 0 1px rgba(14, 16, 18, 0.1), 0 1px 2px 0 rgba(14, 16, 18, 0.1);
    margin: 18px 0 18px 16px;
    width: 663px;
}
.classic .top-menu .viewer {
	
}
.classic .top-menu .options {
	left:0;
	right:auto;
}
.classic .figure-item:hover .function li.share {
	opacity:1;
	filter: alpha(opacity=100);
}
.classic .figure-item {
	width:auto;
	text-align:center;
	margin-left:0;
	 background: none;
    border-radius: 0px;
    box-shadow: none;
}
.classic .figure-item .figure-img .figure.classic {
	display:block;
	background: #f9f9f9;
}
.classic .figure-item .figure-img .figure.classic img {
	display:inline-block !important;
	max-width:100%;
	vertical-align:middle;
}
.classic .figure-item .price {
	position:absolute;
	top:15px;
	left:15px;
	font-weight:bold;
	color:#fff;
	font-size:15px;
}
.classic .stream li.share {
	position: absolute;
	top: 15px !important;
	right: 15px;
	left: auto !important;
}
.classic .stream li.share i {
	text-indent:-1000em;
}
.timeline.classic .button.fancy,
.timeline.classic .button.fancyd {
	top:50%;
	left:50%;
	margin:-23px 0 0 -70px;
}
.classic .stream li.share,
.classic .figure-item .price {
	opacity:0;
	filter: alpha(opacity=0);
}
.classic .stream .figure-item:hover li.share,
.classic .figure-item:hover .price {
	opacity:1;
	filter: alpha(opacity=100);
}
.classic .stream li.big {
	clear:both;
	width:640px;
}
.classic .stream .big .figure-item {
	width:100%;
	margin-bottom:0px;
}
.classic li.big .button.fancy,
.classic li.big .button.fancyd {
	margin-top:-61px;
}
.classic li.mid .button.fancy,
.classic li.mid .button.fancyd {
	top:155px;
}
.classic li.sm .button.fancy,
.classic li.sm .button.fancyd {
	top:100px;
}
.classic li.mid,
.classic li.sm {
	float:left;
}
.classic li.mid .figure-item  {
	width:310px;
}
.classic li.mid .figure-item .figure {
	width:310px;
	height:310px;
	line-height:307px;
}
.classic li.mid .figure-item .figure img,
.classic li.sm .figure-item .figure img {
	max-height:100%;
	vertical-align:middle;
	height:auto !important;
	width:auto !important;
}
.classic li.mid .figure-item .figure img,
.classic li.sm .figure-item .figure img {
	height:auto !important;
	width:auto !important;
}
.classic li.sm .figure-item  {
	width:200px;
}
.classic li.sm .figure-item .figure {
	width:200px;
	height:200px;
	line-height:197px;
}

.classic .figure-item .figure-img .figcaption {
    font-weight: normal;
    padding: 10px 0 0;
    text-align: left;
}
.classic .figure-item .figure-img .figure.grid {
	display:none;
}

.classic  .figure-item em {
    display: inline-block;
    font-style: normal;
    padding: 2px 0 1px 0px;
    width: 100%;
padding-left: 6px;

}
.classic .figure-item .vcard{
	display: block;
	left: -86px;
	background:url(../../images/site/sprites.png) no-repeat 100% -168px;
	padding-right: 10px;
}
.gift-banner .icon,
.gift-banner-new .icon,
#invitation-reminder .icon,
.welcome-message .icon,
.with-facebook .icon {
	position:absolute;
	top:50%;
	display:block;
}
.gift-banner,
.gift-banner-new,
#invitation-reminder,
.welcome-message,
.with-facebook {
	position: relative;
	padding: 20px 0;
	display: table;
	box-shadow: 0 0 3px 1px rgba(0,0,0,.05),0 1px 2px 0px rgba(0,0,0,.1);
	width: 100%;
	background: #fff;
	border-radius: 4px;
	margin: 0 0 15px 0;
	line-height: 22px;
}
.gift-banner a:hover,
.gift-banner-new a:hover,
#invitation-reminder a:hover,
.welcome-message a:hover {
	text-decoration:none;
}
.gift-banner p,
.gift-banner-new p,
#invitation-reminder p,
.welcome-message p,
.with-facebook p {
	position:static;
	font-size:15px;
	color:#8e9198;
	display:table-cell;
	vertical-align:middle;
	padding:0;
	line-height:22px;
	margin:0;
}
.gift-banner b,
.gift-banner-new b,
#invitation-reminder b,
.welcome-message b,
.with-facebook b {
	display:block;
	font-size:20px;
	color:#2e384e;
}
.gift-banner .btns-gray-embo,
.gift-banner .btns-blue-embo,
.gift-banner-new .btns-gray-embo,
.gift-banner-new .btns-blue-embo,
#invitation-reminder .btns-gray-embo,
#invitation-reminder .btns-blue-embo,
.welcome-message .btns-gray-embo,
.welcome-message .btns-blue-embo,
.with-facebook .btns-blue-embo,
.with-facebook .btns-gray-embo{
	position:static;
	line-height:32px;
	height:34px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	vertical-align:middle;
	margin-right:5px;
}
.gift-banner .btn-area,
.gift-banner-new .btn-area,
#invitation-reminder .btn-area,
.welcome-message .btn-area {
	position:absolute;
	top:50%;
	right:27px;
	margin-top:-17px;
}
.classic .gift-banner p,
.classic .gift-banner-new p,
.classic #invitation-reminder p,
.classic .welcome-message p {
	display:block;
	padding-bottom:15px;
	padding-top:10px;
}
.classic .gift-banner .btn-area,
.classic .gift-banner-new .btn-area,
.classic #invitation-reminder .btn-area,
.classic .welcome-message .btn-area {
	position:static;
	margin:0;
}
.gift-banner {
	min-height:95px;
	height:95px;
}
.gift-banner .icon {
	top:15px;
	left:22px;
	width:174px;
	height:100px;
	background-position:-420px 0;
}
.gift-banner p,
.classic .gift-banner .btn-area {
	padding-left:212px;
}
.gift-banner-new {
	min-height:98px;
	height:98px;
}
.gift-banner-new .icon {
	top:10px;
	left:15px;
	width:263px;
	height:125px;
	background-position:-157px 0;
}
.gift-banner-new p,
.classic .gift-banner-new .btn-area {
	padding-left:266px;
}
#invitation-reminder {
	min-height:98px;
	height:98px;
}
#invitation-reminder .icon {
	top:6px;
	left:29px;
	width:160px;
	height:120px;
	background-position:0 -126px;
}
#invitation-reminder p,
.classic #invitation-reminder .btn-area {
	padding-left:218px;
}
#invitation-reminder .btns-blue-embo {
	float:none;
}
.welcome-message {
	min-height:98px;
	text-align:left;
	height:98px;
}
.welcome-message .btns-blue-embo,
.gift-banner-new a.btns-blue-embo,
#invitation-reminder .btns-blue-embo {
	color:#fff;
}
.welcome-message .icon {
	left:25px;
	top:24px;
	width:158px;
	height:100px;
}
.welcome-message p,
.classic .welcome-message .btn-area {
	padding-left:210px;
}
.with-facebook {
	padding:35px 0 30px;
}
.with-facebook .btn-area {
	padding-left:32px;
	padding-top:26px;
}
.with-facebook p,
.classic .with-facebook .btn-area {
	display:block;
	padding-left:32px;
}
.with-facebook p .icon {
	position:static;
	float:left;
	width:42px;
	height:42px;
	background-position:-595px 0;
	margin-right:14px;
}
.with-facebook .pages {
	left:auto;
	top:auto;
	right:0;
	bottom:0;
	width:481px;
	height:140px;
	background-position:-219px -125px;
}
.classic .with-facebook .pages {
	width:240px;
}
.with-facebook .btns-blue-embo {
	border-color:#3d578c;
	background: -webkit-linear-gradient(top,#617bae,#566ea2);
	background: -ms-linear-gradient(top,#617bae,#566ea2);
	background: -moz-linear-gradient(top,#617bae,#566ea2);
	background: -o-linear-gradient(top,#617bae,#566ea2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#617bae',endColorstr='#566ea2');
}
.ipad #header-new,
.ipad #container-wrapper {
	min-width:960px;
}
.ipad #header-new {
	position:absolute;
}
.ipad .top-menu {
	margin:0;
	width:100%;
}
.ipad .top-menu .sorting {
	padding:16px 0 10px 17px;
}
.ipad .top-menu .sorting a {
	font-size:13px;
}
.ipad .top-menu .viewer {
	padding:0;
	line-height:45px;
	border-left:1px solid #ebecef;
}
.ipad .top-menu .viewer a {
	padding:0 18px;
	margin:0;
}
.ipad .stream {
	padding:0 17px 0 4px;
	text-align:center;
}
.ipad .figure-item {
	width:291px;
	margin:0 0 0 13px;
	text-align:left;
	padding:19px 0 20px;
	border-top:1px solid #ebecef;
}
.ipad .stream li:nth-child(1) .figure-item,
.ipad .stream li:nth-child(2) .figure-item,
.ipad .stream li:nth-child(3) .figure-item {
	border-top:0;
	padding-top:17px;
}
.ipad .figure-item .figure-img .figure {
	width:291px;
	height:291px;
}
.ipad .figure-item .function a,
.ipad .figure-item .function button {
	font-size:13px;
	color:#4776ac;
	background:none;
	vertical-align:baseline;
	display: inline;
}
.ipad .figure-item .button.fancy,
.ipad .figure-item .button.fancyd {
	position:static;
	display:inline;
	line-height:1em;
	padding:0;
	font-weight:normal;
	opacity:1;
	filter: alpha(opacity=100);
	border:0;
	box-shadow:none;
	margin: 0;
}
.ipad .figure-item .button.fancyd {
	color:#8b9cb0;
}
.ipad .figure-item .button.fancy:hover,
.ipad .figure-item .button.fancyd:hover {
	background:none;
}
.ipad .figure-item .button.fancy span,
.ipad .figure-item .button.fancyd span {
	display:none;
}
.ipad .figure-item .figure-img .figcaption {
	font-weight:normal;
	font-size:13px;
	padding:10px 0 0;
	line-height:16px;
}
.ipad .figure-item .price {
	font-weight:bold;
	color:#373d48;
	font-size:13px;
	line-height:16px;
}
.ipad .figure-item .username {
	font-size:13px;
	line-height:16px;
}
.ipad .function {
	display:block;
	padding-top:7px;
}
.ipad .figure-item .username a {
	vertical-align:baseline;
}
.gift-banner p,
.gift-banner-new p,
#invitation-reminder p,
.welcome-message p,
.with-facebook p {
	padding-left:0;
}
.gift-banner .icon,
.gift-banner-new .icon,
#invitation-reminder .icon,
.welcome-message .icon,
.with-facebook .icon {
	position:static;
	float: left;
	margin-right:14px;
}
.gift-banner b,
.gift-banner-new b,
#invitation-reminder b,
.welcome-message b {
	padding-top:25px;
}
.classic .gift-banner b,
.classic .gift-banner-new b,
.classic #invitation-reminder b,
.classic .welcome-message b {
	padding-top:0;
}
.gift-banner .icon {
	margin-top:-5px;
	margin-left:22px;
}
#invitation-reminder .icon {
	margin:-14px 14px -14px 29px;
}
.welcome-message .icon {
	margin-left:25px;
	margin-top:4px;
}
.with-facebook .icon {
	position:absolute;
}
.gift-banner-new .icon {
	margin:-10px 14px -10px 15px;
	width:225px;
}
.with-facebook p {
	padding-left:88px;
}
.with-facebook p .icon {
	position:absolute;
	top:35px;
	left:32px;
}
/* search result */
#slideshow.loading {
	border:0;
}
.search #tooltip {
	position:absolute;
	z-index:4;
	display:none;
	color:white;
	font-size:11px;
	background-color:black;
	font-weight:bold;
	height:22px;
	line-height:22px;
	padding:0 8px 1px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}
.search #tooltip:after {
	position:absolute;
	bottom:-11px;
	left:50%;
	margin-left:-6px;
	content:'';
	font-size:0;
	line-height:0;
	display:block;
	width:0;
	height:0;
	border:6px solid transparent;
	border-top-color:black;
}
.search #infscr-loading {
	margin:0;
	background: url('../../images/site/spinner.gif') no-repeat 50% 50%;
	text-indent: -1000em;
}
.search .userlist.stream {
	clear:both;
	padding:20px 0 10px 20px;
}
.search .userlist .follow-user-list {
	margin-top:7px;
}
.vcard .verified,
.vcard .translator {
	font-size:12px;
	display:inline-block;
	vertical-align:middle;
	width:17px;
	height:17px;
	position:relative;
	top:2px;
	text-indent:-10000px;
	cursor:pointer;
}
.vcard .verified {
	margin-left:5px;
	background:url('_ui/images/profile/i_verified.html') no-repeat;
}
.vcard .translator {
	margin-left:3px;
	background:url('_ui/images/profile/i_translator.html') no-repeat;
}
.vcard .verified.hover,
.vcard .verified:hover,
.vcard .translator.hover,
.vcard .translator:hover {
	background-position:0 -17px;
}
.search .userlist .use-fn .nickname {
	display:none	;
}
.use-nickname .fn {
	display:none;
}
.search .btn {
	display: block;
	font-size: 13px;
	border: 1px solid #959595;
	border-color: #b1b1b2 #b1b1b2 #a8a8aa;
	height: 26px;
	padding:0 9px;
	line-height: 26px;
	width: auto;
	font-weight: bold !important;
	color: #393d4d !important;
	text-shadow: 0px 1px 0 #ffffff;
	box-shadow: inset 0 1px 0px rgb(252,252,252),0 1px 1px rgba(0,0,0,0.1);
	background: #f0f0f0;
	background: -webkit-linear-gradient(top,#fcfcfc,#f0f0f0);
	background: -ms-linear-gradient(top,#fcfcfc,#f0f0f0);
	background: -moz-linear-gradient(top,#fcfcfc,#f0f0f0);
	background: -o-linear-gradient(top,#fcfcfc,#f0f0f0);
	border-radius: 3px;
}
.search .btn:hover {
	border-color: #a3a3a5;
}
.search .btn:active {
	box-shadow: none;
	text-decoration: none;
	background: -webkit-linear-gradient(#f0f0f0,#ffffff);
	background: -moz-linear-gradient(#f0f0f0,#ffffff);
	background: -o-linear-gradient(#f0f0f0,#ffffff);
	background: linear-gradient(#f0f0f0,#ffffff);
	box-shadow: 0 0 1px rgba(0,0,0,0.3) inset;
	border-color: #b8b8b8 #c2c2c2 #ccc;
}
.search .btn-blue,
.search .btn-blue:hover,
.search .btn-blue:active{
	border: 1px solid #426f9c;
	color: #fff !important;
	text-shadow: 0 -1px 0 #406b97;
	box-shadow: 0 1px 0 #ededed;
	background: #528bc3;
}
.search .btn-dimmed,
.search .btn-dimmed:hover {
	border: 1px solid #cacbcc;
	color: #bcbfc1 !important;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: 0px 1px 0 #fefefe;
	background: #f5f5f5;
}
.search .btn-dimmed:active {
	border: 1px solid #b8b8b8;
	border-color: #b8b8b8 #c2c2c2 #ccc;
	box-shadow: 0 0 1px rgba(0,0,0,0.25) inset;
	background: -webkit-linear-gradient(#f0f0f0,#fefefe);
	background: -moz-linear-gradient(#f0f0f0,#fefefe);
	background: -o-linear-gradient(#f0f0f0,#fefefe);
	background: linear-gradient(#f0f0f0,#fefefe);
}
.search .vcard .follow-user-link,
.search .vcard .follow-user-link:hover {
	display:block;
	height:26px;
	width:174px;
	font-weight:bold;
	font-size:12px;
	line-height:26px;
	text-shadow: 0 1px 0 #fff;
	color: #545861 !important ;
	border: 1px solid #959595;
	border-color: #c8c8c9 #c5c5c6 #c2c2c3;
	box-shadow:0 1px 1px rgba(0,0,0,0.07);
	background: -webkit-linear-gradient(top,#fefefe,#f6f6f6);
	background: -ms-linear-gradient(top,#fefefe,#f6f6f6);
	background: -moz-linear-gradient(top,#fefefe,#f6f6f6);
	background: -o-linear-gradient(top,#fefefe,#f6f6f6);
	border-radius:3px;
	margin:0 auto;
}
.search .vcard .follow-user-link:active {
	box-shadow: none;
	text-decoration: none;
	background: -webkit-linear-gradient(#f0f0f0,#ffffff);
	background: -moz-linear-gradient(#f0f0f0,#ffffff);
	background: -o-linear-gradient(#f0f0f0,#ffffff);
	background: linear-gradient(#f0f0f0,#ffffff);
	box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
	border-color: #b8b8b8 #c2c2c2 #ccc;
}
.search .vcard .follow-user-link.following,
.search .vcard .follow-user-link.following:active{
	border: 1px solid #426f9c;
	color: #fff !important;
	text-shadow: 0 -1px 0 #406b97;
	box-shadow: 0 1px 0 #ededed;
	background: #528bc3;
}
.search .vcard .follow-user-link.following,
.search .vcard .follow-user-link.following:active,
.search .vcard .follow-user-link.following:hover{
	border: 1px solid #426f9c;
	color: #fff !important;
	text-shadow: 0 -1px 0 #406b97;
	box-shadow: 0 1px 0 #ededed;
	background: #528bc3;
}
.search .vcard .follow-user-link.following.dimmed,
.search .vcard .follow-user-link.following.dimmed:hover{
	border: 1px solid #cacbcc;
	color: #bcbfc1 !important;
	box-shadow: none;
	text-shadow: 0px 1px 0 #fefefe;
	background: #f5f5f5;
}
.search .userlist .vcard .follow-user-link {
	width: auto;
	display: inline-block;
	padding:0;
	min-width:81px;
	text-align:center;
}
ol.stream {
	position: relative;
}
ol.stream.use-css3 li.anim {
	transition:all .25s;
	-webkit-transition:all .25s;
	-moz-transition:all .25s;
	-ms-transition:all .25s;
	visibility:visible;
	opacity:1;
}
ol.stream.use-css3 li {
	visibility:hidden;
}
ol.stream.use-css3 li.anim.fadeout {
	opacity:0;
}
ol.stream.use-css3.fadein li {
	opacity:0;
}
ol.stream.use-css3.fadein li.anim.fadein {
	opacity:1;
}
.search .figure-item {
	margin: 10px 10px 31px 10px;
}
.search .figure-item .figure-img .figcaption {
	font-weight: normal;
	color: #494f59;
	font-size: 13px;
	padding: 15px 0 0 0;
	max-width: 230px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.search .figure-img {
	margin-bottom:1px;
}
.search .figure-item .price {
	color: #373d48;
	font-weight:bold;
	padding:0 4px 0 0;
}
.search.vertical .figure-item .price {
	color: white;
	font-weight:normal;
}
.search .figure-item .username {
	width:auto;
}
.search .figure-item .figure-detail {
	white-space: nowrap;
	overflow: hidden;
}
.search .figure-item .username,
.profile .wrapper-content .figure-item .username a {
	color: #8a8f9c;
}
.search.vertical .figure-item .username,
.profile .vertical .figure-item .username em {
	color: white;
}
.search .figure-item .username a {
	max-width: 80px;
}
.search .figure-item .username i {
	padding-right:2px;
}
.search.normal .stream li {
	float:left;
}
.search.normal .stream li:nth-child(4n+1) {
	clear:both;
}
.search.normal .stream li .figure-item {
	width:210px;
}
.search.normal .stream li .figure-item .figure-img .figure {
	width:210px;
	height:210px;
}
.search.normal .stream li .figure-item .button.fancy,
.search.normal .stream li .figure-item .button.fancyd {
	top: 105px;
	left: 50%;
	margin:-23px 0 0 -75px;
}
.search .hgroup {
	float: left;
	width: 100%;
	background: #fff;
	border-radius: 3px;
	margin-bottom: 20px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.08),0 1px 1px 0 rgba(0,0,0,.08);
}
.search .hgroup h2 {
	font-weight:normal;
	color:#5a6067;
	font-size:14px;
	line-height:20px;
	padding:12px 0 12px 16px;
	max-width:60%;
}
.search .hgroup h2 b {
	color:#383d48;
}
.search .hgroup .tab {
	float: right;
}
.search .hgroup .tab li {
	float: left;
	border-left: 1px solid #e9eaed;
	font-weight: bold;
	font-size: 13px;
}
.search .hgroup .tab a {
	display:block;
	padding:0 18px;
	line-height:44px;
	color:#41628a;
}
.search .hgroup .tab a:hover {
	background:#f8f9f9;
	text-decoration:none;
}
.search .hgroup .tab li:last-child a {
	border-radius:0 3px 3px 0;
}
.search .hgroup .tab a.current {
	color:#37404e;
	cursor:default;
}
.search .hgroup .tab a.current:hover {
	background:#fff;
}
.search .top-menu {
	margin: 0;
	border: 0;
	width: 100%;
}
.search .top-menu h3 {
	font-size: 16px;
	background: #f8f9fa;
	border-bottom: 1px solid #dadde1;
	padding: 12px 17px;
	line-height: 21px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
	border-radius: 3px 3px 0 0;
	color: #58616e;
	box-shadow: inset 0 1px 0px 0px rgba(255,255,255,.6);
	margin: 0;
	text-align: left;
}
.search .top-menu .viewer {
	position: absolute;
	top: 11px;
	right: 18px;
	padding:0;
}
.search .stream {
	clear:both;
	padding:10px 0 0 10px}
.search.vertical .stream {
	margin-left:10px;
	top:-10px;
}
.search .lists-selector {
	display:none;
	position:relative;
	z-index:3;
	float:left;
	width:900px;
	margin:0 20px 0;
	border-bottom:1px solid #f0f0f0;
}
.search .thing .lists-selector {
	display:block;
}
.search .lists-type {
	float:left;
	padding:28px 0 12px;
}
.search .lists-option {
	float: right;
	padding: 24px 0 16px;
}
.search .lists-option .option {
	display: inline-block;
	vertical-align: top;
	position: relative;
	overflow: hidden;
}
.search .lists-option .option.show {
	overflow:visible;
}
.search .lists-option .trick {
	display:none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.search .lists-option .option-slide {
	position: relative;
	right: -200px;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
}
.search .lists-option .option-slide.show {
	right:0;
}
.search .lists-type .selector {
	font-size:16px;
	color:#383d48;
	font-weight:bold;
}
.search .lists-type .selector .arrow {
	display: inline-block;
	width: 7px;
	height: 5px;
	background: url('../../images/site/jquery.selectBox-arrow2.gif') no-repeat 0 -7px;
	opacity: 0.5;
	vertical-align: middle;
	margin: -3px 0 0 2px;
	position: relative;
	top: 1px;
}
.search .lists-type .selector.current .arrow {
	background-position: 0 0px;
	margin-top: -4px;
}
.search .lists-option .selector {
	position:relative;
	display:inline-block;
	border:1px solid #fff;
	border-radius:3px;
	line-height:16px;
	font-weight:bold;
	color:#383d48;
}
.search .lists-option .relative .selector {
	min-width:39px;
}
.search .lists-option .selector span {
	display:block;
	padding:5px 26px 5px 8px;
}
.search .lists-option .selector .arrow {
	position:absolute;
	top:50%;
	right:10px;
	display:inline-block;
	width:6px;
	height:9px;
	background: url('../../images/site/jquery.selectBox-arrow4.png') no-repeat 0 0;
	background-size:14px 9px;
	opacity: 0.5;
	vertical-align:middle;
	margin:-4px 0 0 2px;
}
.search .lists-option .selector .zoom {
	display:block;
	width:12px;
	height:12px;
	padding:7px;
}
.search .lists-option .selector .ic-zoom {
	display:block;
	width:12px;
	height:12px;
	background:url('../../images/site/shop.png') no-repeat 0 -71px;
}
.search .lists-option .selector:hover {
	border-color: #c0c0c0;
	box-shadow: 0 1px rgba(0,0,0,.06);
}
.search .lists-option .selector:hover .arrow {
	opacity:0.4;
}
.search .lists-option .selector.current {
	border-color:#9a9a9a;
	background:#ebebeb;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.15);
}
.search .lists-option .selector.current .arrow {
	opacity:1;
}
.search .lists-option .relative {
	display:inline-block;
	position:relative;
	vertical-align:top;
}
.search .lists-option .relative ul {
	position:absolute;
	right:0;
	left:auto;
	top:33px;
	background:#31363e;
	line-height:25px;
	border-radius:3px;
	padding:7px 0;
}
.search .lists-option .relative i.color {
	border-radius:3px;
	width: 14px;
	height: 14px;
	margin: -2px 4px 0 0;
}
.search .lists-option .relative li a {
	display:block;
	color:#c4c7cc;
	padding:0 12px;
}
.search .lists-option .relative li a:hover {
	color:#f3f5f9;
	background:#242931;
	text-decoration:none;
}
.search .lists-option .selector.selected {
	border-color:#262c35;
	background: -webkit-linear-gradient(top,#424851,#373d46);
	background: -ms-linear-gradient(top,#424851,#373d46);
	background: -moz-linear-gradient(top,#424851,#373d46);
	background: -o-linear-gradient(top,#424851,#373d46);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#424851',endColorstr='#373d46');
	color:#ffffff;
}
.search .lists-option .selector.selected .arrow {
	display:inline-block;
	right:6px;
	margin-top:-6px;
	width:12px;
	height:12px;
	background:url('../../images/site/icon.png') no-repeat -617px -307px;
	opacity:0.5;
	background-size:800px 800px;
}
.search .lists-option .selector.selected:hover .arrow {
	opacity:1;
	background-color:#2a3039;
}
.search .lists-option .palette ul {
	width:160px;
}
.search .lists-option .price ul {
	width:90px;
}
.search a.selector:hover {
	text-decoration:none;
}
.search .lists-selector .category {
	float:left;
	width:100%;
	border-top:1px solid #f0f0f0;
	padding:20px 0 19px;
}
.search .lists-selector .category li {
	float:left;
	width:172px;
	margin:0 10px 3px 0;
}
.search .lists-selector .category a {
	display: block;
	line-height: 24px;
	padding: 0 9px;
	color: #8a8f9c;
	font-size: 13px;
	font-weight: bold;
	border: 1px solid #fff;
}
.search .lists-selector .category a:hover {
	color: #383d48;
	background: -webkit-linear-gradient(top,#f0f0f0,#e9e9e9);
	background: -ms-linear-gradient(top,#f0f0f0,#e9e9e9);
	background: -moz-linear-gradient(top,#f0f0f0,#e9e9e9);
	background: -o-linear-gradient(top,#f0f0f0,#e9e9e9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0',endColorstr='#e9e9e9');
	box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset,0 -1px 0 rgba(0,0,0,0.035) inset,1px 0 0 rgba(0,0,0,0.038) inset,-1px 0 0px rgba(0,0,0,0.02) inset;
	border-radius: 4px;
	text-decoration:none;
}
.search .lists-selector .category li:nth-child(5n+0) {
	margin-right:0;
}
.search.normal .stream .figure-item .button.fancy,
.search.normal .stream .figure-item .button.fancyd {
	top:105px !important;
	left:105px !important;
	margin:-23px 0 0 -65px;
}
.stream li.share {
	position:absolute;
	right:15px;
	top:15px;
	opacity:0;
}
.stream li.share .ic-share {
	text-indent:-1000em;
}
.stream .figure-item:hover li.share {
	opacity:1;
}
.search .userlist li.vcard{
	position:relative;
	display:block;
	padding:0 0 10px 0;
	width:910px;
	margin-bottom:10px;
	clear:both;
	overflow:hidden;
	min-height:90px;
}
.search .userlist li.vcard p {
	float:left;
	width:270px;
	padding-left:104px;
	top:8px;
}
.search .userlist.stream .photo{
	position:absolute;
	top:2px;
	left:0;
	background-position:50% 50%;
	background-size:cover;
	width:90px;
	height:90px;
	display:block;
	border-radius:2px;
	max-width:90px;
	max-height:90px;
}
.search .userlist .fn,
.search .userlist .nickname {
	display:inline;
	padding:0;
	white-space:normal;
	font-size:13px;
	color:#373d48;
	 vertical-align:middle;
	line-height:21px;
}
.search .userlist .verified,
.search .userlist .translator {
	position:relative;
	top:-1px;
	}
.search .userlist .followers,
.search .userlist .things {
	display:block;
	font-size:12px;
	color:#87898e;
	line-height:18px;
}
.search .userlist .vcard .follow-user-link {
	margin-top:7px;
}
.search .userlist .thing-list {
	float:right;
	padding-right:10px;
}
.search .userlist .thing-list a {
	display:block;
	width:120px;
	height:120px;
	overflow:hidden;
}
.search .userlist .thing-list li {
	float:left;
	padding-left:5px;
}
.search .userlist .thing-list li img {
	width:122px;
	height:122px;
	display:block;
	background-position:50% 50%;
	background-size:cover;
	border-radius:0;
	max-width:122px;
	max-height:122px;
	margin:-1px;
}
.search .lists-listing .wrapper-btn {
	border: 1px solid #e5e5e5;
	border-bottom-color: #d5d5d5;
	border-top: none;
	overflow: hidden;
	padding:8px 0;
}
.search .lists-listing .vcard figcaption {
	padding:8px 0 8px;
	;
	text-align:left;
}
.search .lists-listing .vcard figcaption a:hover {
	text-decoration:none;
}
.search .lists-listing .vcard figcaption strong,
.search .lists-listing .vcard figcaption a {
	color:#383d48;
	font-weight:bold;
	font-size:13px;
	max-width: 122px;
	display:inline-block;
	padding-right:4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}
.search .lists-listing .vcard figcaption .account {
	font-weight:normal;
	color:#8e9198;
	font-size:11px;
}
.search .wrapper-content div.lists .lists-listing {
	padding:10px 0 0 10px;
	position:relative;
}
.search .lists-listing .vcard {
	float:left;
	position: static;
	text-align: center;
	margin: 10px 10px 0;
	vertical-align: top;
	color: #8e9198;
	font-size: 11px;
	height: 310px;
}
.search .lists-listing .fig-image {
	width:210px;
	height:210px;
	background:url('../../images/site/blank-lists.png') no-repeat 50% 50% #eceef0;
	background-size:69px 69px;
}
.search .lists-listing .fig-image img {
	position:absolute;
	float:none;
	width:210px;
	height:210px;
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-size:cover;
	max-width:210px;
	max-height:210px;
	border-radius:0;
	opacity:0;
	-webkit-transition: opacity 0.4s ease;
	-moz-transition: opacity 0.4s ease;
	-ms-transition: opacity 0.4s ease;
	-o-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
}
.search .lists-listing .fig-image img.on {
	opacity:1;
}
.search .lists-listing a {
	display:block;
	position:relative;
}
.search .lists-listing .shadow {
	position:absolute;
	z-index:1;
	top:0;
	left:0;
	width:210px;
	height:210px;
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
}
.search .lists-listing .lists-frame {
	display: block;
	overflow: hidden;
}
.search .wrapper-content {
	position: relative;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 1px 1px 0 rgba(0,0,0,.1);
	margin-bottom: 0;
}
.search .wrapper-content.empty .search-result {
	color:#686e78;
	text-align:center;
	text-shadow:0 1px 0 rgba(255,255,255,0.75);
	font-size:16px;
}
.search .wrapper-content.empty .search-result p {
	width:410px;
	margin:0 auto;
	font-size:16px;
	color:#686e78;
	line-height:20px;
	padding-bottom:140px;
}
.search .wrapper-content.empty .search-result h3 {
	color:#383d48;
	font-size:22px;
	padding:120px 0 20px;
	margin:0;
	clear:both;
}
.search .wrapper-content {
	position: relative;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 1px 1px 0 rgba(0,0,0,.1);
	margin-bottom: 0;
}
.search .wrapper-content.empty,
.search .wrapper-content.empty #content {
	background:none;
	box-shadow:none;
}
.search .wrapper-content.empty .search-result {
	padding:80px 0 70px;
	color:#686e78;
	text-align:center;
	text-shadow:0 1px 0 rgba(255,255,255,0.75);
	font-size:16px;
}
.search .wrapper-content .search-result .empty b {
	color:#000;
}
.search .wrapper-content .search-result .empty p {
	width:410px;
	margin:0 auto;
	font-size:16px;
	color:#686e78;
	line-height:20px;
	padding-bottom:140px;
	text-align:center;
}
.search .wrapper-content .search-result .empty h3 {
	color:#383d48;
	font-size:22px;
	padding:120px 0 20px;
	margin:0;
	clear:both;
	text-align:center;
}
.vcard .twitter {
	display: inline-block;
	width: 16px;
	height: 15px;
	vertical-align: baseline;
	background: transparent url('../../images/site/icond896.png?20130508') no-repeat;
	background-size: 800px 800px;
	text-indent: -1000em;
	background-position: -212px -1px;
	vertical-align: middle;
	margin: -3px 0 0 3px;
}
.search .check {
	display:inline-block;
	padding:6px 0 6px 8px;
	vertical-align:top;
	line-height: 16px;
	font-weight: bold;
	cursor: pointer;
}
.search .check .ic-check {
	display: inline-block;
	width: 13px;
	height: 13px;
	vertical-align: middle;
	margin: -2px 2px 0 0;
	background: url('../../images/site/icon.png') no-repeat -610px -74px;
}
.search .check.on .ic-check {
	background-position:-610px -50px;
}

/* for timeline banner */
#banner.banner-shop {
  /*  height: 500px;
    margin-bottom: 0;
    position: relative;
    margin-top: 42px;
    width:100%;*/
position: relative;
top: 0;
left: 0;
width: 100%;
height: 500px;
z-index: 20;
margin-top: 68px;
margin-left:auto;
margin-right:auto;
}

#banner {
background: #fff center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
/*margin-bottom: 70px;
min-width: 1030px;*/
}
.container-banner {
/*padding: 0;
position: relative;
margin: 0 auto;*/
/*width: 100%;*/
color: #fff;
padding: 120px 0 20px;
text-shadow: 0 2px 1px rgba(0, 0, 0, .5);
width: 70%;
line-height: 1.3;
border-bottom: 0px;
/*text-align: left;*/
float: right;
margin-right: 5%;
/*max-width: 1220px;*/
}
#banner.banner-shop .container-banner h1 {
color: #fff;
/*padding: 120px 0 20px;*/
text-shadow: 0 2px 1px rgba(0, 0, 0, .5);
font-size: 40px;
/*width: 400px;
line-height: 1.3;
border-bottom: 0px;*/
text-align: left;
float: right;
/*margin-right: 5%;*/
}
.offer {
color: #fff;
/*padding: 50px 0 20px;*/
text-shadow: 0 2px 1px rgba(0, 0, 0, .5);
//text-align: left;
text-align:center;
}
.banner-shop .image-credit-wrap {
   /* background: #000;*/
    filter: alpha(opacity=40);
   /* background-color: rgba(0, 0, 0, 0.2);
    position: absolute;*/
    bottom: 0;
    left: 0;
    width: 100%;
/*padding-top:210px;*/
}
.image-footer-container {
position: relative;
padding: 10px 0;
/* text-align: center; */
margin: -35px auto;
/* max-width: 980px; */
max-width: 1280px;
margin-left: 64%;
/* margin: 0 auto; */
}
.banner-shop a.seller-avatar {
    color: #fff;
    display: block;
    float: left;
    font-family:'Guardian-EgypTT', georgia, serif;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    text-align: left;
    text-decoration: none;
}
.banner-shop ul {
    float: right;
    margin-bottom: 6px;
    display: inline-block;
    list-style: none;
}
.banner-shop ul, .banner-shop li {
    display: inline-block;
}
.thumbnail-inner {
width: 75px;
height: 75px;
border-radius: 3px;
border: 3px solid #fff;
background: #000;
overflow: hidden;
transition: all .1s;
-webkit-transition: all .1s;
-moz-transition: all .1s;
}
.thumbnail-outer {
border:0;
border-radius: 3px;
border: 1px solid #ececec;
float: left;
margin-right: 6px;
transition: all .1s;
-webkit-transition: all .1s;
-moz-transition: all .1s;
}
/* recommended users box */

.wall-box{
position: relative;
width: 298px;
z-index: 2;
font-size: 13px;
line-height: 17px;
margin: 0 0 6px 6px;
float: left;
background: none repeat scroll 0 0 #FFFFFF;
box-shadow: 0 0 0 1px #D0D1D2 inset, 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.03);  
}

.wall-box .heading
{
box-shadow: 0 0 0 1px #D0D1D2 inset, 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.03);
background: #cccccc;
padding: 4px 0 6px 4px;
font-weight: bold;  
border: 1px solid #aaaaaa;
}

.step1 .case li {
margin: 4px;
text-align: center;
float: left;
width: 140px;
}

.step1 .case li a {
display: block;
/*height: 96px;*/
font-weight: bold;
line-height: 40px;
font-size:14px;
background: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
color: #393d4d !important;
border: 1px solid #959595;
border-color: #b1b1b2 #b1b1b2 #a8a8aa;
border-radius:3px;
}
.step1 .case li a:hover {text-decoration:none;background:#eaebec;}

.recom-users {
display:inline-block;
width:100%;
height: 251px;
}

.recom-users li {
border-bottom: 1px solid #ECEEF4;
width:95%;
display: inline-block;
padding: 10px;
height: 34px;
}
.recom-users li:last-child {
border-bottom: 0;
}
.recom-users-list .recom-users-item .avartar {
float: left;
width: 30px;
height: 30px
}
.recom-users-list .recom-users-item .username{
padding: 5px 0 0 50px
}

.people {
display:inline-block;
width:100%;
height: 114px;
}
/* buttons */
.btn-invite{
background-color: #4c699e;
border-radius: 3px 3px 3px 3px;
box-shadow: 0 1px 0 rgba(175, 207, 236, 0.2) inset, 0 1px 0 rgba(0, 0, 0, 0.11);
color: #FFFFFF;
font-size: 13px;
font-weight: bold;
height: 32px;
padding: 0 12px;
float: right;
margin-right: 5px;
margin-top:7px;
cursor:pointer;
}

.btn-invite.social
{
float: left;
font-size: 13px;
height: 40px;
width: 210px;
margin-top:20px;
}

.btn-invite.social.btn-g
{
background: #da573b;
}
.btn-invite.social.btn-mail
{
background: #00cc00;
}
.btn-invite.follow
{
height: 25px;
margin-top: 0;
padding-top: 3px;
background: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
color: #393d4d !important;
border: 1px solid #959595;
border-color: #b1b1b2 #b1b1b2 #a8a8aa;
}
.btn-invite.following
{
height: 25px;
margin-top: 0;
padding-top: 3px;
background: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
color: #393d4d !important;
border: 1px solid #959595;
border-color: #b1b1b2 #b1b1b2 #a8a8aa;
}