fieldset.stripes {
  background:transparent url(../../images/site/home/up1_bg.html) repeat scroll 0 0;
  width:620px;
  margin-bottom:20px;
  position:relative;
  height:auto;
}

#content .tag-photo .tag-item .tip {
  z-index:10;
}

#content .tag-photo .tag-item .tip {
  background:transparent url(../../images/site/common/bg_tip.png) repeat scroll 0 0;
  float:left;
  padding:6px;
  position:relative;
  visibility:hidden;
}

#content .tag-photo .tag-item .tiphover {
  visibility:visible;
}

#content .tag-photo .tag-item .tip span.b {
  background:transparent url(../../images/site/common/bg_user_menu_arrow.png) no-repeat scroll 0 0;
  bottom:-5px;
  display:block;
  height:5px;
  left:18px;
  position:absolute;
  width:9px;
  top:auto;
}
#content .tag-photo .tag-item .tip p {
  text-align:left;
  margin-bottom:0;
  line-height:normal;
  padding:0;
}
#content .tag-photo .tag-item .tip p {
  color:#FFFFFF;
  float:left;
  margin-bottom:2px;
  position:relative;
}

#content .tag-photo .tag-item .tip {
  margin:auto;
  width:auto;
}

#content .tag-photo .tag-item{
  margin:auto;
  width:auto;
}

#gallery ol li div.tag-photo {float:none;margin:0;min-height:0;}


#content .tag-photo {min-height:0;}
#gallery ol li ol.up1 li.tag-photo {background:none;}

#gallery ol.up4 li div.tag-photo {width:140px;}
#gallery ol.up2 li div.tag-photo {width:300px;}


/* Tag & Tag photo */
.tag {
	background: url(../../images/site/common/ico_tag.png) no-repeat scroll left top transparent;
	display: block;
	height: 20px;
	width: 20px;
	
}
.figure-product .tag-photo.fig-image{
    display:block;
}
.tag-photo {
	position: relative;
	/*min-height: 400px;J*/
	min-height: 640px;
}
.tag-photo .tag-item {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	display: none;
	
}
.tag-photo .tag-item .tag {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 9;
	
}
.tag-photo .tag-item .tag.tag-hover { 
	background-position: 0 -20px;
}

.tag-photo > img {
text-align:left;
}

.wrapper-fig-image.stripes {
  background:transparent url(../../images/site/common/bg_figure.png) repeat scroll 0 0;
  height:auto;
}

.figure-product .wrapper-fig-image{
  overflow:visible;
}
.figure-product .fig-image{
  overflow:visible;
}
