/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('fonts/flexslider-icon.eot');
	src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/flexslider-icon.woff') format('woff'),
		url('fonts/flexslider-icon.ttf') format('truetype'),
		url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider {  zoom: 1; position: relative; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flexslider:not(.simple_slideshow) .flex-direction-nav a  { 
	width: 60px;
	height: 60px;
	display:block;
	z-index: 21;
	cursor: pointer;
	color:#fff;
	text-align: center;
	border-width:1px !important;
	border-style:solid !important;
	border-color:transparent !important;
	top: 50%;
	font-size:36px;
	line-height: 60px !important;
	margin-top: -30px;	
	position: absolute;
	-webkit-transition:border-color .4s ease !important;
	-moz-transition:border-color .4s ease !important;
	-o-transition:border-color .4s ease !important;
	transition:border-color .4s ease !important;
}
.simple_slideshow .flex-direction-nav a{
	position:absolute;
	top:50%;
	margin-top:-30px;
	z-index:21;
	opacity:0;
}
.flexslider .flex-direction-nav a i[class^="fa "]{
	font-size:inherit !important;
	-webkit-backface-visibility:hidden;
}
.flexslider:not(.simple_slideshow) .flex-direction-nav a:hover{
	border-color:#fff !important;
}
.flex-direction-nav .flex-prev{
	left: 20px;
}
.flex-direction-nav .flex-next{
	right: 20px;
}
.simple_slideshow .flex-direction-nav .flex-prev { -webkit-transform:translateX(-40px);-moz-transform:translateX(-40px); -o-transform:translateX(-40px); -ms-transform:translateX(-40px); transform:translateX(-40px);}
.simple_slideshow .flex-direction-nav .flex-next { -webkit-transform:translateX(40px);-moz-transform:translateX(40px); -o-transform:translateX(40px); -ms-transform:translateX(40px); transform:translateX(40px);}
.simple_slideshow:hover .flex-direction-nav a{
	opacity:1;
	-webkit-transform:translateX(0px) !important;
	-moz-transform:translateX(0px) !important;
	-o-transform:translateX(0px) !important;
	-ms-transform:translateX(0px) !important;
	transform:translateX(0px) !important;
}
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }


/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 5px; text-align: center; z-index:2;}
.flex-control-nav li {margin: 0 2.5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {
	cursor: pointer;
	display: block;
	width:10px;
	height:10px;
	overflow: hidden;
	color:transparent;
	border:1px solid #fff !important;
	-webkit-transition: border-color .4s ease,background-color .4s ease !important;
	-moz-transition: border-color .4s ease,background-color .4s ease !important;
	-o-transition: border-color .4s ease,background-color .4s ease !important;
	transition: border-color .4s ease,background-color .4s ease !important;
}
.flex-control-paging li a.flex-active { background: #fff;}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

.flex_caption{
	position:absolute;
}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
