<div class="section_offset bg_grey_light_2 m_bottom_35 m_xs_bottom_30">
					<div class="container m_top_10">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-3 m_bottom_15 m_xs_bottom_30">
								<h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13">Tags</h5>
								<hr class="divider_bg m_bottom_25">
								<!--tags-->
								<ul class="hr_list tags_list second_font fs_medium">
									<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">bed</a></li>
									<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">bestseller</a></li>
									<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">chair</a></li>
									<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">chaise</a></li>
									<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">desk</a></li>
									<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">dresser</a></li>
									<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">ottoman</a></li>
									<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">sale</a></li>
									<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">sleeper</a></li>
									<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">sofa</a></li>
									<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">stool</a></li>
									<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">table</a></li>
								</ul>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 m_bottom_15 m_xs_bottom_30">
								<h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13">Latest Tweets</h5>
								<hr class="divider_bg m_bottom_25">
								<!--twitter feed-->
								<div class="tweets_list_container"></div>
							</div>
							<!--contact info-->
							<div class="col-lg-3 col-md-3 col-sm-3 m_bottom_15 m_xs_bottom_30">
								<h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13">Contact Us</h5>
								<hr class="divider_bg m_bottom_25">
								<p class="second_font m_bottom_15">8901 Marmora Road, Glasgow, D04</p>
								<ul class="second_font vr_list_type_2">
									<li><i class="fa fa-phone color_dark fs_large"></i>800-599-65-80</li>
									<li class="w_break" data-icon=""><i class="fa fa-envelope color_dark"></i><a href="mailto:#" class="sc_hover d_inline_b">info@companyname.com</a></li>
								</ul>
							</div>
							<!--stay connected-->
							<div class="col-lg-3 col-md-3 col-sm-3 m_bottom_15 m_xs_bottom_0">
								<h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13">Stay Connected</h5>
								<hr class="divider_bg m_bottom_30">
								<!--social buttons-->
								<ul class="hr_list">
									<li class="m_right_3 m_bottom_3">
										<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-facebook fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Facebook</span></a>
									</li>
									<li class="m_right_3 m_bottom_3">
										<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-twitter fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Twitter</span></a>
									</li>
									<li class="m_right_3 m_bottom_3">
										<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-google-plus fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Google Plus</span></a>
									</li>
									<li class="m_right_3 m_bottom_3">
										<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-rss fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">RSS</span></a>
									</li>
									<li class="m_right_3 m_bottom_3">
										<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-pinterest fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Pinterest</span></a>
									</li>
									<li class="m_right_3 m_bottom_3">
										<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-instagram fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Instagram</span></a>
									</li>
									<li class="m_right_3 m_bottom_3">
										<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-linkedin fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">LinkedIn</span></a>
									</li>
									<li class="m_right_3 m_bottom_3">
										<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-vimeo-square fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Vimeo</span></a>
									</li>
									<li class="m_right_3 m_bottom_3">
										<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-youtube-play fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Youtube</span></a>
									</li>
									<li class="m_right_3 m_bottom_3">
										<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-flickr fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Flickr</span></a>
									</li>
									<li class="m_right_3 m_bottom_3">
										<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-envelope fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Contact Us</span></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_13 m_sm_bottom_30">
									<h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13">Catalog</h5>
									<hr class="divider_bg m_bottom_25">
									<ul class="second_font vr_list_type_1 with_links">
										<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Living Rooms</a></li>
										<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Bedrooms</a></li>
										<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Dining Rooms</a></li>
										<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Kids Rooms</a></li>
										<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>New</a></li>
										<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Sale</a></li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_13 m_sm_bottom_30">
									<h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13">The Services</h5>
									<hr class="divider_bg m_bottom_25">
									<ul class="second_font vr_list_type_1 with_links">
										<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>My account</a></li>
										<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Order history</a></li>
										<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Wishlist</a></li>
										<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Vendor contact</a></li>
										<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Front page</a></li>
										<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Categories</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_13 m_sm_bottom_30">
									<h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13">Information</h5>
									<hr class="divider_bg m_bottom_25">
									<ul class="second_font vr_list_type_1 with_links">
										<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>About us</a></li>
										<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>New collection</a></li>
										<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Best sellers</a></li>
										<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Manufacturers</a></li>
										<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Privacy policy</a></li>
										<li class="m_bottom_14"><a href="#" class="sc_hover d_inline_b"><i class="fa fa-caret-right"></i>Terms &amp; condition</a></li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_13 m_sm_bottom_30">
									<h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13">Like Us On Facebook</h5>
									<hr class="divider_bg m_bottom_15">
									<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fthemeforest&amp;width=235&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=438889712801266" style="border:none; overflow:hidden; width:235px; height:258px;"></iframe>
								</div>
							</div>
						</div>
					</div>
					<hr class="divider_black m_bottom_13">
					<div class="d_table w_full d_xs_block t_xs_align_c">
						<div class="col-lg-6 col-md-6 col-sm-6 color_light fw_light f_none d_table_cell v_align_m d_xs_block m_xs_bottom_10">
							&copy; 2014 <a href="index.html" class="sc_hover">CosyOne</a>. All Rights Reserved.
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 t_align_r t_xs_align_c f_none d_table_cell v_align_m d_xs_block">
							<ul class="hr_list d_inline_b">
								<li class="m_right_5"><img src="images/payment_1.jpg" alt=""></li>
								<li class="m_right_5"><img src="images/payment_2.jpg" alt=""></li>
								<li class="m_right_5"><img src="images/payment_3.jpg" alt=""></li>
								<li class="m_right_5"><img src="images/payment_4.jpg" alt=""></li>
								<li class="m_right_5"><img src="images/payment_5.jpg" alt=""></li>
							</ul>
						</div>
					</div>
				</div>