<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_40 m_sm_bottom_30">
									<h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13">Contact Us</h5>
									<hr class="divider_bg m_bottom_25">
									<p class="second_font m_bottom_15">8901 Marmora Road, Glasgow, D04</p>
									<ul class="second_font vr_list_type_2 m_bottom_20">
										<li><i class="fa fa-phone color_dark fs_large"></i>800-599-65-80</li>
										<li class="w_break" data-icon=""><i class="fa fa-envelope color_dark"></i><a href="mailto:#" class="sc_hover d_inline_b">info@companyname.com</a></li>
									</ul>
									<ul class="hr_list">
										<li class="m_right_3 m_bottom_3">
											<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-facebook fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Facebook</span></a>
										</li>
										<li class="m_right_3 m_bottom_3">
											<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-twitter fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Twitter</span></a>
										</li>
										<li class="m_right_3 m_bottom_3">
											<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-google-plus fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Google Plus</span></a>
										</li>
										<li class="m_right_3 m_bottom_3">
											<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-rss fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">RSS</span></a>
										</li>
										<li class="m_right_3 m_bottom_3">
											<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-pinterest fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Pinterest</span></a>
										</li>
										<li class="m_right_3 m_bottom_3">
											<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-instagram fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Instagram</span></a>
										</li>
										<li class="m_right_3 m_bottom_3">
											<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-linkedin fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">LinkedIn</span></a>
										</li>
										<li class="m_right_3 m_bottom_3">
											<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-vimeo-square fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Vimeo</span></a>
										</li>
										<li class="m_right_3 m_bottom_3">
											<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-youtube-play fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Youtube</span></a>
										</li>
										<li class="m_right_3 m_bottom_3">
											<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-flickr fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Flickr</span></a>
										</li>
										<li class="m_right_3 m_bottom_3">
											<a href="#" class="button_type_6 d_block grey state_2 tr_delay color_dark t_align_c vc_child tooltip_container relative"><i class="fa fa-envelope fs_large d_inline_m"></i><span class="tooltip top fs_small color_white hidden animated" data-show="fadeInDown" data-hide="fadeOutUp">Contact Us</span></a>
										</li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_40 m_sm_bottom_30">
									<h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13">Latest Articles</h5>
									<hr class="divider_bg m_bottom_25">
									<ul>
										<li class="relative m_bottom_15">
											<article class="clearfix lh_small">
												<a class="f_left m_right_15 d_block" href="#"><img alt="" src="images/popular_img_1.jpg"></a>
												<h6 class="fs_medium m_bottom_4"><a class="second_font color_dark sc_hover d_block p_top_4" href="#">Ut tellus dolor dapibus</a></h6>
												<span class="fw_light color_light fs_medium">June 22, 2014,</span> <a class="sc_hover fs_medium fw_light" href="#">20 comments</a>
											</article>
											<hr class="m_top_15 m_bottom_0">
										</li>
										<li class="relative">
											<article class="clearfix lh_small">
												<a class="f_left m_right_15 d_block" href="#"><img alt="" src="images/popular_img_3.jpg"></a>
												<h6 class="fs_medium m_bottom_4"><a class="fs_medium second_font color_dark sc_hover d_block p_top_4" href="#">Elementum vel</a></h6>
												<span class="fw_light color_light fs_medium">June 22, 2014,</span> <a class="sc_hover fs_medium fw_light" href="#">17 comments</a>
											</article>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_40 m_sm_bottom_30">
									<h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13">Tags</h5>
									<hr class="divider_bg m_bottom_25">
									<!--tags-->
									<ul class="hr_list tags_list second_font fs_medium">
										<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">bed</a></li>
										<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">bestseller</a></li>
										<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">chair</a></li>
										<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">chaise</a></li>
										<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">desk</a></li>
										<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">dresser</a></li>
										<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">ottoman</a></li>
										<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">sale</a></li>
										<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">sleeper</a></li>
										<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">sofa</a></li>
										<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">stool</a></li>
										<li class="m_right_3 m_bottom_3"><a href="#" class="tr_delay button_type_1 d_block grey state_2">table</a></li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 m_bottom_40 m_sm_bottom_30">
									<h5 class="color_dark tt_uppercase second_font fw_light m_bottom_13">From Flickr</h5>
									<hr class="divider_bg m_bottom_25">
									<ul class="flickr_list clearfix" data-flickr-group="flickr_1" data-flickr-options='{"qstrings":{"id" : "76745153@N04"}}'></ul>
								</div>
							</div>
						</div>
					</div>
					<hr class="divider_black m_bottom_13">
					<div class="d_table w_full d_xs_block t_xs_align_c">
						<div class="col-lg-6 col-md-6 col-sm-6 color_light fw_light f_none d_table_cell v_align_m d_xs_block m_xs_bottom_10">
							&copy; 2014 <a href="index.html" class="sc_hover">CosyOne</a>. All Rights Reserved.
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 t_align_r t_xs_align_c f_none d_table_cell v_align_m d_xs_block">
							<!--shop nav-->
							<nav class="d_inline_b">
								<ul class="hr_list second_font si_list fs_small">
									<li><a class="sc_hover tr_delay" href="account.html">My Account</a></li>
									<li><a class="sc_hover tr_delay" href="orders_list.html">Orders List</a></li>
									<li><a class="sc_hover tr_delay" href="wishlist.html">Wishlist</a></li>
									<li><a class="sc_hover tr_delay" href="checkout.html">Checkout</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>