<!--top part-->
				<div class="header_top_part p_top_0 p_bottom_0">
					<div class="container">
						<div class="d_table d_xs_block w_full">
							<div class="col-lg-8 col-md-7 col-sm-8 f_none d_table_cell d_xs_block v_align_m t_xs_align_c m_xs_bottom_10">
								<div class="clearfix d_inline_m t_align_l">
										<!--currency-->
										<div class="f_right relative transform3d">
											<button class="tr_all second_font color_dark fs_small type_2" data-open-dropdown="#currency">&#36;<i class="fa fa-angle-down d_inline_m m_left_25"></i></button>
											<ul id="currency" data-show="wicket" data-hide="wicketout" class="sub_menu dropdown type_2 fs_medium bg_grey_light second_font animated">
												<li>
													<a href="#" class="sc_hover">
														&#36; US Dollar
													</a>
												</li>
												<li>
													<a href="#" class="sc_hover">
														&#163; Pound Sterling
													</a>
												</li>
												<li>
													<a href="#" class="sc_hover">
														&#8364; Euro
													</a>
												</li>
											</ul>
										</div>
										<!--language-->
										<div class="f_right relative transform3d">
											<button class="tr_all second_font color_dark type_2" data-open-dropdown="#language">
												<img src="images/flag_en.jpg" alt="" class="d_inline_m m_right_10"><i class="fa fa-angle-down d_inline_m fs_small"></i>
											</button>
											<ul id="language" data-show="wicket" data-hide="wicketout" class="sub_menu dropdown type_2 fs_medium bg_grey_light second_font animated">
												<li>
													<a href="#" class="sc_hover">
														<img src="images/flag_en.jpg" alt="" class="d_inline_m m_right_7">
														English
													</a>
												</li>
												<li>
													<a href="#" class="sc_hover">
														<img src="images/flag_g.jpg" alt="" class="d_inline_m m_right_7">
														German
													</a>
												</li>
												<li>
													<a href="#" class="sc_hover">
														<img src="images/flag_s.jpg" alt="" class="d_inline_m m_right_7">
														Spanish
													</a>
												</li>
											</ul>
										</div>
									</div>
								<div class="d_inline_m t_xs_align_c fw_light color_light fs_small">
									<span class="scheme_color fw_medium">Free shipping</span> on orders over $100. Need Help? <span class="scheme_color fw_medium">866.526.3979</span>
								</div>
							</div>
							<div class="col-lg-4 col-md-5 col-sm-4 f_none d_table_cell d_xs_block v_align_m t_align_r t_xs_align_c m_xs_bottom_10">
								<!--shop nav-->
								<nav class="d_inline_b">
									<ul class="hr_list second_font si_list fs_small">
										<li><a class="sc_hover tr_delay" href="account.html">My Account</a></li>
										<li><a class="sc_hover tr_delay" href="orders_list.html">Orders List</a></li>
										<li><a class="sc_hover tr_delay" href="wishlist.html">Wishlist</a></li>
										<li><a class="sc_hover tr_delay" href="checkout.html">Checkout</a></li>
										<li><a class="sc_hover tr_delay" href="#">Login</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="header_middle_part type_2 t_xs_align_c">
					<div class="container">
						<div class="d_table w_full d_xs_block">
							<div class="col-lg-4 col-md-4 col-sm-4 d_table_cell d_xs_block f_none v_align_m m_xs_bottom_15">
								<!--searchform-->
								<form role="search" class="relative db_xs_centered button_in_input">
									<input type="text" name="" tabindex="1" placeholder="Search" class="fs_medium color_light fw_light w_full tr_all">
									<button class="color_dark tr_all color_lbrown_hover"><i class="fa fa-search d_inline_m"></i></button>
								</form>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 d_table_cell t_align_c d_xs_block f_none v_align_m m_xs_bottom_15">
								<!--logo-->
								<a href="index.html" class="d_inline_b">
									<img src="images/logo.png" alt="">
								</a>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 d_table_cell d_xs_block f_none v_align_m t_align_r t_xs_align_c">
								<ul class="hr_list si_list shop_list f_right f_sm_none d_sm_inline_b t_align_l">
									<li>
										<a href="#" class="color_lbrown_hover vc_child">
											<span class="d_inline_m">
												<i class="fa fa-heart fs_large"></i><sup class="color_dark">7</sup>
											</span>
										</a>
									</li>
									<li>
										<a href="#" class="color_lbrown_hover vc_child">
											<span class="d_inline_m">
												<i class="fa fa-arrow-right fs_small"></i><i class="fa fa-arrow-left fs_small"></i><sup class="color_dark">2</sup>
											</span>
										</a>
									</li>
									<!--shopping cart-->
									<li class="relative open_mini_shopping_cart">
										<button class="color_dark active_lbrown tr_all" data-open-dropdown="#shopping_cart">
											<i class="fa fa-shopping-cart fs_large"></i><sup>3</sup>
											<b class="second_font fs_small d_inline_b m_left_10">$355</b>
										</button>
										<div id="shopping_cart" data-show="fadeInUp" data-hide="fadeOutDown" class="bg_grey_light dropdown animated">
											<div class="sc_header fs_small fw_light">Recently added item(s)</div>
											<hr class="divider_white">
											<ul class="shopping_cart_list m_bottom_4">
												<li class="relative">
													<div class="clearfix lh_small">
														<a href="#" class="f_left m_right_10 d_block"><img src="images/sc_img_1.jpg" alt=""></a>
														<a href="#" class="fs_medium second_font color_dark sc_hover d_block m_bottom_4">Cursus eleifend elit aenean</a>
														<p class="fs_medium">1 x <b class="color_dark">$499.00</b></p>
													</div>
													<hr class="divider_white m_top_15 m_bottom_0">
													<span class="close fs_small color_light tr_all color_dark_hover fw_light">x</span>
												</li>
												<li class="relative">
													<div class="clearfix lh_small">
														<a href="#" class="f_left m_right_10 d_block"><img src="images/sc_img_2.jpg" alt=""></a>
														<a href="#" class="fs_medium second_font color_dark sc_hover d_block m_bottom_4">Auctor wisi et urna</a>
														<p class="m_bottom_4 fs_medium">1 x <b class="color_dark">$1,599.00</b></p>
														<ul class="fw_light fs_small lh_small">
															<li>Size: <span class="color_dark">2-Seat Sofa</span>,</li>
															<li>Color: <span class="color_dark">Red</span></li>
														</ul>
													</div>
													<hr class="divider_white m_top_15 m_bottom_0">
													<span class="close fs_small color_light tr_all color_dark_hover fw_light">x</span>
												</li>
												<li class="relative">
													<div class="clearfix lh_small">
														<a href="#" class="f_left m_right_10 d_block"><img src="images/sc_img_3.jpg" alt=""></a>
														<a href="#" class="fs_medium second_font color_dark sc_hover d_block m_bottom_4">Aliquam erat volut</a>
														<p class="fs_medium">2 x <b class="color_dark">$99.00</b></p>
													</div>
													<hr class="divider_white m_top_15 m_bottom_0">
													<span class="close fs_small color_light tr_all color_dark_hover fw_light">x</span>
												</li>
											</ul>
											<ul class="fs_medium second_font color_dark m_bottom_15">
												<li><span class="d_inline_b total_title">Tax:</span><span class="fw_light">$0.00</span></li>
												<li><span class="d_inline_b total_title">Discount:</span><span class="fw_light">$37.00</span></li>
												<li><b><span class="d_inline_b total_title">Total:</span>$999.00</b></li>
											</ul>
											<a href="#" role="button" class="button_type_2 tt_uppercase fs_medium second_font d_block t_align_c black state_2 m_bottom_5">View Cart</a>
											<a href="#" role="button" class="t_align_c tt_uppercase w_full second_font d_block fs_medium button_type_2 lbrown tr_all">Checkout</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="header_bottom_part bg_white w_inherit">
					<div class="container t_align_c">
						<hr class="divider_black">
						<button id="mobile_menu_button" class="vc_child d_xs_block db_xs_centered d_none m_bottom_10 m_top_15 bg_lbrown color_white tr_all"><i class="fa fa-navicon d_inline_m"></i></button>
						<!--main menu-->
						<nav role="navigation" class="d_xs_none t_align_c t_xs_align_l">
							<ul class="main_menu hr_list d_inline_b d_xs_block t_sm_align_l relative second_font fs_medium t_align_l">
								<li class="current">
									<a href="index.html" class="tt_uppercase tr_delay">Home <i class="fa fa-caret-down tr_inherit d_inline_m m_left_5"></i></a>
									<!--sub menu (second level)-->
									<ul class="sub_menu bg_grey_light tr_all">
										<li><a href="index.html">Home v1</a></li>
										<li class="current"><a href="index_v2.html">Home v2</a></li>
										<li><a href="index_v3.html">Home v3</a></li>
										<li><a href="index_v4.html">Home v4</a></li>
									</ul>
								</li>
								<li>
											<a href="index.html" class="tt_uppercase tr_delay">Sliders <i class="fa fa-caret-down tr_inherit d_inline_m m_left_5 m_md_left_2"></i></a>
											<!--sub menu (second level)-->
											<ul class="sub_menu bg_grey_light tr_all">
												<li><a href="index_v4.html">Revolution</a></li>
												<li><a href="index_v3.html">Flex</a></li>
												<li><a href="index.html">Layer</a></li>
												<li><a href="index_v2.html">Royal</a></li>
											</ul>
										</li>
								<li>
									<a class="tt_uppercase tr_delay">Shop <i class="fa fa-caret-down tr_inherit d_inline_m m_left_5"></i></a>
									<div class="mega_menu bg_grey_light tr_all">
												<div class="row">
													<section class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_15">
														<h6 class="color_dark m_bottom_13"><b class="second_font ">Living Rooms</b></h6>
														<img src="images/mega_menu_img_1.jpg" alt="" class="m_bottom_3">
														<ul class="mega_menu_list">
															<li><a href="#" class="d_block sc_hover tr_delay">Sofas</a></li>
															<li><a href="#" class="d_block sc_hover tr_delay">Chairs</a></li>
															<li><a href="#" class="d_block sc_hover tr_delay">Ottomans</a></li>
														</ul>
													</section>
													<section class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_15">
														<h6 class="color_dark m_bottom_13"><b class="second_font ">Bedrooms</b></h6>
														<img src="images/mega_menu_img_2.jpg" alt="" class="m_bottom_3">
														<ul class="mega_menu_list">
															<li><a href="#" class="d_block sc_hover tr_delay">Beds</a></li>
															<li><a href="#" class="d_block sc_hover tr_delay">Dressers/Chests</a></li>
															<li><a href="#" class="d_block sc_hover tr_delay">Nightstands</a></li>
														</ul>
													</section>
													<section class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_15">
														<h6 class="color_dark m_bottom_13"><b class="second_font ">Dining Rooms</b></h6>
														<img src="images/mega_menu_img_3.jpg" alt="" class="m_bottom_3">
														<ul class="mega_menu_list">
															<li><a href="#" class="d_block sc_hover tr_delay">Tables</a></li>
															<li><a href="#" class="d_block sc_hover tr_delay">Dining Chairs</a></li>
															<li><a href="#" class="d_block sc_hover tr_delay">China Cabinets</a></li>
														</ul>
													</section>
													<section class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_15">
														<h6 class="color_dark m_bottom_13"><b class="second_font ">Home Office</b></h6>
														<img src="images/mega_menu_img_4.jpg" alt="" class="m_bottom_3">
														<ul class="mega_menu_list">
															<li><a href="#" class="d_block sc_hover tr_delay">Desks &amp; Tables</a></li>
															<li><a href="#" class="d_block sc_hover tr_delay">Office Chairs</a></li>
															<li><a href="#" class="d_block sc_hover tr_delay">Workspace Storage</a></li>
														</ul>
													</section>
												</div>
											</div>
								</li>
								<li>
											<a href="portfolio_1_column_with_sidebar.html" class="tt_uppercase tr_delay">Portfolio <i class="fa fa-caret-down tr_inherit d_inline_m m_left_5 m_md_left_2"></i></a>
											<!--sub menu (second level)-->
											<ul class="sub_menu bg_grey_light tr_all">
												<li>
													<a href="portfolio_1_column_with_sidebar.html">Grid</a>
													<!--sub menu (third level)-->
													<ul class="sub_menu bg_grey_light tr_all">
														<li><a href="portfolio_1_column_with_sidebar.html">1 column with sidebar</a></li>
														<li><a href="portfolio_2_columns.html">2 columns</a></li>
														<li><a href="portfolio_3_columns.html">3 columns</a></li>
														<li><a href="portfolio_3_columns_with_sidebar.html">3 columns with sidebar</a></li>
														<li><a href="portfolio_4_columns.html">4 columns</a></li>
													</ul>
												</li>
												<li>
													<a href="portfolio_masonry.html">Masonry</a>
													<!--sub menu (third level)-->
													<ul class="sub_menu bg_grey_light tr_all">
														<li><a href="portfolio_masonry.html">Masonry</a></li>
														<li><a href="portfolio_masonry_full_width.html">Full width masonry</a></li>
													</ul>
												</li>
												<li>
													<a href="portfolio_single_project_v1.html">Single project pages</a>
													<!--sub menu (third level)-->
													<ul class="sub_menu bg_grey_light tr_all">
														<li><a href="portfolio_single_project_v1.html">Single project page v1</a></li>
														<li><a href="portfolio_single_project_v2.html">Single project page v2</a></li>
														<li><a href="portfolio_single_project_v3.html">Single project page v3</a></li>
														<li><a href="portfolio_single_project_video_list.html">Single project with video list</a></li>
														<li><a href="portfolio_single_project_video_slider.html">Single project with video slider</a></li>
													</ul>
												</li>
											</ul>
										</li>
								<li>
											<a href="pages_category_grid.html" class="tt_uppercase tr_delay">Pages <i class="fa fa-caret-down tr_inherit d_inline_m m_left_5 m_md_left_2"></i></a>
											<ul class="sub_menu bg_grey_light tr_all">
												<li><a href="pages_category_grid.html">Category page v1</a></li>
												<li><a href="pages_category_list.html">Category page v2</a></li>
												<li><a href="pages_deals_of_the_day.html">Category page v3</a></li>
												<li><a href="pages_product_v1.html">Product page v1</a></li>
												<li><a href="pages_product_v2.html">Product page v2</a></li>
												<li><a href="pages_product_v3.html">Product page v3</a></li>
												<li><a href="pages_wishlist.html">Wishlist</a></li>
												<li><a href="pages_compare_products.html">Compare</a></li>
												<li><a href="pages_shopping_cart.html">Shopping cart</a></li>
												<li><a href="pages_checkout.html">Checkout</a></li>
												<li><a href="pages_manufacturers.html">Manufacturers</a></li>
												<li><a href="pages_manufacturer.html">Manufacturer page</a></li>
												<li><a href="pages_orders_list.html">Orders list</a></li>
												<li><a href="pages_order_page.html">Order page</a></li>
												<li><a href="pages_about.html">About us</a></li>
												<li><a href="page_404.html">404 page</a></li>
											</ul>
										</li>
								<li>
											<a href="features_elements.html" class="tt_uppercase tr_delay">Features <i class="fa fa-caret-down tr_inherit d_inline_m m_left_5 m_md_left_2"></i></a>
											<ul class="sub_menu bg_grey_light tr_all">
												<li><a href="features_elements.html">Elements</a></li>
												<li><a href="features_typography.html">Typography</a></li>
												<li><a href="features_columns.html">Columns</a></li>
												<li><a href="index_rtl.html">Rtl layout</a></li>
											</ul>
										</li>
								<li>
											<a href="blog.html" class="tt_uppercase tr_delay">Blog <i class="fa fa-caret-down tr_inherit d_inline_m m_left_5 m_md_left_2"></i></a>
											<ul class="sub_menu bg_grey_light tr_all">
												<li><a href="blog.html">Blog page</a></li>
												<li><a href="blog_post.html">Blog post</a></li>
												<li><a href="blog_post_video.html">Blog video post</a></li>
											</ul>
										</li>
								<li><a href="contact.html" class="tt_uppercase tr_delay">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>