/**
 * Foundation for Sites by ZURB
 * Version 6.1.1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
   * 1. Set default font family to sans-serif.
   * 2. Prevent iOS and IE text size adjust after device orientation change,
   *    without disabling user zoom.
   */
html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */ }

/**
   * Remove default margin.
   */
body {
    margin: 0; }

/* HTML5 display definitions
     ========================================================================== */
/**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block; }

/**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
audio,
canvas,
progress,
video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */ }

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
    display: none;
    height: 0; }

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
   */
[hidden],
template {
    display: none; }

/* Links
     ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
    background-color: transparent; }

/**
   * Improve readability of focused elements when they are also in an
   * active/hover state.
   */
a:active,
a:hover {
    outline: 0; }

/* Text-level semantics
     ========================================================================== */
/**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
abbr[title] {
    border-bottom: 1px dotted; }

/**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
b,
strong {
    font-weight: bold; }

/**
   * Address styling not present in Safari and Chrome.
   */
dfn {
    font-style: italic; }

/**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
h1 {
    font-size: 2em;
    margin: 0.67em 0; }

/**
   * Address styling not present in IE 8/9.
   */
mark {
    background: #ff0;
    color: #000; }

/**
   * Address inconsistent and variable font size in all browsers.
   */
small {
    font-size: 80%; }

/**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }

sup {
    top: -0.5em; }

sub {
    bottom: -0.25em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
    border: 0; }

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root) {
    overflow: hidden; }

/* Grouping content
     ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
    margin: 0; }

/**
   * Address differences between Firefox and other browsers.
   */
hr {
    box-sizing: content-box;
    height: 0; }

/**
   * Contain overflow in all browsers.
   */
pre {
    overflow: auto; }

/**
   * Address odd `em`-unit font size rendering in all browsers.
   */
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em; }

/* Forms
     ========================================================================== */
/**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
/**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */ }

/**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
button {
    overflow: visible; }

/**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
button,
select {
    text-transform: none; }

/**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */ }

/**
   * Re-set default cursor for disabled elements.
   */
button[disabled],
html input[disabled] {
    cursor: default; }

/**
   * Remove inner padding and border in Firefox 4+.
   */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0; }

/**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
input {
    line-height: normal; }

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }

/**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decement button to change from `default` to `text`.
   */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto; }

/**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
   */
input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    box-sizing: content-box;
    /* 2 */ }

/**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
   * Define consistent border, margin, and padding.
   */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 1.4725em 0.75em; }

/**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */ }

/**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
textarea {
    overflow: auto; }

/**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
optgroup {
    font-weight: bold; }

/* Tables
     ========================================================================== */
/**
   * Remove most spacing between table cells.
   */
table {
    border-collapse: collapse;
    border-spacing: 0; }

td,
th {
    padding: 0; }

.foundation-mq {
    font-family: "small=0em&medium=48em&large=64em&xlarge=75em&xxlarge=90em"; }

html {
    font-size: 100%;
    box-sizing: border-box; }

*,
*:before,
*:after {
    box-sizing: inherit; }

body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #222222;
    background: #fefefe;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle; }

textarea {
    height: auto;
    min-height: 50px;
    border-radius: 3px; }

select {
    width: 100%;
    border-radius: 3px; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object,
.mqa-display img,
.mqa-display embed,
.mqa-display object {
    max-width: none !important; }

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding: 0;
    border: 0;
    line-height: 1; }

.row {
    margin-left: auto;
    margin-right: auto; }
.row::before, .row::after {
    content: ' ';
    display: table; }
.row::after {
    clear: both; }
.row.collapse > .column, .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
.row .row {
    margin-left: -1.4725em;
    margin-right: -1.4725em; }
@media screen and (min-width: 48em) {
    .row .row {
        margin-left: -1.4725em;
        margin-right: -1.4725em; } }
.row .row.collapse {
    margin-left: 0;
    margin-right: 0; }
.row.expanded {
    max-width: none; }

.column, .columns {
    padding-left: 1.4725em;
    padding-right: 1.4725em;
    width: 100%;
    float: left; }
@media screen and (min-width: 48em) {
    .column, .columns {
        padding-left: 1.4725em;
        padding-right: 1.4725em; } }
.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: right; }
.column.end:last-child:last-child, .end.columns:last-child:last-child {
    float: left; }

.column.row.row, .row.row.columns {
    float: none; }
.row .column.row.row, .row .row.row.columns {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; }

.small-1 {
    width: 8.33333%; }

.small-push-1 {
    position: relative;
    left: 8.33333%; }

.small-pull-1 {
    position: relative;
    left: -8.33333%; }

.small-offset-0 {
    margin-left: 0%; }

.small-2 {
    width: 16.66667%; }

.small-push-2 {
    position: relative;
    left: 16.66667%; }

.small-pull-2 {
    position: relative;
    left: -16.66667%; }

.small-offset-1 {
    margin-left: 8.33333%; }

.small-3 {
    width: 25%; }

.small-push-3 {
    position: relative;
    left: 25%; }

.small-pull-3 {
    position: relative;
    left: -25%; }

.small-offset-2 {
    margin-left: 16.66667%; }

.small-4 {
    width: 33.33333%; }

.small-push-4 {
    position: relative;
    left: 33.33333%; }

.small-pull-4 {
    position: relative;
    left: -33.33333%; }

.small-offset-3 {
    margin-left: 25%; }

.small-5 {
    width: 41.66667%; }

.small-push-5 {
    position: relative;
    left: 41.66667%; }

.small-pull-5 {
    position: relative;
    left: -41.66667%; }

.small-offset-4 {
    margin-left: 33.33333%; }

.small-6 {
    width: 50%; }

.small-push-6 {
    position: relative;
    left: 50%; }

.small-pull-6 {
    position: relative;
    left: -50%; }

.small-offset-5 {
    margin-left: 41.66667%; }

.small-7 {
    width: 58.33333%; }

.small-push-7 {
    position: relative;
    left: 58.33333%; }

.small-pull-7 {
    position: relative;
    left: -58.33333%; }

.small-offset-6 {
    margin-left: 50%; }

.small-8 {
    width: 66.66667%; }

.small-push-8 {
    position: relative;
    left: 66.66667%; }

.small-pull-8 {
    position: relative;
    left: -66.66667%; }

.small-offset-7 {
    margin-left: 58.33333%; }

.small-9 {
    width: 75%; }

.small-push-9 {
    position: relative;
    left: 75%; }

.small-pull-9 {
    position: relative;
    left: -75%; }

.small-offset-8 {
    margin-left: 66.66667%; }

.small-10 {
    width: 83.33333%; }

.small-push-10 {
    position: relative;
    left: 83.33333%; }

.small-pull-10 {
    position: relative;
    left: -83.33333%; }

.small-offset-9 {
    margin-left: 75%; }

.small-11 {
    width: 91.66667%; }

.small-push-11 {
    position: relative;
    left: 91.66667%; }

.small-pull-11 {
    position: relative;
    left: -91.66667%; }

.small-offset-10 {
    margin-left: 83.33333%; }

.small-12 {
    width: 100%; }

.small-offset-11 {
    margin-left: 91.66667%; }

.small-up-1 > .column, .small-up-1 > .columns {
    width: 100%;
    float: left; }
.small-up-1 > .column:nth-of-type(1n), .small-up-1 > .columns:nth-of-type(1n) {
    clear: none; }
.small-up-1 > .column:nth-of-type(1n+1), .small-up-1 > .columns:nth-of-type(1n+1) {
    clear: both; }
.small-up-1 > .column:last-child, .small-up-1 > .columns:last-child {
    float: left; }

.small-up-2 > .column, .small-up-2 > .columns {
    width: 50%;
    float: left; }
.small-up-2 > .column:nth-of-type(1n), .small-up-2 > .columns:nth-of-type(1n) {
    clear: none; }
.small-up-2 > .column:nth-of-type(2n+1), .small-up-2 > .columns:nth-of-type(2n+1) {
    clear: both; }
.small-up-2 > .column:last-child, .small-up-2 > .columns:last-child {
    float: left; }

.small-up-3 > .column, .small-up-3 > .columns {
    width: 33.33333%;
    float: left; }
.small-up-3 > .column:nth-of-type(1n), .small-up-3 > .columns:nth-of-type(1n) {
    clear: none; }
.small-up-3 > .column:nth-of-type(3n+1), .small-up-3 > .columns:nth-of-type(3n+1) {
    clear: both; }
.small-up-3 > .column:last-child, .small-up-3 > .columns:last-child {
    float: left; }

.small-up-4 > .column, .small-up-4 > .columns {
    width: 25%;
    float: left; }
.small-up-4 > .column:nth-of-type(1n), .small-up-4 > .columns:nth-of-type(1n) {
    clear: none; }
.small-up-4 > .column:nth-of-type(4n+1), .small-up-4 > .columns:nth-of-type(4n+1) {
    clear: both; }
.small-up-4 > .column:last-child, .small-up-4 > .columns:last-child {
    float: left; }

.small-up-5 > .column, .small-up-5 > .columns {
    width: 20%;
    float: left; }
.small-up-5 > .column:nth-of-type(1n), .small-up-5 > .columns:nth-of-type(1n) {
    clear: none; }
.small-up-5 > .column:nth-of-type(5n+1), .small-up-5 > .columns:nth-of-type(5n+1) {
    clear: both; }
.small-up-5 > .column:last-child, .small-up-5 > .columns:last-child {
    float: left; }

.small-up-6 > .column, .small-up-6 > .columns {
    width: 16.66667%;
    float: left; }
.small-up-6 > .column:nth-of-type(1n), .small-up-6 > .columns:nth-of-type(1n) {
    clear: none; }
.small-up-6 > .column:nth-of-type(6n+1), .small-up-6 > .columns:nth-of-type(6n+1) {
    clear: both; }
.small-up-6 > .column:last-child, .small-up-6 > .columns:last-child {
    float: left; }

.small-up-7 > .column, .small-up-7 > .columns {
    width: 14.28571%;
    float: left; }
.small-up-7 > .column:nth-of-type(1n), .small-up-7 > .columns:nth-of-type(1n) {
    clear: none; }
.small-up-7 > .column:nth-of-type(7n+1), .small-up-7 > .columns:nth-of-type(7n+1) {
    clear: both; }
.small-up-7 > .column:last-child, .small-up-7 > .columns:last-child {
    float: left; }

.small-up-8 > .column, .small-up-8 > .columns {
    width: 12.5%;
    float: left; }
.small-up-8 > .column:nth-of-type(1n), .small-up-8 > .columns:nth-of-type(1n) {
    clear: none; }
.small-up-8 > .column:nth-of-type(8n+1), .small-up-8 > .columns:nth-of-type(8n+1) {
    clear: both; }
.small-up-8 > .column:last-child, .small-up-8 > .columns:last-child {
    float: left; }

.small-collapse > .column, .small-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }

.small-uncollapse > .column, .small-uncollapse > .columns {
    padding-left: 1.4725em;
    padding-right: 1.4725em; }

.small-centered {
    float: none;
    margin-left: auto;
    margin-right: auto; }

.small-uncentered,
.small-push-0,
.small-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0; }

@media screen and (min-width: 48em) {
    .medium-1 {
        width: 8.33333%; }
    .medium-push-1 {
        position: relative;
        left: 8.33333%; }
    .medium-pull-1 {
        position: relative;
        left: -8.33333%; }
    .medium-offset-0 {
        margin-left: 0%; }
    .medium-2 {
        width: 16.66667%; }
    .medium-push-2 {
        position: relative;
        left: 16.66667%; }
    .medium-pull-2 {
        position: relative;
        left: -16.66667%; }
    .medium-offset-1 {
        margin-left: 8.33333%; }
    .medium-3 {
        width: 25%; }
    .medium-push-3 {
        position: relative;
        left: 25%; }
    .medium-pull-3 {
        position: relative;
        left: -25%; }
    .medium-offset-2 {
        margin-left: 16.66667%; }
    .medium-4 {
        width: 33.33333%; }
    .medium-push-4 {
        position: relative;
        left: 33.33333%; }
    .medium-pull-4 {
        position: relative;
        left: -33.33333%; }
    .medium-offset-3 {
        margin-left: 25%; }
    .medium-5 {
        width: 41.66667%; }
    .medium-push-5 {
        position: relative;
        left: 41.66667%; }
    .medium-pull-5 {
        position: relative;
        left: -41.66667%; }
    .medium-offset-4 {
        margin-left: 33.33333%; }
    .medium-6 {
        width: 50%; }
    .medium-push-6 {
        position: relative;
        left: 50%; }
    .medium-pull-6 {
        position: relative;
        left: -50%; }
    .medium-offset-5 {
        margin-left: 41.66667%; }
    .medium-7 {
        width: 58.33333%; }
    .medium-push-7 {
        position: relative;
        left: 58.33333%; }
    .medium-pull-7 {
        position: relative;
        left: -58.33333%; }
    .medium-offset-6 {
        margin-left: 50%; }
    .medium-8 {
        width: 66.66667%; }
    .medium-push-8 {
        position: relative;
        left: 66.66667%; }
    .medium-pull-8 {
        position: relative;
        left: -66.66667%; }
    .medium-offset-7 {
        margin-left: 58.33333%; }
    .medium-9 {
        width: 75%; }
    .medium-push-9 {
        position: relative;
        left: 75%; }
    .medium-pull-9 {
        position: relative;
        left: -75%; }
    .medium-offset-8 {
        margin-left: 66.66667%; }
    .medium-10 {
        width: 83.33333%; }
    .medium-push-10 {
        position: relative;
        left: 83.33333%; }
    .medium-pull-10 {
        position: relative;
        left: -83.33333%; }
    .medium-offset-9 {
        margin-left: 75%; }
    .medium-11 {
        width: 91.66667%; }
    .medium-push-11 {
        position: relative;
        left: 91.66667%; }
    .medium-pull-11 {
        position: relative;
        left: -91.66667%; }
    .medium-offset-10 {
        margin-left: 83.33333%; }
    .medium-12 {
        width: 100%; }
    .medium-offset-11 {
        margin-left: 91.66667%; }
    .medium-up-1 > .column, .medium-up-1 > .columns {
        width: 100%;
        float: left; }
    .medium-up-1 > .column:nth-of-type(1n), .medium-up-1 > .columns:nth-of-type(1n) {
        clear: none; }
    .medium-up-1 > .column:nth-of-type(1n+1), .medium-up-1 > .columns:nth-of-type(1n+1) {
        clear: both; }
    .medium-up-1 > .column:last-child, .medium-up-1 > .columns:last-child {
        float: left; }
    .medium-up-2 > .column, .medium-up-2 > .columns {
        width: 50%;
        float: left; }
    .medium-up-2 > .column:nth-of-type(1n), .medium-up-2 > .columns:nth-of-type(1n) {
        clear: none; }
    .medium-up-2 > .column:nth-of-type(2n+1), .medium-up-2 > .columns:nth-of-type(2n+1) {
        clear: both; }
    .medium-up-2 > .column:last-child, .medium-up-2 > .columns:last-child {
        float: left; }
    .medium-up-3 > .column, .medium-up-3 > .columns {
        width: 33.33333%;
        float: left; }
    .medium-up-3 > .column:nth-of-type(1n), .medium-up-3 > .columns:nth-of-type(1n) {
        clear: none; }
    .medium-up-3 > .column:nth-of-type(3n+1), .medium-up-3 > .columns:nth-of-type(3n+1) {
        clear: both; }
    .medium-up-3 > .column:last-child, .medium-up-3 > .columns:last-child {
        float: left; }
    .medium-up-4 > .column, .medium-up-4 > .columns {
        width: 25%;
        float: left; }
    .medium-up-4 > .column:nth-of-type(1n), .medium-up-4 > .columns:nth-of-type(1n) {
        clear: none; }
    .medium-up-4 > .column:nth-of-type(4n+1), .medium-up-4 > .columns:nth-of-type(4n+1) {
        clear: both; }
    .medium-up-4 > .column:last-child, .medium-up-4 > .columns:last-child {
        float: left; }
    .medium-up-5 > .column, .medium-up-5 > .columns {
        width: 20%;
        float: left; }
    .medium-up-5 > .column:nth-of-type(1n), .medium-up-5 > .columns:nth-of-type(1n) {
        clear: none; }
    .medium-up-5 > .column:nth-of-type(5n+1), .medium-up-5 > .columns:nth-of-type(5n+1) {
        clear: both; }
    .medium-up-5 > .column:last-child, .medium-up-5 > .columns:last-child {
        float: left; }
    .medium-up-6 > .column, .medium-up-6 > .columns {
        width: 16.66667%;
        float: left; }
    .medium-up-6 > .column:nth-of-type(1n), .medium-up-6 > .columns:nth-of-type(1n) {
        clear: none; }
    .medium-up-6 > .column:nth-of-type(6n+1), .medium-up-6 > .columns:nth-of-type(6n+1) {
        clear: both; }
    .medium-up-6 > .column:last-child, .medium-up-6 > .columns:last-child {
        float: left; }
    .medium-up-7 > .column, .medium-up-7 > .columns {
        width: 14.28571%;
        float: left; }
    .medium-up-7 > .column:nth-of-type(1n), .medium-up-7 > .columns:nth-of-type(1n) {
        clear: none; }
    .medium-up-7 > .column:nth-of-type(7n+1), .medium-up-7 > .columns:nth-of-type(7n+1) {
        clear: both; }
    .medium-up-7 > .column:last-child, .medium-up-7 > .columns:last-child {
        float: left; }
    .medium-up-8 > .column, .medium-up-8 > .columns {
        width: 12.5%;
        float: left; }
    .medium-up-8 > .column:nth-of-type(1n), .medium-up-8 > .columns:nth-of-type(1n) {
        clear: none; }
    .medium-up-8 > .column:nth-of-type(8n+1), .medium-up-8 > .columns:nth-of-type(8n+1) {
        clear: both; }
    .medium-up-8 > .column:last-child, .medium-up-8 > .columns:last-child {
        float: left; }
    .medium-collapse > .column, .medium-collapse > .columns {
        padding-left: 0;
        padding-right: 0; }
    .medium-uncollapse > .column, .medium-uncollapse > .columns {
        padding-left: 1.4725em;
        padding-right: 1.4725em; }
    .medium-centered {
        float: none;
        margin-left: auto;
        margin-right: auto; }
    .medium-uncentered,
    .medium-push-0,
    .medium-pull-0 {
        position: static;
        margin-left: 0;
        margin-right: 0; } }

@media screen and (min-width: 64em) {
    .large-1 {
        width: 8.33333%; }
    .large-push-1 {
        position: relative;
        left: 8.33333%; }
    .large-pull-1 {
        position: relative;
        left: -8.33333%; }
    .large-offset-0 {
        margin-left: 0%; }
    .large-2 {
        width: 16.66667%; }
    .large-push-2 {
        position: relative;
        left: 16.66667%; }
    .large-pull-2 {
        position: relative;
        left: -16.66667%; }
    .large-offset-1 {
        margin-left: 8.33333%; }
    .large-3 {
        width: 25%; }
    .large-push-3 {
        position: relative;
        left: 25%; }
    .large-pull-3 {
        position: relative;
        left: -25%; }
    .large-offset-2 {
        margin-left: 16.66667%; }
    .large-4 {
        width: 33.33333%; }
    .large-push-4 {
        position: relative;
        left: 33.33333%; }
    .large-pull-4 {
        position: relative;
        left: -33.33333%; }
    .large-offset-3 {
        margin-left: 25%; }
    .large-5 {
        width: 41.66667%; }
    .large-push-5 {
        position: relative;
        left: 41.66667%; }
    .large-pull-5 {
        position: relative;
        left: -41.66667%; }
    .large-offset-4 {
        margin-left: 33.33333%; }
    .large-6 {
        width: 50%; }
    .large-push-6 {
        position: relative;
        left: 50%; }
    .large-pull-6 {
        position: relative;
        left: -50%; }
    .large-offset-5 {
        margin-left: 41.66667%; }
    .large-7 {
        width: 58.33333%; }
    .large-push-7 {
        position: relative;
        left: 58.33333%; }
    .large-pull-7 {
        position: relative;
        left: -58.33333%; }
    .large-offset-6 {
        margin-left: 50%; }
    .large-8 {
        width: 66.66667%; }
    .large-push-8 {
        position: relative;
        left: 66.66667%; }
    .large-pull-8 {
        position: relative;
        left: -66.66667%; }
    .large-offset-7 {
        margin-left: 58.33333%; }
    .large-9 {
        width: 75%; }
    .large-push-9 {
        position: relative;
        left: 75%; }
    .large-pull-9 {
        position: relative;
        left: -75%; }
    .large-offset-8 {
        margin-left: 66.66667%; }
    .large-10 {
        width: 83.33333%; }
    .large-push-10 {
        position: relative;
        left: 83.33333%; }
    .large-pull-10 {
        position: relative;
        left: -83.33333%; }
    .large-offset-9 {
        margin-left: 75%; }
    .large-11 {
        width: 91.66667%; }
    .large-push-11 {
        position: relative;
        left: 91.66667%; }
    .large-pull-11 {
        position: relative;
        left: -91.66667%; }
    .large-offset-10 {
        margin-left: 83.33333%; }
    .large-12 {
        width: 100%; }
    .large-offset-11 {
        margin-left: 91.66667%; }
    .large-up-1 > .column, .large-up-1 > .columns {
        width: 100%;
        float: left; }
    .large-up-1 > .column:nth-of-type(1n), .large-up-1 > .columns:nth-of-type(1n) {
        clear: none; }
    .large-up-1 > .column:nth-of-type(1n+1), .large-up-1 > .columns:nth-of-type(1n+1) {
        clear: both; }
    .large-up-1 > .column:last-child, .large-up-1 > .columns:last-child {
        float: left; }
    .large-up-2 > .column, .large-up-2 > .columns {
        width: 50%;
        float: left; }
    .large-up-2 > .column:nth-of-type(1n), .large-up-2 > .columns:nth-of-type(1n) {
        clear: none; }
    .large-up-2 > .column:nth-of-type(2n+1), .large-up-2 > .columns:nth-of-type(2n+1) {
        clear: both; }
    .large-up-2 > .column:last-child, .large-up-2 > .columns:last-child {
        float: left; }
    .large-up-3 > .column, .large-up-3 > .columns {
        width: 33.33333%;
        float: left; }
    .large-up-3 > .column:nth-of-type(1n), .large-up-3 > .columns:nth-of-type(1n) {
        clear: none; }
    .large-up-3 > .column:nth-of-type(3n+1), .large-up-3 > .columns:nth-of-type(3n+1) {
        clear: both; }
    .large-up-3 > .column:last-child, .large-up-3 > .columns:last-child {
        float: left; }
    .large-up-4 > .column, .large-up-4 > .columns {
        width: 25%;
        float: left; }
    .large-up-4 > .column:nth-of-type(1n), .large-up-4 > .columns:nth-of-type(1n) {
        clear: none; }
    .large-up-4 > .column:nth-of-type(4n+1), .large-up-4 > .columns:nth-of-type(4n+1) {
        clear: both; }
    .large-up-4 > .column:last-child, .large-up-4 > .columns:last-child {
        float: left; }
    .large-up-5 > .column, .large-up-5 > .columns {
        width: 20%;
        float: left; }
    .large-up-5 > .column:nth-of-type(1n), .large-up-5 > .columns:nth-of-type(1n) {
        clear: none; }
    .large-up-5 > .column:nth-of-type(5n+1), .large-up-5 > .columns:nth-of-type(5n+1) {
        clear: both; }
    .large-up-5 > .column:last-child, .large-up-5 > .columns:last-child {
        float: left; }
    .large-up-6 > .column, .large-up-6 > .columns {
        width: 16.66667%;
        float: left; }
    .large-up-6 > .column:nth-of-type(1n), .large-up-6 > .columns:nth-of-type(1n) {
        clear: none; }
    .large-up-6 > .column:nth-of-type(6n+1), .large-up-6 > .columns:nth-of-type(6n+1) {
        clear: both; }
    .large-up-6 > .column:last-child, .large-up-6 > .columns:last-child {
        float: left; }
    .large-up-7 > .column, .large-up-7 > .columns {
        width: 14.28571%;
        float: left; }
    .large-up-7 > .column:nth-of-type(1n), .large-up-7 > .columns:nth-of-type(1n) {
        clear: none; }
    .large-up-7 > .column:nth-of-type(7n+1), .large-up-7 > .columns:nth-of-type(7n+1) {
        clear: both; }
    .large-up-7 > .column:last-child, .large-up-7 > .columns:last-child {
        float: left; }
    .large-up-8 > .column, .large-up-8 > .columns {
        width: 12.5%;
        float: left; }
    .large-up-8 > .column:nth-of-type(1n), .large-up-8 > .columns:nth-of-type(1n) {
        clear: none; }
    .large-up-8 > .column:nth-of-type(8n+1), .large-up-8 > .columns:nth-of-type(8n+1) {
        clear: both; }
    .large-up-8 > .column:last-child, .large-up-8 > .columns:last-child {
        float: left; }
    .large-collapse > .column, .large-collapse > .columns {
        padding-left: 0;
        padding-right: 0; }
    .large-uncollapse > .column, .large-uncollapse > .columns {
        padding-left: 1.4725em;
        padding-right: 1.4725em; }
    .large-centered {
        float: none;
        margin-left: auto;
        margin-right: auto; }
    .large-uncentered,
    .large-push-0,
    .large-pull-0 {
        position: static;
        margin-left: 0;
        margin-right: 0; } }

.hide {
    display: none !important; }

.invisible {
    visibility: hidden; }

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
    .hide-for-small-only {
        display: none !important; } }

@media screen and (max-width: 0em), screen and (min-width: 48em) {
    .show-for-small-only {
        display: none !important; } }

@media screen and (min-width: 48em) {
    .hide-for-medium {
        display: none !important; } }

@media screen and (max-width: 39.9375em) {
    .show-for-medium {
        display: none !important; } }

@media screen and (min-width: 48em) and (max-width: 63.9375em) {
    .hide-for-medium-only {
        display: none !important; } }

@media screen and (max-width: 39.9375em), screen and (min-width: 64em) {
    .show-for-medium-only {
        display: none !important; } }

@media screen and (min-width: 64em) {
    .hide-for-large {
        display: none !important; } }

@media screen and (max-width: 63.9375em) {
    .show-for-large {
        display: none !important; } }

@media screen and (min-width: 64em) and (max-width: 74.9375em) {
    .hide-for-large-only {
        display: none !important; } }

@media screen and (max-width: 63.9375em), screen and (min-width: 75em) {
    .show-for-large-only {
        display: none !important; } }

.show-for-sr,
.show-on-focus {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); }

.show-on-focus:active, .show-on-focus:focus {
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto; }

.show-for-landscape,
.hide-for-portrait {
    display: block !important; }
@media screen and (orientation: landscape) {
    .show-for-landscape,
    .hide-for-portrait {
        display: block !important; } }
@media screen and (orientation: portrait) {
    .show-for-landscape,
    .hide-for-portrait {
        display: none !important; } }

.hide-for-landscape,
.show-for-portrait {
    display: none !important; }
@media screen and (orientation: landscape) {
    .hide-for-landscape,
    .show-for-portrait {
        display: none !important; } }
@media screen and (orientation: portrait) {
    .hide-for-landscape,
    .show-for-portrait {
        display: block !important; } }

.float-left {
    float: left !important; }

.float-right {
    float: right !important; }

.float-center {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.clearfix::before, .clearfix::after {
    content: ' ';
    display: table; }

.clearfix::after {
    clear: both; }

[data-whatinput='mouse'] .dropdown.menu a {
    outline: 0; }

.dropdown.menu .is-dropdown-submenu-parent {
    position: relative; }
.dropdown.menu .is-dropdown-submenu-parent a::after {
    float: right;
}
.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow a {
    position: relative; }
.dropdown.menu .is-dropdown-submenu-parent.is-left-arrow.opens-inner .submenu {
    right: 0;
    left: auto; }
.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow.opens-inner .submenu {
    left: 0;
    right: auto; }
.dropdown.menu .is-dropdown-submenu-parent.opens-inner .submenu {
    top: 100%; }

.no-js .dropdown.menu ul {
    display: none; }

.dropdown.menu .submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 250px;
    z-index: 1;
}
.dropdown.menu .submenu > li {
    width: 100%; }
.dropdown.menu .submenu.first-sub {
    top: 100%;
    right: auto; }
.dropdown.menu .submenu:not(.js-dropdown-nohover) > .is-dropdown-submenu-parent:hover > .dropdown.menu .submenu, .dropdown.menu .submenu.js-dropdown-active {
    display: block; }

.dropdown.menu .is-dropdown-submenu-parent.opens-left .submenu {
    left: auto;
    right: 100%; }

.dropdown.menu.align-right .submenu.first-sub {
    top: 100%;
    left: auto;
    right: 0; }

.is-dropdown-menu.vertical {
    width: 100px; }
.is-dropdown-menu.vertical.align-right {
    float: right; }
.is-dropdown-menu.vertical > li .submenu {
    top: 0;
    left: 100%; }

.flex-video {
    position: relative;
    height: 0;
    padding-bottom: 75%;
    margin-bottom: 1em;
    overflow: hidden; }
.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
.flex-video.widescreen {
    padding-bottom: 56.25%; }
.flex-video.vimeo {
    padding-top: 0; }

.menu {
    margin: 0;
    list-style-type: none; }
.menu > li {
    display: table-cell;
    vertical-align: middle; }
[data-whatinput='mouse'] .menu > li {
    outline: 0; }
.menu > li:not(.menu-text) > a {
    display: block;
    line-height: 1; }
.menu input,
.menu a,
.menu button {
    margin-bottom: 0; }
.menu > li > a > img,
.menu > li > a > i {
    vertical-align: middle; }
.menu > li > a > span {
    vertical-align: middle; }
.menu > li > a > img,
.menu > li > a > i {
    display: inline-block;
    margin-right: 0.25em; }
.menu > li {
    display: table-cell; }
.menu.vertical > li {
    display: block; }
@media screen and (min-width: 48em) {
    .menu.medium-horizontal > li {
        display: table-cell; }
    .menu.medium-vertical > li {
        display: block; } }
@media screen and (min-width: 64em) {
    .menu.large-horizontal > li {
        display: table-cell; }
    .menu.large-vertical > li {
        display: block; } }
.menu.simple a {
    padding: 0;
    margin-right: 1em; }
.menu.align-right > li {
    float: right; }
.menu.expanded {
    display: table;
    table-layout: fixed;
    width: 100%; }
.menu.expanded > li:first-child:last-child {
    width: 100%; }
.menu.icon-top > li > a {
    text-align: center; }
.menu.icon-top > li > a > img,
.menu.icon-top > li > a > i {
    display: block;
    margin: 0 auto 0.25em; }
.menu.nested {
    margin-left: 1em; }

.menu-text {
    font-weight: bold;
    color: inherit;
    line-height: 1;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0.7em 1em; }

.no-js [data-responsive-menu] ul {
    display: none; }

html,
body {
    height: 100%; }

.off-canvas-wrapper {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-overflow-scrolling: auto; }

.off-canvas-wrapper-inner {
    position: relative;
    width: 100%;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease; }
.off-canvas-wrapper-inner::before, .off-canvas-wrapper-inner::after {
    content: ' ';
    display: table; }
.off-canvas-wrapper-inner::after {
    clear: both; }

.off-canvas-content {
    min-height: 100%;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1; }

.js-off-canvas-exit {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(254, 254, 254, 0.25);
    cursor: pointer;
    transition: background 0.5s ease; }
.is-off-canvas-open .js-off-canvas-exit {
    display: block; }

.off-canvas {
    position: absolute;
    z-index: -1;
    max-height: 100%;
    overflow-y: auto;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
[data-whatinput='mouse'] .off-canvas {
    outline: 0; }
.off-canvas.position-left {
    left: -22em;
    top: 0;
    width: 22em; }
.is-open-left {
    -webkit-transform: translateX(22em);
    -ms-transform: translateX(22em);
    transform: translateX(22em); }
.off-canvas.position-right {
    right: -22em;
    top: 0;
    width: 22em; }
.is-open-right {
    -webkit-transform: translateX(-22em);
    -ms-transform: translateX(-22em);
    transform: translateX(-22em); }

@media screen and (min-width: 40em) {
    .position-left.reveal-for-medium {
        left: 0;
        z-index: auto;
        position: fixed; }
    .position-left.reveal-for-medium ~ .off-canvas-content {
        margin-left: 22em; }
    .position-right.reveal-for-medium {
        right: 0;
        z-index: auto;
        position: fixed; }
    .position-right.reveal-for-medium ~ .off-canvas-content {
        margin-right: 22em; } }

@media screen and (min-width: 64em) {
    .position-left.reveal-for-large {
        left: 0;
        z-index: auto;
        position: fixed; }
    .position-left.reveal-for-large ~ .off-canvas-content {
        margin-left: 22em; }
    .position-right.reveal-for-large {
        right: 0;
        z-index: auto;
        position: fixed; }
    .position-right.reveal-for-large ~ .off-canvas-content {
        margin-right: 22em; } }

.sticky-container {
    position: relative; }

.sticky {
    position: absolute;
    z-index: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.sticky.is-stuck {
    position: fixed;
    z-index: 5; }
.sticky.is-stuck.is-at-top {
    top: 0; }
.sticky.is-stuck.is-at-bottom {
    bottom: 0; }

.sticky.is-anchored {
    position: absolute;
    left: auto;
    right: auto; }
.sticky.is-anchored.is-at-bottom {
    bottom: 0; }

table {
    margin-bottom: 1em;
    border-radius: 3px; }
thead,
tbody,
tfoot {
    border: 1px solid #f1f1f1;
    background-color: #fefefe; }
caption {
    font-weight: bold;
    padding: 0.5em 1.4725em 1.4725em; }
thead,
tfoot {
    background: #f8f8f8;
    color: #222222; }
thead tr,
tfoot tr {
    background: transparent; }
thead th,
thead td,
tfoot th,
tfoot td {
    padding: 0.5em 1.4725em 1.4725em;
    font-weight: bold;
    text-align: left; }
tbody tr:nth-child(even) {
    background-color: #f1f1f1; }
tbody th,
tbody td {
    padding: 0.5em 1.4725em 1.4725em; }

@media screen and (max-width: 63.9375em) {
    table.stack thead {
        display: none; }
    table.stack tfoot {
        display: none; }
    table.stack tr,
    table.stack th,
    table.stack td {
        display: block; }
    table.stack td {
        border-top: 0; } }

table.scroll {
    display: block;
    width: 100%;
    overflow-x: auto; }

table.hover tr:hover {
    background-color: #f9f9f9; }

table.hover tr:nth-of-type(even):hover {
    background-color: #ececec; }
.title-bar::before, .title-bar::after {
    content: ' ';
    display: table; }
.title-bar::after {
    clear: both; }
.title-bar .menu-icon {
    margin-left: 0.25em;
    margin-right: 0.5em; }

.title-bar-left {
    float: left; }

.title-bar-right {
    float: right;
    text-align: right; }

.title-bar-title {
    font-weight: bold;
    vertical-align: middle;
    display: inline-block; }

.menu-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

/* Icons */
@font-face {
    font-family: 'icons';
    src: url('../font/icons.eot?60748421');
    src: url('../font/icons.eot?60748421#iefix') format('embedded-opentype'),
    url('../font/icons.woff2?60748421') format('woff2'),
    url('../font/icons.woff?60748421') format('woff'),
    url('../font/icons.ttf?60748421') format('truetype'),
    url('../font/icons.svg?60748421#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?60748421#icons') format('svg');
  }
}
*/

[class^="i-"]:before, [class*=" i-"]:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.i-cancel:before { content: '\e800'; } /* '' */
.i-menu:before { content: '\e801'; } /* '' */
.i-vcard:before { content: '\e802'; } /* '' */
.i-phone:before { content: '\e803'; } /* '' */
.i-doc-text:before { content: '\e804'; } /* '' */
.i-location:before { content: '\e805'; } /* '' */
.i-docs:before { content: '\e806'; } /* '' */
.i-up-open-mini:before { content: '\e807'; } /* '' */
.i-rss-squared:before { content: '\e808'; } /* '' */
.i-share:before { content: '\e809'; } /* '' */
.i-right-open-mini:before { content: '\e80a'; } /* '' */
.i-left-open-mini:before { content: '\e80b'; } /* '' */
.i-down-open-mini:before { content: '\e80c'; } /* '' */
.i-vkontakte:before { content: '\e80d'; } /* '' */
.i-info-circled:before { content: '\e80e'; } /* '' */
.i-youtube-squared:before { content: '\e80f'; } /* '' */
.i-paper-plane:before { content: '\e810'; } /* '' */
.i-heart:before { content: '\e811'; } /* '' */
.i-link-1:before { content: '\e812'; } /* '' */
.i-flight:before { content: '\e813'; } /* '' */
.i-mail-squared:before { content: '\e816'; } /* '' */
.i-ok-circled:before { content: '\e819'; } /* '' */
.i-gplus-squared:before { content: '\e81a'; } /* '' */
.i-tumblr-squared:before { content: '\e81b'; } /* '' */
.i-linkedin-squared:before { content: '\e81c'; } /* '' */
.i-search:before { content: '\e81d'; } /* '' */
.i-pencil:before { content: '\e81e'; } /* '' */
.i-feather:before { content: '\e81f'; } /* '' */
.i-comment-1:before { content: '\e821'; } /* '' */
.i-basket:before { content: '\e822'; } /* '' */
.i-facebook-squared:before { content: '\e824'; } /* '' */
.i-git-squared:before { content: '\e825'; } /* '' */
.i-twitter-squared:before { content: '\e827'; } /* '' */
.i-wordpress:before { content: '\e829'; } /* '' */
.i-instagram:before { content: '\e82a'; } /* '' */
.i-pinterest-squared:before { content: '\e82b'; } /* '' */
.i-skype:before { content: '\e82c'; } /* '' */
.i-vimeo-squared:before { content: '\e82d'; } /* '' */

/* lightgallery */
@font-face {
    font-family: 'lg';
    src: url("../font/lightgallery/lg.eot?n1z373");
    src: url("../font/lightgallery/lg.eot?#iefixn1z373") format("embedded-opentype"), url("../font/lightgallery/lg.woff?n1z373") format("woff"), url("../font/lightgallery/lg.ttf?n1z373") format("truetype"), url("../font/lightgallery/lg.svg?n1z373#lg") format("svg");
    font-weight: normal;
    font-style: normal;
}
.lg-icon {
    font-family: 'lg';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lg-actions .lg-next, .lg-actions .lg-prev {
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 2px;
    color: #999;
    cursor: pointer;
    display: block;
    font-size: 22px;
    margin-top: -10px;
    padding: 8px 10px 9px;
    position: absolute;
    top: 50%;
    z-index: 1080;
}
.lg-actions .lg-next.disabled, .lg-actions .lg-prev.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.lg-actions .lg-next:hover, .lg-actions .lg-prev:hover {
    color: #FFF;
}
.lg-actions .lg-next {
    right: 20px;
}
.lg-actions .lg-next:before {
    content: "\e095";
}
.lg-actions .lg-prev {
    left: 20px;
}
.lg-actions .lg-prev:after {
    content: "\e094";
}

@-webkit-keyframes lg-right-end {
    0% {
        left: 0;
    }
    50% {
        left: -30px;
    }
    100% {
        left: 0;
    }
}
@-moz-keyframes lg-right-end {
    0% {
        left: 0;
    }
    50% {
        left: -30px;
    }
    100% {
        left: 0;
    }
}
@-ms-keyframes lg-right-end {
    0% {
        left: 0;
    }
    50% {
        left: -30px;
    }
    100% {
        left: 0;
    }
}
@keyframes lg-right-end {
    0% {
        left: 0;
    }
    50% {
        left: -30px;
    }
    100% {
        left: 0;
    }
}
@-webkit-keyframes lg-left-end {
    0% {
        left: 0;
    }
    50% {
        left: 30px;
    }
    100% {
        left: 0;
    }
}
@-moz-keyframes lg-left-end {
    0% {
        left: 0;
    }
    50% {
        left: 30px;
    }
    100% {
        left: 0;
    }
}
@-ms-keyframes lg-left-end {
    0% {
        left: 0;
    }
    50% {
        left: 30px;
    }
    100% {
        left: 0;
    }
}
@keyframes lg-left-end {
    0% {
        left: 0;
    }
    50% {
        left: 30px;
    }
    100% {
        left: 0;
    }
}
.lg-outer.lg-right-end .lg-object {
    -webkit-animation: lg-right-end 0.3s;
    -o-animation: lg-right-end 0.3s;
    animation: lg-right-end 0.3s;
    position: relative;
}
.lg-outer.lg-left-end .lg-object {
    -webkit-animation: lg-left-end 0.3s;
    -o-animation: lg-left-end 0.3s;
    animation: lg-left-end 0.3s;
    position: relative;
}

.lg-toolbar {
    z-index: 1080;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}
.lg-toolbar .lg-icon {
    color: #999;
    cursor: pointer;
    float: right;
    font-size: 24px;
    height: 47px;
    line-height: 27px;
    padding: 10px 0;
    text-align: center;
    width: 50px;
    text-decoration: none !important;
    outline: medium none;
}
.lg-toolbar .lg-icon:hover {
    color: #FFF;
}
.lg-toolbar .lg-close:after {
    content: "\e070";
}
.lg-toolbar .lg-download:after {
    content: "\e0f2";
}

.lg-sub-html {
    background-color: rgba(0, 0, 0, 0.45);
    bottom: 0;
    color: #EEE;
    font-size: 16px;
    left: 0;
    padding: 10px 40px;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 1080;
}
.lg-sub-html h4 {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
}
.lg-sub-html p {
    font-size: 12px;
    margin: 5px 0 0;
}

#lg-counter {
    color: #999;
    display: inline-block;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 12px;
    vertical-align: middle;
}

.lg-toolbar, .lg-prev, .lg-next {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.35s cubic-bezier(0, 0, 0.25, 1) 0s;
    -moz-transition: -moz-transform 0.35s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.35s cubic-bezier(0, 0, 0.25, 1) 0s;
    -o-transition: -o-transform 0.35s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.35s cubic-bezier(0, 0, 0.25, 1) 0s;
    transition: transform 0.35s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.35s cubic-bezier(0, 0, 0.25, 1) 0s;
}

.lg-hide-items .lg-prev {
    opacity: 0;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
}
.lg-hide-items .lg-next {
    opacity: 0;
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
}
.lg-hide-items .lg-toolbar {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
}

body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-object {
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
    opacity: 0;
    -webkit-transition: -webkit-transform 250ms ease 0s, opacity 250ms !important;
    -moz-transition: -moz-transform 250ms ease 0s, opacity 250ms !important;
    -o-transition: -o-transform 250ms ease 0s, opacity 250ms !important;
    transition: transform 250ms ease 0s, opacity 250ms !important;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-item.lg-complete .lg-object {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
}

.lg-outer .lg-thumb-outer {
    background-color: #0D0A0A;
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 1080;
    max-height: 350px;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
    -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
    -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
    transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
}
.lg-outer .lg-thumb-outer.lg-grab .lg-thumb-item {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}
.lg-outer .lg-thumb-outer.lg-grabbing .lg-thumb-item {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing;
}
.lg-outer .lg-thumb-outer.lg-dragging .lg-thumb {
    -webkit-transition-duration: 0s !important;
    transition-duration: 0s !important;
}
.lg-outer.lg-thumb-open .lg-thumb-outer {
    -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0);
}
.lg-outer .lg-thumb {
    padding: 10px 0;
    height: 100%;
    margin-bottom: -5px;
}
.lg-outer .lg-thumb-item {
    border-radius: 5px;
    cursor: pointer;
    float: left;
    overflow: hidden;
    height: 100%;
    border: 2px solid #FFF;
    border-radius: 4px;
    margin-bottom: 5px;
}
@media (min-width: 1025px) {
    .lg-outer .lg-thumb-item {
        -webkit-transition: border-color 0.25s ease;
        -o-transition: border-color 0.25s ease;
        transition: border-color 0.25s ease;
    }
}
.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
    border-color: #a90707;
}
.lg-outer .lg-thumb-item img {
    width: 100%;
    height: 100%;
}
.lg-outer.lg-has-thumb .lg-item {
    padding-bottom: 120px;
}
.lg-outer.lg-can-toggle .lg-item {
    padding-bottom: 0;
}
.lg-outer.lg-pull-caption-up .lg-sub-html {
    -webkit-transition: bottom 0.25s ease;
    -o-transition: bottom 0.25s ease;
    transition: bottom 0.25s ease;
}
.lg-outer.lg-pull-caption-up.lg-thumb-open .lg-sub-html {
    bottom: 100px;
}
.lg-outer .lg-toogle-thumb {
    background-color: #0D0A0A;
    border-radius: 2px 2px 0 0;
    color: #999;
    cursor: pointer;
    font-size: 24px;
    height: 39px;
    line-height: 27px;
    padding: 5px 0;
    position: absolute;
    right: 20px;
    text-align: center;
    top: -39px;
    width: 50px;
}
.lg-outer .lg-toogle-thumb:after {
    content: "\e1ff";
}
.lg-outer .lg-toogle-thumb:hover {
    color: #FFF;
}

.lg-outer .lg-video-cont {
    display: inline-block;
    vertical-align: middle;
    max-width: 1140px;
    max-height: 100%;
    width: 100%;
    padding: 0 5px;
}
.lg-outer .lg-video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
}
.lg-outer .lg-video .lg-object {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.lg-outer .lg-video .lg-video-play {
    width: 84px;
    height: 59px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -42px;
    margin-top: -30px;
    z-index: 1080;
    cursor: pointer;
}
.lg-outer .lg-has-vimeo .lg-video-play {
    background: url("../img/vimeo-play.png") no-repeat scroll 0 0 transparent;
}
.lg-outer .lg-has-vimeo:hover .lg-video-play {
    background: url("../img/vimeo-play.png") no-repeat scroll 0 -58px transparent;
}
.lg-outer .lg-has-html5 .lg-video-play {
    background: transparent url("../img/video-play.png") no-repeat scroll 0 0;
    height: 64px;
    margin-left: -32px;
    margin-top: -32px;
    width: 64px;
    opacity: 0.8;
}
.lg-outer .lg-has-html5:hover .lg-video-play {
    opacity: 1;
}
.lg-outer .lg-has-youtube .lg-video-play {
    background: url("../img/youtube-play.png") no-repeat scroll 0 0 transparent;
}
.lg-outer .lg-has-youtube:hover .lg-video-play {
    background: url("../img/youtube-play.png") no-repeat scroll 0 -60px transparent;
}
.lg-outer .lg-video-object {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}
.lg-outer .lg-has-video .lg-video-object {
    visibility: hidden;
}
.lg-outer .lg-has-video.lg-video-palying .lg-object, .lg-outer .lg-has-video.lg-video-palying .lg-video-play {
    display: none;
}
.lg-outer .lg-has-video.lg-video-palying .lg-video-object {
    visibility: visible;
}

.lg-progress-bar {
    background-color: #333;
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1080;
    opacity: 0;
    -webkit-transition: opacity 0.08s ease 0s;
    -moz-transition: opacity 0.08s ease 0s;
    -o-transition: opacity 0.08s ease 0s;
    transition: opacity 0.08s ease 0s;
}
.lg-progress-bar .lg-progress {
    background-color: #a90707;
    height: 5px;
    width: 0;
}
.lg-progress-bar.lg-start .lg-progress {
    width: 100%;
}
.lg-show-autoplay .lg-progress-bar {
    opacity: 1;
}

.lg-autoplay-button:after {
    content: "\e01d";
}
.lg-show-autoplay .lg-autoplay-button:after {
    content: "\e01a";
}

.lg-outer.lg-css3.lg-zoom-dragging .lg-item.lg-complete.lg-zoomable .lg-img-wrap, .lg-outer.lg-css3.lg-zoom-dragging .lg-item.lg-complete.lg-zoomable .lg-image {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}
.lg-outer .lg-item.lg-complete.lg-zoomable .lg-img-wrap {
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    -moz-transition: -moz-transform 0.3s ease 0s;
    -o-transition: -o-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.lg-outer .lg-item.lg-complete.lg-zoomable .lg-image {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: -webkit-transform 0.3s ease 0s, opacity 0.15s !important;
    -moz-transition: -moz-transform 0.3s ease 0s, opacity 0.15s !important;
    -o-transition: -o-transform 0.3s ease 0s, opacity 0.15s !important;
    transition: transform 0.3s ease 0s, opacity 0.15s !important;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

#lg-zoom-in:after {
    content: "\e311";
}

#lg-zoom-out {
    opacity: 0.5;
    pointer-events: none;
}
#lg-zoom-out:after {
    content: "\e312";
}
.lg-zoomed #lg-zoom-out {
    opacity: 1;
    pointer-events: auto;
}

.lg-outer .lg-pager-outer {
    bottom: 60px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 1080;
    height: 10px;
}
.lg-outer .lg-pager-outer.lg-pager-hover .lg-pager-cont {
    overflow: visible;
}
.lg-outer .lg-pager-cont {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    margin: 0 5px;
}
.lg-outer .lg-pager-cont:hover .lg-pager-thumb-cont {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.lg-outer .lg-pager-cont.lg-pager-active .lg-pager {
    box-shadow: 0 0 0 2px white inset;
}
.lg-outer .lg-pager-thumb-cont {
    background-color: #fff;
    color: #FFF;
    bottom: 100%;
    height: 83px;
    left: 0;
    margin-bottom: 20px;
    margin-left: -60px;
    opacity: 0;
    padding: 5px;
    position: absolute;
    width: 120px;
    border-radius: 3px;
    -webkit-transition: opacity 0.15s ease 0s, -webkit-transform 0.15s ease 0s;
    -moz-transition: opacity 0.15s ease 0s, -moz-transform 0.15s ease 0s;
    -o-transition: opacity 0.15s ease 0s, -o-transform 0.15s ease 0s;
    transition: opacity 0.15s ease 0s, transform 0.15s ease 0s;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
}
.lg-outer .lg-pager-thumb-cont img {
    width: 100%;
    height: 100%;
}
.lg-outer .lg-pager {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.7) inset;
    display: block;
    height: 12px;
    -webkit-transition: box-shadow 0.3s ease 0s;
    -o-transition: box-shadow 0.3s ease 0s;
    transition: box-shadow 0.3s ease 0s;
    width: 12px;
}
.lg-outer .lg-pager:hover, .lg-outer .lg-pager:focus {
    box-shadow: 0 0 0 8px white inset;
}
.lg-outer .lg-caret {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px dashed;
    bottom: -10px;
    display: inline-block;
    height: 0;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    vertical-align: middle;
    width: 0;
}

.lg-fullscreen:after {
    content: "\e20c";
}
.lg-fullscreen-on .lg-fullscreen:after {
    content: "\e20d";
}

.group {
    *zoom: 1;
}

.group:before, .group:after {
    display: table;
    content: "";
    line-height: 0;
}

.group:after {
    clear: both;
}

.lg-outer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    opacity: 0;
    -webkit-transition: opacity 0.15s ease 0s;
    -o-transition: opacity 0.15s ease 0s;
    transition: opacity 0.15s ease 0s;
}
.lg-outer * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lg-outer.lg-visible {
    opacity: 1;
}
.lg-outer.lg-css3 .lg-item.lg-prev-slide, .lg-outer.lg-css3 .lg-item.lg-next-slide, .lg-outer.lg-css3 .lg-item.lg-current {
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lg-outer.lg-css3.lg-dragging .lg-item.lg-prev-slide, .lg-outer.lg-css3.lg-dragging .lg-item.lg-next-slide, .lg-outer.lg-css3.lg-dragging .lg-item.lg-current {
    -webkit-transition-duration: 0s !important;
    transition-duration: 0s !important;
    opacity: 1;
}
.lg-outer.lg-grab img.lg-object {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
}
.lg-outer.lg-grabbing img.lg-object {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing;
}
.lg-outer .lg {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}
.lg-outer .lg-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}
.lg-outer .lg-item {
    background: url("../img/loading.gif") no-repeat scroll center center transparent;
    display: none !important;
}
.lg-outer.lg-css3 .lg-prev-slide, .lg-outer.lg-css3 .lg-current, .lg-outer.lg-css3 .lg-next-slide {
    display: inline-block !important;
}
.lg-outer.lg-css .lg-current {
    display: inline-block !important;
}
.lg-outer .lg-item, .lg-outer .lg-img-wrap {
    display: inline-block;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
}
.lg-outer .lg-item:before, .lg-outer .lg-img-wrap:before {
    content: "";
    display: inline-block;
    height: 50%;
    width: 1px;
    margin-right: -1px;
}
.lg-outer .lg-img-wrap {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 5px;
}
.lg-outer .lg-item.lg-complete {
    background-image: none;
}
.lg-outer .lg-item.lg-current {
    z-index: 1060;
}
.lg-outer .lg-image {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
}
.lg-outer.lg-show-after-load .lg-item .lg-object, .lg-outer.lg-show-after-load .lg-item .lg-video-play {
    opacity: 0;
    -webkit-transition: opacity 0.15s ease 0s;
    -o-transition: opacity 0.15s ease 0s;
    transition: opacity 0.15s ease 0s;
}
.lg-outer.lg-show-after-load .lg-item.lg-complete .lg-object, .lg-outer.lg-show-after-load .lg-item.lg-complete .lg-video-play {
    opacity: 1;
}
.lg-outer .lg-empty-html {
    display: none;
}
.lg-outer.lg-hide-download #lg-download {
    display: none;
}

.lg-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1040;
    background-color: #000;
    opacity: 0;
    -webkit-transition: opacity 0.15s ease 0s;
    -o-transition: opacity 0.15s ease 0s;
    transition: opacity 0.15s ease 0s;
}
.lg-backdrop.in {
    opacity: 1;
}

.lg-css3.lg-no-trans .lg-prev-slide, .lg-css3.lg-no-trans .lg-next-slide, .lg-css3.lg-no-trans .lg-current {
    -webkit-transition: none 0s ease 0s !important;
    -moz-transition: none 0s ease 0s !important;
    -o-transition: none 0s ease 0s !important;
    transition: none 0s ease 0s !important;
}
.lg-css3.lg-use-css3 .lg-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.lg-css3.lg-use-left .lg-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.lg-css3.lg-fade .lg-item {
    opacity: 0;
}
.lg-css3.lg-fade .lg-item.lg-current {
    opacity: 1;
}
.lg-css3.lg-fade .lg-item.lg-prev-slide, .lg-css3.lg-fade .lg-item.lg-next-slide, .lg-css3.lg-fade .lg-item.lg-current {
    -webkit-transition: opacity 0.1s ease 0s;
    -moz-transition: opacity 0.1s ease 0s;
    -o-transition: opacity 0.1s ease 0s;
    transition: opacity 0.1s ease 0s;
}
.lg-css3.lg-slide.lg-use-css3 .lg-item {
    opacity: 0;
}
.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-prev-slide {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-next-slide {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-current {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-prev-slide, .lg-css3.lg-slide.lg-use-css3 .lg-item.lg-next-slide, .lg-css3.lg-slide.lg-use-css3 .lg-item.lg-current {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
    -moz-transition: -moz-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
    -o-transition: -o-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
}
.lg-css3.lg-slide.lg-use-left .lg-item {
    opacity: 0;
    position: absolute;
    left: 0;
}
.lg-css3.lg-slide.lg-use-left .lg-item.lg-prev-slide {
    left: -100%;
}
.lg-css3.lg-slide.lg-use-left .lg-item.lg-next-slide {
    left: 100%;
}
.lg-css3.lg-slide.lg-use-left .lg-item.lg-current {
    left: 0;
    opacity: 1;
}
.lg-css3.lg-slide.lg-use-left .lg-item.lg-prev-slide, .lg-css3.lg-slide.lg-use-left .lg-item.lg-next-slide, .lg-css3.lg-slide.lg-use-left .lg-item.lg-current {
    -webkit-transition: left 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
    -moz-transition: left 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
    -o-transition: left 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
    transition: left 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
}


/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}