/**************
    01. COLORS
    02. GENERAL
    03. HEADER
    04. MENUS
    05. ELEMENTS
    07. LAYOUTS
    08. COMMENTS
    09. MEDIA
    10. WIDGETS
    11. MISCELLANEOUS
    12. PLUGINS
***************/

@charset "UTF-8";

/* 01. COLORS */
.dark .widget.widget_search input[type="search"] {
    border-color: #fff;
    border-color: rgba(255,255,255,0.1);
}
table tr th, table tr td, #sidebar, input[type="text"],input[type="search"],input[type="url"],input[type="email"],input[type="password"],textarea, #comments, .comments-tree, a.comment-reply-link, a.comment-edit-link, #custom-search input, .single-bottom #page-nav, .post-nav, li.social-item .icon, #footer {
    border-color: #ddd;
}
button.secondary, .button.secondary, button.secondary:focus, .button.secondary:focus, button.secondary:hover, .button.secondary:hover {
    border-color: #959595;
}
.half-grid .post, button, .button {
    border-color: #403F3F;
}
button:focus, .button:focus, button:hover, .button:hover {
    border-color: #010101;
}
.comment-text:after {
    border-color: transparent #fff transparent transparent;
}
body, a:hover, h1.entry-title a, h2.entry-title a, h2.entry-title a:hover, .more a, .bg-slider .text-holder, .widget a, .widget_rss ul li:hover .rssSummary, .excerpt-text .more a, h2.entry-title, .more, .excerpt-text .text:hover, .excerpt-text:hover .text, button.secondary, .load-more, .load-more:hover, .excerpt-text a:hover, .author-meta a, button.menu-icon, button.menu-icon:hover, .button, button, .button:focus, .button:hover, button:focus, button:hover, .postfix, .entry-content .entry-meta a:hover, .entry-meta a:hover, .widget_calendar thead>tr>th, table#wp-calendar td#today {
    color: #403F3F;
}
a, .comment-notes, .form-allowed-tags, .comment .author-meta, #wp-calendar a:hover, .rss-date, .excerpt-text .more a:hover, .logged-in-as, .widget ul li, .is-hover .text-holder, .entry-title a:hover, .more a:hover, .excerpt-text, .excerpt-text a, .rssSummary, .subheader a, .subheader a:hover, .button.secondary, .logged-in-as a, .load-more.last, .load-more.last:hover, .entry-content .entry-meta a {
    color: #767474;
}
.tagcloud a:before, .widget_rss cite, .author-details, .comment-time, a.comment-reply-link, a.comment-edit-link, .wp-caption-text.gallery-caption, .entry-meta, .entry-meta.taxonomy, .entry-meta.taxonomy a {
    color: #959595;
}
.left-off-canvas-toggle, .dark a, .dark h1, .dark h2, .dark h3, .dark h4, input#submit:hover, .wpcf7-submit:hover, input#wp-submit:hover, input#edd_login_submit:hover, input#wppb-submit:hover, input#submit:focus, .wpcf7-submit:focus, input#wp-submit:focus, input#edd_login_submit:focus, input#wppb-submit:focus {
    color: #fff;
}
.widget ul li ul li a, .dropdown.menu .submenu li a {
      color: #fff;
      color: rgba(255,255,255,0.8);
}
.dark h5, .dark h6, .dark .widget a:hover, .dark .rssSummary, .dark, .dark .widget_rss ul li:hover .rssSummary {
    color: #fff;
    color: rgba(255,255,255,0.6);
}
.dark .widget ul li {
    color: #fff;
    color: rgba(255,255,255,0.4);
}
.white, .panel, .pricing-table, .home-header.white .button, .home-header.white .button.success, .media-holder.has-hover .is-hover, #calendar_wrap table tfoot tr td, .comment-text {
    background-color: #fff;
}
.dark .widget-title h6:after, .dark .widget.widget_search input[type="search"] {
    background-color: #fff;
    background-color: rgba(255,255,255,0.1);
}
input[type="text"], input[type="search"], input[type="url"], input[type="email"], input[type="password"], textarea {
    background-color: #fff;
}
.grid .text-holder:before, hr, .gray, .media-holder img {
    background-color: #ececec;
}
button.secondary:hover, .button.secondary:hover, button.secondary:focus, .button.secondary:focus {
    background-color: #959595;
}
.dark, .off-canvas, input#submit:hover, input#wp-submit:hover, input#edd_login_submit:hover, .wpcf7-submit:hover, input#submit:focus, input#wp-submit:focus, .wpcf7-submit:focus, .button, .pricing-table .cta-button .button:hover, .pricing-table .cta-button .button:focus, .progress .meter, .badge.free, .half-grid .entry-title::after, .divider-line:after, .widget-title h6:after, .dropdown.menu .submenu {
    background-color: #403F3F;
}

/** 01. GENERAL **/

html {
    height: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}
body {
    font-size: medium;
    line-height:1.618;
    min-height: 100%;
    font-weight: 400;
}
p {
    font-size: 1.125em;
    line-height: 1.618;
    margin: 0 0 1.618em 0;
}
table {
    margin: 0 0 2.618em 0;
}
ul, ol {
    margin: 0 0 1.82em 0;
}
ul li, ol li {
    font-size: 1.125em;
    line-height: 1.618;
}
ul li ul li, ol li ol li, ol li ul li, ul li ol li {
    font-size: 0.875em;
}
a {
    text-decoration:none;
    line-height:inherit;
}
:focus {
    outline: none;
}
dd {
    margin-left: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0.875em 0;
    line-height: 1.618;
}
h1 {
    margin: 0.657em 0;
}
code, kbd, pre, samp {
    font-size: 1em;
    color: maroon;
    font-weight: 400;
}
h1 {
    font-size: 2.618em;
    font-weight: 400;
}
h2 {
    font-size: 1.82em;
    font-weight: 400;
}
h3 {
    font-size: 1.618em;
    font-weight: 400;
}
h4 {
    font-size: 1.4em;
    font-weight: 400;
}
h5 {
    font-size: 1.25em;
    font-weight: 400;
}
h6 {
    font-size: 1.125em;
    font-weight: 400;
}
strong, b {
    font-weight: 700;
}
blockquote {
    margin: 0.5em 0 1.125em 2.291em;
    padding: 1.82em 0 0 0;
    border-bottom: 1px solid #d1d5d8;
    border-top: 1px solid #d1d5d8;
    font-size: 1.618em;
    clear: both;
}
blockquote p {
    line-height: 1.25;
}
hr {
    border: 0;
    width: 30%;
    height: 2px;
    clear: both;
    margin: 0 0 1.618em 0;
    display: block;
}
iframe {
    border:none;
}
#content {
    overflow: hidden;
    clear: both;
}
#single, #attachment {
    overflow: hidden;
    clear: both;
    padding: 0 0 2.618em 0;
}
#wrapper {
    clear: both;
    margin: 0 auto;
}
.boxed {
    margin: 0 1.4725em;
    position: relative;
}
.row {
    margin: 0 auto;
}


/** 03. HEADER **/

#header {
    padding: 1.618em 0 0 0;
    margin: 0;
    clear: both;
    line-height: 1.125;
    position: relative;
}
#header .notice {
    font-size: 0.875em;
    margin-top: -0.382em;
    margin-left: 1.82em;
}
#logo .text-logo {
    line-height: 1;
    font-size: 2.618em;
    font-weight: 700;
    padding: 0.236em;
    display: inline-block;
    font-style: italic;
    position: relative;
}
.normal-font #logo .text-logo {
    font-style: normal;
}
#logo .text-logo.logo-icon:before {
    font-family: 'icons', serif;
    content: '\e813';
    position: absolute;
    top: 0.16em;
    right: -0.875em;
    font-size: 0.875em;
    z-index: -1;

}
#logo .image-logo {
    padding: 0;
    width: 100%;
    min-width: 3.706em;
    height: auto;
    margin: 0 auto;
}
#logo {
    z-index: 4;
    position: relative;
    display: block;
    text-align: center;
    margin: 0 auto 2.4em 0;
}
#logo h2 {
    line-height: 1.2;
    font-weight: 300;
    margin: 0;
    font-size: 2.945em;
    text-align: center;
}
#logo .tagline {
    text-align: center;
    margin-top: 2.618em;
    font-size: 0.875em;
    font-weight: 400;
}
.logo-grid {
    display: table;
    position: relative;
    left: 0;
}
.logo-row {
    display: table-row;
}
.logo-first, .logo-second, .logo-third, .logo-fourth {
    display: table-cell;
    vertical-align: middle;
    width: 3.706em;
    height: 3.706em;
    left: 0;
    position: relative;
}
.logo-first, .logo-second, .logo-third {
    padding: 0 0.875em;
}

.logo-grid #logo {
    top: 0;
}
/** 04. MENUS **/

.notice {
    font-size: 0.875em;
    padding: 1em 1em 1em 0;
}

/* Main Menu */

#primary-menu {
    text-align: center;
}

#primary-menu {
    position: relative;
}
#primary-menu:after {
    content: "";
    position: absolute;
    bottom: -1em;
    left: 50%;
    margin-left: -1.125em;
    width: 1.125em;
    height: 1.125em;
    border-style: solid;
    border-width: 1.125em 1.125em 0 1.125em;
    z-index: 1;
}
.menu > li {
    display: inline-block;
}
ul.main-menu {
    padding: 0;
}
ul.main-menu li a {
    font-weight: 400;
    opacity: 0.8;
}
ul.main-menu li.filter-item a {
    opacity: 0.5;
}
ul.main-menu .sub-menu .menu-item-has-children > a::after {
    position: absolute;
    right: 1.618em;
    top: 0;
    content: '\e80c';
    font-family: 'icons', serif;
    opacity: 0.4;
    display: block;
    width: 100%;
    height: 100%;
    text-align: right;
}
ul.main-menu .sub-menu .menu-item-has-children > a::after {
    top: 0.54em;
    font-size: 1.125em;
}
ul.main-menu li.current_page_item>a:hover, ul.main-menu li a:hover, ul.main-menu li:hover > a, ul.main-menu ul li a:hover {
    opacity: 1;
}
ul.main-menu ul li a {
    letter-spacing: 0.16em;
}
.menu-icon {
    width: 2.24em;
    height: 2.24em;
    line-height: 2.24em;
    display: block;
    position: absolute;
    border-radius: 0;
    font-size: 1.618em;
    top: 0;
    left: 0;
}
button.menu-icon {
    padding: 0;
    margin: 0;
    border: 0;
    z-index: 100;
}
.menu-icon:after {
    content: '\e801';
    font-family: 'icons', serif;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}
.is-off-canvas-open .menu-icon:after {
    content: '\e800';
}
.main-menu li {
    position: relative;
}
.title-bar {
    position: relative;
    padding: 0.695em;
}
.title-bar-title {
    position: absolute;
    top: 0.695em;
    left: 2.945em;
}
.title-bar-title i {
    position: absolute;
    font-size: 1.416em;
    top: -0.12em;
    left: -1.4725em;
}
ul.main-menu li.current_page_item>a {
    opacity: 1;
}
.menu > li:not(.menu-text) > a {
    padding: 2.118em 0 0 0;
}
.main-menu ul li {
    list-style: none;
    padding: 2.118em 0 0 0;
    line-height: 1.416;
    font-size: 0.875em;
    letter-spacing: 0.06em;
}
.main-menu ul li ul li {
    font-size: 1em;
}
.main-menu li {
    font-size: 1em;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}
#secondary-top {
    margin-bottom: 4.236em;
    text-align: center;
}
.main-menu li.social-item {
    font-size: 0.875em;
}
.dropdown.menu .sub-menu {
    display: none;
}
ul.secondary-menu li a {
    opacity: 0.6;
}
ul.secondary-menu li a:hover, ul.secondary-menu li.current_page_item>a {
    opacity: 1;
}
ul.secondary-menu li {
    font-size: 0.875em;
    line-height: 1;
}
.secondary-menu.menu > li:not(.menu-text) > a {
    padding: 0.43em 0 0 1.82em;
}
.off-canvas {
    height: 100%;
}
.off-canvas-content {
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.26);
}

/* Social */

#primary-menu li a[href*="twitter.com"]::before, #footer-menu li a[href*="twitter.com"]::before { content: '\e827'; font-family: 'icons', serif; }
#primary-menu li a[href*="facebook.com"]::before, #footer-menu li a[href*="facebook.com"]::before { content: '\e824'; font-family: 'icons', serif;}
#primary-menu li a[href*="plus.google.com"]::before, #footer-menu li a[href*="plus.google.com"]::before { content: '\e81a'; font-family: 'icons', serif; }
#primary-menu li a[href*="/feed"]::before, #footer-menu li a[href*="/feed"]::before { content: '\e808'; font-family: 'icons', serif; }
#primary-menu li a[href*="skype"]::before, #footer-menu li a[href*="skype"]::before { content: '\e82c'; font-family: 'icons', serif; }
#primary-menu li a[href*="mailto"]::before, #footer-menu li a[href*="mailto"]::before { content: '\e816'; font-family: 'icons', serif; }
#primary-menu li a[href*="vk.com"]::before, #primary-menu li a[href*="vkontakte"]::before, #footer-menu li a[href*="vk.com"]::before, #footer-menu li a[href*="vkontakte"]::before { content: '\e80d'; font-family: 'icons', serif; }
#primary-menu li a[href*="instagram.com"]::before, #footer-menu li a[href*="instagram.com"]::before { content: '\e82a'; font-family: 'icons', serif; }
#primary-menu li a[href*="pinterest.com"]::before, #footer-menu li a[href*="pinterest.com"]::before { content: '\e82b'; font-family: 'icons', serif; }
#primary-menu li a[href*="youtube.com"]::before, #footer-menu li a[href*="youtube.com"]::before { content: '\e80f'; font-family: 'icons', serif; }
#primary-menu li a[href*="linkedin.com"]::before, #footer-menu li a[href*="linkedin.com"]::before { content: '\e81c'; font-family: 'icons', serif; }
#primary-menu li a[href*="github.com"]::before, #footer-menu li a[href*="github.com"]::before { content: '\e825'; font-family: 'icons', serif; }

#primary-menu li a[href*="twitter.com"],#primary-menu li a[href*="facebook.com"],#primary-menu li a[href*="plus.google.com"],#primary-menu li a[href*="/feed"], #primary-menu li a[href*="skype"],#primary-menu li a[href*="mailto"],#primary-menu li a[href*="vk.com"], #primary-menu li a[href*="vkontakte"],#primary-menu li a[href*="instagram.com"],#primary-menu li a[href*="pinterest.com"],#primary-menu li a[href*="youtube.com"],#primary-menu li a[href*="linkedin.com"],#primary-menu li a[href*="github.com"] {
    width: 1em;
    height: auto;
    overflow: hidden;
    color:transparent;
    padding: 1em 1.416em 1em 0;
}
#footer-menu li a[href*="twitter.com"],#footer-menu li a[href*="facebook.com"],#footer-menu li a[href*="plus.google.com"],#footer-menu li a[href*="/feed"], #footer-menu li a[href*="skype"],#footer-menu li a[href*="mailto"],#footer-menu li a[href*="vk.com"], #footer-menu a[href*="vkontakte"],#footer-menu li a[href*="instagram.com"],#footer-menu a[href*="pinterest.com"],#footer-menu li a[href*="youtube.com"],#footer-menu li a[href*="linkedin.com"],#footer-menu li a[href*="github.com"] {
    width: 1em;
    padding: 0 1.618em 0 0;
    height: auto;
    overflow: hidden;
    color:transparent;
}
.menu li a[href*="twitter.com"]:hover::before {
    color: #55ACEE;
}
.menu li a[href*="facebook.com"]:hover::before {
    color: #3B5998;
}
.menu li a[href*="plus.google.com"]:hover::before {
    color: #e34429;
}
.menu li a[href*="/feed"]:hover::before {
    color: #FD9118;
}
.menu li a[href*="skype"]:hover::before  {
    color: #00A4E5;
}
.menu li a[href*="mailto"]:hover::before {
    color: #DC4228;
}
.menu li a[href*="vk.com"]:hover::before,.menu li a[href*="vkontakte"]:hover::before {
    color: #56789e;
}
.menu li a[href*="instagram.com"]:hover::before {
    color: #a67b5f;
}
.menu li a[href*="pinterest.com"]:hover::before {
    color: #cb2027;
}
.menu li a[href*="youtube.com"]:hover::before {
    color: #c6120b;
}
.menu li a[href*="linkedin.com"]:hover::before {
    color: #007BB6;
}
.menu li a[href*="github.com"]:hover::before {
    color: #999;
}

/** 05. ELEMENTS **/

/* Search */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
.custom-search {
    padding: 0 0 0.695em 0;
}
.custom-search input[type="search"] {
    margin: 0 0 1em 0;
    padding: 0.618em 0.875em;
    height: 4.236em;
}
.custom-search .postfix {
    height: 4.236em;
    font-size: 0.875em;
}

/* Form Styles */

input[type="text"],
input[type="search"],
input[type="url"],
input[type="email"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    font-family: inherit;
    border-width: 1px;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    border-style: solid;
    display: block;
    font-size: 0.875em;
    margin: 0 0 1em 0;
    padding: 0.618em 0.875em;
    height: 2.945em;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
textarea {
    height: 9.703em;
}
input[type="search"] {
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    -moz-border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus {
    background: #fff;
    outline: none;
}
.prefix, .postfix {
    height: 2.25em;
    line-height: 2.25em;
}
input#submit, .wpcf7-submit, input#wp-submit, input#edd_login_submit, input#wppb-submit {
    cursor: pointer;
    font-family: inherit;
    line-height: 1;
    margin: 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 1em 1.82em 1.125em 1.82em;
    background: transparent;
    font-size: 1em;
    font-weight: 400;
    text-transform: lowercase;
    border: 0;
}
button,.button {
    cursor: pointer;
    font-family: inherit;
    line-height: 1;
    margin: 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    padding: 1em 1.618em;
    font-size: 1em;
    font-weight: 400;
    border: 0;
}
.button i {
    font-size: 0.875em;
}
button.radius, .button.radius {
    border-radius: 0.164em;
}
.button .icon {
    top: 0.102em;
    position:relative;
}
button.large, .button.large {
    padding: 1.82em;
}
button.success, .button.success {
    border-width: 2px;
    border-style: solid;
}
button.secondary, .button.secondary {
    border-style: solid;
    border-width: 2px;
    background: transparent;
}
input#submit:after, .wpcf7-submit:after, .button:after,.postfix:after {
    content: '';
    margin: 8px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.postfix {
    border: 0;
    cursor: pointer;
    font-family: inherit;
    line-height: 1;
    margin: 0 0 1.25em;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.5em 1.5em;
    font-size: 0.875em;
    font-weight: 400;
}
table tr th, table tr td {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

label {
    font-weight: 300;
    padding: 0.236em 1em 0 0;
}

/** 07. LAYOUTS **/

/* Grid */

.grid {
    clear: both;
    overflow: hidden;
    margin: 0;
}
.grid-item {
    width: 100%;
    float:left;
    position:relative;
}
.grid-item {
    overflow: hidden;
    text-align: left;
    cursor: default;
    padding: 0 0 0 0;
    margin: 0;
}
.excerpt-text {
    margin: 0;
    font-size: 0.875em;
    padding: 0;
    display: block;
    overflow: hidden;
    line-height: 1.82;
}
.half-grid .post {
    overflow: hidden;
    position: relative;
}
.half-grid .post p, .full-grid .post p {
    line-height: 1.416;
    margin-bottom: 1em;
}
.half-grid .text-holder {
    position: relative;
    height: 100%;
    width: 100%;
}
.half-grid .text-holder.has-mobile-caption, .half-grid .text-holder.has-mobile-caption .inner {
    position: relative;
}
.half-grid .text-holder.has-mobile-caption:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1.125em 1em 1.125em;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    left: 2.434em;
    top: -1em;
    background: transparent;
}
.half-grid .even .text-holder {
    left: 0;
}
.half-grid .odd .text-holder {
    right: 0;
}
.half-grid .text-holder .inner {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 2.618em 1.4725em;
}
.half-grid .excerpt-text {
    font-size: 1em;
    margin-top: 1.125em;
    letter-spacing: normal;
}

/* Single Page Styles */

.entry-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
    padding: 3.706em 0;
}
.entry-wrapper .category-title {
    font-size: 1.618em;
}
.entry-wrapper .slider {
    margin-top: 0;
}
.subheader {
    font-size: 1.618em;
}
h2.subheader {
    letter-spacing: normal;
    margin-top: 0;
}
.entry-header {
    margin: 0 0 3.16em 0;
    overflow: hidden;
    clear: both;
}
.archive-header {
    position: absolute;
    top: 1.125em;
    right: -0.236em;
    margin: 0;
    z-index: 10;
    padding: 0.236em 0.618em;
    overflow: hidden;
    clear: both;
}
.archive-description {
    line-height: 1.125;
}
.entry-content blockquote p {
    text-align: left;
}
.entry-content.drop-cap::first-letter, .entry-content.drop-cap .columns:first-of-type::first-letter {
    text-transform: uppercase;
    font-size: 5.25em;
    font-weight: 400;
    margin: -0.02em 0.16em 0.16em -0.06em;
    float: left;
    line-height: 0.9;
}
.entry-content ul li, .entry-content ol li {
    padding: 0;
}
.entry-content a:hover {
    opacity: 0.86;
}
.entry-content a img {
    border: 0;
}
.keynote {
    margin: 0;
    padding: 0 0 1.618em 0;
    display: block;
    overflow: hidden;
    position: relative;
}
.keynote h2, .keynote p {
    margin: 0;
    line-height: 1.618;
    font-size: 1.416em;
    font-weight: 400;
}
.keynote h2 strong, .keynote strong {
    font-weight: 700;
}
.no-title .entry-title {
    display: none;
}
.has-excerpt h1.entry-title {
    margin: 0 0 0.52em 0;
}
.single-bottom {
    clear: both;
    padding: 0.75em 0;
}
.single-bottom p {
    font-size: 1em;
    margin: 1.82em 0 0 0;
}
.single-bottom #page-nav {
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: 1.618em;
}
#page-nav p {
    font-size: 1em;
    margin: 0 0 2.618em 0;
}
/** 08. COMMENTS **/

#comments {
    padding: 1.25em 0 0 0;
    border-top-style: solid;
    border-top-width: 1px;

}
#comments h3 {
    font-size: 1.416em;
    text-align: left;
    font-weight: 400;
    margin-bottom: 0;
}
.comments-tree h3 {
    font-size: 1.416em;
    margin-top: 0;
}
#comments label {
    font-size: 0.875em;
    padding-bottom: 0.618em;
    display: block;
}
#comments .notice {
    padding-left: 0;
}
.comment-author img {
    margin: 0.645em 0;
}
.form-submit {
    margin: 0;
}
.comment {
    display: inline;
    font-size: 14px;
    text-align: left;
}
.comment-full {
    display: table;
}
.comment-text, .comment-avatar {
    display: table-cell;
}
.comment-text {
    padding: 1.618em;
    position: relative;
    vertical-align: top;
}
.comment-avatar {
    vertical-align: middle;
}
.comment-text:after {
    content: '';
    position: absolute;
    left: -0.875em;
    margin-top: -0.875em;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.875em 0.875em 0.875em 0;

}
.comment-avatar-inner {
    margin-right: 1.82em;
    width: 3.5em;
}
.comment p {
    margin-bottom: 1em;
}
.comment cite {
    font-style: normal;
}
.comment-time {
    padding-left: 0.43em;
}
.comment .author-meta {
    display: block;
    margin-bottom: 0.75em;
}
.comment .author-meta .comment-date, .comment .author-meta .fn, .comment .author-meta .fn a {
    font-size: 14px;
    display: inline;
}
.logged-in-as {
    font-size: 1em;
    font-weight: 300;
    text-align: left;
}
.author-meta .fn {
    margin-right: 0.657em;
}
.bypostauthor .author-meta .fn, .bypostauthor .author-meta .fn a {
    font-weight: 700;
}
.comment-reply-link, .comment-edit-link {
    font-size: 14px;
    border-radius: 0.236em;
    margin: 0 0 0 1em;
    width: 100%;
    text-align: center;
    display: block;
    float: right;
}
.comment-edit-link {
    margin-left: 0;
}
.comment-form-author, .comment-form-email, .comment-form-url {
    width:100%;
}
.comment-notes, .form-allowed-tags {
    font-size: 0.875em;
    text-align: left;
    padding-bottom: 0.875em;
}
#respond {
    text-align: left;
    margin: 0;
    padding: 0;
}
.comments-tree {
    border-top-width: 1px;
    border-top-style: solid;
    overflow: hidden;
    margin: 0;
    padding: 2.945em 0 0 0;
}
.commentlist {
    padding: 0.382em 0 0 0;
    list-style:none;
    text-indent:0;
    margin: 0;
}
.commentlist li {
    list-style:none;
    margin:0 0 1.82em 0;
    padding:0;
    text-indent:0;
    display: block;
}
.commentlist .children {
    margin:1.82em 0 0 0;
}

/* 09. MEDIA */

.grid-item .media-holder,.entry-wrapper .gallery .media-holder, .post-image, .post-text-bg, .carousel .media-holder, .slider .media-holder, .carousel-small .media-holder, .half-grid .media-holder, .full-grid .grid-item .media-holder {
    margin: 0;
}
.media-holder img, .post-image img {
    width: 100%;
    height: auto;
}
.media-holder {
    line-height: 0;
}
.media-holder a img {
    border: 0;
}
.media-holder {
    margin-bottom: 3.034em;
}
.format-quote .entry-wrapper.no-excerpt .media-holder img, .format-status .entry-wrapper.no-excerpt .media-holder img, .format-aside .entry-wrapper .media-holder.no-excerpt img {
    margin: -1.618em 0 0 0;
}
.page.has-post-thumbnail .media-holder {
    margin: 0 0 2.945em 0;
}
.widget .media-holder {
    margin-bottom: 1.125em;
}
.media-holder {
    height: auto;
}
.soundcloud iframe, .entry-content iframe, .entry-content embed  {
    width: 100%;
}
.single .soundcloud iframe, .full-grid .soundcloud iframe {
    min-height: 16.875em;
}

/* Attachments */

#image-navigation {
    margin: 1.875em 0;
}
#image-navigation a {
    color: #fff;
}
#image-navigation a:hover {
    color: #f2f2f2;
}
.previous-image {
    float: left;
    background: #3C3C3D;
    padding: 1.25em;
    display: block;
    margin-right: 1.25em;
    z-index: 5000;
}
.next-image {
    float: right;
    background: #3C3C3D;
    padding: 1.25em;
    display: block;
    margin-left: 1.25em;
    z-index: 5000;
}
.entry-attachment {
    padding: 0;
}
.attachment h1.entry-title {
    text-align: left;
}
.entry-description {
    font-size: 0.875em;
}
.entry-content .entry-attachment img {
    margin: 0;
}
.single-attachment .attachment .media-holder {
    margin-top: 0;
}
.image-attachment .entry-meta a {
    text-decoration: none;
}

/* WordPress Galleries & Images */

.gallery {
    margin-left: 0;
    margin-bottom: -2px;
}
.gallery .gallery-item {
    opacity: 0;
    padding-bottom: 2px;
}
.gallery-icon {
    padding-left: 2px;
}
.gallery figure {
    margin: 0;
}
.gallery img{
    vertical-align:bottom;
}

img.alignright {
    float: right;
    margin: 0.5em 0 1em 2.618em;
}
img.alignleft {
    float: left;
    margin: 0.5em 2.618em 1em 0;
}
img.alignnone {
    padding: 1.416em 0;
}
img.aligncenter {
    display: inline-block;
    margin: 0.695em auto 1.416em auto;
    text-align: center;
}
.alignright {
    float: right;
    margin: 0.5em 0 1em 2.618em;
}
.alignleft {
    float: left;
    margin: 0.5em 2.618em 1em 2.618em;
}
.aligncenter {
    display: block;
    margin: 1.416em auto;
}
.alignnone {
    padding: 1.416em 0;
}
.narrow .wide-img {
    display: block;
    position: relative;
    height: 100%;
    width: 118%;
    margin: 0 -9%;
    max-width: none;
    background: transparent;
}
.narrow .wide-img img {
    width: 100%;
    height: 100%;
}
.narrow .gallery {
    margin-bottom: 3.034em;
}
.entry-content .flex-video {
    margin-bottom: 3.034em;
}
.wp-caption {
    text-align: center;
    max-width: 100%;
}
.wp-caption.alignright img {
    max-width: 100%;
}
.wp-caption img {
    padding: 0;
    width: 100%;
}
.widget .wp-caption img {
    width: auto;
}
.wp-caption-text {
    line-height: 1.82;
    font-size: 0.875em;
    margin: 1.618em 0;
    padding: 0;
    text-align: left;
    font-style: italic;
}
.normal-font .wp-caption-text {
    font-style: normal;
}
.wp-caption-text.gallery-caption {
    line-height: 1.618;
    font-size: 0.75em;
    font-style: normal;
    margin: 1em 0;
    text-align: center;
    padding: 0;
}
.wp-smiley {
    margin: 0 !important;
    max-height: 1em;
}
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/** 10. WIDGETS **/

/* General Widget Styles */

.widget.widget_search .widget-title {
    border-bottom: 0;
}
.widget.widget_search input[type="search"] {
    height: 4.9em;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    font-size: 0.75em;
}
.widget.widget_search .postfix {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}
.widget.widget_search .widget-title {
    margin-bottom: 0;
}
.widget ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
}
.widget ul li {
    margin: 0 0 0 0;
    padding: 0 0 0.43em 0;
    font-size: 1em;
    list-style: none;
}
.widget ul li ul {
    margin: 0.43em 0 0 0;
    padding: 0;
    text-transform: none !important;
    list-style-type: square;
    list-style-position: inside;
}
.widget ul li ul li  {
    border: 0;
    margin: 0;
    font-size: 14px;
}
.widget ul li ul li ul {
    margin: 0.43em 0 0 0;
    text-transform: none !important;
    list-style-position: inside;
    background: none;
}
.widget ul li ul li ul li {
    margin: 0 0 0 2.618em;
    padding: 0;
    font-size: 14px;
}
.widget ul li ul li ul li ul li {
    font-size: 14px;
}
.widget ul li a {
    padding: 0;
}

/* Text Widget */

.widget_text img, .widget_text iframe, .widget_text .textwidget div {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.widget_text img.wp-smiley {
    display: inline-block;
    margin: auto;
    width: auto;
}

/* Recent Posts */

.widget_recent_entries ul li {
    padding: 0 0 1.618em 0;
    position: relative;
}
.widget_recent_entries .post-date {
    padding: 0.695em 0 0 0;
    display: block;
}

.widget_recent_entries li a, p.entry-title {
    margin: 0;
    line-height: 1.125;
    font-size: 1em;
    display: block;
}


/* Tag Cloud */

.tagcloud {
    margin: 0 0 1em 0;
}
.tagcloud a{
    margin: 0 1em 0 0;
    padding: 0;
    display:inline-block;
    position: relative;
    line-height: 1;
    font-weight: 300;
    text-align: left;
}

/* WP Recent comments */

ul#recentcomments li {
    display: block;
    margin-bottom: 0.618em;
    font-size: 1em;
    line-height: 1;
}
ul#recentcomments li a {
    display: inline-block !important;
    font-style: normal;
    text-transform: none;
    font-size: 1em;
    padding-top: 0.5em;
}
ul#recentcomments li a.url {
    font-size: 1em;
}

/* Text Widget */

.textwidget {
    font-size: 0.875em;
    line-height: 1.618;
    margin: 0;
    clear: both;
    overflow: hidden;
}
.textwidget .button {
    margin-top: 1.82em;
}
.home-header .textwidget {
    font-size: 1em;
}
.textwidget .columns {
    padding: 0;
}
.grid-item .textwidget img {
    display: block;
    margin: 0 auto;
}

/* WP Calendar */

#calendar_wrap table {
    border: 0;
}
#calendar_wrap table thead tr th,
#calendar_wrap table thead tr td,
#calendar_wrap table tfoot tr th,
#calendar_wrap table tfoot tr td {
    padding: 0.695em;
    font-size: 0.75em;
    font-weight: bold;
}
#calendar_wrap table tr th, #calendar_wrap table tr td {
    padding: 0.695em;
    font-size: 0.75em;
}
table#wp-calendar {
    border-spacing: 1px;
    margin-bottom: 1em;
}
table#wp-calendar caption {
    padding: 0 0 0.43em 0;
    text-align: left;
    font-style: italic;
    font-size: 1em;
    font-weight: 300;
}
table#wp-calendar {
    width: 100%;
}

table#wp-calendar th {
    border: 0;
}
table#wp-calendar td {
    color: #4d4d4d;
}
table#wp-calendar td, table#wp-calendar th {
    text-align: center;
}

/* RSS Widget */

.widget_rss ul li {
    text-transform: none !important;
    padding: 0.5em 0;
}
.widget_rss ul li a {
    font-style: normal;
    line-height: 1.5;
}
.rssSummary {
    font-size: 0.875em;
    line-height: 1.618;
    font-weight: 300;
}
.rss-date {
    font-size: 0.875em;
    margin: 0.43em 0 1.125em 0;
    display: block;
    font-style: normal;
    font-weight: 300;
}
.widget_rss cite {
    text-align: right;
    display: block;
    font-style: italic;
    font-size: 0.875em;
    margin: 0.625em 0;
}

/* Sidebar Styles */

#sidebar, #sidebar-side {
    line-height: 1.618;
    padding: 0 0 0 2.945em;
}
#sidebar .menu > li, #sidebar-side .menu > li {
    display: block;
}
#sidebar .menu > li:not(.menu-text) > a, #sidebar-side .menu > li:not(.menu-text) > a {
    padding: 0 0 0.43em 0;
}
#sidebar .widget {
    padding: 2.945em;
    margin-bottom: 2.118em;
}
#sidebar-side {
    padding: 3.706em;
}
 #sidebar-side .widget {
    margin-bottom: 2.118em;
}
.widget.recent-widget {
    text-align: left;
}
.widget-title {
    padding: 0 0 1.618em 0;
    margin-top: 0;
    line-height: 1;
}
.widget-title h6 {
    font-size: 0.875em;
    font-weight: 800;
    width: 100%;
    letter-spacing: 0.16em;
    padding: 0 0 1.125em 0;
    line-height: 1;
    display: inline-block;
    position: relative;
    margin: 0;
    text-transform: uppercase;
}
.widget-title h6:after, .widget .tabs:after {
    position: absolute;
    width: 100%;
    content: '';
    bottom: 0;
    left: 0;
    height: 2px;
}
.widget-title h6 span {
    font-weight: 300;
}

/* 11. MISCELLANEOUS */

/* Badges */

.badge-wrapper {
    width: auto;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 1.618em;
    left: 1.618em;
}
.even .badge-wrapper {
    right: 1.618em;
    left: auto;
}
.badge {
    font-size: 1.125em;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 1.5em 0;
    top:0;
    right: 0;
    width: 4.326em;
    height: 4.326em;
    line-height: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}
.entry-header {
    position: relative;
}
.entry-header.has-badge {
    padding-top: 0.875em;
}
.entry-header.has-badge .badge-wrapper {
    float: left;
    position: relative;
    top: -0.875em;
}
.entry-header.has-badge .badge {
    font-size: 0.875em;
    padding: 1.618em 0;
}
.entry-header.has-badge .entry-title {
    float: left;
}

/* Horizontal Widgets */

.horizontal {
    padding: 0;
    text-align: center;
}
.horizontal .widget-title {
    padding: 1em 0;
}
#single .horizontal.before-post {
    padding: 0 0 2.618em 0;
}
#single .horizontal.after-post {
    padding: 0 0 2.618em 0;
}

/* Titles */

h1.entry-title {
    font-size: 2.618em;
    line-height: 1.125;
    padding: 0;
    font-weight: 400;
    font-style: italic;
    display: inline-block;
}
h1.archive-title {
    font-size: 1.618em;
    line-height: 1.125;
    padding: 0;
    font-weight: 400;
    font-style: italic;
    display: inline-block;
}
.normal-font h1.entry-title, .normal-font h1.archive-title  {
    font-style: normal;
}
h1.entry-title span {
    font-weight: 300;
}
h1.entry-title {
    margin: 0 0 0.657em 0;
}
h1.archive-title {
    margin: 0;
}
h2.entry-title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: italic;
    font-size: 1.82em;
    line-height: 1;
    text-align: left;
    position: relative;
}
.normal-font h2.entry-title {
    font-style: normal;
}
h2.entry-title .subheader {
    font-size: 0.625em;
    font-weight: 300;
    padding-left: 0.43em;
    text-transform: lowercase;
}
h4.entry-title {
    line-height: 1.618;
    padding: 0 0 0.75em 0;
    margin: 0;
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
}
h5.entry-title {
    line-height: 1.4;
    font-size: 1.125em;
    font-weight: 400;
    margin: 0;
    padding: 0 0 0.875em 0;
}
.entry-title i {
    font-size: 85%;
    padding-left: 0.43em;
}

/* 404 styles */

#post-0 {
    margin: 0;
}
#post-0 input[type="search"]{
    height: 4em;
    margin-bottom: 4.765em;
    font-size: 0.875em;
}
#post-0 .postfix {
    height: 4em;
    padding: 0.618em 0.875em;
    font-size: 0.875em;
    width: 100%;
}
#post-0 .entry-header {
    margin-bottom: 0;
}
#post-0.post {
    padding: 0 0 0.875em 0;
    overflow: hidden;
}

/* Archive Styles */

.author-details {
    margin: 2em 0 -0.43em 0;
}
.author-details p {
    line-height: 1.618;
    font-size: 1em;
    margin-bottom: 0;
}
.author-img img {
    display: block;
    padding: 0 1.618em 0 0;
}

/* Meta Styles */

.entry-meta, .post-date {
    font-size: 0.875em;
    line-height: 1.618;
    padding: 0.695em 0 0 0;
    font-style: italic;
}
.normal-font .entry-meta, .normal-font  .post-date {
    font-style: normal;
}
.half-grid .entry-meta {
    padding: 0.236em 0 0 0;
}
.entry-meta i {
    font-size: 0.875em;
}
.lowercase .entry-meta {
    text-transform: lowercase;
}
.single-post .featured-widget .entry-meta, .single-post .featured-widget-excerpt .entry-meta{
    margin: 0;
    padding: 0.695em 0 0 0;
}
.entry-meta.taxonomy i {
    padding: 0.1em;
}
.entry-meta .updated {
}
.entry-content .entry-meta {
    padding: 0;
}
.single-post .entry-meta.taxonomy {
    padding: 0 0 2.945em 0;
    line-height: 1;
}
.entry-meta span.vcard {
    font-size: 1em;
    text-transform: none;
    font-style: italic;
    padding-left: 0.75em;
}

.normal-font .entry-meta span.vcard{
    font-style: normal;
}

/* Post Links */

.more a {
    padding: 0 0.102em;
}
.full-grid .more i {
    font-size: 0.75em;
}
.load-more {
    cursor: pointer;
    display: block;
    font-family: inherit;
    line-height: 1;
    margin: 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-style: italic;
    background: transparent;
    font-size: 1.125em;
}
.normal-font .load-more {
    font-style: normal;
}
.load-more.back {
    border: 0;
    font-size: 1.618em;
    padding: 0 1.82em 1.82em 1.82em;
}
.load-more i {
    font-size: 85%;
}
.load-more.last {
    border-bottom: 0;
    border-left: 0;
    cursor: inherit;
}
.post-nav {
    padding: 0.43em 0 1.618em 0;
    line-height: 1;
    text-align: center;
}
.post-previous {
    display: inline-block;
    padding: 0.618em;
}
/* Footer Credits */

#footer {
    display: block;
    margin: 0 auto;
    text-align: left;
    position: relative;
}
#footer:before {
    content: "";
    position: absolute;
    top: -1.125em;
    left: 50%;
    margin-left: -1.125em;
    width: 1.125em;
    height: 1.125em;
    border-style: solid;
    border-width: 0 1.125em 1.125em 1.125em;
    z-index: 1;
}
#footer {
    padding: 1.618em 0 0 0;
}
#footer .text-line {
    font-size: 0.875em;
    text-align: right;
    line-height: 1;
}
.text-line a {
    opacity: 0.6;
}
.text-line a:hover {
    opacity: 1;
}
.text-line {
    opacity: 0.8;
}
#footer-menu {
    margin-bottom: 1.416em;
}
#footer-menu li a {
    padding: 0 2.618em 0 0;
    text-align: left;
}
ul.secondary-menu {
    display: inline-block;
}
.secondary-menu.menu > li:not(.menu-text) > a {
    padding: 0 1.309em;
    text-align: center;
}

/* Dividers */

.divider {
    clear: both;
    margin-top: 1.55em;
}
.divider-large {
    margin-bottom: 3.125em;
}
.divider-medium {
    margin-bottom: 1.82em;
    clear: both;
}
.divider-small {
    margin: 0;
    padding: 0 0 1em 0;
    display: block;
    overflow: hidden;
    position: relative;
}
.divider-small:after {
    position: absolute;
    width: 6.854em;
    content: '';
    bottom: 0;
    left: 0;
    height: 2px;
}
.divider-line {
    position: relative;
}
.divider-line:after {
    position: absolute;
    width: 30%;
    content: '';
    bottom: 0;
    left: 0;
    height: 2px;
}

/* Other Misc */

#wrapper .sticky {
    position:static;
}
a.overlay-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* 12. PLUGINS */

/* Simple Map Plugin */

.simplemap {
    margin-bottom: 1.618em;
}