@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

body#tinymce.wp-editor {
    font-family: 'Lora', Georgia, serif;
    color: #403F3F;
}

body#tinymce.wp-editor a, body#tinymce.wp-editor a:hover {
    background-color: #FFF388;
    color: #403F3F;
    text-decoration: none;
}

body#tinymce.wp-editor p {
    font-size: 1.125em;
    line-height: 1.618;
    margin: 0 0 1.618em 0;
}

body#tinymce.wp-editor h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor h6 {
    margin: 0.875em 0;
    line-height: 1.618;
}
body#tinymce.wp-editor code, pre {
    font-size: 1em;
    color: maroon;
    font-weight: 400;
}
body#tinymce.wp-editor h1 {
    font-size: 2.618em;
    font-weight: 400;
    margin: 0.657em 0;
}
body#tinymce.wp-editor h2 {
    font-size: 1.82em;
    font-weight: 400;
}
body#tinymce.wp-editor h3 {
    font-size: 1.618em;
    font-weight: 400;
}
body#tinymce.wp-editor h4 {
    font-size: 1.4em;
    font-weight: 400;
}
body#tinymce.wp-editor h5 {
    font-size: 1.25em;
    font-weight: 400;
}
body#tinymce.wp-editor h6 {
    font-size: 1.125em;
    font-weight: 400;
}
body#tinymce.wp-editor strong, body#tinymce.wp-editor b {
    font-weight: 700;
}
body#tinymce.wp-editor blockquote {
    margin: 0.5em 0 1.125em 2.291em;
    padding: 1.82em 0 0 0;
    border-bottom: 1px solid #d1d5d8;
    border-top: 1px solid #d1d5d8;
    font-size: 1.618em;
    clear: both;
}
body#tinymce.wp-editor blockquote p {
    line-height: 1.25;
}
body#tinymce.wp-editor hr {
    border: 0;
    width: 30%;
    height: 2px;
    clear: both;
    margin: 0 0 1.618em 0;
    display: block;
    background-color: #ececec;
}


body#tinymce.wp-editor img.alignright {
    float: right;
    margin: 0.5em 0 1em 2.618em;
}
body#tinymce.wp-editor img.alignleft {
    float: left;
    margin: 0.5em 2.618em 1em 0;
}
body#tinymce.wp-editor img.alignnone {
    margin: 1.416em 0;
}
body#tinymce.wp-editor img.aligncenter {
    display: inline-block;
    margin: 0.695em auto 1.416em auto;
    text-align: center;
}
body#tinymce.wp-editor .alignright {
    float: right;
    margin: 0.5em 0 1em 2.618em;
}
body#tinymce.wp-editor .alignleft {
    float: left;
    margin: 0.5em 2.618em 1em 2.618em;
}
body#tinymce.wp-editor .aligncenter {
    display: block;
    margin: 1.416em auto;
}
body#tinymce.wp-editor .alignnone {
    margin: 1.416em 0;
    display: block;
}