body
{
	width: 100% !important;
	height: 100% !important;
	margin: 0px !important;
	padding: 0px !important;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}

#header 
{
	height: 200px;
	/*background: #2C2C2B;*/
  background: url(https://www.merittrac.com/sites/default/files/merittrac-header-min-min.png);
  background-size: cover;
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
	position: absolute;
    top: 0;
    left: 0;
}

.ques-container
{
  height: auto;
	background: #fff;
	position: absolute;
  top: 150px;
  left: 0;
	z-index: 200;
  width: 60%;
  margin-left: 320px;   
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.2);

}


.text {
	padding: 10px;
	font-size: 16px;
}

.qbox{padding: 20px;}
.optionBox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.optionBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0px;
  left: 10px;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.optionBox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.optionBox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.optionBox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.optionBox .checkmark:after {
 	top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white
}
#profile 
{
 font-size: 13px;
 color: #fff;
 float:right !important;
 margin-top: 20px;
}
.countdown
{
  font-size: 20px!important;
}

.login-input
{
  padding: 10px;
  width: 100%;
  border: #eee solid 1px;
  border-radius:5px;

}

.formDiv
{ 
  width: 500px;
  text-align: center;
  padding: 20px;
  background: #fff;
  margin-top: 80px;
  border-radius: 10px;
  padding-right: 40px;
  padding-left: 40px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);


}

.formTitle
{
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #555555;
  line-height: 1.2;
  text-align: center;
}
@media only screen and (max-device-width: 480px) 
{
  .ques-container {
    height: auto;
    background: #FFF;
    position: absolute;
    top: 200px;
    left: -299px;
    z-index: 200;
    width: 96%;
    margin-left: 320px;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.0);
}

