
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome Cityfurnish</title>
  <style type="text/css">
  @media screen and (max-width: 580px) {
    .tab-container{max-width: 100%;}
    .txt-pad-15 {padding: 0 15px 51px 15px !important;}
    .foo-txt {padding: 0px 15px 18px 15px !important;}
    .foo-add {padding: 20px !important;}
    .tab-padd-zero{padding:0px !important;}
	.tab-padd-right{padding-right:25px !important;}
	.pad-20{padding:25px 20px 20px !important;}
	.social-padd-left{padding:15px 20px 0px 0px; !important;}
	.offerimg{width:100% !important;}
	.mobilefont{font-size:16px !important;line-height:18px !important;}
  }
 </style>
</head>
<body style="margin:0px;">
<table class="tab-container" name="main" border="0" cellpadding="0" cellspacing="0" style="max-width: 620px;background-color: #fff;margin: 0 auto;background:#90c5bc;font-family:Arial, Helvetica, sans-serif;font-size:14px;border-collapse:collapse;width:620px;">

    <tr style="background-color:#fff;">
     <td style="width:100%">
      <table style="width:100%;table-layout:fixed" cellpadding="0" cellspacing="0px">
      <tr>
      <td style="text-align: left;padding:15px 0px 15px 20px;">
     	<a href="https://cityfurnish.com/"><img src="http://180.211.99.165/design/cityfurnish/email/images/logo-2.png" alt="logo" style="width:150px;" /></a>
      </td>
      <td style="text-align: right;padding:15px 20px 15px 0px;text-align:right;width:50%;" class="social-padd-left">
      	<a href="https://www.facebook.com/cityFurnishRental" style="display:inline-block;margin:5px 0px 0px 15px;"><img src="http://180.211.99.165/design/cityfurnish/email/images/facebook.png" alt="facebook" width="18px" /></a>
        <a href="https://twitter.com/CityFurnish" style="display:inline-block;margin:5px 0px 0px 15px;"><img src="http://180.211.99.165/design/cityfurnish/email/images/twitter.png" alt="twitter" width="18px"/></a>
        <a href="https://plus.google.com/+cityfurnish" style="display:inline-block;margin:5px 0px 0px 15px;"><img src="http://180.211.99.165/design/cityfurnish/email/images/google-plus.png" alt="google" height="18px"/></a>
        <a href="https://in.pinterest.com/cityfurnish/" style="display:inline-block;margin:5px 0px 0px 15px;"><img src="http://180.211.99.165/design/cityfurnish/email/images/pintrest.png" alt="pintrest" width="18px" /></a>
        <a href="https://www.linkedin.com/company/cityfurnish?trk=biz-companies-cym" style="display:inline-block;margin:5px 0px 0px 15px;"><img src="http://180.211.99.165/design/cityfurnish/email/images/linkedin.png" alt="linkedin" width="18px" /></a>
	    </td>
      </tr>
      </table>
     </td>
    </tr>
    <tr style="background:#dbdbdb;display:table-row !important">
    <td style="width:100%;">
    	<table style="padding:20px 20px 12px;width:100%;" border="0" cellpadding="0" cellspacing="0">
    <tr style="background-color:#dbdbdb;width:100%;display:table-row !important">
        <td style="padding:37px 10px 39px 25px;text-align:center;background:#90c5bc;vertical-align:top;text-align:left;width:38%;color:#fff;font-family:Times New Roman;" class="foo-add-left">
        	<h1 style="color:#fff;text-transform:uppercase;font-size:26px;line-height:32px;font-weight:bold;margin:0px 0px 16px;" class="mobilefont">Welcome to cityfurnish</h1>
            <span style="height:5px;width:76px;background:#fff;display:inline-block;margin-bottom:5px;"></span>
            <p style="font-family:Arial, Helvetica, sans-serif;line-height:22px;color:#fff;font-size:14px;" class="cont_text">Cityfurnish offers a wide range<br /> of stylish, elegant and modern<br /> furniture on rent online.</p>
            <a href="https://cityfurnish.com/" style="background:#fff;line-height:45px;display:inline-block;width:150px;text-align:center;font-size:12px;text-transform:uppercase;color:#90c5bc;text-decoration:none;font-weight:bold;margin-top:10px;">Let's started</a>
        </td>
        <td style="vertical-align:top;width:55%;margin-top:0px;background:#90c5bc;vertical-align:middle" class="foo-add-left">
        	<img src="http://180.211.99.165/design/cityfurnish/email/images/welcome--top-pic.png" alt="Welcome Pic" style="width:100%;display:inline-block;vertical-align:middle;" />
        </td>
    </tr>
    </table>
    </td>
    </tr>
    <tr style="background-color:#dbdbdb;display:table-row !important">
     <td style="padding:0px 20px 20px;width:100%;">
     
      <table style="width:100%;" border="0" cellpadding="0" cellspacing="0">	
       <tr>
        <td style="padding:0px 12px 0px 0px;width:48%;" class="foo-add-left-offer">
        	<img src="http://180.211.99.165/design/cityfurnish/email/images/offer-left-pic.png" alt="offer" style="width:100%;display:inline-block;vertical-align:middle;" class="offerimg" />
        </td>
         <td style="font-family:'Times New Roman', Times, serif;padding:0px 30px;vertical-align:middle;background-color:#ff9630;text-align:center;color:#fff;width:48%;" class="foo-add-left-offer">
        	<h1 style="color:#fff;text-transform:uppercase;font-size:20px;line-height:24px;font-weight:bold;margin:15px 0px 25px;" class="summer_title">Summer Offers</h1>
            <p style="margin:5px 0px;line-height:20px;font-family:Arial, Helvetica, sans-serif;color:#fff;" class="cont_text">Upto 100% off on first<br /> month
rent! Offer ending tonight.</p>
			 <a href="https://cityfurnish.com/" style="background:#fff;line-height:40px;display:inline-block;width:140px;text-align:center;font-size:12px;text-transform:uppercase;color:#ff9630;text-decoration:none;font-weight:bold;margin:10px 0px;">Know More
             </a>
        </td>
        </tr>
      </table>
      </td>
    </tr>
    <tr style="background:#fff;width:100%;display:table-row !important;">
    	<td style="padding:26px 50px;text-align:center;line-height:24px;width:100%;" colspan="2" class="pad-20">
            <p style="margin:0px;line-height:22px;font-family:Arial, Helvetica, sans-serif;color:#b2b2b2">Sent by <a href="https://cityfurnish.com/" style="color:#38373d;text-decoration:none;">Cityfurnish</a>, 6B Tower 3, Bellevue Tower, Central Park 2, Sohna Road,
Sector 48, Gurgaon, Haryana - 122018<br /><a href="mailto:hello@cityfurnish.com" style="color:#38373d; margin-top:8px;display:inline-block;text-decoration:none;">hello@cityfurnish.com</a></p>
        </td>
    </tr>
</table>
</body>
